<span id="tmp_option_width" class="hidden" style="font-size:2.8vh"></span>
<div data-role="page" id="viewMain">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div id="container" class="header-style">
            <div id="center" class="ui-title">IM</div>
        </div>
    </div>
    <div data-role="main" class="page-main" style="line-height: initial !important;">
        <ul data-role="listview" data-ajax="false" data-inset="true" data-theme="a">
            <li><a href="#viewTalk">聊天室一<span class="ui-li-count">22</span></a></li>
            <li><a href="#viewTalk1">聊天室二<span class="ui-li-count">3</span></a></li>
            <li><a href="#viewTalk2">聊天室三<span class="ui-li-count">５</span></a></li>
            <li><a href="#viewTalk3">聊天室四<span class="ui-li-count">7</span></a></li>
        </ul>
    </div>
</div>
