<!-- Start of viewInitial -->
<div data-role="page" id="viewInitial">
    <div data-role="header">
    </div>
    <div data-role="main" class="main-initial">
        <!--QPlay-->
        <div id="initialQPlay" class="hide">
            <img class="logo-initial" src="img/component/QPlay_logo.svg" />
            <div class="brand-initial-content">
                <img class="brand-initial" src="img/component/Logo.svg" />
            </div>
        </div>
        <!--Other APP-->
        <div id="initialOther" class="hide">
            <img class="logo-initial" src="img/component/QPlay_logo_noword.svg" />
            <div id="initialAppName"></div>
            <img class="app-logo-initial" src="img/APP_logo.svg" />
            <div id="initialAppLoginTimeout" class="hide">請先<a id="APPLoginLink">登入</a>QPlay</div>
            <div class="brand-initial-content">
                <img class="brand-initial" src="img/component/Logo.svg" />
            </div>
        </div>
    </div>
    <!--template @popup content > Network disconnected-->
    <template id="tplDisconnectNetwork">
        <!--header: Title or Button-->
        <div class="header font-style1">
            <!-- review by alan -->
            <span class="langStr" data-id="com_007"></span>
        </div>
        <!--footer: Button-->
        <div class="footer">
            <div id="closeInfoMsg" class="btn-one font-style8">
                <div>
                    <span class="langStr" data-id="com_016"></span>
                </div>
            </div>
        </div>
    </template>
</div>
<!-- Start of viewGetQPush -->
<div data-role="page" id="viewGetQPush">
    <div data-role="header">
    </div>
    <div data-role="main" class="main-GetQPush">
        <img class="logo-GetQPush" src="img/component/QPlay_logo.svg" />
        <div class="text-GetQPush">
            <!--服務連線中...-->
            <span class="langStr" data-id="str_001"></span>
            <!--<br>第一次登入需要取得認證, 請耐心等候-->
        </div>
        <div class="brand-GetQPush-content">
            <img class="brand-GetQPush" src="img/component/Logo.svg" />
        </div>
    </div>
</div>
<!-- Start of viewMaintain -->
<div data-role="page" id="viewMaintain">
    <div data-role="header">
    </div>
    <div data-role="main" class="main-GetQPush">
        <img class="logo-GetQPush" src="img/component/QPlay_logo.svg" />
        <div class="text-GetQPush">
            <!--系統維護中<br>請稍後再試-->
            <span class="langStr" data-id="com_004"></span>
            <span> <input type="button" value="Retry again" onClick="window.location.reload()"> </span>
        </div>
        <div class="brand-GetQPush-content">
            <img class="brand-GetQPush" src="img/component/Logo.svg" />
        </div>
    </div>
</div>
<!-- Start of viewUpdateAppVersion -->
<div data-role="page" id="viewUpdateAppVersion" class="hide">
    <div data-role="header">
    </div>
    <div data-role="main" class="main-updateAppVersion">
        <img class="logo-updateAppVersion" src="img/component/QPlay_logo.svg" />
        <div class="text-updateAppVersion">
            <!--請更新應用程式以立即體驗新功能、獲得改善效能和錯誤修正-->
            <span class="langStr" data-id="com_005"></span>
        </div>
        <div class="button-updateAppVersion" id="UpdateAPP">
            <div class="button-text-updateAppVersion">
                <!--更新應用程式-->
                <span class="langStr" data-id="com_006"></span>
            </div>
        </div>
    </div>
</div>
<!-- Start of viewNotSignedIn -->
<div data-role="page" id="viewNotSignedIn" class="hide">
    <div data-role="header">
    </div>
    <div data-role="main" class="main-updateAppVersion">
        <img class="logo-updateAppVersion" src="img/component/QPlay_logo.svg" />
        <div class="text-updateAppVersion">
            <!--已登出，請重新登入-->
            <span class="langStr" data-id="str_044"></span>
        </div>
        <div class="button-updateAppVersion" id="LoginAgain">
            <div class="button-text-updateAppVersion">
                <!--Login-->
                <span class="langStr" data-id="str_045"></span>
            </div>
        </div>
    </div>
</div>
<!-- Start of popup infoMsg -->
<div id="infoMsg" class="app-popup msg" data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" style="display:none;">
    <div data-role="main" class="ui-content">
        <div class="main">
            <p id="infoLoginid"></p>
            <p>
                UUID: <span id="infoUUID"></span>
            </p>
            <p>
                Version: <span id="infoVersionName"></span>
            </p>
        </div>
        <hr class="ui-hr ui-hr-bottom">
        <div class="footer">
            <div id="closeInfoMsg" class="btn-one font-style8">
                <div>
                    <span class="langStr" data-id="com_016"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start of popup iOS get new message -->
<div data-role="popup" data-history="false" id="iOSGetNewMessage" class="popup-div popup-info" data-overlay-theme="b" data-dismissible="false" style="display:none; z-index:999;">
    <div data-role="main" class="ui-content">
        <p>
            新訊息!
        </p>
        <p id="newMessageTitle">
        </p>
        <hr class="hr-style">
        <div class="bottom">
            <div class="button-content">
                <div id="cancelNewMessage">關閉</div>
                <div class="vertical-line">&nbsp;</div>
                <div id="openNewMessage">
                    <!--開啟-->
                    <span class="langStr" data-id="str_026"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start of API Error -->
<div data-role="popup" data-history="false" id="APIError" class="popup-div popup-info" data-overlay-theme="b" data-dismissible="false" style="display:none; z-index:999;">
    <div data-role="main" class="ui-content">
        <p>
            <span id="APIError_1">系統錯誤，請聯絡 ITS</span>
            <span id="APIError_2">使用者已被停權，請聯絡 ITS</span>
        </p>
        <hr class="hr-style">
        <div class="bottom">
            <div class="button-content">
                <span id="closeAPIError">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- Start of viewPopupMsg -->
<div data-role="popup" data-history="false" id="viewPopupMsg" data-overlay-theme="b" data-dismissible="false" class="hide">
    <div data-role="main" class="popup-msg">
        <h1 id="msgTitle"><img id="titleImg" src="" class="hide"><span id="titleText"></span></h1>
        <div id="msgContent"></div>
        <button id="cancel"></button>
        <button id="confirm"></button>
    </div>
</div>
<!-- use only in Yellow page if the employee has multiple num -->
<div id="numSelectPopupWindow" data-history="false" data-role="popup" data-overlay-theme="b" data-dismissible="false" class="popup-msg hide">
    <div data-role="main" class="popup-msg">
        <h1 id="msgTitle">請選擇號碼
            <div id=numPopupCloseBtn></div>
        </h1>
        <ul></ul>
    </div>
</div>