/* component CSS*/

/********************************** CSS Rule *************************************/
/********** All CSS style which auto created by Cordova can be removed ***********/
/*********************************************************************************/

/* variable, function, style for All APP */
body {
    font-family: "Gill Sans MT", "微軟正黑體", "Arial";
    text-shadow: none;
}

.header-style {
    overflow: hidden;
    background-color: #4B0082;
    color: white;
    border-style: none;
    font-size: 16px;
    text-align: center;
    line-height: 0;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
    text-align: center;
    padding-top: 70%;
}

.hide {
    display: none;
}

/* override jQuery Mobile */
.ui-field-contain {
    border: none;
    padding: 0 10px;
}

.ui-field-contain > label {
    float: left;
    width: 25%;
    margin: .5em 2% 0 0;
}

.ui-field-contain > label~[class*=ui-] {
    float: left;
    width: 70%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-field-contain:before, .ui-field-contain:after {
    content: "";
    display: none;
}

.ui-btn {
    text-align: center;
}

/*Fix bug - iOS status bar overlapping App*/
.ios-fix-overlap {
    margin-top: 20px;
}

.ios-fix-overlap-div {
    height: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #FFF;
    display: none;
}

/*Fix - Android text in ui-btn, the vertical does not in middle*/
.android-fix-btn-text-middle {
    position: relative;
    top: 2px;
}

/*Initial APP page*/
#viewInitial {
    height: 100%;
}

#viewInitial .main-initial {
    text-align: center;
}

#initialQPlay {
    margin-top: 28vh;
}

#initialQPlay .logo-initial {
    width: 22%;
}

#initialQPlay .brand-initial-content {
    position: absolute;
    width: 100%;
    bottom: 2%;
}

#initialQPlay .brand-initial {
    height: 10vh;
}

#initialOther {
    margin-top: 20vh;
}

#initialOther .logo-initial {
    height: 11vh;
}

#initialAppName {
    font-size: 6.5vh;
    margin-top: 3vh;
}

#initialOther .app-logo-initial {
    margin-top: 8vh;
    width: 28vw;
}

#initialOther .brand-initial-content {
    position: absolute;
    width: 100%;
    bottom: 2%;
}

#initialOther .brand-initial {
    height: 10vh;
}

/*APP Get QPsuh*/
#viewGetQPush {
    height: 100%;
}

#viewGetQPush .main-GetQPush {
    text-align: center;
    padding-top: 28vh;
}

#viewGetQPush .logo-GetQPush {
    width: 22%;
}

#viewGetQPush .text-GetQPush {
    width: 75vw;
    margin: 0 auto;
    margin-top: 6.5vh;
    overflow-wrap: break-word;
    white-space: normal;
    text-overflow: clip;
    overflow: auto;
    text-align: left;
}

#viewGetQPush .brand-GetQPush-content {
    position: absolute;
    width: 100%;
    bottom: 2%;
}

#viewGetQPush .brand-GetQPush {
    height: 10vh;
}

/*Update APP Version page*/
#viewUpdateAppVersion {
    height: 100%;
}

#viewUpdateAppVersion .main-updateAppVersion {
    text-align: center;
    padding-top: 28vh;
}

#viewUpdateAppVersion .logo-updateAppVersion {
    width: 22%;
}

#viewUpdateAppVersion .text-updateAppVersion {
    width: 75vw;
    margin: 0 auto;
    margin-top: 6.5vh;
    overflow-wrap: break-word;
    white-space: normal;
    text-overflow: clip;
    overflow: auto;
    text-align: left;
}

#viewUpdateAppVersion .button-updateAppVersion {
    position: absolute;
    left: 15%;
    bottom: 6.5%;
    width: 70vw;
    height: auto;
    padding: 2vh 0;
    background-color: blueviolet;
    color: #FFF;
}

#viewUpdateAppVersion .button-text-updateAppVersion {

}