<!-- Start of viewInitial -->
<div data-role="page" id="viewInitial">
    <div data-role="header">
    </div>

    <div data-role="main" class="main-initial">
        <!--QPlay-->
        <div id="initialQPlay" class="hide">
            <img class="logo-initial" src="img/component/QPlay_logo.svg"/>
            <div class="brand-initial-content">
                <img class="brand-initial" src="img/component/Logo.svg"/>
            </div>
        </div>
        <!--Other APP-->
        <div id="initialOther" class="hide">
            <img class="logo-initial" src="img/component/QPlay_logo_noword.svg"/>
            <div id="initialAppName"></div>
            <img class="app-logo-initial" src="img/APP_logo.svg"/>
            <div class="brand-initial-content">
                <img class="brand-initial" src="img/component/Logo.svg"/>
            </div>
        </div>
    </div>
</div>

<!-- Start of viewGetQPush -->
<div data-role="page" id="viewGetQPush">
    <div data-role="header">
    </div>

    <div data-role="main" class="main-GetQPush">
        <img class="logo-GetQPush" src="img/component/QPlay_logo.svg"/>
        <div class="text-GetQPush">
            QPlay提供即時訊息推播服務，請允許通知體驗完整功能
        </div>
        <div class="brand-GetQPush-content">
            <img class="brand-GetQPush" src="img/component/Logo.svg"/>
        </div>
    </div>
</div>

<!-- Start of viewUpdateAppVersion -->
<div data-role="page" id="viewUpdateAppVersion" class="hide">
    <div data-role="header">
    </div>

    <div data-role="main" class="main-updateAppVersion">
        <img class="logo-updateAppVersion" src="img/component/QPlay_logo.svg"/>
        <div class="text-updateAppVersion">
            請更新應用程式以立即體驗新功能、獲得改善效能和錯誤修正
        </div>
        <div class="button-updateAppVersion" id="UpdateAPP">
            <div class="button-text-updateAppVersion">更新應用程式</div>
        </div>
    </div>
</div>