/* component CSS*/

/********************************** CSS Rule *************************************/
/********** All CSS style which auto created by Cordova can be removed ***********/
/*********************************************************************************/

/* override jQuery Mobile */
body {
    text-shadow: none;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    text-shadow: none;
}

.ui-mobile .ui-page-active{
    display: block;
    overflow: visible;
    /*overflow-x:hidden*/
}

.ui-field-contain {
    border: none;
    padding: 0 10px;
}

.ui-field-contain > label {
    float: left;
    width: 25%;
    margin: .5em 2% 0 0;
}

.ui-field-contain > label~[class*=ui-] {
    float: left;
    width: 70%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-field-contain:before, .ui-field-contain:after {
    content: "";
    display: none;
}

.ui-btn {
    text-align: center;
}

.ui-tabs {
    position: static;
}

.ui-footer-fixed {
    padding-bottom: 0px;
}

.ui-popup-container, .ui-popup {
    width: 90%;
}

body, input, select, textarea, button, .ui-btn {
    font-family: "Arial", "微軟中黑體";
}

/* variable, function, style for All APP */
body {
    font-family: "Arial", "微軟中黑體";
    text-shadow: none;
}

.header-style {
    overflow: hidden;
    background-color: #4B0082;
    color: white;
    border-style: none;
    font-size: 16px;
    text-align: center;
    line-height: 0;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
    text-align: center;
    padding-top: 70%;
}

.hide {
    display: none;
}

/*Fix bug - iOS status bar overlapping App*/
.ios-fix-overlap {
    margin-top: 20px;
}

.ios-fix-overlap-div {
    height: 20px;
    width: 100%;
    /*position: fixed;*/
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #FFF;
    display: none;
}

/*Fix - Android text in ui-btn, the vertical does not in middle*/
.android-fix-btn-text-middle {
    position: relative;
    top: 2px;
}

/*Initial APP page*/
#viewInitial {
    height: 100%;
}

#viewInitial .main-initial {
    text-align: center;
}

#initialQPlay {
    margin-top: 28vh;
}

#initialQPlay .logo-initial {
    width: 22%;
}

#initialQPlay .brand-initial-content {
    position: absolute;
    width: 100%;
    bottom: 2%;
}

#initialQPlay .brand-initial {
    height: 10vh;
}

#initialOther {
    margin-top: 20vh;
}

#initialOther .logo-initial {
    height: 11vh;
}

#initialAppName {
    font-size: 6.5vh;
    margin-top: 3vh;
}

#initialOther .app-logo-initial {
    margin-top: 8vh;
    width: 28vw;
}

#initialOther .brand-initial-content {
    position: absolute;
    width: 100%;
    bottom: 2%;
}

#initialOther .brand-initial {
    height: 10vh;
}

/*APP Get QPsuh / Maintain */
#viewGetQPush, #viewMaintain {
    height: 100%;
}

.main-GetQPush {
    text-align: center;
    padding-top: 28vh;
}

.logo-GetQPush {
    width: 22%;
}

.text-GetQPush {
    width: 75vw;
    margin: 0 auto;
    margin-top: 6.5vh;
    overflow-wrap: break-word;
    white-space: normal;
    text-overflow: clip;
    overflow: auto;
    text-align: left;
}

.brand-GetQPush-content {
    position: absolute;
    width: 100%;
    bottom: 2%;
}

.brand-GetQPush {
    height: 10vh;
}

/*Update APP Version page / Not Signed In page */
#viewUpdateAppVersion, #viewNotSignedIn {
    height: 100%;
}

.main-updateAppVersion {
    text-align: center;
    padding-top: 28vh;
}

.logo-updateAppVersion {
    width: 22%;
}

.text-updateAppVersion {
    width: 75vw;
    margin: 0 auto;
    margin-top: 6.5vh;
    overflow-wrap: break-word;
    white-space: normal;
    text-overflow: clip;
    overflow: auto;
    text-align: left;
}

.button-updateAppVersion {
    position: absolute;
    left: 15%;
    bottom: 6.5%;
    width: 70vw;
    height: auto;
    padding: 2vh 0;
    border-radius: 25px;
    background-color: #492f80;
    color: #FFF;
}

#viewUpdateAppVersion .button-text-updateAppVersion {

}

/*Popup Msg*/
.popup-div {
    margin: 0 auto;
}

.ui-mobile .popup-div label {
    font-size: 3vh;
}

.popup-div .ui-content {
    width: 85%;
    height: auto;
    padding: 10% 10% 0;
    font-size: 3vh;
}

.popup-div .hr-style {
    position: absolute;
    width: 99%;
    left: 0;
    color: #D6D6D6;
}

.popup-div .bottom {
    height: 10vh;
}

.popup-div .button-content {
    position: absolute;
    width: 100%;
    left: 0;
    line-height: 3.5;
    text-align: center;
    color: #492E80;
    font-size: 3.3vh;
}

.popup-div .button-content div {
    float: left;
    width: 49%;
}

.popup-div .button-content .vertical-line {
    border-left: 1px solid #D6D6D6;
    width: 1%;
    height: 8.5vh;
    margin-top: 1.5vh;
}

.popup-info {
    background-color: #fff;
    border-color: #ddd;
    color: #333;
}

.popup-info p {
    margin: 0;
}
.popup-info #infoLoginid {
    margin-left: -10%;
    margin-bottom: 5%;
    text-align: center;
}

/*Other APP Popup Msg*/

#viewPopupMsg-popup,
#viewPopupMsg {
    width: initial;
    border-width: 0px;
    border-style: initial;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.popup-msg {
    width: 80vw;
    background: #eee;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    border-top: 1px solid #E2E2E2;
}

.popup-msg h1 {
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem 1rem 0.5rem;
}

#titleImg,
#contentImg {
    width: 4.3vw;
    height: 2.5vh;
    margin-right: 1.5vw;
}

#msgContent {
    margin: 3vh 3vh;
}

.popup-msg div {
    text-align: center;
    font-size: 1rem;
}

.popup-msg div > table {
    text-align: left;
    margin: 0 auto;
}

.popup-msg div > td {
    padding-right: 3vw;
}

.popup-msg button {
    background: transparent;
    border: none;
    color: #1678E5;
    height: 3rem;
    font-size: 1rem;
    width: 50%;
    bottom: 0;
    cursor: pointer;
    outline: none;
}

.popup-msg button:nth-of-type(1) {
    border-top: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-radius: 0 0 0 10px;
    left: 0;
}

.popup-msg button:nth-of-type(2) {
    border-top: 1px solid #d4d4d4;
    border-radius: 0 0 10px 0;
    position: absolute;
    right: 0;
}

.disable{
    display:none;
}
