/*************************** viewStaffUserAppointment ********************************/
#viewStaffUserAppointment .page-main{
    width: 100vw;
    padding: 0 !important;
    /* position: fixed; */
}

.appointment-room{
    width: 96.29vw;
    padding: 5vw 0 3.71vw 3.71vw;
}

.appointment-room>div:nth-of-type(1){
    width: 100%;
    height: 5vw;
    font-size: 3.14vw;
    color: #0f0f0f;
}

.appointment-room>div:nth-of-type(2){
    width: 100%;
    height: 6vw;
    font-size: 4.18vw;
    color: #253137;
}

.appointment-room>div:nth-of-type(3){
    width: 100%;
    height: 11vw;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.appointment-room>div:nth-of-type(3) div{
    height: 100%;
}

.appointment-room-list li{
    float: left;
    width: 30vw;
    height: 10vw;
    border: 1px solid #d6d6d6;
    text-align: center;
    line-height: 10vw;
}

.appointment-room-list li:not(:first-child){
    margin-left: -1px;
}

.appointment-date{
    width: 96.29vw;
    padding: 0vw 0 3.71vw 3.71vw;
}

.appointment-date>div:nth-of-type(1){
    width: 100%;
    height: 5vw;
    font-size: 3.14vw;
    color: #0f0f0f;
}

.appointment-date>div:nth-of-type(2){
    width: 100%;
    height: 11vw;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.appointment-date>div:nth-of-type(2) div{
    height: 100%;
}

.appointment-date li{
    float: left;
    width: 30vw;
    height: 10vw;
    border: 1px solid #d6d6d6;
    text-align: center;
    line-height: 10vw;
}

.appointment-date li:not(:first-child){
    margin-left: -1px;
}

.appointment-hour{
    padding: 0 3.71vw 4vw;
}

.appointment-hour ul{
    display: flex;
    flex-wrap: wrap;
}

.appointment-hour ul li:not(:nth-of-type(4n+1)){
    margin-left: -1px;
}

.appointment-hour ul li:nth-of-type(n+5){
    margin-top: -1px;
}

.hour-list{
    position: relative;
    width: 22.7vw;
    height: 14vw;
    border: 1px solid #d6d6d6;
}

.hour-list>div:nth-of-type(1){
    width: 100%;
    height: 7vw;
    line-height: 8vw;
    text-indent: 2vw;
    font-size: 4.18vw;
}

.hour-list>div:nth-of-type(2){
    width: 100%;
    height: 7vw;
    line-height: 7vw;
    text-indent: 2vw;
    font-size: 3.14vw;
}

.hour-list>div:nth-of-type(3){
    position: absolute;
    top: 8vw;
    left: 16.5vw;
    width: 5vw;
    height: 5vw;
    background: url(img/checkbox_false.png);
    background-size: 5vw;
}

.rest-hour,
.self-hour,
.checked-hour{
    background: #DCDCDC !important;
}

.rest-hour>div:nth-of-type(3),
.self-hour>div:nth-of-type(3),
.checked-hour>div:nth-of-type(3){
    display: none;
}

.active-hour{
    background: #0db6b7 !important;
    color: #fff !important;
}

.active-hour>div:nth-of-type(3){
    background: url(img/checkbox_true.png);
    background-size: 5vw;
}

.appointment-tea{
    width: 92.58vw;
    height: 20vw;
    padding: 0 3.71vw;
}

.appointment-count{
    width: 92.58vw;
    height: 16vw;
}

.appointment-count>div{
    float: left;
    height: 100%;
}

.appointment-count>div:nth-of-type(1){
    width: 51.5vw;
}

.appointment-count>div:nth-of-type(2){
    width: 41vw;
}

.appointment-count>div:nth-of-type(1)>div:nth-of-type(1),
.appointment-count>div:nth-of-type(2)>div:nth-of-type(1){
    height: 6vw;
    color: #0f0f0f;
    font-size: 3.14vw;
}

.appointment-edit{
    width: 100vw;
    height: 10.4vw;
    padding-bottom: 2.14vw;
}

.appointment-edit>div{
    width: 35.5vw;
    height: 10.4vw;
    margin: 0 auto;
    text-align: center;
    line-height: 10.4vw;
    background: #d5d5d5;
    color: #979797;
    font-size: 4.18vw;
}

.appointment-clear{
    text-align: center;
    display: none;
}

.reservedPopup .ui-content,
.reserveLatePopup .ui-content{
    padding: 0;
}

.reservedPopup .ui-content .header,
.reserveLatePopup .ui-content .header{
    margin-top: 10vw;
}

.reservedPopup .ui-content .footer,
.reserveLatePopup .ui-content .footer{
    margin-top: 8vw;
}