
<div data-role="page" id="viewExample">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
	        <div class="header-style">
            <div class="ui-title">
                Accounting_Example
            </div>
        </div>
    </div>
<!--     <div data-role="main" class="page-main">
        Example
		<h1>hello~</h1>
    </div> -->
	
	  <div data-role="main" class="ui-content page-main ui-grid-d">
	<div data-role="tabs"> 
		<div data-role="navbar" style=" height:10VH;margin-top:0VH" data-iconpos="bottom">
        <ul>
          <li><a href="#fragment-1" class="ui-btn-active" >Quantity</a></li> 
          <li><a href="#fragment-2"   					  >Amount</a></li>
          <li><a href="#fragment-3"                       >ASP</a></li>
        </ul>
        </div>
		
		<div  style="text-align:center"> 
			<p>2016</p>		
		</div>
		
        <div id="fragment-1">
			<p>This is the'One'</p>			
		</div>
		<div id="fragment-2">
			<p>This is the'Two'</p>
		</div>
		<div id="fragment-3">
			<p>This is the'Three'</p>
		</div>
    </div>
	
	<ul data-role="listview" data-icon="false" class="q-result-grid" id="employeeData" style=" margin-top:2VH">
        <li style="height:18VW" >  
			<div class="name"   style="width:50% ;text-align:center;">
				<p><a  name="detailIndex" style="color:black;font-size:110%; ">Actual Value</a></p>
				<p><a  name="detailIndex" style="color:black; font-size:4VH;">71,976 </a></p>
      			
			</div>
			<div class="name2"  style="width:50%;text-align:center;" >
				<p><a name="detailIndex" style="color:black; font-size:110%;">Budget Hit Rate</a></p>
				<p><a name="detailIndex" style="color:red;   font-size:4VH;">78,23%</a></p>      			 
			</div>		
		</li>
	</ul>
	
		<div><img src="img/line2.png" style ="height:50VW text-align:center;"></div> 
		<div class="scrollmenu" style="margin-top: 0VH;height:10VH" id="Site" >
		  <a >ALL</a>
		  <a >BQA</a>
		  <a >BQC</a>
		  <a >BQE</a>
		  <a >BQL</a>
		  <a >BQP</a>
		  <a >BENQ</a>  
		  <a >BQQ</a>
		</div>
	
	
		<div class="scrollmenu"  style="margin-top: 0VH;height:10VH"id="Pro">
		  <a href="#home">ALL</a>
		  <a href="#news">LCD</a>
		  <a href="#contact">PRJ</a>
		  <a href="#about">POP</a>
		  <a href="#support">LTV</a>
		  <a href="#blog">GGP</a>
	      <a href="#blog">LED</a>
     	  <a href="#blog">AUD</a>
		</div>
     </div>  
</div>
