/******************************** viewShopUserAcount ********************************/
#viewShopUserAcount .ui-content {
    padding: 0 !important;
}

.user-acount {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #ECEEEF;
}

.user-acount-icon {
    width: 92.58vw;
    height: 10vw;
    padding: 6.5vw 3.71vw;
}

.user-acount-icon > div {
    float: left;
}

.user-acount-icon > div:nth-of-type(1) {
    width: 13.5vw;
    height: 100%;
}

.user-acount-icon > div img {
    width: 10vw;
    height: 10vw;
}

.user-acount-icon > div:nth-of-type(2) {
    width: 75vw;
    height: 100%;
}

.user-acount-name {
    color: #253137;
    font-size: 4.18vw;
}

.user-acount-no {
    color: #989898;
    font-size: 4.18vw;
}

.user-acount-money {
    width: 92.58vw;
    /* height: 88vw; */
    margin-left: 3.71vw;
    margin-bottom: 5vw;
    background: #fff;
    border-radius: 12px;
}

.user-acount-title {
    width: 100%;
    text-align: center;
    padding: 16vw 0 5.6vw;
    color: #253137;
    font-size: 4.18vw;
}

.user-acount-remain {
    width: 100%;
    height: 10vw;
    padding-bottom: 5.4vw; 
}

.user-acount-remain > div {
    float: left;
}

.user-acount-remain > div:nth-of-type(1) {
    width: 38%;
    height: 100%;
    text-align: right;
    padding-right: 2vw;
    color: #989898;
    font-size: 4.18vw;
}

.user-acount-remain > div:nth-of-type(2) {
    width: 58%;
    height: 100%;
    color: #253137;
    font-size: 12.54vw;
    font-weight: bold;
    line-height: 0.9;
}

.user-acount-dueday {
    width: 100%;
    color: #989898;
    font-size: 2.93vw;
    text-align: center;
    padding-bottom: 12vw;
}

.user-acount-btn {
    width: 100%;
    height: 12vw;
}

.user-acount-pay {
    width: 40%;
    height: 100%;
    margin-left: 30%;
    background: #009688;
    color: #fff;
    font-size: 4.18vw;
    text-align: center;
    line-height: 12vw;
}

.user-acount-cancel {
    width: 100%;
    padding: 7.6vw 0 18vw 0;
    text-align: center;
    color: #2A87BA;
    font-size: 4.18vw;
}

.logoutUserAcount .ui-content>.header {
    padding: 0 5.36vw;
    margin-top: 10vw;
}

.logoutUserAcount .ui-content>.footer {
    margin-top: 10%;
}