<!-- Start of main page UI 2-1 -->
<div data-role="page" id="viewMain2-1">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title"><div>QPlay</div></h1>
        </div>
        <a href="#" data-role="none" class="event-type">
            <div class="q-btn-header" style="width: 5.957vw;">
                <img src="img/nav_humb.png" width="100%" height="100%">
            </div>
        </a>
        <a href="#" data-role="none" class="ui-btn-right" id="logout">
            <div class="q-btn-header">
                <img src="img/logout_nav.png" width="100%" height="100%">
            </div>
        </a>
    </div>

    <div data-role="main" class="ui-content page-main" id="appcontent" style="display:none;">
        <template id="tplContactUserPopup">
            <!--header: Title or Button-->
            <div class="header font-style3">
                <!--確定登出嗎？-->
                <span class="langStr" data-id="str_043"></span>
            </div>
            <!--footer: Button-->
            <div class="footer">
                <div class="btn-two font-style0">
                    <div id="cancel">
                        <span class="langStr" data-id="str_023"></span>
                    </div>
                    <div id="confirm">
                        <span class="langStr" data-id="str_016"></span>
                    </div>
                </div>
            </div>
        </template>

        <template id="tplEventTypePanel">
            <div id="eventTypeSelect">
                <div class="header">QPlay</div>
                <hr class="ui-hr">
                <div class="item" id="home">
                    <div class="left">
                        <div class="white"></div>
                    </div>
                    Home
                </div>
                <hr class="ui-hr">
                <div class="header">公告</div>
                <hr class="ui-hr">
                <div class="item option" id="Event">
                    <div class="left">
                        <div class="white"></div>
                    </div>
                    Event
                </div>
                <hr class="ui-hr">
                <div class="item option" id="News">
                    <div class="left">
                        <div class="white"></div>
                    </div>
                    News
                </div>
                <hr class="ui-hr">
                <div class="item option" id="Announcement">
                    <div class="left">
                        <div class="white"></div>
                    </div>
                    Announcement
                </div>
                <hr class="ui-hr">
                <div class="item option" id="Communication">
                    <div class="left">
                        <div class="white"></div>
                    </div>
                    Communication
                </div>
                <hr class="ui-hr">
                <div class="item option" id="CIP">
                    <div class="left">
                        <div class="white"></div>
                    </div>
                    CIP
                </div>
                <hr class="ui-hr">
                <div class="item option" id="CSD">
                    <div class="left">
                        <div class="white"></div>
                    </div>
                    CSD
                </div>
                <hr class="ui-hr">
                <div class="item option" id="ITS">
                    <div class="left">
                        <div class="white"></div>
                    </div>
                    ITS
                </div>
            </div>
        </template>
    </div>
</div>
