<!-- Start of app detail page UI 2-2 -->
<div data-role="page" id="viewAppDetail2-2">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style"><h1 class="ui-title">&nbsp;</h1></div>
        <a href="#viewMain2-1" data-role="none">
            <div class="q-btn-header">
                <img src="img/component/back_nav.png" width="100%" height="100%">
            </div>
        </a>
    </div>

    <div data-role="main" class="ui-content page-main">
        <div class="top">
            <div class="appDetailIcon">
                <img src="img/ypicon.png" id="appDetailIcon" width="100%" height="auto">
            </div>
            <div id="appDetailInfo" class="appDetailInfo">
                <p id="appDetailAppName" class="appDetailAppName"></p>
                <p id="appDetailRank" class="appDetailRank">
                    <span class="star">@@@@@</span>
                    <span class="score">(4.5)</span>
                </p>
                <div class="appDetailBottomLeft">
                    <p class="appDetailAppVersion">
                        <span class="title">Version</span>
                        <span class="number" id="appDetailAppVersion"></span>
                    </p>
                    <p class="appDetailAppSize">
                        <span class="title">Size</span>
                        <span class="number" id="appDetailAppSize"></span>
                    </p>
                </div>
                <div class="appDetailBottomRight">
                    <div style="height: 1.6vh; ">&nbsp;</div>
                    <div class="install-btn" id="InstallApp">
                        <span class="InstallAppStr" id="InstallAppStr01">
                            <!--下載-->
                            <span class="langStr" data-id="str_021"></span>
                        </span>
                        <span class="InstallAppStr" id="InstallAppStr02" style="display:none;">
                            <!--開啟-->
                            <span class="langStr" data-id="str_026"></span>
                        </span>
                        <span class="InstallAppStr" id="InstallAppStr03" style="display:none;">
                            <!--更新-->
                            <span class="langStr" data-id="str_027"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div>
                <div class="detail-description" id="appDetailAppDescription">

                </div>
                <div class="detail-description-open" style="display:none;">
                    <div class="detail-description-open-btn" id="openDescription">
                        <!--更多-->
                        <span class="langStr" data-id="str_051"></span>
                    </div>
                </div>
            </div>
            <div id="appDetailPicList">
                <div id="appDetailPicListContent"></div>
            </div>
        </div>
    </div>
</div>