<!-- Start of main page UI 2-1 -->
<div data-role="page" id="viewMain2-1">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <h1>QPlay</h1>
        <a href="#viewNewsEvents2-3" data-icon="comment" class="ui-btn-left" id="newseventspage">Message</a>
        <a href="#" data-icon="user" class="ui-btn-right" id="logout">Logout</a>
    </div>

    <div data-role="main" class="ui-content page-main" id="appcontent">

    </div>
</div>