<!-- Start of app detail page UI 2-2 -->
<div data-role="page" id="viewAppDetail2-2">
    <div data-role="header" style="overflow:hidden;">
        <h1></h1>
        <a href="#mainpage 2-1" data-icon="arrow-l" class="ui-btn-left">Back</a>
    </div><!-- /header -->
    <div data-role="main" class="ui-content" id="appcontent">
        <img id="appDetailIcon" src="img/ypicon.png" style="float:left;" align="middle" width=72 height=85>
        <div style="line-height:6px;margin-left:85px;">
            <p id="appDetailAppName" style="font-size:1.5em;margin-top:8px;margin-bottom:10px;font-weight:bold;">Yellow Page</p>
            <p id="appDetailAppSummary" >Find Employee Information</p>
            <p id="appDetailAppVersion">V 1.0.2</p>
            <p id="appDetailAppSize">20M</p>
        </div>
        <a href="#" data-role="button" data-inline="true" class="install-btn" id="InstallApp" style="margin-top:0px;">Install</a>
        <br><br><br><br>
        <div class="detail-description-style" id="appDetailAppDescription">
            <p>you can via RRS app to reserve conference room parking space of BQT or QTY</p>
        </div>
        <br><br>
        <div><img src="img/rank4p5.png" class="rank-style"></div>
        <br><br>
        <div class="owl-carousel owl-theme" id="appDetailPicList">
        </div>
    </div><!-- /main -->
</div>