<!-- Start of main page UI 2-1 -->
<div data-role="page" id="viewMain2-1">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title"><img src="img/qplay_word.svg" width="60%" height="60%"></h1>
        </div>
        <a href="#" data-role="none" id="newseventspage">
            <div class="q-btn-header">
                <img id="newsNav" src="img/news_nav.png" width="100%" height="100%">
                <img id="newsNoticeNav" src="img/news_notice_nav.png" width="100%" height="100%" style="display:none;">
            </div>
        </a>
        <a href="#" data-role="none" class="ui-btn-right" id="logout">
            <div class="q-btn-header">
                <img src="img/logout_nav.png" width="100%" height="100%">
            </div>
        </a>
    </div>

    <div data-role="main" class="ui-content page-main" id="appcontent" style="display:none;">

    </div>

    <div data-role="popup" data-history="false" id="logoutConfirm" class="popup-div" data-overlay-theme="b" data-dismissible="false">
        <div data-role="main" class="ui-content">
            <p>確定登出嗎？</p>

            <hr class="hr-style">

            <div class="bottom">
                <div class="button-content">
                    <div id="cancel">取消</div>
                    <div class="vertical-line">&nbsp;</div>
                    <div id="confirm">確認</div>
                </div>
            </div>
        </div>
    </div>

</div>