/*************************** viewStaffAdminEditPreview ********************************/
#viewStaffAdminEditPreview .page-main{
    width: 100vw;
    padding: 0 !important;
    position: fixed;
}

.edit-preview-text{
    width: 92.58vw;
    padding: 5vw 3.71vw 0;
    color: #253137;
    font-size: 3.768vw;
}

.edit-preview-time{
    width: 92.58vw;
    padding: 2.14vw 3.71vw 0;
    color: #8ea3ac;
    font-size: 3.349vw;
}

.edit-preview-img{
    width: 92.58vw;
    height: 50vw;
    margin: 5vw 3.71vw 0;
    background: lightgray;
}

.editNoticeSendBtn{
    position: absolute;
    width: 35.5vw;
    height: 10.5vw;
    bottom: 5vw;
    left: 32.25vw;
    text-align: center;
    line-height: 10.5vw;
    background: #d5d5d5;
    color: #979797;
    font-size: 4.18vw;
    display: none;
}