<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="ITS.Data">
      <section name="settings" type="ITS.Data.Configuration.ConfigurationSetting, ITS.Data, Version=4.0.1.100, Culture=neutral, PublicKeyToken=49bcf0ef5ccc9012"/>
    </sectionGroup>
    <sectionGroup name="ITS.Data.1.0">
      <section name="settings" type="ITS.Data.Configuration.ConfigurationSetting, ITS.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=49bcf0ef5ccc9012"/>
    </sectionGroup>
  </configSections>
  <ITS.Data>
    <settings cache="true" logging="true" trace="true">
      <entities>
      </entities>
    </settings>
  </ITS.Data>
  <ITS.Data.1.0>
    <settings cache="true" logging="true" trace="true">
      <entities>
      </entities>
    </settings>
  </ITS.Data.1.0>  
  
  <connectionStrings>
    <add name="qplay" connectionString="Database=qplay;Data Source=10.85.129.44;User Id=root;Password=Qcs@2012;pooling=false;CharSet=utf8;port=3306;Convert Zero Datetime=True"
         providerName="ITS.Data.MySQL"/>
    <add name="flower" connectionString="Server=aic0-s2\ipcht;Database=FlowER553_RD;User Id=sa;Password=123456;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  

  <appSettings>
    <add key="SourceTableName" value="AM_EMPLOYEE" />
    <!--以下配置将会被替换为类似: select LOGIN_NAME as login_id ...-->
    <add key="ColumnMapping_login_id" value="LOGIN_NAME" />
    <add key="ColumnMapping_emp_no" value="EMP_NO" />
    <add key="ColumnMapping_emp_name" value="EMP_NAME" />
    <add key="ColumnMapping_email" value="MAIL_ACCOUNT" />
    <add key="ColumnMapping_user_domain" value="DOMAIN_CODE" />    
    <add key="ColumnMapping_company" value="LOGIN_NAME" />
    <add key="ColumnMapping_department" value="LOGIN_NAME" />
    <add key="ColumnMapping_status" value="LOGIN_NAME" />
    <add key="ColumnMapping_resign" value="LOGIN_NAME" />
    <!--以下配置将会作为SQL直接添加到select之后-->
    <add key="AdditionSelectScope" value="'QGROUP' as USER_DOMAIN" />
  </appSettings>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
