
<div data-role="page" id="viewMyInfoEdit">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <a href="#" data-role="none">
            <div class="q-btn-header" style="width: 5.957vw;">
                <svg class="header-icon">
                    <use xlink:href="#icon-nav_back_white"></use>
                </svg>
            </div>
        </a>
        <div class="header-style">
            <h1 class="ui-title"><span>編輯個人資料</span></h1>
        </div>
        <a id="saveMyInfo" href="#" data-role="none" class="ui-btn-right">
            <span>儲存</span>
        </a>
    </div>

    <div data-role="main" class="page-main" id="viewMyInfoEditContent">

        <div class="data-list-content chatroom-info-list">
            <div class="left img-content chatroom-info-photo-content">
                <img class="chatroom-info-photo hide" src="">
                <svg class="chatroom-info-photo">
                    <use xlink:href="#icon-img_default_photo_big"></use>
                </svg>
                <div class="my-photo-edit">
                    編輯
                </div>
            </div>
            <div class="right">
                <div class="chatroom-info-name">
                    <input type="text" class="input" data-role="none" id="myInfoStatus" maxlength="20">
                </div>
            </div>
        </div>

    </div>
</div>
