
<div data-role="page" id="viewChatroomEdit">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <a href="#viewChatroomInfo" data-role="none">
            <div class="q-btn-header" style="width: 5.957vw;">
                <svg class="header-icon">
                    <use xlink:href="#icon-nav_back_white"></use>
                </svg>
            </div>
        </a>
        <div class="header-style">
            <h1 class="ui-title"><span>聊天室資訊</span></h1>
        </div>
        <a id="saveChatroomInfo" href="#" data-role="none" class="ui-btn-right">
            <span>儲存</span>
        </a>
    </div>

    <div data-role="main" class="page-main" id="viewChatroomEditContent">

        <div class="data-list-content chatroom-info-list">
            <div class="left img-content chatroom-info-photo-content">
                <img class="chatroom-info-photo hide" src="">
                <svg class="chatroom-info-photo">
                    <use xlink:href="#icon-img_default_group_big-"></use>
                </svg>
            </div>
            <div class="right">
                <div class="chatroom-info-name">
                    <input type="text" class="input" data-role="none" id="chatroomEditName" maxlength="32">
                </div>
            </div>
        </div>

    </div>
</div>
