
<div data-role="page" id="viewChatroom">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <a href="#" data-role="none" id="backIndexChatroom">
            <div class="q-btn-header" style="width: 5.957vw;">
                <svg class="header-icon">
                    <use xlink:href="#icon-nav_back_white"></use>
                </svg>
            </div>
        </a>
        <div class="header-style">
            <h1 class="ui-title" style="margin: 0;"><span id="chatroomTitle"></span></h1>
        </div>
        <a id="chatroomAction" href="#" data-role="none" class="ui-btn-right">
            <div class="q-btn-header" style="width: 5.957vw;">
                <svg class="header-icon">
                    <use xlink:href="#icon-topnav_more"></use>
                </svg>
            </div>
        </a>
    </div>

    <div data-role="main" class="page-main" id="viewChatroomContent">

        <div class="chatroom-action chatroom-action-content hide">
            <div class="chatroom-info">
                <div>
                    <svg class="chatroom-action-icon">
                        <use xlink:href="#icon-topnav_info"></use>
                    </svg>
                </div>
                <div class="chatroom-action-text">
                    聊天室資訊
                </div>
            </div>
        </div>

        <div class="chatroom-action chatroom-action-content-background hide"></div>

        <template id="tplMsgDate">
            <div class="msg date">
                9/19
            </div>
        </template>

        <template id="tplMsgEventTime">
            <div class="msg date event">
                <div class="msg-time">
                    10:00
                </div>
                <div class="text-event">
                    Darren 建立聊天室
                </div>
            </div>
        </template>

        <template id="tplMsgTextRight">
            <div class="msg msg-right">
                <div class="time time-right">
                    24:59
                </div>
                <div class="text text-right">
                    HI~ Hello
                </div>
            </div>
        </template>

        <template id="tplMsgTextLeft">
            <div class="msg msg-left">
                <div class="left">
                    <svg class="personal-popup msg-photo">
                        <use xlink:href="#icon-img_default_photo"></use>
                    </svg>
                </div>
                <div class="right">
                    <div class="personal-popup name">
                        Darren
                    </div>
                    <div class="text text-left">
                        HI~ Hello HI~ Hello HI~ Hello HI~ Hello HI~ Hello HI~ Hello HI~ Hello HI~ Hello HI~ Hello HI~ Hello HI~ Hello HI~ Hello
                    </div>
                    <div class="time time-left">
                        24:59
                    </div>
                </div>
            </div>
        </template>

        <template id="tplMsgImgRight">
            <div class="msg msg-right">
                <div class="time time-right">
                    24:59
                </div>
                <div class="img img-horizontal img-vertical">
                    
                </div>
            </div>
        </template>

        <template id="tplMsgImgLeft">
            <div class="msg msg-left">
                <div class="left">
                    <svg class="personal-popup msg-photo">
                        <use xlink:href="#icon-img_default_photo"></use>
                    </svg>
                </div>
                <div class="right">
                    <div class="personal-popup name">
                        Darren
                    </div>
                    <div class="img img-horizontal img-vertical">
                    
                    </div>
                    <div class="time time-left">
                        24:59
                    </div>
                </div>
            </div>
        </template>

        <div id="tempImage"></div>
    </div>

    <div data-role="footer" class="chatroom-footer" data-position="fixed">
        <div class="message-preview font-style7 hide">
        </div>
        <div class="left" id="cameraButton">
            <div class="camera-button-content">
                <svg class="camera camera-left" id="photoCamera">
                    <use xlink:href="#icon-btn_photo_camera"></use>
                </svg>
                <svg class="camera camera-right" id="photoLibrary">
                    <use xlink:href="#icon-btn_photo_img"></use>
                </svg>
            </div>
            <svg class="camera camera-open">
                <use xlink:href="#icon-btn_photo_add"></use>
            </svg>
        </div>
        <div class="right" id="msgButton">
            傳送
        </div>
        <div class="center">
            <input name="msgText" id="msgText" type="text" placeholder="請輸入訊息">
        </div>
    </div>

</div>
