
<div data-role="page" id="viewAddFriend">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <a href="#" data-role="none" id="backAddFriend">
            <div class="q-btn-header" style="width: 5.957vw;">
                <svg class="header-icon">
                    <use xlink:href="#icon-nav_back_white"></use>
                </svg>
            </div>
        </a>
        <div class="header-style">
            <h1 class="ui-title"><span>新增好友</span></h1>
        </div>
    </div>

    <div data-role="main" class="page-main" id="viewAddFriendContent">

        <div class="search-user-content search-addfriend-content">
            <div class="search-user-input">
                <input type="text" data-role="none" class="searchBar" id="searchUserInputAddFriend" placeholder="請輸入姓名">
            </div>
            <div class="search-user-button hide" id="searchUserButtonAddFriend">
                查詢
            </div>
            <div class="search-user-clear-content hide" id="searchUserClearContentAddFriend">
                <svg class="search-user-clear" id="searchUserClearAddFriend">
                    <use xlink:href="#icon-btn_field_clear"></use>
                </svg>
            </div>
        </div>

        <div class="search-user-content-background"></div>

        <div class="no-data" id="msgWelcomeAddFriend">
            搜尋同事加入好友吧!
        </div>

        <div class="no-data hide" id="msgNoFoundAddFriend">
            搜尋的結果為0筆 ，<br>如找不到您要的用戶 ，請重新搜尋名稱 。
        </div>

        <div class="text-title hide" id="titleFriendAddFriend">
            <div class="add-friend-title" id="AddFriendTitle3">
                推薦好友 :
            </div>
            <div class="add-friend-title" id="AddFriendTitle1">
                搜尋結果 :
            </div>
        </div>

        <div class="data-list-content" id="userListContentAddFriend"></div>

        <div class="no-data data-overflow hide" id="msgUserOverflowAddFriend">
            您的搜尋結果最多顯示10筆 ，<br>如找不到您要的資料 ，請在詳填用戶姓名 。
        </div>

    </div>

</div>
