
<div data-role="page" id="viewIndex">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <div class="ui-title">
                QChat
            </div>
        </div>
    </div>

    <div data-role="main" class="page-main" id="viewIndexContent">

        <!--template @search bar-->
        <template id="tplSearchBar">
            <input type="text" class="searchBar" id="" placeholder="">
            <div id="searchUserBtn" class="btn-text hide">
                查詢
            </div>
        </template>

        <!--template @no data-->
        <template id="tplNoData">
            <div class="no-data hide"></div>
        </template>

        <template id="tplChatroomList">
            <div class="data-list chatroom-list">
                <div class="left img-content">
                    <img class="photo hide" src="">
                    <svg class="photo">
                        <use xlink:href="#icon-img_default_group"></use>
                    </svg>
                </div>
                <div class="right data-content">
                    <div class="date">
                        2017/12/25
                    </div>
                    <div>
                        <div class="left group-content">
                            <div class="group-name">
                                GroupName
                            </div>
                            <div class="latest-message">
                                Hi~
                            </div>
                        </div>
                        <div class="right count-message">
                            <div class="number-circle">
                                <div class="number">
                                    2
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="ui-hr ui-hr-message">
        </template>

    </div>

    <div data-role="footer" class="index-footer" data-position="fixed">
        <svg id="newChatroom" class="new-chatroom-button">
            <use xlink:href="#icon-btn_floating_chatroom"></use>
        </svg>
    </div>

</div>
