/********************************************** viewOvertimeSubmit *********************************************/

.ui-input-text {
    height: 0;
    border: none;
}

#backOvertime,
#backOTQueryDetail,
#backActualOTApply {
    width: 4.934VW;
    display: none;
}

#actualApplyTitle,
#actualOTInterval,
#actualOTHours,
#previewActualOTBtn,
#confirmActualOTBtn {
    display: none;
}

.overtime-reason,
.overtime-paid {
    color: #0f0f0f;
}

.apply-overtime-count {
    height: 23vw;
    color: #0f0f0f;
    border-bottom: 1px solid #d6d6d6;
}

.overtime-reason>div:nth-of-type(2),
.apply-overtime-count>div:nth-of-type(2) {
    margin-top: 2.14vw;
}

.total-hours-textarea {
    resize: none;
    width: 86vw;
    height: 7.17vw;
    border: 0;
    overflow-y: auto;
    -webkit-appearance: none;
}

#paid-type-popup {
    height: 8vw;
}

.apply-overtime-time {
    height: 21.3vw;
    color: #0f0f0f;
}

.apply-overtime-time>div:nth-of-type(1),
.apply-overtime-time>div:nth-of-type(2) {
    height: 5vw;
}

.apply-overtime-time>div:nth-of-type(2)>div {
    display: inline-block;
    width: 46vw;
    height: 5vw;
    line-height: 5vw;
}

.apply-overtime-time>div:nth-of-type(3) {
    height: 7vw;
}

.apply-overtime-time>div:nth-of-type(3)>div {
    display: inline-block;
    width: 46vw;
    height: 7vw;
    line-height: 7vw;
}

.apply-overtime-date>div:nth-of-type(1),
.apply-overtime-date>div:nth-of-type(2) {
    height: 5vw;
}

#confirmOvertime,
#confirmActualOvertime {
    min-height: 0vw;
}

#confirmOvertime .footer,
#confirmActualOvertime .footer {
    color: #1678E5;
    font-size: 5.02vw;
    text-align: center;
}

.overitmeDateFirst>.ui-content,
.starttimeFirst>.ui-content,
.endTimeError>.ui-content,
.leftDaysByOT>.ui-content,
.confirmOvertime>.ui-content,
.confirmActualOvertime>.ui-content,
.hoursTypeError>.ui-content {
    padding: 0 !important;
}

.overitmeDateFirst>.ui-content>.header,
.starttimeFirst>.ui-content>.header,
.endTimeError>.ui-content>.header,
.leftDaysByOT>.ui-content>.header,
.confirmOvertime>.ui-content>.header,
.confirmActualOvertime>.ui-content>.header,
.hoursTypeError>.ui-content>.header {
    margin-top: 12.5%;
}