/********************************* header *********************************/
.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 12vw;
    line-height: 12vw;
    text-align: center;
    background: #482F80;
    color: #FFFFFF;
}

.page-main {
    position: fixed;
    top: 12vw;
    left: 0;
}

.page-tab {
    width: 92.58vw;
    height: 8vw;
    padding: 4vw 3.74vw 8vw;
}

.page-tab > div {
    height: 8vw;
    border: 1px solid #2888BB;
    border-radius: 5px;
    font-size: 3.5vw;
}

.page-tab > div > div {
    width: 49.5%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 8.5vw;
}

.page-tab > div > div:nth-of-type(1) {
    border-right: 1px solid #2888BB; 
}

.active-tab {
    background: #2888BB !important;
    color: #FFFFFF !important;
}

/***************************** input item ****************************/
.page-input {
    padding-bottom: 5vw;
}

.input-item {
    width: 100vw;
    height: 15vw;
}

.input-item label {
    width: 31.5vw;
    line-height: 12vw;
    text-align: right;
    display: inline-block;
    font-size: 4vw;
}

.input-item select {
    width: 51vw;
    height: 8vw;
}

.input-item input {
    width: 50vw;
    height: 6vw;
}

.btn-long {
    width: 70vw;
    height: 10vw;
    margin: auto;
    margin-bottom: 3vw;
    margin-top: 5vw;
}

.active-btn {
    width: 70vw;
    height: 10vw;
    border: none;
    border-radius: 10px;
    background: #2888BB;
    color: #fff;
    outline: none;
}

.btn-short {
    width: 20vw;
    height: 10vw;
    margin: auto;
}

.clear-btn {
    width: 20vw;
    height: 10vw;
    border: none;
    background: #fff;
    outline: none;
}