# Non-project-specific build files:
TemplateCordovaAPP/platforms/android/build.xml
TemplateCordovaAPP/platforms/android/local.properties
TemplateCordovaAPP/platforms/android/gradlew
TemplateCordovaAPP/platforms/android/gradlew.bat
TemplateCordovaAPP/platforms/android/.gradle
TemplateCordovaAPP/platforms/android/.idea
TemplateCordovaAPP/platforms/android/*/*.iml
TemplateCordovaAPP/platforms/android/*.iml
TemplateCordovaAPP/platforms/android/gradle.properties
# Ant builds
TemplateCordovaAPP/platforms/android/ant-build
TemplateCordovaAPP/platforms/android/ant-gen
# Eclipse builds
TemplateCordovaAPP/platforms/android/gen
TemplateCordovaAPP/platforms/android/out
# Gradle builds
TemplateCordovaAPP/platforms/android/*/build
#ios
TemplateCordovaAPP/platforms/ios/*/xcuserdata
TemplateCordovaAPP/platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/
TemplateCordovaAPP/platforms/ios/*/project.xcworkspace

APP/*/hooks/
APP/*/platforms/
APP/*/plugins/
