/********************************************** viewCardsList *********************************************/ 	

.qstore-card {
    background: url(../viewCardsList/img/qstore_list.png) no-repeat;
    background-size: 100vw;	
    width: 100vw;
    height: 30vw;
    align-self: center;	      
} 	

.medical-card {
    background: url(../viewCardsList/img/medical_equip_list.png) no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 30vw;
    align-self: center;	      
} 	

.quality-card {
    background: url(../viewCardsList/img/qisda_quality_list.png) no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 30vw;
    align-self: center;	      
} 	

.safety-card {
    background: url(../viewCardsList/img/enviro_safety_list.png) no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 30vw;
    align-self: center;	      
} 	

.calendar-card {
    background: url(../viewCardsList/img/2019_calendar_list.png) no-repeat;
    background-size: 100vw;
    margin-top: 7.8vw;  
    width: 100vw;
    height: 30vw;
    align-self: center;       
}   