<span id="tmp_option_width" class="hidden" style="font-size:2.8vh"></span>
<div data-role="page" id="viewMain">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div id="container" class="header-style">
            <div id="center" class="ui-title">Parking</div>
        </div>
    </div>
    <div data-role="main" class="page-main" style="line-height: initial !important;">
        <div class="ui-margin-public" style="text-align: center;">
            <div id="reserveTab" data-role="controlgroup" data-type="horizontal" class="ui-radio-50w">
                <input type="radio" name="tab" id="tab1" value="tab1" checked="checked">
                <label for="tab1">一般預約</label>
                <input type="radio" name="tab" id="tab2" value="tab2">
                <label for="tab2">我的預約</label>
                <input type="radio" name="tab" id="tab3" value="tab3">
                <label for="tab3">注意事項</label>
            </div>
        </div>
        <div class="ui-margin-public" id="pageOne">
            <select name="reserveSite" id="reserveSite" data-role="none" class="dropdown-icon" style="margin-bottom: 2.14vw;">
                <option value="92">BQT/QTT</option> 
                <option value="111">QTY</option>
            </select>
            <div class="inline word-mid">
                <div id="alertLimitSiteMsg" class="disable inline word-warp"></div>
            </div>
            <div id="scrollDate" class="scrollmenu">
                <a id="reserveDefault" href="#" class="disable">ReserveDay&nbsp;ReserveDict</a>
            </div>
            <div class="inline" style="margin-top: 4.3vw; margin-bottom: 2.14vw;">可預約車位</div>
            <div id="reserveSpace" class="scrollmenu">
            </div>
            <div style="margin: 6.44vw 0 2.14vw 0; font-size: 3.55vw;text-align: left;">
                <div class="inline">開始使用時間</div>
                <div style="display: inline-block;position: absolute;right: 4vw;">
                    <div class="inline square ui-color-reserve"></div>
                    <div class="inline" style="margin-right: 2vw;">不可預約</div>
                    <div class="inline square ui-color-myreserve"></div>
                    <div class="inline">我的預約</div>
                </div>
            </div>
            <div id="reserveDateSelect">
                <div class="ui-grid-c">
                    <div id="defaultTimeSelectId" class="ui-block-a disable reserve" ename="[eName]" msg="[msg]" ext="[ext]" email="[email]" traceID="[traceID]">
                        <div class="ui-bar">
                            <div>reserveTimeSelect</div>
                            <div class="circle-icon">[eName]</div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time08-00" class="ui-block-a ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div class="time">08:00</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time08-30" class="ui-block-b ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div class="time">08:30</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time09-00" class="ui-block-c ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div class="time">09:00</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time09-30" class="ui-block-d ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>09:30</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time10-00" class="ui-block-a ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>10:00</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time10-30" class="ui-block-b ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>10:30</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time11-00" class="ui-block-c ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>11:00</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time11-30" class="ui-block-d ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>11:30</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time12-00" class="ui-block-a ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>12:00</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time12-30" class="ui-block-b ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>12:30</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time13-00" class="ui-block-c ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>13:00</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time13-30" class="ui-block-d ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>13:30</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time14-00" class="ui-block-a ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>14:00</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time14-30" class="ui-block-b ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>14:30</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time15-00" class="ui-block-c ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>15:00</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time15-30" class="ui-block-d ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>15:30</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time16-00" class="ui-block-a ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>16:00</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time16-30" class="ui-block-b ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>16:30</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time17-00" class="ui-block-c ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>17:00</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                    <div id="time17-30" class="ui-block-d ui-color-noreserve" ename="" msg="" ext="" email="" reserveid="">
                        <div class="ui-bar">
                            <div>17:30</div>
                            <div class="circleIcon iconSelect"></div>
                            <div class="timeRemind"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
