<div data-role="page" id="viewParkingDetailAdd">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div id="container" class="header-style">
            <div id="left" class="ui-title-btn">
                <a id="newSettingBack" href="#"><img src="img/002_nav_back_white.png" class="title-icon" /></a>
            </div>
            <div id="center" class="ui-title"><span>新增車籍</span></div>
            <div id="right" class="ui-title-btn"><span>儲存</span></div>
        </div>
    </div>
    <div data-role="main" class="page-main" style="font-size: 3.349vw;">
        <div class="ui-margin-public">
            <div id="newApplicantName">
                <div class="ui-grid-a">
                    <div class="ui-block-a col-7">
                        <span>申請人資訊(公司名稱/姓名)</span>
                    </div>
                    <div class="ui-block-b col-3">
                        <input name="newSettingTitle" id="newSettingTitle" type="text" placeholder="請輸入" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
