<div data-role="page" id="viewQTYParkingDetail">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div id="container" class="header-style">
            <div id="left" class="ui-title-btn">
                <a id="QTYSettingBack" href="#"><img src="img/002_nav_back_white.png" class="title-icon" /></a>
            </div>
            <div id="center" class="ui-title"><span>車位預約</span></div>
            <div id="right" class="ui-title-btn"></div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <div class="parking-detail-add">
            <div id="QTYReserveDetail" class="disable" style="font-size: 3.14vw !important;">
                <div class="reserveSpace">預約車位: QTY [space]</div>
                <div style=" margin-bottom: 2.14vw;">預約時間: [date] [time]</div>
            </div>
            <div id="newApplicantName">
                <div class="ui-grid-a">
                    <div class="ui-block-a col-7 addParkingTitle" style=" margin-bottom: 1.16vw;">
                        <span>*申請人資訊(公司名稱/姓名)</span>
                    </div>
                    <div class="ui-block-a col-7 addParkingTitle disable" id="nonCarList" style="font-size: 4.18vw !important;">
                        <div class="car-list-choose-button" id="nonCarListTemplate">選擇常用車籍</div>
                    </div>
                    <div class="ui-block-a col-7 addParkingTitle disable" id="commonQTYCarList" style="font-size: 4.18vw !important;">
                        <div id="eventTemplateSelectContent"></div>
                    </div>
                    <div class="ui-block-b col-3">
                        <textarea id="newSettingTitleQTY" data-autogrow="false" class="ui-input-text"></textarea>
                    </div>
                </div> 
            </div>          
            <div id="newApplicantType">
                <div class="title addParkingTitle">
                    <span>*申請者類別</span>
                </div>
                <div id="newSettingTypeQTY">
                        <input type="radio" data-role="none" name="setApplicantType" id="setGuestQTY" value='setGuestQTY' checked="checked">
                        <label data-role="none" class="overlap-label-icon" for="setGuestQTY"></label>
                        <label data-role="none" class="overlap-label-text" style=" margin-bottom: 4.3vw;">
                            <span>貴賓</span>
                        </label>
                        <input type="radio" data-role="none" name="setApplicantType" id="setRelatedBusinessQTY" value='setRelatedBusinessQTY'>
                        <label data-role="none" class="overlap-label-icon" for="setRelatedBusinessQTY"></label>
                        <label data-role="none" class="overlap-label-text">
                            <span>關係企業</span>
                        </label>
                </div>
            </div>
            <div id="newCarDetail">
                <div class="ui-grid-a">
                    <div class="ui-block-a col-7 addParkingTitle">
                        <span>*車型/車牌號碼</span>
                    </div>
                    <div class="ui-block-b col-3">
                        <textarea id="newSettingCarQTY" data-autogrow="false" class="ui-input-text"></textarea>
                    </div>
                </div>
            </div>
            <div id="newNoticeEvent">
                <div class="ui-grid-a">
                    <div class="ui-block-a col-7 addParkingTitle">
                        <span>*相關注意事項</span>
                    </div>
                    <div class="ui-block-b col-3">
                        <textarea id="newSettingNoticeQTY" data-autogrow="false" class="ui-input-text"></textarea>
                    </div>
                </div>
            </div>
            <div id="remark">*號為必填欄位,不得為空</div>
            <div id="reserveQTYBtn" class="btn-disable radius-btn" style="margin: 3.25vw auto 0;">確定預約</div>
            <div id="cancelQTYCarList"><a id="viewMainBack" href="#">取消</a></div>
            <div class="toast-style" id="nonCommonCarListMsg">
                <span class="langStr" data-id="str_169">無常用車籍</span>
            </div>
        </div>
    </div>
    <!-- reserve fail msg -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" class="app-popup lessInfo DetailInfo reserveQTYFailPopup" style="min-height: 33.2vw;max-height: 33.2vw !important;border-radius: 10px;" for="reserveQTYFailPopup">
        <div data-role="main" class="ui-content-QTY">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon'><img src="img/select.png" alt=""></span><span class="header-text"></span>
                </div>
            </div>
            <div class="main-QTT">
                <p class="main-paragraph font-style3">
                </p>
            </div>
            <div class="footer">
                <div class="btn-one font-style8 btnArea">
                    <div class="btn-cancel">確定</div>
                </div>
            </div>
        </div>
    </div>
</div>
