td.grid_long_column {
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
td.grid_warp_column {
    word-break:break-all;
}
.error{
    color: red;
}
.head-version{
    color: #d73925;
    font-size: 20px;
    line-height: 50px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    padding:20px;
}
.label-hint {
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
}
.table-title{
    text-align: center !important;
    vertical-align: middle !important;
}
.bg-color-pink{
    background-color: #f9edf7;
}
.bg-colot-blue{
    background-color: #d9edf7;
}