td.grid_long_column {
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
td.grid_warp_column {
    word-break:break-all;
}
.error{
    color: red;
}
.head-version{
    color: #d73925;
    font-size: 20px;
    line-height: 50px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    padding:20px;
}
.label-hint {
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
}
.report-table .table-title{
    text-align: center !important;
    vertical-align: middle !important;
}
.report-table td{
    text-align: center;
}
.report-table .js-total{
    font-weight:bold;
}
.bg-color-pink{
    background-color: #f9edf7;
}
.bg-color-blue{
    background-color: #d9edf7;
}
.text-blod{
    font-weight:bold;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    cursor: default;
}
.dropdown-menu>li>a {
    cursor: pointer;
}
.label-published {
    color: #fff;
    background-color: #5cb85c;
    border-radius: 3px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
}
.label-unpublished {
    color: #5cb85c;
    background-color: transparent;
    border: 1px solid;
    border-radius: 3px;
    border-color:#5cb85c;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.loader{
   content:url('./images/loading.gif');
   height: 50px;
   width: 50px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
@media only screen and (max-width: 400px) {
    .responsive_container{
        height: 200px;
    }
}
@media only screen and (min-width: 400px) {
    .responsive_container{
        height: 400px;
    }
}
label.sub-title{
    margin-bottom:20px;
}