
<!--template @dropdown list-->
<template id="tplDropdownList">
    <select data-role="none" class="tpl-dropdown-list">
        <template id="tplDropdownListOption">
            <option hidden></option>
        </template>
        <template id="tplDropdownListOptionList">
            <option hidden></option>
        </template>
    </select>
</template>
<span data-id="tmp_option_width" class="hidden" style="font-size:2.8vh"></span>

<!--template @tplOptionMsg-->
<template id="tplOptionMsg">
    <div class="app-popup" data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false">
        <div data-role="main" class="ui-content">
            <div class="close">X</div>
            <ul style="list-style: none;">
                <template id="tplOptionMsgList">
                    <li style="height: 4vh;"></li>
                </template>
            </ul>

            <!--
            <h1 id="msgTitle"><img id="titleImg" src="" class="hide"><span id="titleText"></span></h1>
            <div id="msgContent"></div>
            <button id="cancel"></button>
            <button id="confirm"></button>
            -->
        </div>
    </div>
</template>
