<!-- *** main *** -->
<!--template @content with 1 paragraph-->
<template id="tplMainParagraph">
    <p class="main-paragraph font-style3">
        Network is disconnected<br>please check the connection!
    </p>
</template>

<!--template @content with scroll list-->
<!-- ariel: .main-scroll-list's height need calculate by jquery -->
<template id="tplMainScrollList">
    <div class="main-scroll-list">
        <ul class="font-style3">
            <li><span class="list-icon"></span>Kevin.CM.Huang</li>
            <li><span class="list-icon"></span>Steven.Yan</li>
            <li><span class="list-icon"></span>Wendy Shih</li>
            <li><span class="list-icon"></span>Allen.Su</li>
            <li><span class="list-icon"></span>Ariel.H.Yih</li>
        </ul>
    </div>
</template>