
<!--template @popup-->
<template id="tplPopup">
    <div class="app-popup" data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="true">
        <div data-role="main" class="ui-content">
            <div class="header"></div>
            <div class="main"></div>
            <div class="footer"></div>
        </div>
    </div>
</template>

<!--template @popup content > hr-->
<template id="tplPopupContentHr">
    <hr class="ui-hr">
</template>

<!--template @popup content > dorpdown list option-->
<template id="tplPopupContentDropdownListOption">
    <!--header: Title or Button-->
    <div class="header typeA close">
        <img src="img/component/close_new.png" width="100%" height="100%">
    </div>
    <div class="header typeB">
        <div class="close">
            <img src="img/component/close_new.png" width="100%" height="100%">
        </div>
        <div class="title">
            
        </div>
    </div>
    <!--main: Ul listview-->
    <ul data-role="listview" class="main">
        <template id="tplPopupContentDropdownListLi">
            <li class="tpl-option-msg-list"></li>
        </template>
        <template id="tplPopupContentDropdownListHr">
            <hr class="ui-hr">
        </template>
    </ul>
    <!--footer: Button-->
</template>

