
<!--template @popup-->
<template id="tplPopup">
    <div class="app-popup" data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false">
        <div data-role="main" class="ui-content">

        </div>
    </div>
</template>

<!--template @popup content > dorpdown list option-->
<template id="tplPopupContentDropdownListOption">
    <div class="close">X</div>
    <ul>
        <template id="tplPopupContentDropdownListLi">
            <li class="tpl-option-msg-list"></li>
        </template>
        <template id="tplPopupContentDropdownListHr">
            <hr class="ui-hr">
        </template>
    </ul>
</template>