<!-- *** header *** -->
<!--template @header with 1 title-->
<template id="tplHeaderTitleOne">
    <div class="font-style3 header-title-main">[機房緊急通報_停電]</div>
</template>

<!--template @header with 1 title and x btn-->
<!-- if has close btn X, add class 'header-closeX' in .header -->
<template id="tplHeaderXbtn">
    <div class="btn-closeX btn-cancel"></div>
</template>

<!--template @header with 1 title and img-->
<template id="tplHeaderTitleOneImg">
    <div class="font-style3 header-title-main">
        <span class='header-icon'>
            <img src="img/urgent.png" alt="">
        </span>
        <span class="header-text">16003</span>
    </div>
</template>

<!--template @header with 2 title-->
<template id="tplHeaderTitleTwo">
    <div class="header-content header-content-type2">
        <div class="font-style2 header-title-main">[機房緊急通報_停電]</div>
        <div class="font-style3 header-title-sub">因xxx原因，請QTY機房進行關機作業</div>
    </div>
</template>

<!--template @header with 3 title-->
<template id="tplHeaderTitleThree">
    <div class="header-content header-content-type3">
        <!-- can add class 'hidden' on .header-icon when there is no icon need to show-->
        <div class="font-style3 header-title-subsub">
            <span class='header-icon'>
                <img src="img/urgent.png" alt="">
            </span>
            <span class="header-text">16003</span>
        </div>
        <div class="font-style2 header-title-main">[機房緊急通報_停電]</div>
        <div class="font-style3 header-title-sub">因xxx原因，請QTY機房進行關機作業</div>
    </div>
</template>