/*************************** viewStaffAdminDetail ********************************/
#viewStaffAdminDetail .page-main{
    width: 100vw;
    padding: 0 !important;
    position: fixed;
}

.notice-detail-title,
.notice-detail-content{
    width: 92.58vw;
    padding: 5vw 3.71vw 0;
    color: #253137;
    font-size: 3.768vw;
}

.notice-detail-content img{
    width: 92.58vw;
}

.notice-detail-time{
    width: 92.58vw;
    padding: 2.14vw 3.71vw 0;
    color: #8ea3ac;
    font-size: 3.349vw;
}

.notice-detail-img{
    width: 92.58vw;
    height: 50vw;
    margin: 5vw 3.71vw 0;
    background: lightgray;
}

.editNoticeBtn{
    position: absolute;
    width: 35.5vw;
    height: 10.5vw;
    bottom: 12vw;
    left: 32.25vw;
    text-align: center;
    line-height: 10.5vw;
    background: #d5d5d5;
    color: #979797;
    font-size: 4.18vw;
    display: none;
}

.deleteNoticeBtn{
    position: absolute;
    width: 20vw;
    bottom: 2vw;
    left: 40vw;
    text-align: center;
    line-height: 10.5vw;
    color: #2A87BA;
    font-size: 4.18vw;
    display: none;
}

.deleteNoticePopup .ui-content{
    padding: 0;
}

.deleteNoticePopup .ui-content>.header{
    padding: 10vw 0 5vw;
}