html{ 
	background-color:#fdfdfd;
	font-family:Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust:none;
}

/* ==頁首區=========== */

header{
	width:100%;
	background-color:#2B87BA;
	box-shadow:0 3px 6px #ccc;
}

header h1{
	color:#FFF;
	text-align:center;
	font-size:14px;
	line-height:42px;
	font-family:"微軟正黑體", "Arial";
}


/* ==內容區=========== */

article{
	width:100%;
	-webkit-box-sizing:border-box;
	padding:20px;
}

article h3{
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
	font-size:12px;
}
article p{
	margin-top:5px;
	font-size:12px;
	padding-bottom:3px;
	line-height:1.2;}
article img{
	display:block;
	margin:0 auto;
}
.downloadbtn{
	display:block;
	margin:0 auto;
	}
