/********************************************** PersonalInsurace *********************************************/

.health-insur-list {
    width: 86.5vw;
    height: 14.5vw;
    padding: 3vw 6.71vw;
}

.health-insur-list > div {
    float: left;
}

.health-insur-list ::after {
    clear: both;
}

.health-insur-list > .content-list-only-img {
    width: 64.5vw; 
    height:14.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.health-insur-list > .content-list-text-img {
    width: 66.5vw;
    height:14.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.group-list > div:nth-of-type(2),
.health-insur-list > div:nth-of-type(1) > div:nth-of-type(2),
.health-insur-list > div:nth-of-type(1) > div:nth-of-type(3) {
    margin-top: 1.16vw;
}

.health-insur-list > .list-only-img {
    width: 22vw;
    height: 10vw;
    padding-top: 3.5vw;
}

.health-insur-list > .list-text-img {
    width: 20vw;
    height: 10vw;
    padding-top: 3.5vw;
}

.health-insur-list > div:nth-of-type(2) > label {
    display: inline-block;
    color: #e92729;
}

.empty-list, .group-list {padding: 3vw 6.71vw;}

.activity-line {
    width: 100vw;
    height: 1px;
    /*margin-left: 3.71vw;*/
    background-color: #d6d6d6;
    overflow: hidden;
}

.cancelFailMsg >.ui-content,
.recordFailMsg >.ui-content,
.detailTimeOverMsg >.ui-content,
.signupTimeOverMsg >.ui-content,
.manageTimeOverMsg >.ui-content,
.selectTimeOverMsg >.ui-content,
.recordTimeOverMsg >.ui-content,
.confirmCancelApply >.ui-content,
.confirmCancelPendingApply >.ui-content,
.confirmCancelApplyToDetail >.ui-content {
    padding: 0 !important;
}

.cancelFailMsg .ui-content>.header,
.recordFailMsg .ui-content>.header,
.detailTimeOverMsg .ui-content>.header,
.signupTimeOverMsg .ui-content>.header,
.manageTimeOverMsg .ui-content>.header,
.selectTimeOverMsg .ui-content>.header,
.recordTimeOverMsg .ui-content>.header,
.confirmCancelApply .ui-content>.header,
.confirmCancelPendingApply .ui-content>.header,
.confirmCancelApplyToDetail .ui-content>.header {
    margin-top: 14%;
}

.cancelFailMsg .ui-content>.main,
.recordFailMsg .ui-content>.main,
.detailTimeOverMsg .ui-content>.main,
.signupTimeOverMsg .ui-content>.main,
.manageTimeOverMsg .ui-content>.main,
.selectTimeOverMsg .ui-content>.main,
.recordTimeOverMsg .ui-content>.main,
.confirmCancelApply .ui-content>.main 
.confirmCancelApplyToDetail .ui-content>.main {
    margin-top: 12%;
}

.confirmCancelPendingApply .ui-content>.main {
    margin-top: 6%;
}
