<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="394" id="com.qplay.appensdev" ios-CFBundleVersion="394" version="1.0.0.394[Development]" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ENS</name>
    <description>A sample Apache Cordova application that responds to the deviceready event.</description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">Apache Cordova Team</author>
    <content src="index.html" />
    <preference name="orientation" value="portrait" />
    <access origin="*" />
    <access launch-external="yes" origin="tel:*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="appqplaydev:*" />
    <allow-intent href="*:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidLaunchMode" value="singleTask" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    </platform>
    <platform name="ios">
        <hook src="hooks/xcode8.js" type="before_compile" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="iosPersistentFileLocation" value="Compatibility" />
    </platform>
    <plugin name="cordova-connectivity-monitor" spec="~1.2.2" />
    <plugin name="cordova-plugin-ios-camera-permissions" spec="~1.1.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="This app needs camera access" />
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value="This app needs microphone access" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="This app needs photo library access" />
    </plugin>
</widget>
