<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="725" id="com.qplay.appensdev" ios-CFBundleVersion="725" version="3.0.0.725[Development]" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ENS</name>
    <description>A sample Apache Cordova application that responds to the deviceready event.</description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">Apache Cordova Team</author>
    <content src="index.html" />
    <preference name="orientation" value="portrait" />
    <access origin="*" />
    <access launch-external="yes" origin="tel:*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="appqplaydev:*" />
    <allow-intent href="*:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidLaunchMode" value="singleTask" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    </platform>
    <platform name="ios">
        <hook src="hooks/xcode8.js" type="before_compile" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="iosPersistentFileLocation" value="Compatibility" />
    </platform>
    <plugin name="cordova-connectivity-monitor" spec="~1.2.2" />
    <engine name="ios" spec="~4.5.4" />
    <engine name="android" spec="~6.3.0" />
    <plugin name="cordova-plugin-device" spec="../../plugins/cordova-plugin-device" />
    <plugin name="cordova-plugin-appversion" spec="../../plugins/cordova-plugin-appversion" />
    <plugin name="cordova-plugin-app-update" spec="../../plugins/cordova-plugin-app-update" />
    <plugin name="cordova-plugin-android-permissions" spec="../../plugins/cordova-plugin-android-permissions" />
    <plugin name="cordova-plugin-customurlscheme" spec="../../plugins/cordova-plugin-customurlscheme">
        <variable name="URL_SCHEME" value="appensdev" />
        <variable name="ANDROID_SCHEME" value=" " />
        <variable name="ANDROID_HOST" value=" " />
        <variable name="ANDROID_PATHPREFIX" value="/" />
    </plugin>
    <plugin name="cordova-plugin-qsecurity" spec="../../plugins/cordova-plugin-qsecurity">
        <variable name="SCHEME_SETTING" value="&lt;string&gt;appqplaydev&lt;/string&gt;&lt;string&gt;appensdev&lt;/string&gt;" />
    </plugin>
    <plugin name="cordova-plugin-whitelist" spec="../../plugins/cordova-plugin-whitelist" />
    <plugin name="cordova-plugin-inappbrowser" spec="../../plugins/cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-camera" spec="../../plugins/cordova-plugin-camera">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" " />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-ios-camera-permissions" spec="../../plugins/cordova-plugin-ios-camera-permissions">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="This app needs camera access" />
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value="This app needs microphone access" />
        <variable name="PHOTOLIBRARY_ADD_USAGE_DESCRIPTION" value="This app needs write-access to photo library" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="This app needs read/write-access photo library access" />
    </plugin>
    <plugin name="jmessage-phonegap-plugin" spec="../../plugins/jmessage-phonegap-plugin">
        <variable name="APP_KEY" value="6e51cf3c174910d247ac76f3" />
    </plugin>
    <plugin name="phonegap-plugin-mobile-accessibility" spec="../../plugins/phonegap-plugin-mobile-accessibility" />
    <plugin name="jpush-phonegap-plugin" spec="../../plugins/jpush-phonegap-plugin">
        <variable name="APP_KEY" value="6e51cf3c174910d247ac76f3" />
    </plugin>
</widget>
