@charset "utf-8";
/* CSS Document */

.Wrapper{
	display:block;
	background-image: url(../img/bg.png);
	width:1125px;
	height:2001px;
	position:relative;
}
.Logo{
	background-image: url(../img/logo.png);
	width: 306px;
	height: 436px;
	position: absolute;
	left: 384px;
	top: 212px;
	}
.Google{
	background-image: url(../img/googleplay.png);
	width: 844px;
	height: 276px;
	position: absolute;
	left: 128px;
	top: 882px;
	}
.Appstore{
	background-image: url(../img/app%20store.png);
	width: 844px;
	height: 276px;
	position: absolute;
	left: 129px;
	top: 1322px;
	}
