/*override jQuery Mobile*/
#viewWebNews2-3-1 .ui-content {
    padding: 10px 0 0 0 ;
    background-color: #FFF;
}

#viewWebNews2-3-1 .Content_Content p {
    margin: 0;
}

/*new class*/
.initialMain {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 30%;
}

.initialLogo {
    margin-top: 20%;
    margin-bottom: 45%;
}

.appDetailIcon {
    float: left;
    width: 72px;
    height: 85px;
}

.appDetailInfo {
    line-height: 6px;
    margin-left: 85px;
}

.appDetailAppName {
    font-size: 1.5em;
    margin-top: 8px;
    margin-bottom: 10px;
    font-weight: bold;
}

.install-btn {
    width: 100px !important;
    height: 10px !important;
    float:right !important;
    text-align: center !important;
    line-height: 10px !important;
    color:white !important;
    background-color:#28004D !important;
    border-color:#28004D !important;
    margin-top:0px !important;
}

.detail-description-style {
    margin-top: 30%;
    margin-bottom: 15%;
    width: auto !important;
    text-align: center !important;
}

.rank-style {
    margin: auto;
    margin-bottom: 15%;
    display: block !important;
}

.news-header {
    position: relative;
    width: auto;
    background-size: 100% auto;
}

.header-normal {
    background-image: url(../img/header.svg);
}

.header-left {
    width: 63%;
    float: left;
}

.header-right {
    position: absolute;
    left: 63%;
    width: 37%;
    height: 100%;
    text-align: center;
    font-family: "Gill Sans MT";
}

.priority-title {
    font-size: 12px;
    color: #FFF;
    position: relative;
}

.priority-normal {
    font-size: 16px;
    color: #ccffcc;
}
   
.priority-high {
    font-size: 16px;
    color: #ffff99;
}

.header-date {
    font-size: 16px;
    color: #FFF;
    position: relative;
}

.footer-top {
    width: 100%;
    background-color: #fafafa;
}

.footer-top div{
    float: left;
}

.footer-benq {
    background-image:url(../img/benq_logo.png);
    background-size: 95% 95%;
}

.footer-qisda {
    background-image:url(../img/qisda_logo.png);
    background-size: 95% 95%;
}

.footer-text {
    text-align: right;
    padding-right: 15px;
}

.footer-bottom {
    width: 100%;
    height: 10px;
    background-color: #000;
}

.content-bg{
    background-color:#fafafa;
    overflow:hidden;
    padding: 0 15px;
}

.Author_icon{
    width:30px;
    height:24px;
    background-image:url(../img/auther.png);
    float:left;
}

.Author_Content{
    overflow-wrap: break-word;
    width: 80%;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    color:#181818;
    margin-left:12px;
    float:left;
    line-height: 1.5;
}

.Content_Block {
    clear: both;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Content_icon{
    width:30px;
    height:24px;
    background-image:url(../img/content.png);
    float:left;
}

.Content_Content{
    overflow-wrap: break-word;
    width: 85%;
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    color:#0d0d0d;
    float:left;
    margin: 5px 0 0 12px;
}

#newsDetailTitle {
    color: #492582;
}