/*override jQuery Mobile*/

#viewNewsEvents2-3 .ui-listview>.ui-li-static {
    padding: 0;
}

#viewWebNews2-3-1 .ui-content {
    padding: 10px 0 0 0;
    background-color: #FFF;
}

#viewWebNews2-3-1 .Content_Content p b strong{
    word-wrap: break-word !important;
}

#viewWebNews2-3-1 .Content_Content {
    word-wrap: break-word !important;
}

#viewWebNews2-3-1 .Content_Content table {
    border-collapse:collapse;
    table-layout:fixed;
    width:70% !important;
}

#viewWebNews2-3-1 .Content_Content table td {
    border:solid 1px #fab;
    width:70% !important;
    word-wrap:break-word;
}

#viewAppDetail2-2 .ui-content {
    padding: 0;
    word-wrap: break-word !important;
}

/*new class*/

.initialMain {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 30%;
}

.initialLogo {
    margin-top: 20%;
    margin-bottom: 45%;
}

.app-list-scroll-area {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.app-list-item {
    width: 25vw;
    float: left;
    margin-right: 10px;
}

.app-list-name {
    font-size: 0.8em;
    margin-top: 0px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.appDetailIcon {
    width: 25%;
    height: 25%;
    display: inline-block;
    float: left;
}

.appDetailInfo {
    line-height: 6px;
    float: left;
    margin-left: 10px;
}

.appDetailAppName {
    font-size: 1.5em;
    margin-top: 8px;
    margin-bottom: 10px;
    font-weight: bold;
}

.install-btn-content {
    clear: both;
    width: 100%;
    height: auto;
    text-align: right;
}

.install-btn {
    width: 100px !important;
    height: 10px !important;
    text-align: center !important;
    line-height: 10px !important;
    color: white !important;
    background-color: #28004D !important;
    border-color: #28004D !important;
    margin-top: 0px !important;
}

.detail-description {
    margin-bottom: 2%;
    width: auto !important;
    text-align: center !important;
    overflow: scroll;
}

.rank {
    text-align: center;
    margin-bottom: 5%;
    opacity: 0;
}

#appDetailPicList {
    width: 100%;
    height: 33vh;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.detail-img-style {
    float: left;
    width: 20vh;
    height: 31vh;
}

.news-header {
    position: relative;
    width: auto;
    background-size: 100% auto;
}

.header-normal {
    background-image: url(../img/header.svg);
}

.header-left {
    width: 63%;
    float: left;
}

.header-right {
    position: absolute;
    left: 63%;
    width: 37%;
    height: 100%;
    text-align: center;
    font-family: "Gill Sans MT";
}

.priority-title {
    font-size: 12px;
    color: #FFF;
    position: relative;
}

.priority-normal {
    font-size: 16px;
    color: #ccffcc;
}

.priority-high {
    font-size: 16px;
    color: #ffff99;
}

.header-date {
    font-size: 16px;
    color: #FFF;
    position: relative;
}

.footer-top {
    width: 100%;
    background-color: #fafafa;
}

.footer-top div {
    float: left;
}

.footer-benq {
    background-image: url(../img/benq_logo.png);
    background-size: 95% 95%;
}

.footer-qisda {
    background-image: url(../img/qisda_logo.png);
    background-size: 95% 95%;
}

.footer-text {
    text-align: right;
    padding-right: 15px;
}

.footer-bottom {
    width: 100%;
    height: 10px;
    background-color: #000;
}

.content-bg {
    background-color: #fafafa;
    overflow: hidden;
    padding: 0 15px;
}

.Author_icon {
    width: 30px;
    height: 24px;
    background-image: url(../img/auther.png);
    float: left;
}

.Author_Content {
    overflow-wrap: break-word;
    width: 80%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #181818;
    margin-left: 12px;
    float: left;
    line-height: 1.5;
}

.Content_Block {
    clear: both;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Content_icon {
    width: 30px;
    height: 24px;
    background-image: url(../img/content.png);
    float: left;
}

.Content_Content {
    overflow-wrap: break-word;
    width: 85%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0d0d0d;
    float: left;
    margin: 5px 0 0 12px;
    overflow-x: hidden;
    /*white-space: nowrap;*/
    word-wrap: break-word !important;
}

.Content_Content table {
    width: 100% !important;
    display: block;
}

.Content_Content tbody {
    display: inline-block;
    width: 100% !important;
    overflow: auto;
}

.Content_Content img {
    width: 80% !important;
    height: 80% !important;
}

#newsDetailTitle {
    color: #492582;
}

#viewAppDetail2-2 .page-main {
    background-color: #FFF;
}

#viewAppDetail2-2 .bottom {
    background-color: #f9f9f9;
}

#viewAppDetail2-2 .top,
#viewAppDetail2-2 .bottom {
    padding: 5%;
}

#viewAppDetail2-2 .top {
    padding-bottom: 0;
}
/*
p,
li,
div {
    word-wrap: break-word !important;
}
*/