/*override jQuery Mobile*/
#viewNewsEvents2-3  {
    height: 100% !important;
}

#viewMain2-3  {
    height: 100% !important;
}

#viewMain2-1  {
    height: 100% !important;
}

.ui-page .ui-header {
    background-color: #492f7f;
    color: #fff;
    font-size: 2.9vh;
}

#viewNewsEvents2-3 .ui-listview>.ui-li-static {
    padding: 0;
}

#viewNewsEvents2-3 #navMessage .ui-btn {
    background-color: #492f7f;
    padding: 5px 1em;
    border-width: 0px;
}

#viewNewsEvents2-3 #navDelete .ui-btn {
    background-color: #656565;
    color: #FFF;
    font-size: 4.39vw;
    height: 6vw;
    border-width: 0px;
    text-shadow: none;
}

#viewNewsEvents2-3 #navDelete .ui-btn.btn-disabled {
    color: #000000;
    text-shadow: none;
}

#viewWebNews2-3-1 .ui-content.page-main {
    padding: 0;
    background-color: #FFF;
    font-size: 3.55vw;
}

#viewWebNews2-3-1 .Content_Content p b strong{
    word-wrap: break-word !important;
}

#viewWebNews2-3-1 .Content_Content {
    word-wrap: break-word !important;
}

#viewWebNews2-3-1 .Content_Content table {
    border-collapse:collapse;
    table-layout:fixed;
    width:70% !important;
}

#viewWebNews2-3-1 .Content_Content table td {
    border:solid 1px #fab;
    width:70% !important;
    word-wrap:break-word;
}

#viewAppDetail2-2 .ui-content {
    padding: 0;
    word-wrap: break-word !important;
}

.event-list-content.ui-content .ui-listview,
.event-list-content.ui-panel-inner>.ui-listview {
    margin: 0;
}

/*----------------------new class----------------------*/

.initialMain {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 30%;
}

.initialLogo {
    margin-top: 20%;
    margin-bottom: 45%;
}

/* qplay button */

.q-btn-footer-icon {
    width: 4.3vh;
    margin-left: 18vw;
    float: left;
}

.q-btn-footer-text {
    font-size: 2.5vw;
    padding-top: 5px;
    clear: both;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    background: url('../img/checkbox.png') no-repeat;
    background-size: 6vw 6vw;
    height: 6vw;
    width: 6vw;
    display: inline-block;
    padding: 0 0 0 0;
}

input[type=checkbox]:checked + label {
    background: url('../img/checkbox_selected.png') no-repeat;
    background-size: 6vw 6vw;
    height: 6vw;
    width: 6vw;
    display: inline-block;
    padding: 0 0 0 0;
}

input[type=radio] {
    display:none;
}

input[type=radio] + label {
    background: url('../img/radio.png') no-repeat;
    background-size: 6vw 6vw;
    height: 6vw;
    width: 6vw;
    display: inline-block;
    padding: 0 0 0 0;
}

input[type=radio]:checked + label {
    background: url('../img/radio_selected.png') no-repeat;
    background-size: 6vw 6vw;
    height: 6vw;
    width: 6vw;
    display: inline-block;
    padding: 0 0 0 0;
}

.overlap-label-icon {
    clear: both;
    float: left;
}

.overlap-label-text {
    line-height: 6.5vw;
    padding-left: 9vw;
    width: 85%;
    color: #0F0F0F;
    font-size: 3vh;
    text-align: left;
}

.overlap-label-checkbox {
    position: absolute;
    width: 7vw;
    height: 100%;
    top: 0;
    left: 0;
}

/* app list / detail */
.app-list-category {
    color: #0F0F0F;
    font-size: 2.9vh;
    display: inline-block;
    line-height: 0;
    margin-bottom: 2.5vh;
}

.app-list-hr {
    color: #c7c6cb;
    margin: 2.2vh 0 2.5vh;
}

.app-list-scroll-area {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.app-list-item {
    width: 25vw;
    float: left;
    margin-right: 3.7vw;
}

.app-list-name {
    color: #0F0F0F;
    font-size: 2.4vh;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.appDetailIcon {
    width: 25vw;
    line-height: 1;
    float: left;
}

.appDetailInfo {
    float: left;
    margin-left: 3.7vw;
    width: 63.5vw;
}

.appDetailInfo p{
    margin: 0;
    line-height: 1;
}

.appDetailInfo .appDetailAppName {
    color: #0F0F0F;
    font-size: 2.8vh;
    margin-bottom: 0.3vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.appDetailInfo .appDetailRank {
    height: 2.3vh;
    margin-bottom: 4vh;
    opacity: 0;
}

.appDetailRank .star {
    font-size: 2.5vw;
    vertical-align: middle;
    line-height: 1;
}

.appDetailRank .score {
    font-size: 2.3vh;
    color: #5C5C5C;
}

.appDetailInfo .appDetailRank {
    height: 2.4vh;
}

.appDetailBottomLeft {
    float: left;
    width: 68%;
}

.appDetailAppVersion {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.appDetailAppVersion .title {
    color: #0F0F0F;
    font-size: 2.4vh;
}

.appDetailAppVersion .number {
    color: #5C5C5C;
    font-size: 2.3vh;
}

.appDetailInfo .appDetailAppSize {
    height: 2.4vh;
}

.appDetailAppSize .title {
    color: #0F0F0F;
    font-size: 2.4vh;
}

.appDetailAppSize .number {
    color: #5C5C5C;
    font-size: 2.3vh;
}

.appDetailBottomRight {
    float: left;
    text-align: right;
    width: 32%;
    height: 4.8vh;
}

.install-btn {
    width: 20vw;
    height: 3.5vh;
    border-radius: 25px;
    background-color: #492F80;
    cursor: pointer;
    text-align: center;
    color: #FFF;
    font-size: 2.4vh;
    text-shadow: none;
    line-height: 1.5;
}

.detail-description {
    color: #0f0f0f;
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.4em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    margin-right: 0.5vw;
    font-size: 2.4vh;
}

.detail-description-ellipsis:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 7vw;
    width: 13vw;
    padding-left: 1vw;
    bottom: 0;
    background-color: #FFF;
}

.detail-description-ellipsis:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    width: 1em;
    /* set width and height */
    height: 1em;
    background: white;
}

.detail-description-open {
    position: relative;
    width: 10%;
    top: -2.6vh;
    left: 88%;
    background-color: #FFF;
    margin-bottom: -2.6vh;
}

.detail-description-open-btn {
    background: url(../img/more_btn.png) no-repeat;
    background-size: 10vw;
    height: 3.5vh;
    width: 10vw;
    font-size: 2.3vh;
    color: #5C5C5C;
    text-align: center;
    line-height: 1.5;
    background-color: #FFFFFF;
}

#appDetailPicList {
    margin-top: 2.2vh;
    width: 99%;
    height: 52vh;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.detail-img-style {
    float: left;
    width: 52vw;
    height: 52vh;
    margin-right: 3.7vw;
}

#viewAppDetail2-2 .page-main {
    background-color: #FFF;
}

#viewAppDetail2-2 .top {
    padding: 3.5vh 3.7vw 0;
}

#viewAppDetail2-2 .bottom {
    clear: both;
    padding: 4vh 3.7vw 6.5vh;
}

/* message list / detail */
.news-header {
    position: relative;
    width: auto;
    background-size: 100% auto;
}

.header-service {
    background-image: url(../img/header_service.svg);
}

.header-event {
    background-image: url(../img/header_event.svg);
}

.header-left {
    width: 63%;
    float: left;
}

.header-right {
    position: absolute;
    left: 63%;
    width: 37%;
    height: 100%;
    text-align: center;
    font-family: "Gill Sans MT";
}

.portal-header {
    position: fixed;
    top: 13vw;
    width: 100%;
    height: 11.674vw;
    background-image: url(../img/header_portal.png);
    background-size: 100vw 11.674vw; 
}

.no-message {
    color: #989898;
    text-align: center;
    margin-top: 40vh;
    font-size: 2.9vh;
}

.priority-title {
    font-size: 12px;
    color: #FFF;
    position: relative;
}

.priority-normal {
    font-size: 16px;
    color: #ccffcc;
}

.priority-high {
    font-size: 16px;
    color: #ffff99;
}

.header-date {
    font-size: 16px;
    color: #FFF;
    position: relative;
}

.footer-top {
    width: 100%;
    background-color: #fafafa;
}

.footer-top div {
    float: left;
}

.footer-benq {
    background-image: url(../img/benq_logo.png);
    background-size: 95% 95%;
}

.footer-qisda {
    background-image: url(../img/qisda_logo.png);
    background-size: 95% 95%;
}

.footer-text {
    text-align: right;
    padding-right: 15px;
}

.footer-bottom {
    width: 100%;
    height: 10px;
    background-color: #000;
}

.footer-portal {
    height: 10vw;
    background-color: #242424;
}

.footer-portal .text {
    color: #FFFFFF;
    font-size: 2.576vw;
    position: absolute;
    top: 35%;
    left: 18%;
}

.content-bg {
    background-color: #fafafa;
    overflow: hidden;
    padding: 0 15px;
}

.Author_icon {
    width: 30px;
    height: 24px;
    background-image: url(../img/auther.png);
    float: left;
}

.Author_Content {
    overflow-wrap: break-word;
    width: 80%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #181818;
    margin-left: 12px;
    float: left;
    line-height: 1.5;
}

.Content_Block {
    clear: both;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Content_icon {
    width: 30px;
    height: 24px;
    background-image: url(../img/content.png);
    float: left;
}

.Content_Content {
    overflow-wrap: break-word;
    width: 85%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0d0d0d;
    float: left;
    margin: 5px 0 0 12px;
    overflow-x: hidden;
    /*white-space: nowrap;*/
    word-wrap: break-word !important;
}

.Content_Content table {
    width: 100% !important;
    display: block;
}

.Content_Content tbody {
    display: inline-block;
    width: 100% !important;
    overflow: auto;
}

.Content_Content img {
    width: 80% !important;
    height: 80% !important;
}

.PortalContent {
    overflow-y: auto;
}

#newsDetailTitle {
    color: #492582;
}

.reddot-tab {
    background-image: url(../img/reddot.png);
    background-size: 1.5vw 1.5vw;
    width: 1.5vw;
    height: 1.5vw;
    float: left;
    margin-left: 3px;
}

.reddot-list {
    background-image: url(../img/reddot.png);
    background-size: 1.5vw 1.5vw;
    width: 1.5vw;
    height: 1.5vw;
}

.msg-del-checkbox-content {
    float: left;
    width: 7vw;
    display: none;
}

.msg-del-checkbox {
    margin-top: 70%;
    padding-left: 30%;
}

.msg-new-reddot-content {
    float: left;
    width: 2vw;
    margin-left: 2vw;
    padding-top: 13px;
}

.msg-list-content {
    float: left;
    width: 90vw;
    margin-left: 1vw;
}

.msg-list-content-edit {
    width: 83vw;
}

.msg-list-title {
    color: #0f0f0f;
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 2.2em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}

.msg-list-title:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}

.msg-list-title:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    width: 1em;
    /* set width and height */
    height: 1em;
    background: white;
}

.msg-list-time {
    text-align: right;
    font-size: 3.14vw;
    color: #989898;
}

.del-msg-btn {
    width: 50%;

}

.update-time {
    color: #989898;
    font-size: 3.14vw;
    margin: 0;
    height: 3.14vw;
    padding: 2.4vw 3.71vw;
}

.notice-priority-high {
    color: #cc0000;
}

.notice-priority-normal {
    color: #333333;
}

.header-service-red {
    background-image: url(../img/header_service_red.svg);
}

.header-event-red {
    background-image: url(../img/header_event_red.svg);
}

.html2canvas-container {
    width: 3000px !important;
    height: 3000px !important;
}

/*-----------------------------------------------------------------Event Type Panel*/
#eventTypeSelect {
    background-color: #CECECE;
    width: 65.395vw;
}

#eventTypeSelect .ui-panel-inner {
    padding: 0;
}

#eventTypeSelect .ui-hr {
    background-color: #666666;
}

#eventTypeSelect div {
    line-height: 1;
    font-size: 3.97vw;
    padding: 4.05vw 0 4.05vw 3.71vw;
    background-color: #F9F9F9;
    color: #333333;
}

#eventTypeSelect .header {
    background-color: #4C4C4C;
    color: #FFFFFF;
    padding: 4.615vw 0 4.615vw 3.71vw;
}

#eventTypeSelect .select {
    background-color: #492f7f;
    color: #FFFFFF;
}

#eventTypeSelect .item .left {
    width: 1.878vw;
    margin-right: 1.878vw;
    float: left;
    padding: 0;
}

#eventTypeSelect .item .white {
    width: 1.878vw;
    height: 1.878vw;
    background-color: #FFFFFF;
    margin-top: 1vw;
    border-radius: 50%;
    padding: 0;
}

#eventTypeSelect .item .red {
    background-color: red;
}

.ui-panel-background {
    background-color: rgba(50, 50, 50, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    touch-action: none;
}

.event-list-content{
    padding: 0;
}

