.applist-widget {
    width: 100%;
    height: 100%;
}

.applist-widget > .applist-title {
    padding: 4.3vw 0 2.14vw 5.92vw;
    color: #253137;
    font-size: 3.349vw !important;
}

.applist-widget > .applist-main {
    height: 25vw;
    padding-left: 5.92vw;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.applist-main-icon {
    width: 200vw;
    height: 100%;
}

.applist-item {
    width: 18vw;
    float: left;
    margin-right: 3.28vw;
}

.app-list-name {
    color: #253137;
    font-size: 3.349vw !important;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}