<!-- Start of viewDataInput -->
<div data-role="page" id="viewDataInput" class="viewIndex">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title"><img src="img/yellowpage_word.svg" width="60%" height="60%"></h1>
        </div>
    </div>
    
    <div data-role="main" class="page-main">
        <div style="float:none; height:30px;">&nbsp;</div>
        <div class="ui-field-contain">
            <label for="Company"><h4>公司</h4></label>
            <select name="Company" id="Company">
                <option value="All Company">All Company</option>
            </select>
        </div>
        <div class="ui-field-contain">
            <label for="CName"><h4>中文姓名</h4></label>
            <input name="CName" id="CName" type="text" />
        </div>
        <div class="ui-field-contain">
            <label for="EName"><h4>英文姓名</h4></label>
            <input name="EName" id="EName" type="text" />
        </div>
        <div class="ui-field-contain">
            <label for="Department"><h4>部門</h4></label>
            <input name="Department" id="Department" type="text" />
        </div>
        <div class="ui-field-contain">
            <label for="ExtNum"><h4>分機</h4></label>
            <input name="ExtNum" id="ExtNum" type="text" />
        </div>
    </div>

    <div data-role="footer" data-position="fixed" data-theme="b">
        <div data-role="navbar" data-iconpos="top" class="custom-navbar">
            <ul>
                <li><a href="#" data-icon="delete" id="cleanQuery">清除查詢</a></li>
                <li><a href="#" data-icon="search" id="callQuery">開始查詢</a></li>
                <li><a href="#viewPhonebook" data-icon="star">我的電話簿</a></li>
            </ul>
        </div>
    </div>
    
    <div data-role="popup" id="noQueryCondition" data-overlay-theme="b" data-dismissible="false">
        <div data-role="main" class="ui-content popup-msg">
            <p>請輸入查詢條件</p>
            <p>
                <a href="#viewDataInput" class="ui-btn ui-btn-inline">關閉</a>
            </p>
        </div>
    </div>
</div>