<!-- Start of viewDataInput -->
<div data-role="page" id="viewDataInput" class="viewIndex">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title"><img src="img/yellowpage_word.svg" width="60%" height="60%"></h1>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <div style="float:none; height:30px;">&nbsp;</div>
        <div class="ui-field-contain">
            <img id="img1" src="img/2016_meal_1121-1.png" />
            <img id="img2" src="img/2016_meal_1121-2.png" />
        </div>
    </div>
    <div data-role="footer" data-position="fixed" data-theme="b">
        <div data-role="navbar" data-iconpos="top" class="custom-navbar">
            <ul>
                <li><a href="#" id="menu">本週菜單</a></li>
                <li><a href="#" id="calendar">2016行事曆</a></li>
            </ul>
        </div>
    </div>
</div>
