/****************************************** viewLeaveQuery *****************************************/

/* pull refresh */

.page-main .page-date {
    font-family: Arial;
    height: 1vw;
    color: #0f0f0f;
    text-align: center;
    width: 80%;
    margin: 1vw auto 0;
}

#backDetailList,
#backSignPreview,
#backEffectPreview,
#backToList,
#backToSign {
    width: 4.934VW;
    display: none;
}

.leave-query-list,
.backLeave-query-list {
    width: 93.6vw;
    height: 36.3vw;
    margin-left: 3.2vw;
}

.leave-query-list>div:nth-of-type(1),
.backLeave-query-list>div:nth-of-type(1) {
    height: 32vw;
    border: 0.1vh solid #d6d6d6;
    border-radius: 8px;
    background-color: #fff;
}

.leave-query-list>div:nth-of-type(2),
.backLeave-query-list>div:nth-of-type(2) {
    height: 4.3vw;
}

.leave-query-state,
.backLeave-query-state,
.overtime-query-state {
    width: 88vw;
    height: 10vw;
    line-height: 10vw;
    margin-left: 2.4vw;
    text-align: right;
    border-bottom: 0.1vh solid #d6d6d6;
}

.leave-query-state>span,
.backLeave-query-state>span,
.overtime-query-state>span {
    color: #2e89bc;
}

.leave-query-state>img,
.backLeave-query-state>img,
.overtime-query-state>img {
    width: 5vw;
    height: 3vw;
    margin-left: 1vw;
}

.leave-query-base,
.backLeave-query-base {
    width: 88vw;
    height: 22vw;
    margin-left: 2.4vw;
    color: #323232;
}

.leave-query-base>div,
.backLeave-query-base>div {
    width: 88vw;
    height: 5vw;
    margin-top: 1.8vw;
}

.leave-query-basedata>div,
.backLeave-query-basedata>div {
    display: inline-block;
    width: 43vw;
    height: 5vw;
    overflow: hidden;
}

.leave-query-max {
    width: 93.6vw;
    margin-left: 3.2vw;
    text-align: center;
    color: #666666;
}

.leave-query-detail-sign,
.leave-query-detail-withdraw,
.leave-query-detail-refuse,
.leave-query-detail-effect,
.leave-query-detail-back,
.leave-query-withdraw,
.leave-query-dispel,
.backLeave-query-detail-sign,
.backLeave-query-detail-withdraw,
.backLeave-query-detail-refuse,
.backLeave-query-detail-effect,
.backLeave-query-sign-withdraw,
.actualot-query-detail-sign {
    display: none;
    width: 93.6vw;
    height: 154.5vw;
    margin-left: 3.2vw;
}

.leave-detail-date {
    height: 4.2vw;
    color: #666666;
}

.leave-detail-date>div {
    display: inline-block;
    width: 46vw;
}

.leave-detail-date>div:nth-of-type(2) {
    text-align: right;
}

.leave-detail-state {
    height: 15.3vw;
    border-bottom: 0.1vh solid #d6d6d6;
}

.leave-detail-state>div:nth-of-type(1) {
    width: 93.6vw;
    height: 4.3vw;
}

.leave-detail-state>div:nth-of-type(2) {
    width: 93.6vw;
    height: 11vw;
}

.leave-detail-state>div:nth-of-type(2)>div {
    display: inline-block;
}

.leave-detail-state>div:nth-of-type(2)>div:nth-of-type(1) {
    width: 85.6vw;
    height: 11vw;
}

.leave-detail-state>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(1) {
    height: 3.2vw;
    line-height: 3.2vw;
}

.leave-detail-state>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2) {
    height: 7.8vw;
    line-height: 7.8vw;
    color: #2A8ABD;
}

.leave-detail-state>div:nth-of-type(2)>div:nth-of-type(2) {
    width: 6vw;
    height: 11vw;
}

.leave-detail-img {
    width: 6vw;
    height: 6vw;
}

.sign-list {
    width: 75vw;
    height: 10vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
}

.sign-list>div {
    height: 10vw;
    float: left;
}

.sign-icon {
    width: 8vw;
}

.sign-icon img {
    width: 4.18vw;
    height: 4.18vw;
    margin-left: 2vw;
}

.sign-name {
    width: 43vw;
}

.sign-name>div:nth-of-type(1) {
    color: #323232;
}

.sign-name>div:nth-of-type(2) {
    color: #666666;
}

.sign-state {
    width: 23vw;
    color: #666666;
    text-align: right;
}

.sign-state:after {
    clear: both;
}


/* popup */

.confirmWithdraw>.ui-content,
.confirmDelete>.ui-content,
.confirmRevoke>.ui-content,
.confirmToWithdraw>.ui-content,
.confirmToDelete>.ui-content,
.leaveErrorMsg>.ui-content,
.backLeaveErrorMsg>.ui-content,
.confirmWithdrawOT>.ui-content,
.overtimeErrorMsg>.ui-content,
.confirmDeleteOT>.ui-content {
    padding: 0 !important;
}

.confirmWithdraw>.ui-content>.header,
.confirmDelete>.ui-content>.header,
.confirmRevoke>.ui-content>.header,
.confirmToWithdraw>.ui-content>.header,
.confirmToDelete>.ui-content>.header,
.confirmWithdrawOT>.ui-content>.header,
.confirmDeleteOT>.ui-content>.header {
    margin-top: 13%;
}

.leaveErrorMsg>.ui-content>.header,
.backLeaveErrorMsg>.ui-content>.header,
.overtimeErrorMsg>.ui-content>.header {
    margin-top: 12.5%;
}


/*sign flow popup footer*/

.signStateFlow>.ui-content>.footer,
.signIngFlow>.ui-content>.footer,
.signOTStateFlow>.ui-content>.footer {
    margin-top: 5% !important;
}

#leaveWithdraw,
#leaveRevoke,
#leaveDelete {
    display: none;
}

.editLeaveListImg { 
    background: url(../viewLeaveQuery/img/edit.png) no-repeat;
    background-size: 3.5vw;
    background-position: 0;
    align-self:center; 
    width: 3.5vw;
    height: 3.5vw;
}