<!-- Start of applist page -->
<div data-role="page" id="viewFAQ">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title"><div>FAQ</div></h1>
        </div>
        <a href="#viewMain3" data-role="none">
            <div class="q-btn-header">
                <img src="img/component/back_nav.png" width="100%" height="100%">
            </div>
        </a>
    </div>
    <div data-role="main" class="ui-content page-main">
        <div id="questionList">
            <div class="question-list">
                <div class="question-content">
                    <div>问题1问题1问题1问题1问题1问题1问题1问题1问题1问题1问题1问题1</div>
                    <div class="answer-btn"><img src="img/list_down.png" data-src="list_down"></div>
                </div>
                <div class="answer-content">答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1</div>
            </div>
            <div class="question-list">
                <div class="question-content">
                    <div>问题2问题2问题2问题2问题2</div>
                    <div class="answer-btn"><img src="img/list_down.png" data-src="list_down"></div>
                </div>
                <div class="answer-content">答案2</div>
            </div>
        </div>

    </div>
</div>
