<!-- viewAppSetting -->
<div data-role="page" id="viewGeneralSetting">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title">
                <div class="opacity">Setting</div>
            </h1>
        </div>
        <a href="#viewAppSetting" data-role="none">
            <div class="q-btn-header">
                <img src="img/component/back_nav.png" width="100%" height="100%">
            </div>
        </a>
    </div>
    <div data-role="main" class="ui-content page-main">
        <div class="default-setting" id="defaultList"></div>
    </div>
</div>