<!-- viewVersionRecord -->
<div data-role="page" id="viewVersionRecord">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title">
                <div>
                    <!--版本记录-->
                    <span class="langStr" data-id="str_081"></span>
                </div>
            </h1>
        </div>
        <a href="#" data-role="none">
            <div class="q-btn-header">
                <img src="img/component/back_nav.png" width="100%" height="100%">
            </div>
        </a>
    </div>
    <div data-role="main" class="ui-content page-main">
        <div class="version-scroll">
            <div></div>
        </div>

    </div>
</div>