<!-- Start of applist page -->
<div data-role="page" id="viewScrollTest">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title">
                <div>ScrollTest</div>
            </h1>
        </div>
        <a href="#viewMain3" data-role="none">
            <div class="q-btn-header">
                <img src="img/component/back_nav.png" width="100%" height="100%">
            </div>
        </a>
    </div>
    <div data-role="main" class="ui-content page-main">
        <div>
            <ul class="scrollList">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
            </ul>
        </div>
        <div>
            <label for="pwdtext">text密码</label>
            <input type="text" name="pwdtext" pattern="[0-9]{4,}" maxlength="4" onKeyUp="value=value.replace(/[^\d]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
            <label for="pwdnum">number密码</label>
            <input type="number" name="pwdnum" pattern="[0-9]{4,}" maxlength="4" onKeyUp="value=value.replace(/[^\d]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
            <label for="pwd">password密码</label>
            <input type="password" name="pwd" pattern="[0-9]{4,}" maxlength="4" onKeyUp="value=value.replace(/[^\d]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
        </div>
    </div>
</div>