<!-- viewShopSelectUser -->
<div data-role="page" id="viewShopSelectUser">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title">
                <div>QPay结帐</div>
            </h1>
        </div>
        <a href="#" data-role="none">
            <div class="q-btn-header page-back">
                <img src="img/component/back_nav.png" width="100%" height="100%">
            </div>
        </a>
        <a href="#" data-role="none" class="ui-btn-right" id="qplayRefresh">
            <div class="q-btn-header">
                <img src="img/refresh.png" width="100%" height="100%">
            </div>
        </a>
    </div>
    <div data-role="main" class="ui-content page-main">
        <div class="select-user-type">
            <div class="qplay-user-title type-active" data-type="qplay">
                <div>QPlay使用者</div>
                <div></div>
            </div>
            <div class="other-user-title" data-type="other">
                <div>非QPlay使用者</div>
                <div></div>
            </div>
        </div>
        <div class="select-user-scroll">
            <div>
                <div class="select-user-blank"></div>
                <div class="select-user-list">
                    <div class="qplay-user">
                        <ul data-role="none">
                            <li class="qplay-user-list">
                                <div>
                                    <div>QTY 早餐吧 / No.12463</div>
                                    <div>TWD -70</div>
                                </div>
                                <div>18/30/2018 14:30</div>
                            </li>
                            <li class="qplay-user-list">
                                <div>
                                    <div>QTY 早餐吧 / No.12463</div>
                                    <div>TWD -70</div>
                                </div>
                                <div>18/30/2018 14:30</div>
                            </li>
                            <li class="qplay-user-list">
                                <div>
                                    <div>QTY 早餐吧 / No.12463</div>
                                    <div>TWD -70</div>
                                </div>
                                <div>18/30/2018 14:30</div>
                            </li>
                            <li class="qplay-user-list">
                                <div>
                                    <div>QTY 早餐吧 / No.12463</div>
                                    <div>TWD -70</div>
                                </div>
                                <div>18/30/2018 14:30</div>
                            </li>
                            <li class="qplay-user-list">
                                <div>
                                    <div>QTY 早餐吧 / No.12463</div>
                                    <div>TWD -70</div>
                                </div>
                                <div>18/30/2018 14:30</div>
                            </li>
                        </ul>
                    </div>
                    <div class="other-user">
                        <ul data-role="none"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>