<!-- Start of applist page -->
<div data-role="page" id="viewFAQ">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title">
                <div>FAQ</div>
            </h1>
        </div>
        <a href="#viewMain2-1" data-role="none">
            <div class="q-btn-header">
                <img src="img/component/back_nav.png" width="100%" height="100%">
            </div>
        </a>
    </div>
    <div data-role="main" class="ui-content page-main">
        <div id="questionList">
            <div class="question-list">
                <div class="question-content">
                    <div>Q1：我首次打開QPlay，卻卡在「系統維護中」？</div>
                    <div class="answer-btn">
                        <img src="img/list_down.png" data-src="list_down">
                    </div>
                </div>
                <div class="answer-content">請先確認是否有打開網路，若在公司內，請確認是使用3G/4G的網路連線。</div>
            </div>
            <div class="question-list">
                <div class="question-content">
                    <div>Q2：無法登入，顯示員工資訊錯誤？</div>
                    <div class="answer-btn">
                        <img src="img/list_down.png" data-src="list_down">
                    </div>
                </div>
                <div class="answer-content">請確認帳號名稱只需要打自己名字。 (ex: Mary.Yang，不是Qgroup\Mary.Yang，也不是Mary.Yang@qisda.com，只要 Mary.Yang) <br/>若忘記密碼，請ITS協助處理。 <br>若帳密皆正確，但仍無法登入，請洽ITS\Eee
                    Tsai #5511
                </div>
            </div>
            <div class="question-list">
                <div class="question-content">
                    <div>Q3：我是iOS用戶，不能不要接受推播嗎？</div>
                    <div class="answer-btn">
                        <img src="img/list_down.png" data-src="list_down">
                    </div>
                </div>
                <div class="answer-content">為了讓您體驗完整的服務，在安裝後，請您至設定中打開接受推播，若日後您不喜歡接收，是可以關掉的。</div>
            </div>
            <div class="question-list">
                <div class="question-content">
                    <div>Q4：為什麼功能不整合在一支APP，還要另外單獨下載安裝？</div>
                    <div class="answer-btn">
                        <img src="img/list_down.png" data-src="list_down">
                    </div>
                </div>
                <div class="answer-content">好處是讓用戶自行挑選自己需要的功能來安裝，使用起來不必經過層層選單，可以直接打開要使用的功能，得到想要的結果。不需要再使用到的功能也可以自行移除，節省手機空間。</div>
            </div>
            <div class="question-list">
                <div class="question-content">
                    <div>Q5：為什麼 Yellowpage只能顯示最多 5 筆查詢結果？</div>
                    <div class="answer-btn">
                        <img src="img/list_down.png" data-src="list_down">
                    </div>
                </div>
                <div class="answer-content">為了保護員工個資，避免有心人將部門資訊外流，目前僅開放顯示 5 筆。</div>
            </div>
            <div class="question-list">
                <div class="question-content">
                    <div>Q6：Gaia BPM的APP要怎麼登入？</div>
                    <div class="answer-btn">
                        <img src="img/list_down.png" data-src="list_down">
                    </div>
                </div>
                <div class="answer-content">首次使用Gaia BPM APP時，請至Gaia BPM APP的設定中，輸入伺服器網址，再進行登入<br/>● BenQ伺服器網址：https://gaiaapp.benq.com <br/>● Qisda伺服器網址：https://gaia.qisda.com
                </div>
            </div>
        </div>

    </div>
</div>