<!-- Start of main page UI 3 -->
<div data-role="page" id="viewMessageList">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title">
                <div>
                    <span class="dropdown-title">News</span>
                    <img src="img/dropdown.png" class="dropdown-news">
                </div>
            </h1>
        </div>
        <a href="#viewMain2-1" data-role="none">
            <div class="q-btn-header">
                <img src="img/component/back_nav.png" width="100%" height="100%">
            </div>
        </a>
        <a href="#" data-role="none" class="ui-btn-right">
            <div>
                <img src="img/search.png" style="width: 6vw;"><img src="img/select.png" style="width: 6vw;margin-left: 3.3vw;">
            </div>
        </a>
    </div>
    <div data-role="main" class="ui-content page-main">
        <div class="select-news">
            <div data-name="msgType" data-value="news">News</div>
            <div data-name="msgType" data-value="event">Event</div>
        </div>
        <div class="news-content">
            <div></div>
            <ul data-role="listview" class="swipe-delete">
                <li data-icon="false">
                    <div class="behind">
                        <a href="#" class="ui-btn delete-btn">
                            <img src="img/delete.png" class="msg-delete-btn">
                        </a>
                    </div>
                    <a href="#" class="ui-div ui-btn">
                        <div class="msg-check-icon">
                            <img src="img/checkbox.png" class="msg-check-btn">
                        </div>
                        <div class="msg-content-title">
                            <div>2018-06-21</div>
                            <div>【ITS上線公告】Portal 新增公告推播通知並將公告整合至QPlay APP</div>
                        </div>
                        <div class="msg-next-icon">
                            <img src="img/nextpage.png" class="msg-next-btn">
                        </div>
                    </a>
                </li>

            </ul>
        </div>
        <div class="event-content" style="display:none;">
            <ul data-role="listview" class="swipe-delete">
                
            </ul>
        </div>
        <!--<div class="update-time">

        </div> -->
    </div>
</div>