<!-- Start of main page UI 3 -->
<div data-role="page" id="viewMessageList">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title">
                <div>
                    <span class="dropdown-title">News</span>
                    <img src="img/dropdown.png" class="dropdown-news">
                </div>
            </h1>
        </div>
        <a href="#" data-role="none">
            <div class="q-btn-header">
                <img src="img/component/back_nav.png" width="100%" height="100%">
            </div>
            <div class="header-search" style="display:none;">
                <form class="ui-filterable">
                    <input id="myFilter" data-type="search" placeholder="搜寻主旨" class="input-search">
                </form>
            </div>
        </a>
        <a href="#" data-role="none" class="ui-btn-right">
            <div>
                <img src="img/search.png" id="searchListview" style="width: 6vw;"><img src="img/select.png" id="editListview" style="width: 6vw;margin-left: 3.3vw;"><img src="img/close.png" id="cancelEdit" style="width: 6vw;display:none;"><img src="img/close.png" id="cancelSearch" style="width: 6vw;display:none;">
            </div>
        </a>
    </div>
    <div data-role="main" class="ui-content page-main">
        <div class="select-news">
            <div data-name="msgType">News</div>
            <div data-name="msgType">Event</div>
        </div>
        <div class="news-content">
            <div class="msg-tool">
                <div class="news-select-btn">全选</div>
                <div class="news-delete-btn">删除</div>
                <div class="news-readed-btn">标示已读</div>
            </div>
            <div class="msg-tool-blank"></div>
            <ul data-role="listview" data-filter="true" data-input="#myFilter" class="swipe-delete">
                <li data-icon="false">
                    <div class="behind">
                        <a href="#" class="ui-btn delete-btn">
                            <img src="img/delete.png" class="msg-delete-btn">
                        </a>
                    </div>
                    <a href="#" class="ui-div ui-btn">
                        <div class="msg-check-icon">
                            <img src="img/checkbox.png" class="msg-check-btn">
                        </div>
                        <div class="msg-content-title">
                            <div>2018-06-21</div>
                            <div>【ITS上線公告】Portal 新增公告推播通知並將公告整合至QPlay APP</div>
                        </div>
                        <div class="msg-next-icon">
                            <img src="img/nextpage.png" class="msg-next-btn">
                        </div>
                    </a>
                </li>

            </ul>
        </div>
        <div class="event-content" style="display:none;">
            <div class="msg-tool">
                <div class="event-select-btn">全选</div>
                <div class="event-delete-btn">删除</div>
                <div class="event-readed-btn">标示已读</div>
            </div>
            <div class="msg-tool-blank"></div>
            <ul data-role="listview" data-filter="true" data-input="#myFilter" class="swipe-delete">

            </ul>
        </div>
        <!--<div class="update-time">

        </div> -->
        <div id="htmlTest"></div>
    </div>

    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup confirmDeleteMsg" for="confirmDeleteMsg" id="confirmDeleteMsg">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!--確定取消報名-->
                        <span class="langStr" data-id="str_039"></span>
                    </span>
                </div>
                <div class="header-title"></div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style11 font-color3"></p>
            </div>
            <div class="footer">
                <div class="btn-two font-style1 btnArea">
                    <div class="btn-cancel" id="confirmDeleteBtn">
                        <!--确定-->
                        <span class="langStr" data-id="str_040"></span>
                    </div>
                    <div class="btn-cancel">
                        <!--取消-->
                        <span class="langStr" data-id="str_041"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>