<!-- viewMessageList -->
<div data-role="page" id="viewMessageList">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title">
                <div>
                    <span class="dropdown-title">News</span>
                    <img src="img/dropdown.png" class="dropdown-news">
                </div>
            </h1>
        </div>
        <a href="#" data-role="none">
            <div class="q-btn-header">
                <img src="img/component/back_nav.png" width="100%" height="100%">
            </div>
            <div class="header-search hide">
                <form class="ui-filterable">
                    <input id="msgFilter" data-type="search" class="input-search">
                </form>
            </div>
        </a>
        <a href="#" data-role="none" class="ui-btn-right">
            <div>
                <img src="img/search.png" id="searchListview" class="icon-style"><img src="img/select.png" id="editListview" class="icon-margin"><img src="img/close.png" id="cancelEdit" class="icon-style hide"><img src="img/close.png" id="cancelSearch" class="icon-style hide">
            </div>
        </a>
    </div>
    <div data-role="main" class="ui-content page-main">
        <!-- select -->
        <div class="select-type">
            <div data-item="news">News</div>
            <div data-item="event">Event</div>
            <div data-item="announcement">Announcement</div>
            <div data-item="communication">Communication</div>
            <div data-item="cip">CIP</div>
            <div data-item="csd">CSD</div>
            <div data-item="its">ITS</div>
        </div>
        <!-- handle -->
        <div class="handle-msg">
            <div class="msg-select">
                <!--全选-->
                <span class="langStr" data-id="str_076"></span>
            </div>
            <div class="msg-delete">
                <!--删除-->
                <span class="langStr" data-id="str_037"></span>
            </div>
            <div class="msg-readed">
                <!--标示已读-->
                <span class="langStr" data-id="str_078"></span>
            </div>
        </div>
        <!-- message -->
        <div class="message-scroll">
            <div>
                <!-- blank -->
                <div class="fill-handle-blank"></div>
                <div class="message-type">
                    <!-- News -->
                    <div class="news-content">
                        <ul data-role="listview" data-filter="true" data-input="#msgFilter" class="swipe-delete"></ul>
                    </div>
                    <!-- Event -->
                    <div class="event-content">
                        <ul data-role="listview" data-filter="true" data-input="#msgFilter" class="swipe-delete"></ul>
                    </div>
                    <!-- Announcement -->
                    <div class="announcement-content">
                        <ul data-role="listview" data-filter="true" data-input="#msgFilter" class="swipe-delete"></ul>
                    </div>
                    <!-- Communication -->
                    <div class="communication-content">
                        <ul data-role="listview" data-filter="true" data-input="#msgFilter" class="swipe-delete"></ul>
                    </div>
                    <!-- CIP -->
                    <div class="cip-content">
                        <ul data-role="listview" data-filter="true" data-input="#msgFilter" class="swipe-delete"></ul>
                    </div>
                    <!-- CSD -->
                    <div class="csd-content">
                        <ul data-role="listview" data-filter="true" data-input="#msgFilter" class="swipe-delete"></ul>
                    </div>
                    <!-- ITS -->
                    <div class="its-content">
                        <ul data-role="listview" data-filter="true" data-input="#msgFilter" class="swipe-delete"></ul>
                    </div>
                </div>
                <!-- update -->
                <div class="msg-update-date"></div>
            </div>
        </div>
    </div>

    <div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" class="app-popup confirmDeleteMsg" for="confirmDeleteMsg" id="confirmDeleteMsg">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!--确定删除公告吗？-->
                        <span class="langStr" data-id="str_039"></span>
                    </span>
                </div>
                <div class="header-title"></div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style11 font-color3"></p>
            </div>
            <div class="footer">
                <div class="btn-two font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--取消-->
                        <span class="langStr" data-id="str_041"></span>
                    </div>
                    <div class="btn-cancel" id="confirmDeleteBtn">
                        <!--确定-->
                        <span class="langStr" data-id="str_040"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>