<!-- Start of applist page -->
<div data-role="page" id="viewVersionRecord">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title"><div>版本记录</div></h1>
        </div>
        <a href="#viewAppDetail2-2" data-role="none">
            <div class="q-btn-header">
                <img src="img/component/back_nav.png" width="100%" height="100%">
            </div>
        </a>
    </div>
    <div data-role="main" class="ui-content page-main">
        <div id="versionRecordList">
            <!-- <div class="version-record-list">
                <div class="version-number">
                    <span>1.0.3</span>
                </div>
                <div class="release-date">2018年6月6日</div>
                <div class="update-content">调整项目/新增项目</div>
            </div> -->
        </div>

    </div>
</div>
