<!-- viewAppSetting -->
<div data-role="page" id="viewAppSetting">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title">
                <div>Setting</div>
            </h1>
        </div>
        <a href="#viewMain3" data-role="none">
            <div class="q-btn-header">
                <img src="img/component/back_nav.png" width="100%" height="100%">
            </div>
        </a>
    </div>
    <div data-role="main" class="ui-content page-main" id="settingContent">
        <div class="setting-main">
            <div class="photo-setting">
                <div class="photo-default">
                    <img src="img/default_photo.png" id="myPhoto">
                </div>
                <div class="name-user"></div>
            </div>
            <div class="link-setting">
                <div class="normal-setting">
                    <div>
                        <img src="img/icon_setting.png" width="100%">
                    </div>
                    <div class="normal-setting-name"></div>
                    <div>
                        <img src="img/nextpage.png" width="100%">
                    </div>
                </div>
                <div class="qplay-version">
                    <div>
                        <img src="img/icon_history.png" width="100%">
                    </div>
                    <div class="qplay-version-name"></div>
                    <div>
                        <img src="img/nextpage.png" width="100%">
                    </div>
                </div>
                <div class="want-comment">
                    <div>
                        <img src="img/icon_history.png" width="100%">
                    </div>
                    <div class="want-comment-name"></div>
                    <div>
                        <img src="img/nextpage.png" width="100%">
                    </div>
                </div>
            </div>
            <div class="logout-fixed-btn" id="logout"></div>
        </div>

        <!--遮罩-->
        <div class="setting-mask">
            <div class="photo-choose">
                <!--相机-->
                <div class="choose-camera"></div>
                <!--图库-->
                <div class="choose-picture"></div>
            </div>
            <!--取消-->
            <div class="cancel-choose"></div>
        </div>

        <!--msg感谢您的回馈-->
        <div class="popup-msg-style" id="feedback"></div>
        <!--请更换图片-->
        <div class="popup-msg-style" id="cameraFail"></div>
        <!--头像上传成功-->
        <div class="popup-msg-style" id="uploadSuccess"></div>
        <!--头像上传失败-->
        <div class="popup-msg-style" id="uploadFail"></div>
    </div>
    
    <!--登出 popup-->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup confirmLogout" for="confirmLogout" id="confirmLogout">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!--确定注销吗？-->
                        <span class="langStr" data-id="str_043"></span>
                    </span>
                </div>
                <div class="header-title"></div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style11 font-color3"></p>
            </div>
            <div class="footer">
                <div class="btn-two font-style1 btnArea">
                    <div class="btn-cancel" id="logoutCancel">
                        <!--取消-->
                        <span class="langStr" data-id="str_023"></span>
                    </div>
                    <div class="btn-cancel" id="logoutConfirm">
                        <!--确定-->
                        <span class="langStr" data-id="str_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>