<!-- Start of applist page -->
<div data-role="page" id="viewAppList">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title"><div>QPlay App</div></h1>
        </div>
        <a href="#viewMain3" data-role="none">
            <div class="q-btn-header">
                <img src="img/component/back_nav.png" width="100%" height="100%">
            </div>
        </a>
    </div>
    <div data-role="main" class="ui-content page-main">
        <div>
            <div class="download-title">
                <span>已下载：</span>
            </div>
            <div class="already-download-list"></div>
        </div>
        <div>
            <div class="download-title">
                <span>未下载：</span>
            </div>
            <div class="not-download-list"></div>
        </div>

        <div class="all-list">
            <div>全部：</div>
            <div class="all-download-list"></div>
        </div>

    </div>
</div>
