/********************************************* overwrite ********************************************/
.ui-content{
	padding: 0px;
}

.ui-panel-inner { 
  	padding: 0 !important;
}

.ui-controlgroup-controls {
	-webkit-border-radius: 8px;
}

#viewMain .ui-radio {
	/*width:30.86VW;*/
	width: 46.29VW;
}
#viewDetail .ui-radio{
	width:30.86VW;
}

.page-tabs > div > div > label {
	border: 1px solid #2b87ba !important;
}

.page-tabs > div > div > label.label-style {
	border-left-style: none !important;
	border-right-style: none !important;
}

/******************************************** common use ********************************************/
.page-header .menu-btn{
	background-color: initial !important;
	border-style: none;
	padding:0px;
	margin-top: 2.1VH !important;
	/*margin-left: 1.2VW;*/
}

.page-main{
	background-color: #fff;
	/*margin-top: 0px !important;*/
}

.page-main .page-tabs{
	margin-top: 3.99VW;
	margin-bottom: 3.71VW;
	margin-right: 3.71VW;
	margin-left: 3.71VW;
	text-align: center;
}

.page-main .tabs-title{
	height: 5VH;
	font-size: 2.5VH;
	font-family: Arial;
	font-weight: 500;
	line-height: 5.6VH;
	text-align: center;
	padding: 0px;
}

.page-main .page-date{
	font-family: Arial;
	height: 3VH;
	color: #0f0f0f;
	text-align:center;
	width: 80%;
	margin: 2VH auto 0;
}

.page-main .YTD-Str {
	display: none;
	font-size: 3VW;
	text-align: center;
}
/***************************** viewMain ****************************/
/* html */
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
/* header */
.header-style .ui-title{
	color: #FFFFFF;
	overflow: initial !important;
}
/* excludeLabel */
#excludeLabel span{
	color: #666666;
	margin-left: 3.71VW;
}
/* hightcharts */
.fontTooltip{
	font-size: 14px !important;
	font-family: arial !important;
}
.fontHide{
	width: 20VW;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
/* img */
.backBubble-img{
	width: 4VW;
	height: 5VH;
}
.panelBtn-img{
	width: 5.957VW;
}
/****************************************** viewDetail *********************************************/
.include-label span{
	display: inline-block;
	color: #323232;
	margin-top: 4.3VW;
	margin-bottom: 4.3VW;
	margin-left: 3.71VW;
}
.include-label div{
	display: inline-block;
	margin-left: 45VW;
}
.include-label div img{
	vertical-align: bottom;
	width: 10VW;
}
/* BU Overdue */
.bu-title{
	background-color: #F9FBFC;
}
.bu-title span{
	display: inline-block;
	color: #0F0F0F;
	margin-left: 3.71VW;
	margin-top: 6.44VW;
	margin-bottom: 2.14VW;
}

.bu-header{
	width: 92.58VW;
	height: 12.077VW;
	margin-left: 3.71VW;
	border-bottom: 1px solid #989898;
}
.bu-header ul li{
	list-style-type: none;
	float: left;
	color: #323232;
}
.detail-customer{
	width: 25.848VW;
	text-align: center;
	line-height: 12.077VW;
}
.detail-total{
	width: 30.377VW;
	text-align: center;
}
.detail-total div:nth-child(1){
	float: left;
	width: 26.377VW;
}
.detail-total div:nth-child(1) span:nth-child(1){
	display: block;
	height: 6VW;
	line-height: 10VW;
}
.detail-total div:nth-child(1) span:nth-child(2){
	display: block;
	height: 6VW;
}
.detail-total div:nth-child(2){
	float: left;
	line-height: 12.077VW;
}
.detail-trend{
	width: 24.988VW;
	text-align: center;
	line-height: 12.077VW;
}
.detail-alllist{
	width: 11.367VW;
	text-align: center;
	line-height: 12.077VW;	
}
.priority-img{
	width: 1.5VW;
	height: 1.5VH;
	vertical-align: middle;
}
.alllist-img{
	width: 6VW;
	height: 4VH;
	vertical-align: middle;
}

.bu-main{
	width: 92.58VW;
	margin-left: 3.71VW;
}
.bu-main > ul > li{
	border-bottom: 1px solid #D6D6D6;
}
/* odd data */
.bu-main > ul > li:nth-child(odd){
	height: 15.538VW;
}
.bu-data-list > li{
	float: left;
	height: 15.538VW;
	list-style-type: none;
	color: #323232;
	font-weight: normal; 
	font-size: 3.55VW !important;
	margin: 0;
}

.bu-data-list > li:nth-child(1){
	width: 25.848VW;
	height: 15.538VW;
	display: table;
}
.bu-data-list > li:nth-child(1) > div{
	width: 21.568VW;
	height: 15.538VW;
	margin-left: 2.14VW;
	display: table-cell; 
	vertical-align:middle; 
	text-align:center;
}
.bu-data-list > li:nth-child(1) > div > div{
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
}
.bu-data-list > li:nth-child(2){
	width: 30.377VW;
	line-height: 15.538VW;
}
.bu-data-list > li:nth-child(2) span{
	margin-left: 6VW;
}
.bu-data-list > li:nth-child(3){
	width: 24.988VW;
	line-height: 15.538VW;
}
.bu-data-list > li:nth-child(3) div{
	width: 20VW;
	height: 8VW; 
	margin-top: 4.5VW;
	margin-left: 1.3VW;
}
.bu-data-list > li:nth-child(4){
	width: 11.367VW;
	line-height: 15.538VW;
	text-align: center;
}
.bu-data-list > li:nth-child(4) img{
	width: 4VW;
	height: 3VW;
	vertical-align: middle;
}
/* even hc hide */
.bu-main > ul > li:nth-child(even){
	display: none;
	border-bottom: 1px solid #D6D6D6;
}
.bu-main > ul > li:last-child{
	border-bottom: none;
}
.bu-single-list{
	min-height: 77.54VW;
}
.bu-single-list > div:nth-child(1){
	width: 92.58VW;
	height: 7.42VW;
	line-height: 7.42VW;
}
.bu-single-list > div:nth-child(1) > div:nth-child(1){
	float: left;
	width: 70%;
	color: #323232;
	text-indent: 3VW;
}
.bu-single-list > div:nth-child(1) > div:nth-child(2){
	float: right;
	width: 30%;
	color: #666666;
	text-align: right;
}
.bu-single-list > div:nth-child(2){
	width: 92.58VW;
	height: 5.28VW;
	text-align: right;
	color: #666666;
}
.bu-single-list > div:nth-child(3){
	width: 92.58VW;
	height: 16.98VW;
}
.overdue-tab1{
	width: 92.58VW;
	height: 7.42VW;
	color: #FFFFFF;
}
.overdue-tab1 > div:nth-child(1){
	background-color: #81B4E1;
}
.overdue-tab1 > div:nth-child(2){
	background-color: #F79620;
}
.overdue-tab1 > div:nth-child(3){
	background-color: #F36D21;
}
.overdue-tab1 > div:nth-child(4){
	background-color: #ED3824;
}
.overdue-tab2{
	width: 92.58VW;
	height: 7.42VW;
	color: #666666;
}
.overdue-tab1 div,.overdue-tab2 div{
	float: left;
	width: 22.9VW;
	height: 7.42VW;
	border: 1px solid lightgray;
	margin-left: -1px;
	margin-top: -1px;
	text-align: center;
	line-height: 7.42VW;
}
.bu-single-list > div:nth-child(4){
	width: 92.58VW;
	height: 50VW;
}
.csd-single-list{
	min-height: 77.54VW;
}
.csd-single-list > div:nth-child(1){
	width: 92.58VW;
	height: 7.42VW;
	line-height: 7.42VW;
}
.csd-single-list > div:nth-child(1) > div:nth-child(1){
	float: left;
	width: 70%;
	color: #323232;
	text-indent: 3VW;
}
.csd-single-list > div:nth-child(1) > div:nth-child(2){
	float: right;
	width: 30%;
	color: #666666;
	text-align: right;
}
.csd-single-list > div:nth-child(2){
	width: 92.58VW;
	height: 5.28VW;
	text-align: right;
	color: #666666;
}
.csd-single-list > div:nth-child(3){
	width: 92.58VW;
	height: 16.98VW;
}
.csd-single-list > div:nth-child(4){
	width: 92.58VW;
	height: 50VW;
}
/******************************************** viewHitRate *******************************************/

/**************************************** viewMonthlyHitRate ****************************************/
#viewMonthlyHitRate #title-container {
	border-style: none;
	border-bottom-style: solid;
	border-bottom-color: #989898;
	border-bottom-width: 0.1VH;
	margin: 3.2VW 3.7VW 3.2VW 3.7VW;
	padding-bottom: 1.8VH;
}

#viewMonthlyHitRate #title-container > div {
	display: -webkit-flex;
	flex-flow: row wrap;
}


#viewMonthlyHitRate #title-container > div > div {
	text-align: center;
}

#viewMonthlyHitRate #title-container > div > div > p {
	margin: 0;
}

.slider {
    width: 100VW;
}

.slick-prev:before, .slick-next:before {
	color: black;
}

div.scrollmenu {
	background-color: #fbfdfd;
	text-align: center;
	border-style: solid;
	border-width: 0.5px;
	border-color: #d6d6d6;
	white-space: nowrap;
	width: 100VW;
}

div.scrollmenu a {
	display: inline-block;
	padding: 1.8VH 0 1.6VH;
	background-color: #ffffff;
	color: #0f0f0f;
	font-family: Arial;
	font-size: 4.18VW;
	font-weight: 400;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	border-color: #e4e4e4 !important;
	width: 22VW;
	text-decoration: none;
}

div.scrollmenu a:nth-of-type(1){ border-left-width: 0;}

div.scrollmenu a.hover {
    background-color: #0fb6b7;
    color: #fff !important;
}

div.scrollmenu a.disableHover {
	background-color: #d6d6d6;
	color: #999999 !important;
}

div.scrollmenu a:active, div.scrollmenu a:hover{ color: #0f0f0f;}
.scrollmenu.Ro a:not(:nth-of-type(1)){margin-left: -4px;}
/* let scroll more smooth in iOS */
.scrollmenu.Product{ -webkit-overflow-scrolling: touch}
.scrollmenu.Ro{ -webkit-overflow-scrolling: touch}

/****************************************** viewYTDHitRate ******************************************/
#viewYTDHitRate #title-container {
	border-style: none;
	border-bottom-style: solid;
	border-bottom-color: #989898;
	border-bottom-width: 0.1VH;
	margin: 3.2VW 3.7VW 3.2VW 3.7VW;
	padding-bottom: 1.8VH;
}

#viewYTDHitRate #title-container > div {
	display: -webkit-flex;
	flex-flow: row wrap;
}

#viewYTDHitRate #title-container > div > div {
	text-align: center;
}

#viewYTDHitRate #title-container > div > div > p {
	margin: 0;
}

/********************************************** mypanel *********************************************/
#mypanel #panel-header{
	background-color: #4c4c4c;
	color:#fff; 
	font-size: 4VW;
	font-family:Arial;
	height: 7.3VH;
}

#mypanel .panel-text{
	margin-left: 3.7VW;
	line-height:7.5VH;
}

#mypanel .panel-content{
	background-color: #f6f6f6;
	color: #0f0f0f;
	font-size: 3.8VW;
	font-family: Arial;
	height: 6.8VH;

}

#mypanel .panel-content{
	border-bottom: solid;
    border-bottom-color: #e4e4e4;
    border-bottom-width: 0.1VH;
}

#mypanel #mypanelviewDetail{
	border-bottom: solid;
    border-bottom-color: #666;
    border-bottom-width: 0.1VH;
}

#mypanel div.panel-content:hover {
    background-color: #503f81;
    color: #fff;
}

/*************************************viewMain highcharts*******************************************/
#viewMain #overview-hc-rectangle, #viewMain #overview-hc-bubble-landscape, 
#viewMain #overview-hc-rectangle-landscape, #viewMain #backBtn{
	display: none;
}

/***************************************************** highcharts ************************************************/
/*#viewHitRate-hc-landscape-canvas, #viewMonthlyHitRate-hc-landscape-canvas, #viewYTDHitRate-hc-landscape-canvas {
	display: none;
}*/
/********************************************** highcharts landscape *********************************************/
@media all and (orientation: landscape) {
	/*body div.ui-footer.ui-bar-inherit.ui-footer-fixed.slideup, .viewIndex.ui-page .ui-content.page-main>form, 
	
	#viewHitRate .page-date, #viewHitRate #data-title-bar, #viewHitRate div > ul, 
	#viewHitRate #viewHitRate-hc-canvas,

	#viewMonthlyHitRate .sliderMonthly, #viewMonthlyHitRate #title-container, 
	#viewMonthlyHitRate div > .scrollmenu, #viewMonthlyHitRate #viewMonthlyHitRate-hc-canvas,

	#viewYTDHitRate .sliderYTD, #viewYTDHitRate #title-container, 
	#viewYTDHitRate div > .scrollmenu, #viewYTDHitRate #viewYTDHitRate-hc-canvas{
		display: none;
	}
	#viewHitRate .page-header, #viewMonthlyHitRate .page-header, #viewYTDHitRate .page-header { display: none;}
	#viewHitRate, #viewMonthlyHitRate, #viewYTDHitRate { padding-top: 1.5VH !important;}
	.viewIndex.ui-page {
		background-color: #fff;
	}
	#viewHitRate-hc-landscape-canvas {display: inline;}
	#viewMonthlyHitRate-hc-landscape-canvas {display: inline;}
	#viewYTDHitRate-hc-landscape-canvas {display: inline;}*/
	
	/*******************overview highcharts*********************/
	#viewMain .page-header, #viewMain .page-tabs, #viewMain #excludeLabel, #viewMain #backBtn{
		display: none;
	}
	#viewMain #overview-hc-bubble, #viewMain #overview-hc-rectangle, #viewMain #overview-hc-rectangle-landscape{
		display: none;
	}
	#viewMain{
		padding-top: 0 !important;
	}
	.viewIndex.ui-page {
		background-color: #fff;
	}
	#viewMain #overview-hc-bubble-landscape {
		/*display: block;*/
		display: inline;
	}
	#viewMain #overview-hc-rectangle-landscape{
		display: inline;
	}

}

@media all and (orientation: portrait) {
	.ui-mobile .ui-page{ min-height: auto !important}
	
}