/********************************************* overwrite ********************************************/
.ui-content{
	padding: 0px;
}

.ui-panel-inner { 
  	padding: 0 !important;
}

.ui-controlgroup-controls {
	-webkit-border-radius: 8px;
}

#viewMain .ui-radio {
	/*width:30.86VW;*/
	width: 46.29VW;
}
#viewDetail .ui-radio{
	width:30.86VW;
}

.page-tabs > div > div > label {
	border: 1px solid #2b87ba !important;
}

.page-tabs > div > div > label.label-style {
	border-left-style: none !important;
	border-right-style: none !important;
}

/******************************************** common use ********************************************/
.page-header .menu-btn{
	background-color: initial !important;
	border-style: none;
	padding: 0px;
	margin-top: 2.1VH !important;
	/*margin-left: 1.5VW;*/
}

.page-main{
	background-color: #fff;
	/*margin-top: 0px !important;*/
}

.page-main .page-tabs{
	/*margin-top: 3.99VW;*/
	margin-top: 1.8VH;
	/*margin-bottom: 3.71VW;*/
	margin-bottom: 0VH;
	margin-right: 3.71VW;
	margin-left: 3.71VW;
	text-align: center;
}

.page-main .tabs-title{
	height: 5VH;
	/*font-size: 2.5VH;*/
	font-size: 3.768VW;
	font-family: Arial;
	font-weight: 500;
	line-height: 5.6VH;
	text-align: center;
	background-color: #FFFFFF;
	padding: 0px;
}

/* pull refresh */
.page-main .page-date{
	font-family: Arial;
	height: 3VH;
	color: #0f0f0f;
	text-align:center;
	width: 80%;
	margin: 1VH auto 0;
}

/******************************************* viewMain ********************************************/
/* html */
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

/* header */
.header-style .ui-title{
	color: #FFFFFF;
	overflow: initial !important;
}


/* excludeLabel */
#excludeLabel span{
	color: #666666;
	margin-left: 3.71VW;
}

/* hightcharts */
.fontTooltip{
	font-size: 14px !important;
	font-family: arial !important;
}
.font-color-black {
	color: black;
}
.font-color-red {
	color: red;
}
.font-color-blue {
	color: blue;
}
.font-companyName{
	width: 17VW;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
	white-space: normal;
	z-index: 2;
}

/* img */
#backBtn{
	width: 50VW;
	height: 10VH;
}

.backBubble-img{
	width: 5VW;
	height: 4VH;
	margin-top: 3VH;
	margin-left: 2VW;
}

.panelBtn-img{
	width: 5.957VW;
}

/* highcharts */
#overview-hc-bubble, #overview-hc-rectangle{
	width: 100VW;
	height: 39VH;
}

/****************************************** viewDetail *********************************************/
.overdue-list-hide {
	display: none;
}

.include-label{
	width: 100VW;
}

.include-label span{
	display: inline-block;
	width: 82VW;
	color: #323232;
	margin-top: 2.42VH;
	margin-bottom: 2.42VH;
	margin-left: 3.71VW;
}

.include-label div{
	display: inline-block;
	width: 10VW;
}

.include-label div img{
	vertical-align: bottom;
	width: 10VW;
}

/* BU Overdue */
.bu-title,
.csd-title{
	background-color: #F9FBFC;
}

.bu-title span,
.csd-title span{
	display: inline-block;
	color: #0F0F0F;
	width: 100%;
	height: 1.88VH;
	margin-left: 3.71VW;
	margin-top: 3.62VH;
	margin-bottom: 1.2VH;
}

.bu-header,
.csd-header{
	width: 92.58VW;
	height: 6.8VH;
	margin-left: 3.71VW;
	border-bottom: 1px solid #989898;
}

.bu-header ul li,
.csd-header ul li{
	height: 6.8VH;
	list-style-type: none;
	float: left;
	color: #323232;
}

.detail-customer{
	width: 25.848VW;
	text-align: center;
	line-height: 6.8VH;
}

.detail-total{
	width: 30.377VW;
	text-align: center;
}

.detail-total div:nth-child(1){
	float: left;
	width: 26.377VW;
}

.detail-total div:nth-child(1) span:nth-child(1){
	display: block;
	height: 3.38VH;
	line-height: 5.63VH;
}

.detail-total div:nth-child(1) span:nth-child(2){
	display: block;
	height: 3.38VH;
}

.detail-total div:nth-child(2){
	float: left;
	line-height: 6.8VH;
}

.detail-trend{
	width: 24.988VW;
	text-align: center;
	line-height: 6.8VH;
}

.detail-alllist{
	width: 11.367VW;
	text-align: center;
	line-height: 6.8VH;	
}

.priority-img{
	width: 1.5VW;
	height: 1.5VH;
	vertical-align: middle;
}

.alllist-img{
	width: 6VW;
	height: 4VH;
	vertical-align: middle;
}

.bu-main,
.csd-main{
	width: 92.58VW;
	margin-left: 3.71VW;
}

.bu-main > ul > li,
.csd-main > ul > li{
	border-bottom: 1px solid #D6D6D6;
}

/* total no border-bottom */
.bu-main > ul > li:last-child,
.csd-main > ul > li:last-child{
	border-bottom: none !important;
}

/* data-list */
.bu-data-list, 
.csd-data-list{
	height: 8.75VH;
}

.bu-data-list > ul > li,
.csd-data-list > ul > li{
	float: left;
	height: 8.75VH;
	list-style-type: none;
	color: #323232;
	margin: 0;
}

.bu-data-list > ul > li:nth-child(1), 
.csd-data-list > ul > li:nth-child(1){
	width: 25.848VW;
	height: 8.75VH;
	display: table;
}

.bu-data-list > ul > li:nth-child(1) > div, 
.csd-data-list > ul > li:nth-child(1) > div{
	display: table-cell; 
	vertical-align:middle; 
	text-align:center;
}

.bu-data-list > ul > li:nth-child(1) > div > div, 
.csd-data-list > ul > li:nth-child(1) > div > div{
	width: 21.568VW;
	margin-left: 2.14VW;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
}

.bu-data-list > ul > li:nth-child(2), 
.csd-data-list > ul > li:nth-child(2){
	width: 30.377VW;
	height: 8.75VH;
	line-height: 8.75VH;
	text-align: right;
	font-family: Inconsolata-Regular;
}

.bu-data-list > ul > li:nth-child(2) span,
.csd-data-list > ul > li:nth-child(2) span{
	margin-right: 2.5VW;
	
}

.bu-data-list > ul > li:nth-child(3),
.csd-data-list > ul > li:nth-child(3){
	width: 24.988VW;
	height: 8.75VH;
}

/* area highcharts */
.bu-data-list > ul > li:nth-child(3) div,
.csd-data-list > ul > li:nth-child(3) div{
	width: 15VW;
	height: 3.38VH; 
	margin-top: 2.25VH;
	margin-left: 2.5VW;
}

.bu-data-list > ul > li:nth-child(4),
.csd-data-list > ul > li:nth-child(4){
	width: 11.367VW;
	line-height: 8.75VH;
	text-align: center;
}

.bu-data-list > ul > li:nth-child(4) img,
.csd-data-list > ul > li:nth-child(4) img{
	width: 4VW;
	height: 1.69VH;
	vertical-align: middle;
}

/* single-list */
.bu-single-list,
.csd-single-list{
	min-height: 43.64VH;
	display: none;
}

.bu-single-list > div:nth-child(1),
.csd-single-list > div:nth-child(1){
	width: 92.58VW;
	height: 4.18VH;
	line-height: 4.18VH;
}

.bu-single-list > div:nth-child(1) > div:nth-child(1),
.csd-single-list > div:nth-child(1) > div:nth-child(1){
	float: left;
	width: 70%;
	color: #323232;
	text-indent: 3VW;
}

.bu-single-list > div:nth-child(1) > div:nth-child(2),
.csd-single-list > div:nth-child(1) > div:nth-child(2){
	float: right;
	width: 30%;
	color: #666666;
	text-align: right;
}

.bu-single-list > div:nth-child(2),
.csd-single-list > div:nth-child(2){
	width: 92.58VW;
	height: 2.97VH;
	color: #666666;
	clear: both;
}

.bu-single-list > div:nth-child(2) > span,
.csd-single-list > div:nth-child(2) > span{
	display: inline-block;
	float: right;
}

.bu-single-list > div:nth-child(3),
.csd-single-list > div:nth-child(3){
	width: 92.58VW;
	height: 9.56VH;
}

/* column highcharts */
.bu-single-list > div:nth-child(4),
.csd-single-list > div:nth-child(4){
	width: 92.58VW;
	height: 28.14VH;
}

.overdue-tab1{
	width: 92.58VW;
	height: 4.18VH;
	color: #FFFFFF;
}

.overdue-tab1 > div:nth-child(1){
	background-color: #81B4E1;
}

.overdue-tab1 > div:nth-child(2){
	background-color: #F79620;
}

.overdue-tab1 > div:nth-child(3){
	background-color: #F36D21;
}

.overdue-tab1 > div:nth-child(4){
	background-color: #ED3824;
}

.overdue-tab2{
	width: 92.58VW;
	height: 4.18VH;
	color: #666666;
}

.overdue-tab1 div,.overdue-tab2 div{
	float: left;
	width: 22.8VW;
	height: 4.18VH;
	border: 1px solid lightgray;
	margin-left: -1px;
	margin-top: -1px;
	text-align: center;
	line-height: 4.18VH;
}

/*overdue soon*/
.overduesoon-bu-title{
	width: 100VW;
	height: 5.63VH;
	line-height: 6.75VH;
	background-color: #F9FBFC;
}

.overduesoon-bu-title > span:nth-child(1){
	color: #0F0F0F;
	margin-left: 3.71VW;
}

.overduesoon-bu-title > span:nth-child(2){
	color: #666666;
}

.overduesoon-bu-header,
.overduesoon-csd-header{
	width: 92.58VW;
	height: 6.8VH;
	margin-left: 3.71VW;
	border-bottom: 1px solid #989898;
}

.overduesoon-bu-header > div,
.overduesoon-csd-header > div{
	width: 46.29VW;
	height: 6.8VH;
	float: left;
}

.overduesoon-bu-header > div:nth-child(1),
.overduesoon-csd-header > div:nth-child(1){
	line-height: 6.8VH;
	text-align: center;
}

.overduesoon-bu-header > div:nth-child(2),
.overduesoon-csd-header > div:nth-child(2){
	text-align: center;
}

.overduesoon-bu-header > div:nth-child(2) > div:nth-child(1),
.overduesoon-csd-header > div:nth-child(2) > div:nth-child(1){
	float: left;
	margin-left: 11VW;
}

.overduesoon-bu-header > div:nth-child(2) > div:nth-child(1) span:nth-child(1),
.overduesoon-csd-header > div:nth-child(2) > div:nth-child(1) span:nth-child(1){
	display: block;
	height: 6VW;
	line-height: 5.63VH;
}

.overduesoon-bu-header > div:nth-child(2) > div:nth-child(1) span:nth-child(2),
.overduesoon-csd-header > div:nth-child(2) > div:nth-child(1) span:nth-child(2){
	display: block;
	height: 3.38VH;
}

.overduesoon-bu-header > div:nth-child(2) > div:nth-child(2),
.overduesoon-csd-header > div:nth-child(2) > div:nth-child(2){
	float: left;
	margin-left: 3.2VW;
	line-height: 6.8VH;
}

.overduesoon-bu-main,
.overduesoon-csd-main{
	width: 92.58VW;
	margin-left: 3.71VW;
}

.data-list-overduesoon{
	width: 92.58VW;
	height: 8.75VH;
	color: #323232;
	border-bottom: 1px solid #D6D6D6;
}

.data-list-overduesoon > div{
	width: 46.29VW;
	height: 8.75VH;
	float: left;
}

.data-list-overduesoon > div:nth-child(1) div{
	width: 38VW;
	margin-left: 4.14VW;
	margin-top: 1.97VH;
	overflow:hidden; 
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
}

.data-list-overduesoon > div:nth-child(2){
	line-height: 8.75VH;
	text-align: right;
	font-family: Inconsolata-Regular;
}
.data-list-overduesoon > div:nth-child(2) > span {
	margin-right: 8VW;
}
.overduesoon-total{
	width: 92.58VW;
	height: 8.75VH;
	color: #323232;
	border-bottom: 1px solid lightgray;
}

.overduesoon-total div{
	width: 46.29VW;
	height: 8.75VH;
	line-height: 8.75VH;
	float: left;
}

.overduesoon-total div:nth-child(1) {
	text-align: center;
}

.overduesoon-total div:nth-child(2) {
	text-align: right;
	font-family:Inconsolata-Regular;
}

.overduesoon-total div:nth-child(2) span {
	margin-right: 8VW;
}

.overduesoon-csd-title{
	width: 100VW;
	height: 6.75VH;
	line-height: 8.44VH;
	background-color: #F9FBFC;
}

.overduesoon-csd-title span:nth-child(1){
	color: #0F0F0F;
	margin-left: 3.71VW;
}

.overduesoon-csd-title span:nth-child(2){
	color: #666666;
}

/*expired soon*/
.expiredsoon-bu-header{
	width: 92.58VW;
	height: 6.8VH;
	margin-left: 3.71VW;
	border-bottom: 1px solid #989898;
}

.expiredsoon-bu-header > div{
	width: 30.86VW;
	height: 6.8VH;
	float: left;
}

.expiredsoon-bu-header > div:nth-child(1),
.expiredsoon-bu-header > div:nth-child(2){
	line-height: 6.8VH;
	text-align: center;
}

.expiredsoon-bu-header > div:nth-child(3){
	text-align: center;
}

.expiredsoon-bu-header > div:nth-child(3) > div:nth-child(1){
	float: left;
	margin-left: 3.2VW;
}

.expiredsoon-bu-header > div:nth-child(3) > div:nth-child(1) span:nth-child(1){
	display: block;
	height: 3.38VH;
	line-height: 5.63VH;
}

.expiredsoon-bu-header > div:nth-child(3) > div:nth-child(1) span:nth-child(2){
	display: block;
	height: 3.38VH;
}

.expiredsoon-bu-header > div:nth-child(3) > div:nth-child(2){
	float: left;
	margin-left: 3.2VW;
	line-height: 6.8VH;
}

.expiredsoon-bu-main{
	width: 92.58VW;
	margin-left: 3.71VW;
}

.data-list-expiredsoon{
	width: 92.58VW;
	height: 8.75VH;
	color: #323232;
	border-bottom: 1px solid #D6D6D6;
}

.data-list-expiredsoon > div{
	width: 30.86VW;
	height: 8.75VH;
	float: left;
}

.data-list-expiredsoon > div:nth-child(1) div{
	width: 22.58VW;
	margin-left: 4.14VW;
	margin-top: 1.97VH;
	overflow:hidden; 
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
}

.data-list-expiredsoon > div:nth-child(2) {
	height: 8.75VH;
	line-height: 8.75VH;
	text-align: center;
}

.data-list-expiredsoon > div:nth-child(3) {
	height: 8.75VH;
	line-height: 8.75VH;
	text-align: right;
	font-family:Inconsolata-Regular;
}

.data-list-expiredsoon > div:nth-child(3) span {
	margin-right: 5VW;
}


/*nono of data-list for 2cloumn 3cloumn 4cloumn*/
.data-list-none-twoColumn,
.data-list-none-threeColumn,
.data-list-none-fourColumn{
	width: 92.58VW;
	height: 8.75VH;
	color: #323232;
	border-bottom: 1px solid #D6D6D6;
}

.data-list-none-twoColumn > div{
	width: 46.29VW;
	height: 8.75VH;
	float: left;
	text-align: center;
	line-height: 8.75VH;
}

.data-list-none-threeColumn > div{
	width: 30.86VW;
	height: 8.75VH;
	float: left;
	text-align: center;
	line-height: 8.75VH;
}

.data-list-none-fourColumn > div{
	height: 8.75VH;
	float: left;
	text-align: center;
	line-height: 8.75VH;
}

.data-list-none-fourColumn > div:nth-child(1){
	width: 25.848VW;
}

.data-list-none-fourColumn > div:nth-child(2){
	width: 30.377VW;
}

.data-list-none-fourColumn > div:nth-child(3){
	width: 24.988VW;
}

.data-list-none-fourColumn > div:nth-child(4){
	width: 11.367VW;
}

/********************************************  *******************************************/


.slider {
    width: 100VW;
}

.slick-prev:before, .slick-next:before {
	color: black;
}

div.scrollmenu {
	background-color: #fbfdfd;
	text-align: center;
	border-style: solid;
	border-width: 0.5px;
	border-color: #D6D6D6;
	white-space: nowrap;
	width: 100VW;
}

div.scrollmenu a {
	display: inline-block;
	padding: 1.8VH 0 1.6VH;
	background-color: #ffffff;
	color: #0f0f0f;
	font-family: Arial;
	font-size: 4.18VW;
	font-weight: 400;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	border-color: #e4e4e4 !important;
	width: 22VW;
	text-decoration: none;
}

div.scrollmenu a:nth-of-type(1){ 
	border-left-width: 0;
}

div.scrollmenu a.hover {
    background-color: #0fb6b7;
    color: #fff !important;
}

div.scrollmenu a.disableHover {
	background-color: #d6d6d6;
	color: #999999 !important;
}

div.scrollmenu a:active, div.scrollmenu a:hover{ 
	color: #0f0f0f;
}

/* let scroll more smooth in iOS */
.scrollmenu.Facility{ 
	-webkit-overflow-scrolling: touch;
}

/********************************************** mypanel *********************************************/
#mypanel #panel-header{
	background-color: #4c4c4c;
	color:#fff; 
	font-size: 4VW;
	font-family:Arial;
	height: 7.3VH;
}

#mypanel .panel-text{
	margin-left: 3.7VW;
	line-height:7.5VH;
}

#mypanel .panel-content{
	background-color: #f6f6f6;
	color: #0f0f0f;
	font-size: 3.8VW;
	font-family: Arial;
	height: 6.8VH;
}

#mypanel .panel-content{
	border-bottom: solid;
    border-bottom-color: #e4e4e4;
    border-bottom-width: 0.1VH;
}

#mypanel #mypanelviewDetail{
	border-bottom: solid;
    border-bottom-color: #666;
    border-bottom-width: 0.1VH;
}

#mypanel div.panel-content:hover {
    background-color: #503f81;
    color: #fff;
}

/*************************************viewMain highcharts*******************************************/
/*#viewMain #overview-hc-rectangle, #viewMain #overview-hc-bubble-landscape, 
#viewMain #overview-hc-rectangle-landscape, #viewMain #backBtn{
	display: none;
}*/
#viewMain #overview-hc-bubble-landscape, 
#viewMain #overview-hc-rectangle-landscape, #viewMain #backBtn{
	display: none;
}

#viewDetail #overdueSoon, #viewDetail #expiredSoon, #viewDetail #viewDetail-hc-column-landscape{
	display: none;
}

/********************************************** highcharts landscape *********************************************/
@media all and (orientation: landscape) {
	/*******************overview highcharts*********************/
	#viewMain .page-header, #viewMain .page-date, #viewMain .page-tabs, #viewMain #excludeLabel, #viewMain #backBtn,
	#viewMain #overview-hc-bubble, #viewMain #overview-hc-rectangle, #viewMain #overview-hc-rectangle-landscape {
		display: none;
	}
	#viewMain {
		padding-top: 0 !important;
	}
	.viewIndex.ui-page {
		background-color: #fff;
	}
	#viewMain #overview-hc-bubble-landscape {
		display: block;
	}
	
	#viewDetail .page-header, #viewDetail .page-tabs, #viewDetail #overdue, 
	#viewDetail #overdueSoon, #viewDetail #expiredSoon, #viewDetail .scrollmenu {
		display: none;
	}
	
	#viewDetail #viewDetail-hc-column-landscape {
		display: block;
	}
	
	#viewDetail{
		padding-top: 0.1VH !important;
	}
}

@media all and (orientation: portrait) {
	.ui-mobile .ui-page{ min-height: auto !important}	
}



