<!-- Start of viewQueryResult -->
<div data-role="page" id="viewQueryResult2"> 

   <div class="ios-fix-overlap-div"></div>
   <div data-role="header"  data-position="fixed" class="page-header">
	
		<a id="buttonSelect" href="#myPanelviewDataInputYTD"   
			class="ui-btn ui-icon-bars ui-btn-icon-left ui-btn-icon-notext ui-btn-b"></a>
		<div class="header-style"><h4 class="ui-title">YTY Hit Rate Trend</h4>
	</div>			
    </div>
    <div data-role="main" class="ui-content page-main ui-grid-d">
	<div data-role="tabs"> 
		<div data-role="navbar" style=" border-radius:5px height:10VH;margin-top:0VH" data-iconpos="bottom" data-role="none">
        <ul>
          <li><a href="#fragment-1" class="ui-btn-active" >Quantity</a></li> 
          <li><a href="#fragment-2"   					  >Amount</a></li>
          <li><a href="#fragment-3"                       >ASP</a></li>
        </ul>
        </div>
		
		<div  style="text-align:center"> 
			<p>2016</p>		
		</div>
		
        <div id="fragment-1">
			<p>This is the'One'</p>			
		</div>
		<div id="fragment-2">
			<p>This is the'Two'</p>
		</div>
		<div id="fragment-3">
			<p>This is the'Three'</p>
		</div>
    </div>
	
	<ul data-role="listview" data-icon="false" class="q-result-grid" id="employeeData" style=" margin-top:2VH">
        <li style="height:18VW" >  
			<div class="name"   style="width:50% ;text-align:center;">
				<p><a  name="detailIndex" style="color:black;font-size:110%; ">Actual Value</a></p>
				<p><a  name="detailIndex" style="color:black; font-size:4VH;">71,976 </a></p>
      			
			</div>
			<div class="name2"  style="width:50%;text-align:center;" >
				<p><a name="detailIndex" style="color:black; font-size:110%;">Budget Hit Rate</a></p>
				<p><a name="detailIndex" style="color:red;   font-size:4VH;">78,23%</a></p>      			 
			</div>		
		</li>
	</ul>
	
		<div><img src="img/line2.png" style ="height:50VW text-align:center;"></div> 
		<div class="scrollmenu" style="margin-top: 0VH;height:10VH" id="Site" >
		  <a >ALL</a>
		  <a >BQA</a>
		  <a >BQC</a>
		  <a >BQE</a>
		  <a >BQL</a>
		  <a >BQP</a>
		  <a >BENQ</a>  
		  <a >BQQ</a>
		</div>
	
	
		<div class="scrollmenu"  style="margin-top: 0VH;height:10VH"id="Pro">
		  <a href="#home">ALL</a>
		  <a href="#news">LCD</a>
		  <a href="#contact">PRJ</a>
		  <a href="#about">POP</a>
		  <a href="#support">LTV</a>
		  <a href="#blog">GGP</a>
	      <a href="#blog">LED</a>
     	  <a href="#blog">AUD</a>
		</div>
     </div>  
			
		 <div data-role="panel" id="myPanelviewDataInputYTD"  data-display="overlay"> 
			<h2>按我按我</h2>
			<p>這邊可以close喔~。</p>
			<a href="#viewQueryResult" data-rel="close" class="ui-btn ui-btn-inline">Close Panel</a>
		</div> 
</div>
</div>