<!-- Beginning of viewHitRate -->
<div data-role="page" id="viewHitRate" class="viewIndex">
    <div class="ios-fix-overlap-div"></div>
 	<div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
		<a class="menu-btn">
			<img src="img/humb.png" style="width:6VW;">
		</a>
		<div class="header-style">
			<h1 class="ui-title">Hit Rate</h1>
		</div>
  	</div>

  	<div data-role="main" class="ui-content page-main">
    	<form>
			<fieldset data-role="controlgroup" data-type="horizontal" class="page-tabs">
				<input type="radio" name="radio-choice-h-2" id="tab-1" checked="checked">
			    <label for="tab-1" class="tabs-title">This Month</label>

			    <input type="radio" name="radio-choice-h-2" id="tab-2">
			    <label for="tab-2" class="tabs-title label-style">Last Month</label>
			    
			    <input type="radio" name="radio-choice-h-2" id="tab-3">
			    <label for="tab-3" class="tabs-title">YTD</label>
			</fieldset>
		</form>

    	<div class="page-date">	
			<span>Dec.2016</span>
		</div>

		<div class="hc-fragment" id="hc-canvas" style="height:40VH;">
		</div>

		<div>
			<span>Adj Sales (USD$M)</span>
			<span>Hit Rate</span>
			<span>YOY Rate</span>
		</div>
		
		<div>
			<ul id="alldata" style="height:40VH; padding-left: 0px; margin-top: 0px;">
				<li>
					<div>
						BQA
					</div>
				</li>
				<li>
					<div>
						BQC
					</div>
				</li>
				<li>
					<div>
						BQE
					</div>
				</li>
				<li>
					<div>
						BQL
					</div>
				</li>
				<li>
					<div>
						BQP
					</div>
				</li>
				<li>
					<div>
						Total
					</div>
				</li>
			</ul>
		</div>
        
	</div>

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<h1>Page Footer</h1>
  	</div> 
</div>