<!-- Beginning of viewYTDHitRate -->
<div data-role="page" id="viewYTDHitRate" class="viewIndex">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none">
            <img src="img/humb.png" style="width:6VW;">
        </a>
        <div class="header-style">
            <h1 class="ui-title" style="width:47VW; margin:0 28VW;">YTD Hit Rate Trend</h1>
        </div>
    </div>

    <div data-role="main" class="ui-content page-main">
        <form >
            <fieldset data-role="controlgroup" data-type="horizontal" class="page-tabs">
                <input type="radio" name="radio-choice-h-2" id="viewYTDHitRate-tab-1" value="viewYTDHitRate-tab-1" checked="checked">
                <label for="viewYTDHitRate-tab-1" class="tabs-title">Amount</label>
        
                <input type="radio" name="radio-choice-h-2" id="viewYTDHitRate-tab-2" value="viewYTDHitRate-tab-2">
                <label for="viewYTDHitRate-tab-2" class="tabs-title label-style">ASP</label>
        
                <input type="radio" name="radio-choice-h-2" id="viewYTDHitRate-tab-3" value="viewYTDHitRate-tab-3">
                <label for="viewYTDHitRate-tab-3" class="tabs-title">Quantity</label>
            </fieldset>
        </form>

        <div class="page-date sliderYTD"> 
            <span></span>
        </div>
        <div>
            <sapn class="YTD-Str">(Year-to-Last Month)</sapn>
        </div>

        <div id="title-container">
            <div id="title">
                <div id="actualValue" style="width: 35VW; font-size:3.97VW; margin-left: 5VW;">
                    <p>YTD Adj. Sales</p>
                </div>
                <div style="width: 50VW; font-size:3.97VW; margin-left: 2.6VW">
                    <p>YTD Budget Hit Rate</p>
                </div>
            </div>
            <div id="title-content" style="margin-top: 1.3VH;">
                <div id="ActualValue" style="width: 35VW; font-size:3.97VW; margin-left: 5VW">
                    <p></p>
                </div>
                <div id="BudgetHitRate" style="width: 50VW; font-size:3.97VW; margin-left: 2.6VW;">
                    <p></p>
                </div>
            </div>
        </div>

        <div class="chartArea">
            <div class="hc-fragment" id="viewYTDHitRate-hc-canvas" style="height:46.5VH;">
            </div>
            <div class="hc-fragment-landscape" id="viewYTDHitRate-hc-landscape-canvas">
            </div>
        </div>

        <div style="margin-top: 1.5VH;">
            <div class="scrollmenu Ro" data-role="none" style="overflow: auto;">
                <a id="ALL">ALL</a>
                <a id="BQA">BQA</a>
                <a id="BQC">BQC</a>
                <a id="BQE">BQE</a>
                <a id="BQL">BQL</a>
                <a id="BQP">BQP</a>
            </div>
            <div class="scrollmenu Product" data-role="none" style="margin-top: 1.5VH; overflow: auto;">
            </div>
        </div>

    </div>

    <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    </div>
</div>