<!-- Beginning of viewHitRate -->
<div data-role="page" id="viewHitRate" class="viewIndex">
    <div class="ios-fix-overlap-div"></div>

 	<div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
		<a class="menu-btn" href="#mypanel">
			<img src="img/humb.png" style="width:6VW;">
		</a>
		<div class="header-style">
			<h1 class="ui-title">Hit Rate</h1>
		</div>
  	</div>

  	<div data-role="main" class="ui-content page-main">
    	<div><h>Dec. 2016</h></div>
    	<div>
    	</div>
    	<div>
    		<li>

    		</li>
    	</div>
	</div>

	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<h1>Page Footer</h1>
  	</div> 
</div>