<!-- Start of viewHitRate -->
<div data-role="page" id="viewHitRate" class="viewIndex">
    <div class="ios-fix-overlap-div"></div>
    <!-- <div data-role="header" data-position="fixed" class="page-header">
        <div class="header-style">
            <h1 class="ui-title">Hit Rate</h1>
        </div>
    </div>

    <div data-role="main" class="page-main">
    <p></p>
    </div>

 	<div data-role="footer" data-position="fixed" data-theme="b" data-tap-toggle="false">
    </div> -->
	<div id="pageone">
  		<div data-role="panel" id="overlayPanel" data-display="overlay"> 
    		<h2>Overlay Panel</h2>
    		<p>Yo clicking the button below:</p>
    	<a href="#pageone" data-rel="close" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left">Close panel</a>
  		</div>
  	<div data-role="header">
    	<h1>Page Header</h1>
  	</div>

  	<div data-role="main" class="ui-content">
    	<p>Click on one of the the buttons to open the Panel with different display modes.</p>
    	<a href="#overlayPanel" class="ui-btn ui-btn-inline ui-corner-all ui-shadow">Overlay Panel</a>
  	</div>

  	<div data-role="footer">
    	<h1>Page Footer</h1>
  	</div> 
	</div> 
</div>







