<?xml version='1.0' encoding='utf-8'?>
<widget id="com.BenQ.QPlay" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>QPlay</name>
    <description>
        BenQ Enterprise application framework
    </description>
    <author email="alan.tu@benq.com" href="http://benq.com">
        BenQ ITS
    </author>
    <content src="index.html" />
    <platform name="android">
    </platform>
    <platform name="ios">
    </platform>
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#FF0000" />
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>
