

<div data-role="page" id="viewFriendInvite">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <a href="#" data-role="none" id="backFriendInvite">
            <div class="q-btn-header" style="width: 5.957vw;">
                <svg class="header-icon">
                    <use xlink:href="#icon-nav_back_white"></use>
                </svg>
            </div>
        </a>
        <div class="header-style">
            <h1 class="ui-title"><span>好友請求</span></h1>
        </div>
    </div>

    <div data-role="main" class="page-main" id="viewFriendInviteContent">

        <div class="text-title">
            好友請求 :
        </div>

        <div class="data-list-content" id="userListContentFriendInvite"></div>

    </div>
</div>
