/***************************** viewMessageList ********************************/
#viewMessageList .ui-content {
    padding: 0 !important;
}

.message-scroll {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.input-search {
    width: 73vw !important;
    height: 7vw;
    padding: 0;
    font-size: 3vw;
}

.icon-style {
    width: 6vw;
}

.icon-margin {
    width: 6vw;
    margin-left: 3.3vw;
}

.dropdown-news {
    width: 3vw;
    vertical-align: top;
    margin-top: 2.5vw;
    margin-left: 2vw;
}

.select-type {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 22.54vw;
    display: none;
    z-index: 1;
}

.select-type > div {
    width: 100%;
    height: 11.47vw;
    color: #263238;
    font-size: 3.768vw !important;
    text-align: center;
    line-height: 11.47vw;
    border-bottom: 1px solid #666;
    background: #f9f9f9;
}

.select-type > div:hover {
    color: #f9f9f9 !important;
    background: #503e7f !important;
}

.handle-msg {
    width: 92.58vw;
    height: 11.27vw;
    line-height: 11.27VW;
    padding: 0 3.71vw;
    background-color: #ECEEF0;
    display: none;
    position: fixed;
    z-index: 1;
}

.fill-handle-blank {
    width: 100vw;
    height: 11.27vw;
    display: none;
}

.msg-select {
    float: left;
    width: 30vw;
    color: #263238;
    font-size: 4.18vw;
}

.msg-readed {
    float: right;
    width: 30vw;
    color: #8fa4ac;
    font-size: 4.18vw;
    text-align: right;
}

.msg-delete {
    float: right;
    width: 17.5vw;
    color: #8fa4ac;
    font-size: 4.18vw;
    text-align: right;
}

.message-type > div:nth-of-type(n+2) {
    display: none;
}

.message-type ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.no-data-li {
    width: 100%;
    height: 10vw;
    text-align: center;
    line-height: 10vw;
}

.msg-delete-btn {
    width: 6vw;
    margin-top: 8vw;
}

.msg-check-icon {
    display: none;
    float: left;
    width: 9vw;
}

.msg-check-btn {
    width: 6vw;
    margin-top: 5.5vw;
}

.msg-next-icon {
    float: left;
    width: 10vw;
}

.msg-next-btn {
    width: 6.5vw;
    margin-top: 5vw;
    margin-left: 3.5vw;
}

.msg-content-title {
    float: left;
    width: 82vw;
}

.msg-content-title > div:nth-of-type(1) {
    color: #8fa4ac;
    font-size: 3.14vw !important;
    padding-left: 2.81vw;
}

.msg-content-title > div:nth-of-type(2) {
    height: 9vw;
    margin-top: 2.49vw;
    color: #263238;
    font-size: 3.768vw !important;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    padding-left: 2.81vw;
}

.ui-message,
.ui-portal {
    border-top: none !important;
    padding: 3.36vw 3.71vw 3.27vw !important;
    background-color: #FFFFFF !important;
    border-bottom: 1px solid #d6d6d6 !important;
}

/*** swipe start ***/
.behind {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
    right: 0;
    /* border-bottom: 1px solid #d6d6d6; */
}

.behind a.ui-btn {
    width: 16vw;
    margin: 0px;
    padding: 0px;
	float: right;
    border: none;
    height: 100%;
    vertical-align: middle;
}

.behind a.delete-btn,
.behind a.delete-btn:active,
.behind a.delete-btn:visited,
.behind a.delete-btn:focus,
.behind a.delete-btn:hover {
	color: white;
    background-color: #009588;
	text-shadow: none;
}

.behind a.ui-btn.pull-left {
	float: left;
}

/*** swipe end ***/

.msg-update-date {
    width: 100%;
    height: 6.87vw;
    text-align: center;
    color: #8fa4ac;
    font-weight: normal;
    font-size: 3.14vw !important;
    line-height: 8vw;
    /* background: #fff; */
}

.confirmDeleteMsg .ui-content>.header {
    padding: 0 5.36vw;
    margin-top: 10vw;
}

.confirmDeleteMsg .ui-content>.footer {
    margin-top: 10%;
}