.QPlayCalendar {
    margin-top: 3.71VW;
}

.QPlayCalendar .table th, .QPlayCalendar .table td {
    text-align: center;
}

.QPlayCalendar tr.calendar-month-header th {
    background-color: #fafafa;
}
.QPlayCalendar .table tr.calendar-dow-header {
    height: 11.513VW;
}

.QPlayCalendar .table tr.calendar-dow {
    height: 11.03VW;
}

.QPlayCalendar .calendar-month-header {
    flex-flow: row wrap;
    display: -webkit-flex;
    margin-bottom: 4.3VW;
}

.QPlayCalendar div.calendar-month-navigation {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.nav_icon {
    width: 4.934VW;
}

.QPlayCalendar-navPrev{
    margin-left: 3.71VW;
}

.QPlayCalendar #dateTitle {
    width: 82.712VW;
    text-align: center;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
/*    border-style: solid;
    border-width: 0.1px;
    border-color: #d6d6d6;*/
    width: 92.58VW;
    margin: 0VW 3.71VW 0VW 3.71VW;
    padding: 0VW 3VW 0VW 3VW;
}

.QPlayCalendar .table .calendar-dow-header th {
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: Arial;
    font-weight: 600;
    font-size: 4VW;
}

.weekend {
    color: #2e89bc;
}

.holiday {
    color: #f69e1e;
}

.today {
    color: white;
    background-image: url("../img/today_date.png");
    background-repeat: no-repeat;
    background-size: 7.165VW;
    background-position-x: 2.67VW;
    background-position-y: 1.53VW;
}

.td-bottom-border {
    border-bottom-style: solid;
    border-color: #989898;
    border-width: 0.5px;
}

th {
    border-bottom-style: solid;
    border-color: #0f0f0f;
    border-width: 0.5px;
}

/* legend */
.QPlayCalendar div.legend {
    margin-right: 3.71Vw;
    margin-bottom: 2.14VW;
    text-align: right;
}

.QPlayCalendar div.legend .legend-img-text {
    font-size: small;
    margin-left: 3.71Vw;
}