#calendar {
    margin-top: 3.71VW;
}

#calendar .table th, #calendar .table td {
    text-align: center;
}

#calendar tr.calendar-month-header th {
    background-color: #fafafa;
}
#calendar .table tr.calendar-dow-header {
    height: 11.513VW;
}

#calendar .table tr.calendar-dow {
    height: 11.03VW;
}

#calendar .calendar-month-header {
    flex-flow: row wrap;
    display: -webkit-flex;
    margin-bottom: 4.3VW;
}

#calendar div.calendar-month-navigation {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.nav_icon {
    width: 4.934VW;
}

#calendar-navPrev{
    margin-left: 3.71VW;
}

#calendar #dateTitle {
    width: 82.712VW;
    text-align: center;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
/*    border-style: solid;
    border-width: 0.1px;
    border-color: #d6d6d6;*/
    width: 92.58VW;
    margin: 0VW 3.71VW 0VW 3.71VW;
    padding: 0VW 3VW 0VW 3VW;
}

#calendar .table .calendar-dow-header th {
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: Arial;
    font-weight: 600;
    font-size: 4VW;
}

.weekend {
    color: #2e89bc;
}

.holiday {
    color: #f69e1e;
}

.td-bottom-border {
    border-bottom-style: solid;
    border-color: #989898;
    border-width: 0.5px;
}

th {
    border-bottom-style: solid;
    border-color: #0f0f0f;
    border-width: 0.5px;
}

.day-selected {
    color: white;
    background-image: url("../img/today_date.png");
    background-repeat: no-repeat;
    background-size: 7.165VW;
    background-position-x: 2.67VW;
    background-position-y: 1.53VW;
    /*background-position-x: 50.67%;
    background-position-y: 50.53%;*/
}

.day-select {
    background-image: url("../img/event_date.png");
    background-repeat: no-repeat;
    background-size: 7.165VW;
    background-position-x: 2.67VW;
    background-position-y: 1.53VW; 
    /*background-position-x: 50.67%;
    background-position-y: 50.53%;  */
}

/* legend */
#calendar div.legend {
    margin-right: 3.71Vw;
    margin-bottom: 2.14VW;
    text-align: right;
}

#calendar div.legend .legend-img-text {
    font-size: small;
    margin-left: 3.71Vw;
}

.weekend-icon {
    content: url("../img/weekend_icon.png");
    width: 2.415VW;
    margin-right: 1.5VW;
}

.holiday-icon {
    content: url("../img/holiday_icon.png");
    width: 2.415VW;
    margin-right: 1.5VW;
}