/***************************************override jQuery Mobile***************************************/

.ui-content {
    padding: 0px;
}

.ui-panel-inner {
    padding: 0 !important;
}

#viewPersonalLeave .page-main .ui-radio {
    width: 46.29VW;
}

#viewPersonalLeave .page-main #leaveTime .ui-radio {
    width: 30.86VW;
}

#viewHolidayCalendar .page-main .ui-radio {
    width: 30.86VW;
}

.page-tabs>div>div>label {
    border: 1px solid #2b87ba !important;
}


/********************************************common use**********************************************/

.page-main {
    padding-top: 3.99vw;
    padding-bottom: 0;
}

#mypanel {
    background-color: #CECECE;
    box-shadow: 0 0 0;
    z-index: 1002;
}

.page-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.5);
}

.page-main .page-tabs {
    margin: 0 3.71VW 0 3.71VW;
}

.page-main .tabs-title {
    height: 8.7vw;
    font-size: 4.39vw;
    font-family: Arial;
    font-weight: 300;
    line-height: 9.8vw;
    text-align: center;
    background-color: #FFFFFF;
    padding: 0px;
}

.tpl-dropdown-list {
    padding: 5px 0 5px;
}

/******************************************* personal leave *****************************************/

.dropdown-icon {
    width: 3.54VW;
    margin: 0VW 3.2VW 0.35VH 3.2VW;
}

#dropdown-icon span {
    color: #666666;
    font-size: 3.14VW;
}

.tpl-option-msg-list {
    border-top-style: solid;
    border-top-color: #efefef;
    border-width: 0.1px;
    display: -webkit-flex;
}

.ui-hr {
    opacity: 0;
    height: 0px;
}

.popup-msg-style {
    width: 28VW;
    height: 4VW;
    margin: auto;
    opacity: 0.9;
    padding: 6.2VW 1VW 6.2VW 1VW;
    position: fixed;
    top: 70vw;
    left: 36vw;
    background-color: #666;
    border-radius: 1.5px;
    color: #F0F0F0;
    font-size: 3.6VW;
    text-align: center;
    z-index: 2;
    display: none;
}

.leavePreview-active-btn {
    background-color: #2A8ABD !important;
    border-color: #d6d6d6 !important;
    color: #ffffff !important;
}

/***************************** Public use CSS ******************************/

.leaveMenu {
    width: 4.934VW;
}

#searchBar,
#searchAgent,
#searchDeptAgent {
    width: 75VW;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: 3.945VW;
    background-position-x: 2.71VW;
    background-position-y: 1.6275VW;
    height: 8VW;
    margin-top: 5.07VW;
    text-indent: 8VW;
    font-size: 4vw;
    padding: 0;
    padding-top: 0.8vw;
}

.overflow-hidden {
    overflow: hidden;
}

.apply-container {
    width: 93.6vw;
    margin-left: 3.71vw;
}

.apply-date {
    height: 8.44vw;
    color: #666666;
}

.apply-categroy {
    height: 10.67vw;
    color: #0f0f0f;
}

.apply-agent {
    height: 12.81vw;
    color: #0f0f0f;
    border-bottom: 1px solid #d6d6d6;
}

.apply-categroy>div:nth-of-type(1),
.apply-agent>div:nth-of-type(1) {
    height: 3.349vw;
}

.apply-categroy>div:nth-of-type(2),
.apply-agent>div:nth-of-type(2) {
    height: 4.18vw;
    margin-top: 1.16vw;
}

.apply-categroy>div:nth-of-type(2)>span,
.apply-agent>div:nth-of-type(2)>span {
    display: inline-block;
}

.apply-select-img {
    margin-left: 3vw;
    width: 4vw;
    height: 2.75vw;
}

.apply-empty-div1 {
    height: 4.3vw;
}

.apply-empty-div2 {
    height: 10vw;
}

.apply-empty-div3 {
    height: 5vw;
}

.apply-leave-date {
    height: 19vw;
    color: #0f0f0f;
}

.apply-leave-date>div:nth-of-type(1),
.apply-leave-date>div:nth-of-type(2) {
    height: 5vw;
}

.apply-leave-date>div:nth-of-type(2)>div {
    display: inline-block;
    width: 46vw;
    height: 5vw;
    line-height: 5vw;
}

.apply-leave-date>div:nth-of-type(3) {
    height: 7vw;
}

.apply-leave-date>div:nth-of-type(3)>div {
    display: inline-block;
    width: 46vw;
    height: 7vw;
    line-height: 7vw;
}


/* Public use CSS for date-component */
.date-component {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -100;
}

.date-component input[type="datetime-local"],
.date-component input[type="date"],
.date-component input[type="text"] {
    opacity: 0 !important;
}

/* Public use CSS for 時數 */
.apply-leave-count {
    height: 11.5vw;
    color: #0f0f0f;
    border-bottom: 1px solid #d6d6d6;
}

.apply-leave-count>div:nth-of-type(1) {
    height: 3.349vw;
}

.apply-leave-count>div:nth-of-type(2) {
    height: 4.18vw;
    margin-top: 1.16vw;
}

.apply-leave-reason {
    height: 19.66vw;
    color: #0f0f0f;
}

.apply-leave-reason>div:nth-child(1) {
    height: 3.45vw;
}

.apply-leave-reason>div:nth-child(2) {
    height: 9.17vw;
    margin-top: 2.14vw;
}

.reason-textarea {
    resize: none;
    width: 86vw;
    height: 9.17vw;
    border: 0;
    overflow-y: auto;
    -webkit-appearance: none;
}

.apply-preview-btn {
    height: 10vw;
}

.apply-preview-btn>div:nth-of-type(1),
.apply-preview-btn>div:nth-of-type(2) {
    width: 64vw;
    height: 10vw;
    margin-left: 14.8vw;
    background-color: #D6D6D7;
    color: #999999;
    border-radius: 20px;
    text-align: center;
    line-height: 10vw;
}

.apply-submit-btn {
    height: 10vw;
}

.apply-submit-btn>div:nth-of-type(1),
.apply-submit-btn>div:nth-of-type(2) {
    width: 64vw;
    height: 10vw;
    margin-left: 14.8vw;
    background-color: #2A8ABD;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    line-height: 10vw;
}

.apply-preview-remove {
    margin-top: 4.3vw;
    height: 10vw;
    /*line-height: 10vw;*/
    text-align: center;
    color: #2A8ABD;
}

.apply-preview-remove>div {
    width: 30%;
    margin-left: 35%;
    height: 10vw;
    text-align: center;
    overflow: hidden;
    color: #2A8ABD;
}

.apply-preview-remove img {
    width: 3.5vw;
    height: 3.5vw;
    vertical-align: middle;
}

.date-time-component {
    height: 0;
    border: none;
}

.apply-preview {
    display: none;
    width: 93.6vw;
    margin-left: 3.2vw;
}

.preview-apply-date {
    height: 4.2vw;
    color: #666666;
}

.preview-apply-categroy {
    height: 15.3vw;
    border-bottom: 0.1vh solid #d6d6d6;
}

.preview-apply-categroy div:nth-of-type(1) {
    height: 4.3vw;
}

.preview-apply-categroy div:nth-of-type(2) {
    height: 3.2vw;
    line-height: 3.2vw;
}

.preview-apply-categroy div:nth-of-type(3) {
    height: 7.8vw;
    line-height: 7.8vw;
    color: #2A8ABD;
}

/******************************** override the css of jtsage-datebox *********************************/

.ui-body-b {
    background-color: #33aaff;
    border-color: #178fe5;
    color: #fff;
    text-shadow: none;
}

.ui-popup>span {
    margin: .5em 0em;
}

.ui-datebox-container {
    padding-top: 20px;
}

.ui-controlgroup-controls .ui-btn.ui-btn-a,
.ui-controlgroup-controls .ui-btn.ui-btn-a:hover {
    border-style: none;
    background-color: #ffffff;
    color: #2A8ABD;
    font-family: Heiti TC;
    padding-left: 7%;
}

.ui-datebox-controls > div {
    border-top: solid #d6d6d6 1px;
    text-align: center !important;
}

.ui-btn-icon-left:after {
    display: none;
}

.ui-btn-icon-notext:after {
    background-color: transparent;
}

.ui-popup>.ui-btn-left {
    left: 260px;
    top: 4px;
}

.ui-btn-icon-notext {
    width: 1.5em;
    height: 1.5em;
}

li.ui-body-a {
    background-color: #f5f5f5 !important;
    /*border: 1px solid #ddd;*/
}

.ui-datebox-flipcenter {
    width: 240px !important;
}

/********************************************** mypanel *********************************************/

#mypanel .panel-content {
    background-color: #f6f6f6;
    color: #0f0f0f;
    font-size: 3.97VW;
    font-family: Arial;
    padding: 4.3vw 0 3.71vw 3.71vw;
}

#mypanel .panel-content {
    border-bottom: solid;
    border-bottom-color: #e4e4e4;
    border-bottom-width: 0.1VH;
}

#mypanel div.panel-content:hover {
    background-color: #87cec0;
    color: #fff;
}

/********************************************** Calendar *********************************************/

.leave {
    background-image: url("../img/event_date.png");
    background-repeat: no-repeat;
    background-size: 7.165VW;
    background-position-x: 2.67VW;
    background-position-y: 1.53VW;
}

.tooltip {
    position: absolute;
    border: 1px solid #CCA052;
    background-color: rgba(255, 255, 255, 0.95);
    color: #323232;
    font-size: 3.14vw;
    padding: 2vw;
    border-radius: 5px;
    line-height: 1;
}

.tooltip table {
    margin: 0;
    padding: 0;
}