<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Badminton.app</string>
		<key>CFBundleIdentifier</key>
		<string>io.cordova.Badminton</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.0</string>
		<key>CFBundleVersion</key>
		<string>1.0.0</string>
		<key>SigningIdentity</key>
		<string>iPhone Developer: 偉瑜 tu (GCSPW8E83U)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2017-05-10T03:15:24Z</date>
	<key>Name</key>
	<string>Badminton</string>
	<key>SchemeName</key>
	<string>Badminton</string>
</dict>
</plist>
