<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="qplay" connectionString="Database=qplay;Data Source=10.85.129.44;User Id=root;Password=Qcs@2012;pooling=false;CharSet=utf8;port=3306;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="jmessage_app_key" value="3c207a542c715ca5a0c7426d" />
    <add key="jmessage_master_secret" value="b15a6140ee8971c7598c3a0b" />
    <add key="registerKey" value="3b44cf1f98c4492e9093f2f8fcf9edc9" />
    <add key="register_url" value="http://qplaytest.benq.com/qmessage/public/v101/qmessage/register"/>
    <add key="username" value="XXXXXXXX"/>
    <add key="password" value="XXXXXXXX"/>
    <add key="proxy_url" value="http://qcsproxyy.qgroup.corp.com"/>
  </appSettings>
</configuration>