/****************************** viewUserPassword ******************************/
#viewUserPassword .ui-content {
    padding: 0 !important;
}

.user-password {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #FFF;
}

.user-password-title {
    width: 90.38vw;
    padding: 6.5vw 3.71vw 5.7vw 5.91vw;
    color: #253137;
    font-size: 4.18vw;
}

.user-password-number {
    width: 83vw;
    height: 15vw;
    padding: 0 0 5.37vw 16vw;
}

.user-password-number > div {
    width: 13.25vw;
    height: 13.25vw;
    display: inline-block;
    margin-right: 4.64vw;
    border: 1px solid #989898;
}

.pwd-active {
    border: 1px solid #119083 !important;
}

.pwd-circle {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    margin-left: 5.5vw;
    margin-top: 5.5vw;
    background: #666;
    display: none;
}

.user-password-btn {
    width: 100vw;
    height: 10vw;
    padding-bottom: 5.37vw;
}

.user-password-next {
    width: 33.5vw;
    height: 100%;
    margin-left: 33.3vw;
    background: #d6d6d6;
    text-align: center;
    line-height: 10vw;
    color: #989898;
    font-size: 4.18vw;
}

.user-password-forget {
    width: 100vw;
    text-align: center;
    color: #666;
    font-size: 3.14vw;
}

.user-password-keyboard {
    width: 100vw;
    height: 80vw;
    position: fixed;
    bottom: 0;
}

.user-password-keyboard > div {
    width: 33vw;
    height: 20vw;
    background: #F6F6F6;
    display: inline-block;
    text-align: center;
    line-height: 20vw;
    border: 1px solid #d6d6d6;
    margin-bottom: -1px;
    margin-right: -1px;
    color: #666666;
    font-size: 8.37vw;
}