<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-qlogin"
      version="1.0.0">
    <name>QLoginPlugin</name>
    <description>QPlay QLogin Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,qlogin,policy</keywords>
	
	<js-module src="www/QLogin.js" name="QLoginPlugin">
		<clobbers target="window.plugins.qlogin" />
	</js-module>
	
    <platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
				<feature name="QLoginPlugin" >
					<param name="android-package" value="org.apache.cordova.qlogin.QLoginPlugin"/>
				</feature>
				<serverUrl href = "http://qplay.benq.com/qplayApi/public/index.php/qplayauth_register"/>
       </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
           <activity android:name="org.apache.cordova.qlogin.LoginActivity">
			    <intent-filter>
                 <action android:name="android.intent.action.VIEW"/>
                 <category android:name="android.intent.category.BROWSABLE"/>
                 <category android:name="android.intent.category.DEFAULT"/>
                 <data android:scheme="qplay"/>
              </intent-filter>
           </activity> 
       </config-file>

		<source-file src="src/android/QLoginPlugin.java" target-dir="src/org/apache/cordova/qlogin" />
		<source-file src="src/android/LoginInfo.java" target-dir="src/org/apache/cordova/qlogin" />
		<source-file src="src/android/LoginActivity.java" target-dir="src/org/apache/cordova/qlogin" />
		<source-file src="src/android/login_activity.xml" target-dir="res/layout" />
        	<info>
               
          </info>
    </platform>
	
	<platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="QLoginPlugin">
                <param name="ios-package" value="QLoginPlugin"/>
				<param name="onload" value="true"/>
            </feature>
	    <serverUrl href = "http://qplay.benq.com/qplayApi/public/index.php/qplayauth_register"/>
        </config-file>

        <header-file src="src/ios/QLoginPlugin.h" />
        <source-file src="src/ios/QLoginPlugin.m" />
    </platform>

</plugin>
