<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/lib/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="css/component.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <script type="text/javascript" src="js/lib/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.mobile-1.4.5.min.js"></script>

</head>
<body>
    <div data-role="page" id="viewDataInput" class="viewIndex">
        <div class="ios-fix-overlap-div"></div>
        <div data-role="header" data-position="fixed" class="page-header">
            <div class="header-style">
                <h1 class="ui-title">我的預約</h1>
            </div>
        </div>

        <div data-role="main" class="page-main">
            <span style="margin-left:15px;">今天</span>
            <div class="ui-btn ui-shadow ui-corner-all margin-10">
                <fieldset class="ui-grid-b">
                    <div class="ui-block-a col-5"><h1 class="ui-benq-color">10:30 - 12:00</h1></div>
                    <div class="ui-block-b col-3"><h1 class="ui-benq-color">T131</h1></div>
                    <div class="ui-block-c col-2"><a href="#Cancel" class="btn-benq-color ui-btn ui-shadow ui-corner-all" style="margin-top:10px;">取消</a></div>
                </fieldset>
            </div>
            <div class="ui-btn ui-shadow ui-corner-all margin-10">
                <fieldset class="ui-grid-b">
                    <div class="ui-block-a col-5"><h1 class="ui-benq-color">10:30 - 12:00</h1></div>
                    <div class="ui-block-b col-3"><h1 class="ui-benq-color">T131</h1></div>
                    <div class="ui-block-c col-2"><a href="#Cancel" class="btn-benq-color ui-btn ui-shadow ui-corner-all" style="margin-top:10px;">取消</a></div>
                </fieldset>
            </div>
            <hr class="col-95" style="margin:10px auto 10px auto;" />
            <div class="ui-btn ui-shadow ui-corner-all margin-10">
                <fieldset class="ui-grid-b">
                    <div class="ui-block-a col-5">
                        <h1 class="ui-color-lightblue">
                            <label class="other-adjust">
                                9/1(四)
                            </label>10:30 - 12:00
                        </h1>
                    </div>
                    <div class="ui-block-b col-3"><h1 class="ui-color-lightblue" style="padding-top:5px;"><br>T131</h1></div>
                    <div class="ui-block-c col-2"><a href="#Cancel" class="btn-benq-color ui-btn ui-shadow ui-corner-all" style="margin-top:20px;">取消</a></div>
                </fieldset>
            </div>
            <div class="ui-btn ui-shadow ui-corner-all margin-10">
                <fieldset class="ui-grid-b">
                    <div class="ui-block-a col-5">
                        <h1 class="ui-color-lightblue">
                            <label class="other-adjust">
                                9/1(四)
                            </label>10:30 - 12:00
                        </h1>
                    </div>
                    <div class="ui-block-b col-3"><h1 class="ui-color-lightblue" style="padding-top:5px;"><br>T131</h1></div>
                    <div class="ui-block-c col-2"><a href="#Cancel" class="btn-benq-color ui-btn ui-shadow ui-corner-all" style="margin-top:20px;">取消</a></div>
                </fieldset>
            </div>
            <div class="ui-btn ui-shadow ui-corner-all margin-10">
                <fieldset class="ui-grid-b">
                    <div class="ui-block-a col-5">
                        <h1 class="ui-color-lightblue">
                            <label class="other-adjust">
                                9/1(四)
                            </label>10:30 - 12:00
                        </h1>
                    </div>
                    <div class="ui-block-b col-3"><h1 class="ui-color-lightblue" style="padding-top:5px;"><br>T131</h1></div>
                    <div class="ui-block-c col-2"><a href="#Cancel" class="btn-benq-color ui-btn ui-shadow ui-corner-all" style="margin-top:20px;">取消</a></div>
                </fieldset>
            </div>
        </div>
    </div>
</body>
</html>
