<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/lib/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="css/component.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <script type="text/javascript" src="js/lib/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.mobile-1.4.5.min.js"></script>

</head>
<body>
    <div data-role="page" id="viewDataInput" class="viewIndex">
        <div class="ios-fix-overlap-div"></div>
        <div data-role="header" data-position="fixed" class="page-header">
            <div class="header-style">
                <h1 class="ui-title">偏好設置</h1>
            </div>
        </div>

        <div data-role="main" class="page-main">
            <div class="ui-btn ui-shadow ui-corner-all margin-10">
                <fieldset class="ui-grid-a">
                    <h2 class="ui-color-yellow" style="text-align: left;margin-left:10px;margin-bottom:10px;">
                        現在空的會議室 BQT/QTT
                    </h2>
                </fieldset>
                <hr class="ui-color-yellow col-95" style="margin:0px auto 10px auto;" />
                <fieldset class="ui-grid-a ui-left-adjust">
                    <div class="ui-block-a col-5">
                        <span>人數&nbsp;8人以上</span>
                    </div>
                    <div class="ui-block-b col-5">
                        <span>時段&nbsp;13:00 - 15:00</span>
                    </div>
                </fieldset>
                <div class="ui-left-adjust"><span>優先樓層&nbsp;13F</span></div>
            </div>

            <div class="ui-btn ui-shadow ui-corner-all margin-10">
                <fieldset class="ui-grid-a">
                    <div class="ui-block-a col-8">
                        <h2 class="ui-color-yellow" style="text-align: left;margin-left:10px;margin-bottom:10px;">BI30週會 BQT/QTT</h2>
                    </div>
                    <div class="ui-block-b col-2"><a href="#Delete" class="ui-btn ui-shadow ui-corner-all" style="margin:10px;padding:2px;">刪除</a></div>
                </fieldset>
                <hr class="ui-color-yellow col-95" style="margin:0px auto 10px auto;" />
                <fieldset class="ui-grid-a ui-left-adjust">
                    <div class="ui-block-a col-5">
                        <span>人數&nbsp;8人以上</span>
                    </div>
                    <div class="ui-block-b col-5"><span>時段&nbsp;13:00 - 15:00</span></div>
                </fieldset>
                <div class="ui-left-adjust"><span>優先樓層&nbsp;13F</span></div>
            </div>
        </div>
    </div>
</body>
</html>
