.reserve-widget {
    width: 100%;
    height: 100%;
}

.personal-info {
    width: 100%;
    height: 40%;
}

.personal-info > div {
    float: left;
}

.personal-info::after {
    clear: both;
}

.personal-info > div:nth-of-type(1) {
    width: 30%;
    height: 100%;
}

.personal-info > div:nth-of-type(2) {
    width: 70%;
    height: 100%;
}

.personal-info > div:nth-of-type(2) > div {
    height: 40%;
    line-height: 2;
}

.personal-info img {
    width: 65%;
    height: 80%;
    border-radius: 50%;
    margin-left: 3vw;
    margin-top: 1vw;
}

.personal-res {
    width: 100%;
    height: 60%;
}

.personal-res ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.personal-res ul li {
    height: 10vw;
    margin-bottom: 2vw;
}

.reserve-today > div {
    float: left;
}

.reserve-today > div:nth-of-type(1) {
    width: 20vw;
    height: 10vw;
    text-align: right;
    padding-right: 3vw;
    border-right: 2px solid #4cb5ab;
}

.reserve-today > div:nth-of-type(1) > div {
    height: 5vw;
}

.reserve-today > div:nth-of-type(1) > div:nth-child(1) {
    color: #231f20;
}

.reserve-today > div:nth-of-type(1) > div:nth-child(2) {
    color: #8fa4ac;
}

.reserve-today > div:nth-of-type(2) {
    width: 70vw;
    height: 10vw;
    line-height: 10vw;
    padding-left: 3vw;
}

.widget-reserve-null {
    width: 100%;
    height: 80%;
    line-height: 5;
    padding-left: 5vw;
}