/******************************** viewUserSelectShop ********************************/
#viewUserSelectShop .ui-content {
    padding: 0 !important;
}

.user-select {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #ECEEEF;
}

.user-select-title {
    width: 92.58vw;
    padding: 6.4vw 3.71vw 2.5vw;
    color: #0F0F0F;
    font-size: 3.349vw;
}

.user-select-shop ul {
    background: #FFF;
}

.user-select-shop ul li {
    width: 100%;
    height: 15.34vw;
    border-bottom: 1px solid #d6d6d6;
}

.user-select-list > div {
    float: left;
}

.user-select-list > div:nth-of-type(1) {
    width: 90vw;
    height: 100%;
    text-indent: 7.42vw;
    line-height: 15.34vw;
    color: #253137;
    font-size: 4.18vw;
}

.user-select-list > div:nth-of-type(2) {
    width: 10vw;
    height: 100%;
}

.user-select-list > div:nth-of-type(2) img {
    width: 6.5vw;
    margin-top: 4.5vw;
}