
div::-webkit-scrollbar {
    width: 0;
}

/*-----------------------------------------------------------------override jQuery Mobile*/
.ui-content {
    padding: 0px;
}

a {
    text-decoration: none;
}

::-webkit-input-placeholder {
    color: #999999;
}

.ui-mobile .ui-page-active {
    min-height: 90vh;
}

/*-----------------------------------------------------------------common class*/
input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    background: url('../img/checkbox_table_circlebox.png') no-repeat;
    background-size: 5vw 5vw;
    height: 5vw;
    width: 5vw;
    display: inline-block;
    padding: 0 0 0 0;
}

input[type=checkbox]:checked + label {
    background: url('../img/checkbox_table_circlebox_select.png') no-repeat;
    background-size: 5vw 5vw;
    height: 5vw;
    width: 5vw;
    display: inline-block;
    padding: 0 0 0 0;
}

.overlap-label-icon {
    clear: both;
    float: left;
}

.overlap-label-checkbox {
    position: absolute;
    width: 7vw;
    height: 100%;
    top: 0;
    left: 0;
}

.ui-hr-list {
    position: relative;
    left: -3vw;
    width: 106%;
}

.ui-page {
    background-color: #F9F9F9;    
}

.none-work {
    opacity: 0.6;
}

.searchBar {
    width: 92VW;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: 3.945VW;
    background-position-x: 3.945VW;
    background-position-y: 2.6275VW;
    height: 8.242VW;
    text-indent: 10.015VW;
    font-size: 4.18vw;
    padding: 0;
    padding-top: 1vw;
}

.input {
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    border-radius: 4px;
    background-color: #ffffff;
    height: 8.242VW;
    text-indent: 3.71VW;
    font-size: 4.18vw;
    padding: 0;
    padding-top: 1vw;
    width: 62vw;
}

.no-data {
    font-size: 3.14vw;
    color: #666666;
    text-align: center;
    margin-top: 70%;
}

.data-overflow {
    margin-top: 6.44vw;
    padding-bottom: 20vw;
}

.page-header .ui-btn-right span {
    display: inline-block;
    margin-top: 0.5vw;
}

.data-list-content {
    background-color: #FFF;
    margin-left: -3.7vw;
    padding: 0 6.7vw;
    width: 86.6vw;
}

.data-list {
    display: inline-block;
    line-height: 1;
    padding: 3vw 0 2vw;
}

.data-list .left, .data-list .right {
    float: left;
}

.data-list .img-content {
    height: 9vw;
    padding-right: 3vw;
}

.data-list .photo {
    width: 8.051vw;
    height: 8.051vw;
    margin-top: 3vw;
    border-radius: 50%;
}

.text-title {
    font-size: 3.349vw;
    color: #323232;
    margin: 4.3vw 0 2.14vw 0;
}

.header-icon {
    width: 5.958vw;
    height: 5.958vw;
}

.list-down, .list-up {
    width: 4vw;
    height: 4vw;
}

/*-----------------------------------------------------------------Index*/
#viewIndexContent {
    padding: 3.99vw 3.7vw 0;
}

#chatroomDiv, #memberDiv {
    padding: 4.3vw 0 0;
}

.index-footer {
    width: 13.868vw;
    left: initial;
    right: 6.727vw;
    bottom: 4.3vw;
}

.index-footer.ui-bar-inherit {
    background-color: rgba(255,0,0,0);
    border-color: rgba(255,0,0,0);
}

.new-chatroom-button {
    width: 13.898vw;
    height: 13.898vw;
}

.chatroom-list-content {
    margin-top: 22.3vw;
    position: absolute;
}

.chatroom-list .data-content {
    width: 75vw;
}

.chatroom-list .date {
    width: 100%;
    font-size: 2.93vw;
    color: #989898;
    text-align: right;
}

.chatroom-list .group-content {
    width: 58.5vw;
}

.chatroom-list .group-name {
    font-size: 4.18vw;
    color: #2C89BC;
}

.chatroom-list .latest-message {
    font-size: 3.349vw;
    color: #989898;
}

.chatroom-list .count-message {
    width: 16.218vw;
    text-align: right;
    padding-top: 2%;
}

.chatroom-list .number-circle {
    display: inline-block;
    font-size: 3.14vw;
    color: #FFF;
    background-color: #49BA83;
    border-radius: 50%;
    padding: 0.9vw 1.5vw 0.4vw;
}

.chatroom-list .number-circle-big {
    border-radius: 25px;
}

.chatroom-list .number {
    margin-top: 5%;
}

.friend-data-content {
    margin-top: 18.3vw;
    position: absolute;
}

.personal-title {
    font-size: 3.340vw;
    color: #0F0F10;
    margin: 4.3vw 0 2.14vw 0;
}

.personal-content {
    height: 15vw;
    margin-bottom: 5vw;
}

.data-list .personal-photo-content {
    height: 8vw;
}

.personal-photo {
    width: 8.051vw;
    height: 8.051vw;
    border-radius: 50%;
}

.personal-name {
    font-size: 4.18vw;
    color: #323232;
}

.personal-status {
    font-size: 3.349vw;
    color: #989898;
    margin-top: 0.5vw;
}

.friend-content {

}

.friend-list {
    position: absolute;
}

.friend-list .user-name-only {
    margin-top: 2.4335vw;
}

.friend-title {
    font-size: 3.55vw;
    color: #323232;
    margin: 4.3vw 0 3vw 0;
    width: 77vw;
    float: left;
}

.list-switch {
    margin-top: 4.3vw;
    padding: 0 2vw;
    float: left;
}

.friend-add-btn {
    clear: both;
    display: inline-block;
    width: 35vw;
    padding: 4.3vw 0 3vw 0;
}

.btn-addfriend-img {
    width: 7vw;
    height: 7vw;
    margin-top: -0.8vw;
    margin-right: 5vw;
    float: left;
}

.btn-addfriend-text {
    font-size: 4.18vw;
    color: #2C89BC;
}

.ui-hr-friend-btn {
    position: relative;
    left: -6.71vw;
    width: 100vw;
    background-color: #E5E5E5;
}

.ui-hr-friend-list:last-child {
    margin-bottom: 3vw;
}

.index-navbar .ui-navbar {
    position: fixed;
    width: 92.58vw;
    z-index: 110;
}

.search-index-content {
    top: 25vw;
    margin-top: 4.3vw;
    position: fixed;
    z-index: 110;
}

/*-----------------------------------------------------------------NewChatroom*/
#viewNewChatroomContent {
    padding: 0 3.71vw;
    padding-top: 13.99vw;
}

.search-user-content {
    margin-top: 4.3vw;
    position: fixed;
    top: 13.99vw;
    z-index: 110;
}

.search-user-content-background {
    position: fixed;
    width: 100vw;
    height: 18.79vw;
    left: 0;
    top: 13vw;
    background-color: #F9F9f9;
    z-index: 100;
}

.search-user-input {

}

.search-user-button {
    font-size: 4.18vw;
    color: #2C89BC;
    width: 8.4vw;
    position: absolute;
    top: 2.468vw;
    right: -11.4vw;
}

.search-user-clear-content {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2.6275vw 3.71vw;
}

.search-user-clear {
    width: 4.025vw;
    height: 4.025vw;
}

.user-list {
    padding: 3vw 0 1vw;
    position: relative;
}

.user-list .checkbox-content {
    height: 7vw;
    padding: 2vw 3vw 0 0;
}

.user-list .photo {
    margin-top: 0.5vw;
}

.user-list .user-content {
    width: 45vw;
}

.user-list .user-name {
    font-size: 4.18vw;
    color: #323232;
}

.user-list .user-name-only {
    margin-top: 2.4335vw;
}

.user-list .user-info {
    font-size: 3.14vw;
    color: #989898;
    padding-top: 0.98vw;
}

.user-list .button-content {
    width: 21vw;
}

.user-list .button-icon-content {
    width: 6.441vw;
    height: 6.441vw;
    margin-top: 1vw;
    float: left;
}

.user-list .button-icon {
    width: 6.441vw;
    height: 6.441vw;
}

.user-list .button-text {
    float: left;
    width: 14vw;
    text-align: right;
    font-size: 3.349vw;
    color: #2C89BC;
    margin-top: 2.6vw;
}

.user-list .action-info {
    width: 20.441vw;
    color: #989898;
    float: none;
}

.action-success-full-screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.action-success-full-screen div {
    position: relative;
    top: 50%;
    text-align: center;
}

.action-success-full-screen div span {
    background-color: rgba(102, 102, 102, 0.7);
    color: #FFFFFF;
    font-size: 3.55vw;
    padding: 3vw;
}

.new-chatroom-footer.ui-bar-inherit {
    background-color: rgba(86, 98, 112, 0.9);
    height: 16.86vw;
    padding: 1.945vw 0 0 3.71vw;
    opacity: 0;
    overflow-x: scroll;
    white-space: nowrap;
}

.new-chatroom-footer .data-list,
.data-list.animate {
    padding: 0;
}

.new-chatroom-footer .data-list .left {
    width: 18.84vw;
    position: relative;
}

.data-list.animate {
    position: absolute;
    z-index: 1000;
}

.data-list.last {
    margin-right: 5.655vw;
}

.new-chatroom-footer .data-list .photo {
    margin: 1vw 0 1.7vw 5.4vw;
}

.data-list.animate .photo {
    margin: 0;
}

.new-chatroom-footer .data-list .delete {
    width: 4.18vw;
    height: 4.18vw;
    position: absolute;
    left: 11.3555vw;
}

.new-chatroom-footer .data-list .user-name {
    clear: both;
    color: #FFFFFF;
    font-size: 3.14vw;
    width: 14.95vw;
    padding: 0 1.945vw;
}

.data-list.animate .user-name {
    clear: both;
    color: #000000;
    font-size: 3.14vw;
}

/*-----------------------------------------------------------------Chatroom*/
#viewChatroom .page-header {
    border-bottom: none;
}

.chatroom-action-content {
    margin-top: 2.3vw;
    margin-left: 39vw;
    position: fixed;
    top: 13.99vw;
    z-index: 110;
}

.chatroom-action-icon {
    width: 6.051vw;
    height: 6.051vw;
    margin-left: 4.5vw;
}

.chatroom-action-text {
    font-size: 3.14vw;
    color: #FFFFFF;
}

.chatroom-action-content-background {
    position: fixed;
    width: 100vw;
    height: 18.79vw;
    left: 0;
    top: 13vw;
    opacity: 0.9;
    background-color: #566270;
    z-index: 100;
}

.chatroom-footer.ui-bar-inherit {
    background-color: #2C89BC;
    height: 12.88vw;
}

.chatroom-footer > div {
    float: left;
}

.chatroom-footer .right {
    width: 17vw;
    height: 100%;
    float: right;
}

.chatroom-footer .center {
    width: 66vw;
    height: 8.134;
    padding-top: 2.373vw;
    float: right;
}

.chatroom-footer .center .ui-input-text {
    margin: 0;
}

#msgText {
    height: 8.134vw;
    font-size: 4.18vw;
    min-height: 8vw;
}

.chatroom-footer .left {
    padding-top: 3.29vw;
}

.chatroom-footer .right {
    color: #FFF;
    font-size: 4.18vw;
    padding-top: 4.1vw;
    text-align: center;
}

.chatroom-footer .camera {
    position: relative;
    width: 6.28vw;
    height: 6.28vw;
}

.chatroom-footer .camera-button-content {
    position: absolute;
    opacity: 0;
    float: left;
    left: -27.556vw;
}

.chatroom-footer .camera-open {
    margin: 0 4.959vw;
}

.chatroom-footer .camera-left {
    margin-left: 4.959vw;
    margin-right: 5.038vw;
}

.chatroom-footer .camera-right {
    margin-right: 4.959vw;
}

#viewChatroomContent {
    padding: 4.99vw 3.71vw 0;
}

.msg-time {
    margin-bottom: 0.5vw;
}

#viewChatroomContent .date {
    background-color: #2C89BC;
    width: max-content;
    font-size: 3.14vw;
    color: #FFFFFF;
    text-align: center;
    border-radius: 12px;
    padding: 0.6vw 5.797vw 0.5vw;
    line-height: 1;
    margin: 0 auto;
}

#viewChatroomContent .event {
    padding: 1.1vw 4.616vw 1vw;
}

#viewChatroomContent .text {
    font-size: 4.18vw;
    color: #323232;
    padding: 2vw;
    max-width: 60.239vw;
}

#viewChatroomContent .time {
    font-size: 2.93vw;
    color: #666666;
    width: max-content;
}

#viewChatroomContent .img {
    background-color: #000000;
    border-radius: 10px;
}

#viewChatroomContent .img-horizontal {
    width: 53.558vw;
    max-width: 53.558vw;
}

#viewChatroomContent .img-vertical {
    height: 53.558vw;
    max-height: 53.558vw;
}

#viewChatroomContent .img-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 53.558vw;
    height: 53.558vw;
    background: rgba(35, 31, 32, 0.4);
    text-align: center;
}

.msg-right {
    float: right;
    position: relative;
}

.time-right {
    float: left;
    margin-right: 1.878vw;
    position: absolute;
    bottom: 0;
    left: -8.79vw;
}

.text-right {
    position: relative;
    background: #B1DCEC;
    border: 1px solid #2F89BC;
    border-radius: 12px;
    float: left;
}

.text-right:after, .text-right:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.text-right:after {
    border-color: rgba(177, 220, 236, 0);
    border-left-color: #B1DCEC;
    border-width: 5px;
    margin-top: -5px;
}

.text-right:before {
    border-color: rgba(47, 137, 188, 0);
    border-left-color: #2F89BC;
    border-width: 6px;
    margin-top: -6px;
}

.msg-left {
    float: left;
    position: relative;
}

.msg-left .left {
    display: inline-block;
    float: left;
}

.msg-left .right {
    display: inline-block;
}

.msg-left .name {
    color: #666666;
    font-size: 3.14vw;
    margin-left: 1.878vw;
    line-height: 1;
    padding: 1vw 0;
}

.time-left {
    float: left;
    margin-left: 1.878vw;
    position: absolute;
    bottom: 0;
    right: -8.79vw;
}

.text-left {
    position: relative;
    background: #F3F4F4;
    border: 1px solid #D6D6D5;
    border-radius: 12px;
    float: left;
    margin-left: 1.878vw;
}

.text-left:after, .text-left:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.text-left:after {
    border-color: rgba(243, 244, 244, 0);
    border-right-color: #F3F4F4;
    border-width: 5px;
    margin-top: -5px;
}

.text-left:before {
    border-color: rgba(214, 214, 213, 0);
    border-right-color: #D6D6D5;
    border-width: 6px;
    margin-top: -6px;
}

.msg-photo {
    width: 8.051vw;
    height: 8.051vw;
}

#viewChatroomContent .msg {
    margin-bottom: 4.3vw;
    clear: both;
}

.message-photo-full-screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    touch-action: none;
}

.message-photo-full-screen .button-content {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 13.06vw;
    z-index: 1100;
    background-color: #0f0f0f;
    color: #FFF;
}

.message-photo-full-screen .button-content.top {
    top: 0;
}

.message-photo-full-screen .button-content.top .back {
    margin: 3.5vw 0 0 3.5vw;
}

.message-photo-full-screen .button-content.bottom {
    bottom: 0;
}

.message-photo-full-screen .button-content.bottom span {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding-top: 4.4vw;
    height: 100%;
    z-index: 1100;
}

.back {
    background: url(../img/component/back_nav.png) no-repeat;
    background-size: 6vw;
    width: 6vw;
    height: 6vw;
    display: block;
}

.back-button {
    width: 20vw;
    height: 100%;
}

.message-preview {
    position: fixed;
    left: 0;
    bottom: 12.88vw;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.4);
    color: #f9f9f9;
    padding: 2.73vw 3.71vw;
}

/*-----------------------------------------------------------------AddFriend*/
#viewAddFriendContent {
    padding: 14.49vw 3.71vw 0;
}

.search-addfriend-content {

}

.user-list .checkbox-content-addFriend {
    width: 0;
    padding: 0;
}

.user-list .user-content-addFriend {
    width: 54vw;
}

/*-----------------------------------------------------------------Chatroom Info*/
.chatroom-info-list {
    margin-left: 0;
    padding: 2.41vw 3.71vw;
    width: 100vw;
    height: 25.466vw;
}

.chatroom-info-list .left, .chatroom-info-list .right {
    float: left;
}

.chatroom-info-photo-content {
    width: 25.466vw;
    height: 25.466vw;
}

.chatroom-info-photo {
    width: 25.466vw;
    height: 25.466vw;
}

.chatroom-info-name {
    font-size: 4.18vw;
    color: #323232;
    margin-top: 10.643vw;
    margin-left: 3vw;
    width: 63vw;
}

.auto-history-content {
    margin-top: 7.152vw;
    padding: 4.3vw 3.71vw;
    height: 9.28vw;
}

.auto-history-content .left {
    width: 84vw;
}

.auto-history-title {
    font-size: 4.18vw;
    color: #323232;
}

.auto-history-text {
    font-size: 3.14vw;
    color: #666666;
}

.auto-history-photo {
    width: 8.051vw;
    height: 8.051vw;
    margin-top: 1.5vw;
}

.auto-history-text {
    font-size: 3.14vw;
    color: #666666;
}

.chatroom-leave {
    margin-top: 7.152vw;
    padding: 4.3vw 3.71vw;
    height: 5.28vw;
}

.chatroom-leave-text {
    font-size: 4.18vw;
    color: #2C89BC;
    width: 25vw;
}

.chatroom-info-member-count {
    margin: 6.44vw 0 0 3.71vw;
    font-size: 3.14vw;
    color: #0F0F0F;
}

.member-data-content {
    margin-top: 2.14vw;
}

.member-data-content .member-list {
    width: 100vw;
    margin-left: 0;
}

.member-data-content .btn-addfriend-img {
    margin-right: 4vw;
}

.member-list-content .user-name-only {
    margin-top: 2.4335vw;
    width: 68vw;
}

.member-list-content .data-delete {
    width: 4.5vw;
    height: 4.5vw;
    margin: 2vw 0 0 5vw;
}

.admin-text {
    font-size: 3.14vw;
    color: #989898;
    margin-top: 2.9735vw;
}

#chatroomEditName {
    margin-top: -2.5vw;
}

.member-add-btn {
    clear: both;
    display: inline-block;
    width: 35vw;
    padding: 4.3vw 0 3vw 0;
}

/*-----------------------------------------------------------------Chatroom Add Member*/
#searchUserInputAddMember {
    margin-left: 3.71vw;
}

#titleFriendAddMember {
    margin-top: 18.5vw;
    padding-left: 3.71vw;
}

#userListContentAddMember {
    margin-left: 0;
}

#viewAddMemberContent .search-index-content {
    top: 14vw;
    left: 3.71vw;
}

.hide {
    display: none;
}
