/***************************************override jQuery Mobile***************************************/

.ui-content {
    padding: 0px;
}

.ui-panel-inner {
    padding: 0 !important;
}

/********************************************** mypanel *********************************************/

#mypanel {
    background-color: #CECECE;
    box-shadow: 0 0 0;
    z-index: 1002;
}

#mypanel .panel-content {
    background-color: #f6f6f6;
    color: #0f0f0f;
    font-size: 3.97VW;
    font-family: Arial;
    padding: 4.3vw 0 3.71vw 3.71vw;
}

#mypanel .panel-content {
    border-bottom: solid;
    border-bottom-color: #e4e4e4;
    border-bottom-width: 0.1VH;
}

#mypanel #mypanelviewHolidayCalendar {
    border-bottom: solid;
    border-bottom-color: #666;
    border-bottom-width: 0.1VH;
}

#mypanel div.panel-content:hover {
    background-color: #503f81;
    color: #fff;
}

.page-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.5);
}

/********************************************** public ***********************************************/

.menu-btn {
    margin-top: 0.31VH;
}

.menu {
    width: 4.934VW;
}

.back-list {
    display: none;
    width: 4.934VW;
}

.page-main {
    /* padding: 5vw 3.71vw 0 3.71vw; */
}

.font-color1 {
    color: #0f0f0f;
}

.font-color2 {
    color: #323232;
}

.font-color3 {
    color: #666;
}

.font-color4 {
    color: #e92729;
}

/************************************** viewActivitiesSignup ******************************************/

.open-title div,
.close-title div {
    width: 100vw;
    background: #f9f9f9;
}

.open-title div:nth-of-type(1) {
    height: 5vw;
}

.close-title div:nth-of-type(1) {
    height: 6.44vw;
}

.open-title div:nth-of-type(2),
.close-title div:nth-of-type(2) {
    text-indent: 3.71vw;
}

.open-title div:nth-of-type(3),
.close-title div:nth-of-type(3) {
    height: 2.14vw;
}

#openList {
    width: 100vw;
    background: #ffffff;
}

#closeList {
    width: 100vw;
    background: #f6f6f6;
}

.activity-list {
    padding: 4vw 3.71vw;
    width: 92.58vw;
    height: 20vw;
}

.activity-list > div {
    float: left;
}

.activity-list ::after {
    clear: both;
}

.activity-list-img {
    width: 17.5vw;
    height: 20vw;
}
.activity-list-img img {
    width: 14.5vw;
    height: 14.5vw;
    border:1px solid #cccccc;
}

.activity-list-info {
    width: 75vw;
    height: 20vw;
}

.activity-list-info > div:nth-of-type(1) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.activity-list-info > div:nth-of-type(2) {
    margin-top: 2.14vw;
}

.activity-list-info > div:nth-of-type(3) {
    margin-top: 1.16vw;
}

.activity-list ::after {
    clear: both;
}

.activity-line {
    width: 92.58vw;
    height: 1px;
    margin-left: 3.71vw;
    background-color: #d6d6d6;
    overflow: hidden;
}

#noActivity {
    display: none;
    width: 100vw;
    text-align: center;
    line-height: 150vw;
    margin: 0vw 0vw;
}

/***************** detail ****************/
#activityDetail {
    width: 92.58vw;
    min-height: 30vw;
    margin-top: 5vw;
    margin-left: 3.71vw;
    display: none;
}

.detail-header {
    width: 92.58vw;
    height: 30vw;
    border-bottom: 1px solid #d6d6d6;
}

.detail-header > div {
    float: left;
}

.detail-header ::after {
    clear: both;
}

.detail-header-img {
    width: 17.5vw;
    height: 23.5vw;
}

.detail-header-img img {
    width: 14.5vw;
    height: 14.5vw;
    border:1px solid #cccccc;
}

.detail-header-info {
    width: 75vw;
    height: 23.5vw;
}

.detail-header-info > div:nth-of-type(1) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.detail-header-info > div:nth-of-type(2) {
    margin-top: 2.14vw;
}

.detail-header-info > div:nth-of-type(3),
.detail-header-info > div:nth-of-type(4) {
    margin-top: 1.16vw;
}

.detail-main {
    width: 92.58vw;
    height: 200vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
    background: lightgray;
    border-bottom: 1px solid red;
}

.page-footer {
    width: 100vw;
    height: 10.656vw;
    text-align: center;
    line-height: 10.656vw;
    font-family: Arial !important;
    background: #2d89bc !important;
    color: #ffffff !important;
    display: none;
}




















