/***************************** viewMyCalendar ********************************/
#viewMyCalendar .ui-content {
    padding: 0 !important;
}

#myReserve {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

#myReserveList {
    width: 100vw;
    height: 100vw;
    margin-top: 40vw;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

#reserveContent {
    /*（3.71+85.16）*30+3.71=2669.81 */
    /* width: 2670vw; */
    height: 100%;
}

#reserveContent > div {
    float: left;
    width: 85.16vw;
    height: 100%;
    margin-left: 3.71vw;
    background: #fff;
}

.reserve-title {
    width: 100%;
    text-align: center;
    padding: 4.56vw 0 3.28vw;
    color: #263238;
    font-weight: normal;
    font-size: 4.18vw !important;
}

.reserve-content {
    height: 78vw;
    overflow-y: scroll;
}

.reserve-null {
    width: 100%;
    height: 87vw;
    text-align: center;
    line-height: 70vw;
    color: #8fa4ac;
    font-weight: normal;
    font-size: 4.18vw !important;
}

.reserve-li {
    width: 100%;
    height: 11.27vw;
    margin-bottom: 2vw;
}

.reserve-li > div {
    float: left;
}

.reserve-li-time {
    width: 17.58vw;
    height: 8.5vw;
    padding: 1.28vw 2.12vw 1.28vw 0;
    text-align: right;
    border-right: 1px solid #4cb5ab;
}

.reserve-start {
    color: #231f20;
    font-weight: normal;
    font-size: 3.768vw !important;
}

.reserve-end {
    color: #8fa4ac;
    font-weight: normal;
    font-size: 3.55vw !important;
}

.reserve-li-item {
    width: 50vw;
    height: 100%;
    line-height: 11.27vw;
    padding-left: 2.12vw;
    color: #263238;
    font-weight: normal;
    font-size: 3.768vw !important;
    overflow: hidden;
}

#leaveTable {
    display: none;
}