/********************************* viewFAQ **************************************/
#viewFAQ .ui-content {
    padding: 0 !important;
}

.question-list {
    padding: 3.188vw 3.71vw;
    border-bottom: 1px solid #d6d6d6;
}

.question-content {
    width: 92.58vw;
    height: 11vw;
}

.question-content > div:nth-of-type(1) {
    width: 80vw;
    float: left;
    padding:0 3vw 0 2.81vw; 
}

.question-content > div:nth-of-type(2) {
    float: right;
    width: 4vw;
    height: 4vw;
    margin-top: 3.5vw;
}

.question-content > div:nth-of-type(2) img {
    width: 100%;
    height: 100%;
}

.answer-content {
    display: none;
    padding: 3.188vw 15vw 3.188vw 5.62vw;
}