<span id="tmp_option_width" class="hidden" style="font-size:2.8vh"></span>
<div data-role="page" id="viewMain">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div id="container" class="header-style">
            <div id="center" class="ui-title">火哥羽球隊</div>
        </div>
    </div>
    <div data-role="main" class="page-main" style="line-height: initial !important;">
        <ul data-role="listview" data-ajax="false" data-inset="true" data-theme="a">
            <li><a href="#viewLogin">報到<span class="ui-li-count">22</span></a></li>
            <li><a href="#viewOption">場地<span class="ui-li-count">3</span></a></li>
            <li><a href="#viewRule">規則<span class="ui-li-count">手動</span></a></li>
            <li><a href="#viewGame">登錄比賽/成績<span class="ui-li-count">7</span></a></li>
        </ul>
    </div>
</div>