<span id="tmp_option_width" class="hidden" style="font-size:2.8vh"></span>
<div data-role="page" id="viewMain">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div id="container" class="header-style">
            <div id="center" class="ui-title">火哥羽球隊</div>
        </div>
    </div>
    <div data-role="main" class="page-main" id="b" style="line-height: initial !important;">
        <ul data-role="listview" data-ajax="false" data-inset="true" data-theme="a">
            <li><a href="#viewLogin" id="viewLogin">報到<span class="ui-li-count">22</span></a></li>
            <li><a href="#viewOption">場地<span class="ui-li-count">3</span></a></li>
            <li><a href="#viewRule">規則<span class="ui-li-count">手動</span></a></li>
            <li><a href="#viewGame">登錄比賽/成績<span class="ui-li-count">7</span></a></li>
        </ul>
        
        <div id="popupTest" style="margin-top: 10VW;">Popup test</div>
        <!-- <div data-role="none" id="leaveType" style="margin-top: 10VW;">a</div> -->

        <div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false"
        for="loginPopup" class="app-popup loginPopup">
            <div data-role="main" class="ui-content">

                <div class="header">
                    <div class="header-content header-content-type2">
                        <div class="font-style2 header-title-main">[機房緊急通報_停電]</div>
                    </div>
                </div>
            
                <div class="main">
                    <p class="main-paragraph font-style3">
                        Network is disconnected<br>please check the connection!
                    </p>
                </div>
            
                <div class="footer">
                    <div class="btn-two font-style1 btnArea">
                        <div class="btn-cancel">取消</div>
                        <div class="btn-confirm">確認</div>
                    </div>
            
                </div>
            </div>
        </div>

    </div>
</div>