
/******************************************* personal leave *****************************************/
#viewLeaveMain .page-main .ui-radio {
    width: 46.29VW;
}

#viewLeaveMain .page-main #leaveTime .ui-radio {
    width: 30.86VW;
}

.title {
    font-size: 4.4VW;
}

#infoContent-3 {
    margin-top: 3.71VW;
    margin-right: 5.6VW;
}

#infoContent-3 span {
    font-size: smaller;
}

.dropdown-icon {
    width: 3.54VW;
    margin: 0VW 3.2VW 0.35VH 3.2VW;
}

#leaveType span {
    color: #666666;
    font-size: 3.14VW;
}

#leaveDate,
#leaveTime {
    border-radius: 0px !important;
    margin-top: 2.14VW;
    margin-bottom: 0VW !important;
}

#leaveDate .leaveDateTitle,
#leaveTime .leaveTimeTitle {
    background-color: #ffffff;
    border-color: #d6d6d6;
    text-align: center;
    font-weight: 300;
    font-size: 3.74VW;
}

#leaveDate .ui-btn-active,
#leaveTime .ui-btn-active {
    background-color: #0db6b7;
    border-color: #d6d6d6;
}

div.scrollmenu {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-color: #d6d6d6 !important;
    margin: 0 -3.6vw 0 0 !important;
    -webkit-overflow-scrolling: touch
}

div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #d6d6d6 !important;
}

#leaveDate a,
#quickReserveScrollDate a {
    padding: 2.894vw 0 2.567vw;
    width: 30%;
    font-weight: normal;
}

#leaveDate a {
    padding: 2.4vw 0;
}

.hover {
    background-color: #0db6b7;
    color: white !important;
}

.radius-btn {
    border-radius: 20px;
    border: 0px;
    width: 64VW;
    height: 5VH;
    text-align: center;
    padding-top: 1.5vh;
    font-size: 4.5vw;
    text-shadow: none;
    box-shadow: none;
}

.btn-enable {
    background-color: #2c89bc !important;
    color: #fff !important;
}

.btn-disable {
    background-color: #d6d6d6 !important;
    color: #999999 !important;
}

#searchBar,
#searchAgent,
#searchDeptAgent {
    width: 75VW;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: 3.945VW;
    background-position-x: 2.71VW;
    background-position-y: 1.6275VW;
    height: 8VW;
    margin-top: 5.07VW;
    text-indent: 8VW;
    font-size: 4vw;
    padding: 0;
    padding-top: 0.8vw;
}

#agent-popup-option-popup .header.typeB,
#leave-agent-popup-option-popup .header.typeB,
#dept-agent-popup-option-popup .header.typeB {
    height: 18.8VW;
}

#agent-popup-option-popup .header .title,
#leave-agent-popup-option-popup .header .title,
#dept-agent-popup-option-popup .header .title {
    width: 75VW;
}

#agent-popup-option-popup ul,
#leave-agent-popup-option-popup ul,
#dept-agent-popup-option-popup ul {
    margin-top: 0VW;
    /* width: 308px;
	height: 200px;
	overflow-y: scroll !important; */
}

#agent-popup-option-popup ul::-webkit-scrollbar,
#leave-agent-popup-option-popup ul::-webkit-scrollbar,
#categroy-popup-option-popup ul::-webkit-scrollbar,
#leave-popup-option-popup ul::-webkit-scrollbar,
#dept-agent-popup-option-popup ul::-webkit-scrollbar {
    width: 3px;
    margin: 0px;
}

#agent-popup-option-popup ul::-webkit-scrollbar-track,
#leave-agent-popup-option-popup ul::-webkit-scrollbar-track,
#dept-agent-popup-option-popup ul::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;*/
}

#agent-popup-option-popup ul::-webkit-scrollbar-thumb,
#leave-agent-popup-option-popup ul::-webkit-scrollbar-thumb,
#categroy-popup-option-popup ul::-webkit-scrollbar-thumb,
#leave-popup-option-popup ul::-webkit-scrollbar-thumb,
#dept-agent-popup-option-popup ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.8);
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}

#agent-popup-option-popup ul::-webkit-scrollbar-thumb:window-inactive,
#leave-agent-popup-option-popup ul::-webkit-scrollbar-thumb:window-inactive,
#categroy-popup-option-popup ul::-webkit-scrollbar-thumb:window-inactive,
#leave-popup-option-popup ul::-webkit-scrollbar-thumb:window-inactive,
#dept-agent-popup-option-popup ul::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
}

.tpl-option-msg-list {
    border-top-style: solid;
    border-top-color: #efefef;
    border-width: 0.1px;
    display: -webkit-flex;
}

.ui-hr {
    opacity: 0;
    height: 0px;
}

.toast-style {
    background-color: #666;
    bottom: 60VW;
    border-radius: 1.5px;
    color: #F0F0F0;
    font-size: 3.6VW;
    height: 4VW;
    margin: auto;
    opacity: 0.9;
    padding: 6.2VW 1VW 6.2VW 1VW;
    position: relative;
    text-align: center;
    width: 28VW;
    z-index: 2;
}

.popup-msg-style {
    width: 28VW;
    height: 4VW;
    margin: auto;
    opacity: 0.9;
    padding: 6.2VW 1VW 6.2VW 1VW;
    position: fixed;
    top: 70vw;
    left: 36vw;
    background-color: #666;
    border-radius: 1.5px;
    color: #F0F0F0;
    font-size: 3.6VW;
    text-align: center;
    z-index: 2;
    display: none;
}

.leftDaysNotEnough>.ui-content,
.applyLeaveFail>.ui-content,
.agentNotExist>.ui-content,
.agentDetailNotExist>.ui-content,
.agentDeptNotExist>.ui-content {
    padding: 0 !important;
}

.leftDaysNotEnough .ui-content>.header,
.applyLeaveFail .ui-content>.header,
.agentNotExist>.ui-content>.header,
.agentDetailNotExist>.ui-content>.header,
.agentDeptNotExist>.ui-content>.header {
    margin-top: 10%;
}

.leavePreview-active-btn {
    background-color: #2A8ABD !important;
    border-color: #d6d6d6 !important;
    color: #ffffff !important;
}


/****************************************** viewLeaveMain *****************************************/

.leaveMenu {
    width: 4.934VW;
}

#backMain {
    width: 4.934VW;
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

.apply-container {
    width: 93.6vw;
    margin-left: 3.71vw;
}

.apply-date {
    height: 8.44vw;
    color: #666666;
}

#leaveIntroduce {
    display: none;
    color: #666666;
}

#uploadAttachment,
#baseDate,
#divEmpty {
    display: none;
}

.apply-categroy {
    height: 10.67vw;
    color: #0f0f0f;
}

.apply-agent {
    height: 12.81vw;
    color: #0f0f0f;
    border-bottom: 1px solid #d6d6d6;
}

.apply-categroy>div:nth-of-type(1),
.apply-agent>div:nth-of-type(1) {
    height: 3.349vw;
}

.apply-categroy>div:nth-of-type(2),
.apply-agent>div:nth-of-type(2) {
    height: 4.18vw;
    margin-top: 1.16vw;
}

.apply-categroy>div:nth-of-type(2)>span,
.apply-agent>div:nth-of-type(2)>span {
    display: inline-block;
}

.apply-select-img {
    margin-left: 3vw;
    width: 4vw;
    height: 2.75vw;
}

/* Public use CSS */
.apply-empty-div1 {
    height: 4.3vw;
}

.apply-empty-div2 {
    height: 10vw;
}

.apply-empty-div3 {
    height: 5vw;
}

.apply-leave-date {
    height: 19vw;
    color: #0f0f0f;
}

.apply-leave-date>div:nth-of-type(1),
.apply-leave-date>div:nth-of-type(2) {
    height: 5vw;
}

.apply-leave-date>div:nth-of-type(2)>div {
    display: inline-block;
    width: 46vw;
    height: 5vw;
    line-height: 5vw;
}

.apply-leave-date>div:nth-of-type(3) {
    height: 7vw;
}

.apply-leave-date>div:nth-of-type(3)>div {
    display: inline-block;
    width: 46vw;
    height: 7vw;
    line-height: 7vw;
}


/* Public use CSS for date-component */
.date-component {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -100;
}

.date-component input[type="datetime-local"],
.date-component input[type="date"],
.date-component input[type="text"] {
    opacity: 0 !important;
}

/* Public use CSS for 時數 */
.apply-leave-count {
    height: 11.5vw;
    color: #0f0f0f;
    border-bottom: 1px solid #d6d6d6;
}

.apply-leave-count>div:nth-of-type(1) {
    height: 3.349vw;
}

.apply-leave-count>div:nth-of-type(2) {
    height: 4.18vw;
    margin-top: 1.16vw;
}

.apply-leave-reason {
    height: 19.66vw;
    color: #0f0f0f;
}

.apply-leave-reason>div:nth-child(1) {
    height: 3.45vw;
}

.apply-leave-reason>div:nth-child(2) {
    height: 9.17vw;
    margin-top: 2.14vw;
}

.reason-textarea {
    resize: none;
    width: 86vw;
    height: 9.17vw;
    border: 0;
    overflow-y: auto;
    -webkit-appearance: none;
}

.apply-preview-btn {
    height: 10vw;
}

.apply-preview-btn>div:nth-of-type(1),
.apply-preview-btn>div:nth-of-type(2) {
    width: 64vw;
    height: 10vw;
    margin-left: 14.8vw;
    background-color: #D6D6D7;
    color: #999999;
    border-radius: 20px;
    text-align: center;
    line-height: 10vw;
}

.apply-submit-btn {
    height: 10vw;
}

.apply-submit-btn>div:nth-of-type(1),
.apply-submit-btn>div:nth-of-type(2) {
    width: 64vw;
    height: 10vw;
    margin-left: 14.8vw;
    background-color: #2A8ABD;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    line-height: 10vw;
}

.apply-preview-remove {
    margin-top: 4.3vw;
    height: 10vw;
    /*line-height: 10vw;*/
    text-align: center;
    color: #2A8ABD;
}

.apply-preview-remove>div {
    width: 30%;
    margin-left: 35%;
    height: 10vw;
    text-align: center;
    overflow: hidden;
    color: #2A8ABD;
}

.apply-preview-remove img {
    width: 3.5vw;
    height: 3.5vw;
    vertical-align: middle;
}

/* popup */

.leaveNotEnough>.ui-content,
.leftDaysByLeave>.ui-content,
.dateTimeError>.ui-content,
.categroyFirst>.ui-content,
.basedayFirst>.ui-content,
.startdayFirst>.ui-content,
.confirmSend>.ui-content,
.agentNotData>.ui-content {
    padding: 0 !important;
}

.leaveNotEnough>.ui-content>.header,
.agentNotData>.ui-content>.header {
    margin-top: 10%;
}

.leftDaysByLeave>.ui-content>.header,
.dateTimeError>.ui-content>.header,
.categroyFirst>.ui-content>.header,
.basedayFirst>.ui-content>.header,
.startdayFirst>.ui-content>.header,
.confirmSend>.ui-content>.header {
    margin-top: 12.5%;
}

.date-time-component {
    height: 0;
    border: none;
}

.color-gray {
    color: #666666;
}

.leaveUploadAttach-radio-label {
    border: none !important;
    background: #f9f9f9 !important;
}

.apply-preview {
    display: none;
    width: 93.6vw;
    margin-left: 3.2vw;
}

.preview-apply-date {
    height: 4.2vw;
    color: #666666;
}

.preview-apply-categroy {
    height: 15.3vw;
    border-bottom: 0.1vh solid #d6d6d6;
}

.preview-apply-categroy div:nth-of-type(1) {
    height: 4.3vw;
}

.preview-apply-categroy div:nth-of-type(2) {
    height: 3.2vw;
    line-height: 3.2vw;
}

.preview-apply-categroy div:nth-of-type(3) {
    height: 7.8vw;
    line-height: 7.8vw;
    color: #2A8ABD;
}