<div data-role="page" id="viewBackLeaveQuery">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none" style="margin-top: 0.31VH;">
            <img src="img/menu.png" style="width: 4.934VW;">
        </a>
        <div class="header-style">
            <div class="ui-title">
                <!--銷假單查詢-->
                <span class="langStr" data-id="str_005"></span>
                </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
    </div>
</div>
