<div data-role="page" id="viewPersonalLeave">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none" style="margin-top: 0.31VH;">
            <img src="img/menu.png" style="width: 4.934VW; margin-right: 30px;">
        </a>
        <div class="header-style">
            <div class="ui-title">
                <!--個人假勤-->
                <span class="langStr" data-id="str_001"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <form>
            <div data-role="controlgroup" data-type="horizontal" class="page-tabs" id="viewPersonalLeaveTab">
                <input type="radio" name="radio-choice-h-2" id="viewPersonalLeave-tab-2" value="viewPersonalLeave-tab-2" checked="checked">
                <label for="viewPersonalLeave-tab-2" class="tabs-title">
                    <!--快速請假-->
                    <span class="langStr" data-id="str_092"></span>
                </label>

                <input type="radio" name="radio-choice-h-2" id="viewPersonalLeave-tab-1" value="viewPersonalLeave-tab-1">
                <label for="viewPersonalLeave-tab-1" class="tabs-title">
                    <!--個人假勤-->
                    <span class="langStr" data-id="str_001"></span>
                </label>
            </div>
        </form>
        <div id="tab-1">
            <div id="myCalendar"></div>
            <div class="infoList">
                <div class="infoContainer">
                    <div class="infoTitle" id="infoTitle-1">
                        <div class="title">
                            <!--個人剩餘假別資訊-->
                            <span class="langStr" data-id="str_093"></span>
                        </div>
                        <img class="listDown" src="img/list_down.png">
                    </div>
                    <div class="infoContent" id="infoContent-1">
                        <ul style="margin-top: 6.04VW;">
                            
                        </ul>
                    </div>
                </div>
                <div class="infoContainer">
                    <div class="infoTitle" id="infoTitle-3">
                        <div class="title">
                            <!--注意事項-->
                            <span class="langStr" data-id="str_097"></span>
                        </div>
                        <img class="listDown" src="img/list_down.png">
                    </div>
                    <div class="infoContent" id="infoContent-3">
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-2" style="margin: 4.3VW 3.71VW 0VW 3.71VW;">
            <div>
                <!--<span>假別</span>-->
                <span class="langStr" data-id="str_102"></span>
            </div>
            <div data-role="none" id="leaveType" style="margin-top: 1.16VW;">
                <span></span>
            </div>

            <div style="margin-top: 5VW;">
                <!--<span>代理人</span>-->
                <span class="langStr" data-id="str_103"></span>
            </div>
            <div data-role="none" id="agent" style="margin-top: 1.16VW;">
                <span></span>
            </div>

            <div style="margin-top: 5VW;">
                <!--<span>請假日期</span>-->
                <span class="langStr" data-id="str_104"></span>
            </div>

            <div id="leaveDate" class="scrollmenu">
                <!--<a href="#" class="ui-link"></a>-->
            </div>

            <div style="margin-top: 5VW;">
                <!--<span>請假時段</span>-->
                <span class="langStr" data-id="str_105"></span>
            </div>
            <form>
                <fieldset data-role="controlgroup" data-type="horizontal" id="leaveTime">
                    <input type="radio" name="radio-choice-h-2" id="leaveTime-tab1" value="08:00-17:00" checked="checked">
                    <label for="leaveTime-tab1" class="leaveTimeTitle">
                        <!--全天-->
                        <span class="langStr" data-id="str_106"></span>
                    </label>

                    <input type="radio" name="radio-choice-h-2" id="leaveTime-tab2" value="08:00-12:00">
                    <label for="leaveTime-tab2" class="leaveTimeTitle">
                        <!--上午-->
                        <span class="langStr" data-id="str_074"></span>
                    </label>

                    <input type="radio" name="radio-choice-h-2" id="leaveTime-tab3" value="13:00-17:00">
                    <label for="leaveTime-tab3" class="leaveTimeTitle">
                        <!--下午-->
                        <span class="langStr" data-id="str_075"></span>
                    </label>
                </fieldset>
            </form>
            <div class="btn-disable radius-btn" id="leaveConfirm" style="margin: 10VW auto; margin-bottom: 0;">
                <!--我要請假-->
                <span class="langStr" data-id="str_107"></span>
            </div>

            <div class="toast-style" style="display: none;">
                <!--<span>假單已送簽</span>-->
                <span class="langStr" data-id="str_108"></span>
            </div>
        </div>
    </div>

    <div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" class="app-popup leftDaysNotEnough" for="leftDaysNotEnough">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon'><img src="img/urgent.png"></span><span class="header-text"><!--天數不夠--><span class="langStr" data-id="str_109"></span></span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3"></p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--代理人不存在-->
    <div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" class="app-popup agentNotExist" for="agentNotExist">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!--代理人不存在-->
                        <span class="langStr" data-id="str_111"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3">
                    <!--請選擇其他代理人-->
                    <span class="langStr" data-id="str_112"></span>
                </p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 请假失败 -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" class="app-popup applyLeaveFail" for="applyLeaveFail">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!--請假失敗-->
                        <span class="langStr" data-id="str_113"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3"></p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
