<div data-role="page" id="viewLeaveQuery">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none" style="margin-top: 0.31VH;">
            <img src="img/menu.png" style="width: 4.934VW;">
        </a>
        <div class="header-style">
            <div class="ui-title">
                <!--假單查詢-->
                <span class="langStr" data-id="str_078"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <div class="leave-query-list">
            <div></div>
            <div>
                <div class="leave-query-state font-style3">
                    <span>表單簽核中</span>&nbsp;&nbsp;<span>></span>
                </div>
                <div class="leave-query-detail font-style10">
                    <div class="leave-query-categroy">
                        <div>
                            <span>請假單號：</span><span>572000</span>
                        </div>
                        <div>
                            <span>假別：</span><span>去年彈休</span>
                        </div>
                    </div>
                    <div>
                        <span>請假區間：</span><span>2017/02/08 8:00</span><span> - </span><span>2017/02/08 17:00</span>
                    </div>
                    <div>
                        <span>請假數：</span><span>0</span><span>天</span><span>0</span><span>小時</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- empty div -->
        <div class="apply-empty-div1"></div>
        <div class="leave-query-max font-style12">
            <span>*僅顯示近10筆假單記錄</span>
        </div>
    </div>
</div>
