<div data-role="page" id="viewBackLeaveQuery">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none" style="margin-top: 0.31VH;">
            <img src="img/menu.png" style="width: 4.934VW;">
        </a>
        <div class="header-style">
            <div class="ui-title">
                <!--銷假單查詢-->
                <span class="langStr" data-id="str_005"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <div>
            <label for="datetimes">datetime-local:</label>
            <input type="datetime-local" data-role="none" name="datetimes" id="datetimes" /><br>
            <label for="datetime">datetime:</label>
            <input type="datetime" data-role="none" name="datetime" id="datetime" /><br>
            <label for="dates">date:</label>
            <input type="date" data-role="none" name="dates" id="dates" /><br>
            <label for="times">time:</label>
            <input type="time" data-role="none" name="times" id="times" /><br>
            <label for="months">month:</label>
            <input type="month" data-role="none" name="months" id="months" /><br>
            <label for="weeks">week:</label>
            <input type="week" data-role="none" name="weeks" id="weeks" /><br>
        </div>
        <div>
            <button id="btn1">datetime-local</button><br>
            <button id="btn2">datetime</button><br>
            <button id="btn3">date</button><br>
            <button id="btn4">time</button><br>
            <button id="btn5">month</button><br>
            <button id="btn6">week</button><br>
        </div>
    </div>
</div>
