<div data-role="page" id="viewLeaveSubmit">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none" style="margin-top: 0.31VH;">
            <img src="img/menu.png" style="width: 4.934VW;">
        </a>
        <div class="header-style">
            <div class="ui-title">請假申請</div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <div class="apply-container">
            <!-- applyDate -->
            <div class="apply-date font-style12">
                <span>申請日期：</span>
                <span>2017-02-14</span>
            </div>
            <!-- category -->
            <div class="apply-categroy">
                <div class="font-style11">
                    <span>申請類別</span>
                </div>
                <div class="font-style3">
                    <span>請選擇</span>
                    <span><img src="img/dropdown.png" class="apply-select-img"></span>
                </div>
            </div>
            <div class="apply-categroy">
                <div class="font-style11">
                    <span>申請假別</span>
                </div>
                <div class="font-style3">
                    <span>請選擇</span>
                    <span><img src="img/dropdown.png" class="apply-select-img"></span>
                </div>
            </div>
            <div class="apply-agent">
                <div class="font-style11">
                    <span>職務代理人</span>
                </div>
                <div class="font-style3">
                    <span>請選擇</span>
                    <span><img src="img/dropdown.png" class="apply-select-img"></span>
                </div>
            </div>
            <!-- empty div -->
            <div class="apply-empty-div1"></div>
            <!-- apply date -->
            <div class="apply-leave-date">
                <div class="font-style11">
                    <span>請假日期與時間</span>
                </div>
                <div class="font-style11">
                    <div>
                        <span>開始時間</span>
                    </div>
                    <div>
                        <span>結束時間</span>
                    </div>
                </div>
                <div class="font-style3">
                    <div>
                        <span>請選擇</span>
                        <span><img src="img/dropdown.png" class="apply-select-img"></span>
                    </div>
                    <div>
                        <span>請選擇</span>
                        <span><img src="img/dropdown.png" class="apply-select-img"></span>
                    </div>
                </div>
            </div>
            <div class="apply-leave-count">
                <div class="font-style11">
                    <span>請假數</span>
                </div>
                <div class="font-style3">
                    <span>0</span>&nbsp;
                    <span>天</span>&nbsp;
                    <span>0</span>&nbsp;
                    <span>小時</span>
                </div>
            </div>
            <!-- empty div -->
            <div class="apply-empty-div1"></div>
            <!-- apply reason -->
            <div class="apply-leave-reason">
                <div class="font-style11">
                    <span>請假理由</span>
                </div>
                <div>
                    <textarea class="reason-textarea" placeholder="請填寫理由"></textarea>
                </div>
            </div>
            <!-- empty div -->
            <div class="apply-empty-div2"></div>
            <!-- preview btn -->
            <div class="apply-preview-div">
                <div class="apply-leave-submit">預覽送簽</div>
            </div>
        </div>
    </div>
</div>