<div data-role="page" id="viewLeaveQuery">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none" style="margin-top: 0.31VH;">
            <img src="img/menu.png" id="leaveMenu">
            <img src="img/nav_back.png" id="backDetailList">
            <img src="img/nav_back.png" id="backSignPreview">
            <img src="img/nav_back.png" id="backRefusePreview">
        </a>
        <div class="header-style">
            <div class="ui-title">
                <!--假單查詢-->
                <span class="langStr" data-id="str_078"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <!-- 請假單列表 -->
        <div class="leave-query-main">
            <div class="leave-query-list">  
                <div>
                    <div class="leave-query-state font-style3">
                        <!-- 表單簽核中 -->
                        <span class="langStr" data-id="str_147"></span>&nbsp;&nbsp;
                        <span>></span>
                    </div>
                    <div class="leave-query-mainDetail font-style10">
                        <div class="leave-query-categroy">
                            <div>
                                <!-- 請假單號 -->
                                <span class="langStr" data-id="str_131"></span>
                                <span class="leave-id">572000</span>
                            </div>
                            <div>
                                <!-- 假別 -->
                                <span class="langStr" data-id="str_152"></span>
                                <span class="langStr" data-id="str_094"></span>
                            </div>
                        </div>
                        <div>
                            <!-- 請假區間 -->
                            <span class="langStr" data-id="str_138"></span>
                            <span>2017/02/08 8:00</span>
                            <span> - </span>
                            <span>2017/02/08 17:00</span>
                        </div>
                        <div>
                            <!-- 請假數 -->
                            <span class="langStr" data-id="str_153"></span>
                            <span>1</span>
                            <!-- 天 -->
                            <span class="langStr" data-id="str_071"></span>
                            <span>0</span>
                            <!-- 小時 -->
                            <span class="langStr" data-id="str_088"></span>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
            <div class="leave-query-list">
                <div>
                    <div class="leave-query-state font-style3">
                        <!-- 表單簽核中 -->
                        <span class="langStr" data-id="str_147"></span>&nbsp;&nbsp;
                        <span>></span>
                    </div>
                    <div class="leave-query-mainDetail font-style10">
                        <div class="leave-query-categroy">
                            <div>
                                <!-- 請假單號 -->
                                <span class="langStr" data-id="str_131"></span>
                                <span class="leave-id">572001</span>
                            </div>
                            <div>
                                <!-- 假別 -->
                                <span class="langStr" data-id="str_152"></span>
                                <span class="langStr" data-id="str_094"></span>
                            </div>
                        </div>
                        <div>
                            <!-- 請假區間 -->
                            <span class="langStr" data-id="str_138"></span>
                            <span>2017/05/08 13:00</span>
                            <span> - </span>
                            <span>2017/05/08 17:00</span>
                        </div>
                        <div>
                            <!-- 請假數 -->
                            <span class="langStr" data-id="str_153"></span>
                            <span>0</span>
                            <!-- 天 -->
                            <span class="langStr" data-id="str_071"></span>
                            <span>4</span>
                            <!-- 小時 -->
                            <span class="langStr" data-id="str_088"></span>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
            <div class="leave-query-list">
                <div>
                    <div class="leave-query-state font-style3">
                        <!-- 表單已撤回 -->
                        <span class="langStr" data-id="str_148"></span>&nbsp;&nbsp;
                        <span>></span>
                    </div>
                    <div class="leave-query-mainDetail font-style10">
                        <div class="leave-query-categroy">
                            <div>
                                <!-- 請假單號 -->
                                <span class="langStr" data-id="str_131"></span>
                                <span class="leave-id">572002</span>
                            </div>
                            <div>
                                <!-- 假別 -->
                                <span class="langStr" data-id="str_152"></span>
                                <span class="langStr" data-id="str_017"></span>
                            </div>
                        </div>
                        <div>
                            <!-- 請假區間 -->
                            <span class="langStr" data-id="str_138"></span>
                            <span>2017/05/08 13:00</span>
                            <span> - </span>
                            <span>2017/05/08 17:00</span>
                        </div>
                        <div>
                            <!-- 請假數 -->
                            <span class="langStr" data-id="str_153"></span>
                            <span>0</span>
                            <!-- 天 -->
                            <span class="langStr" data-id="str_071"></span>
                            <span>4</span>
                            <!-- 小時 -->
                            <span class="langStr" data-id="str_088"></span>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
            <div class="leave-query-list">
                <div>
                    <div class="leave-query-state font-style3">
                        <!-- 表單已生效 -->
                        <span class="langStr" data-id="str_149"></span>&nbsp;&nbsp;
                        <span>></span>
                    </div>
                    <div class="leave-query-mainDetail font-style10">
                        <div class="leave-query-categroy">
                            <div>
                                <!-- 請假單號 -->
                                <span class="langStr" data-id="str_131"></span>
                                <span class="leave-id">572003</span>
                            </div>
                            <div>
                                <!-- 假別 -->
                                <span class="langStr" data-id="str_152"></span>
                                <span>去年彈休</span>
                            </div>
                        </div>
                        <div>
                            <!-- 請假區間 -->
                            <span class="langStr" data-id="str_138"></span>
                            <span>2017/05/08 13:00</span>
                            <span> - </span>
                            <span>2017/05/08 17:00</span>
                        </div>
                        <div>
                            <!-- 請假數 -->
                            <span class="langStr" data-id="str_153"></span>
                            <span>0</span>
                            <!-- 天 -->
                            <span class="langStr" data-id="str_071"></span>
                            <span>4</span>
                            <!-- 小時 -->
                            <span class="langStr" data-id="str_088"></span>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
            <!-- max msg -->
            <div class="leave-query-max font-style12">
                <!-- *僅顯示近10筆假單記錄 -->
                <span class="langStr" data-id="str_145"></span>
            </div>
        </div>

        <!-- 請假單詳情——簽核中（可撤回） -->
        <div class="leave-query-detail-sign">
            <div class="leave-detail-date font-style12">
                <div>
                    <!--申請日期-->
                    <span class="langStr" data-id="str_080"></span><span class="leaveApplyday"></span>
                </div>
                <div>
                    <!-- 請假單號 -->
                    <span class="langStr" data-id="str_131"></span><span>572000</span>
                </div> 
            </div>
            <div class="leave-detail-state">
                <div></div>
                <div>
                    <div>
                        <div class="font-style11">
                            <!-- 假單狀況 -->
                            <span class="langStr" data-id="str_144"></span>
                        </div>
                        <div class="font-style3">
                            <span class="langStr" data-id="str_147"></span>
                        </div>
                    </div>
                    <div>
                        <img src="img/info.png" class="leave-detail-img">
                    </div>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 申請類別 -->
                    <span class="langStr" data-id="str_081"></span>
                </div>
                <div class="font-style3">
                    <span class="langStr" data-id="str_094"></span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 申請假別 -->
                    <span class="langStr" data-id="str_082"></span>
                </div>
                <div class="font-style3">
                    <span class="langStr" data-id="str_094"></span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 職務代理人 -->
                    <span class="langStr" data-id="str_083"></span>
                </div>
                <div class="font-style3">
                    <span>Mary</span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 請假日期與時間 -->
                    <span class="langStr" data-id="str_084"></span>
                </div>
                <div class="font-style3">
                    <span>2017-02-08 8:00</span>
                    <span> - </span>
                    <span>2017-02-08 17:00</span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 請假數 -->
                    <span class="langStr" data-id="str_087"></span>
                </div>
                <div class="font-style3">
                    <span>1</span>
                    <!-- 天 -->
                    <span class="langStr" data-id="str_071"></span>
                    <span>0</span>
                    <!-- 小時 -->
                    <span class="langStr" data-id="str_088"></span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 請假理由 -->
                    <span class="langStr" data-id="str_089"></span>
                </div>
                <div class="font-style3">
                    <span>sick</span>
                </div>
            </div>
            <!-- empty div -->
            <div class="apply-empty-div2"></div>
            <!-- apply btn -->
            <div class="apply-submit-btn">
                <div id="withdrawLeave">
                    <!-- 撤回 -->
                    <span class="langStr" data-id="str_143"></span>
                </div>
            </div>
        </div>

        <!-- 請假單詳情——已撤回/已拒絕（只刪除） -->
        <div class="leave-query-detail-refuse">
            <div class="leave-detail-date font-style12">
                <div>
                    <!--申請日期-->
                    <span class="langStr" data-id="str_080"></span><span class="leaveApplyday"></span>
                </div>
                <div>
                    <!-- 請假單號 -->
                    <span class="langStr" data-id="str_131"></span><span>572002</span>
                </div> 
            </div>
            <div class="leave-detail-state">
                <div></div>
                <div>
                    <div>
                        <div class="font-style11">
                            <!-- 假單狀況 -->
                            <span class="langStr" data-id="str_144"></span>
                        </div>
                        <div class="font-style3">
                            <span class="langStr" data-id="str_148"></span>
                        </div>
                    </div>
                    <div>
                        <img src="img/info.png" class="leave-detail-img">
                    </div>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 申請類別 -->
                    <span class="langStr" data-id="str_081"></span>
                </div>
                <div class="font-style3">
                    <span class="langStr" data-id="str_016"></span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 申請假別 -->
                    <span class="langStr" data-id="str_082"></span>
                </div>
                <div class="font-style3">
                    <span class="langStr" data-id="str_017"></span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 職務代理人 -->
                    <span class="langStr" data-id="str_083"></span>
                </div>
                <div class="font-style3">
                    <span>Jack</span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 請假日期與時間 -->
                    <span class="langStr" data-id="str_084"></span>
                </div>
                <div class="font-style3">
                    <span>2017-05-08 13:00</span>
                    <span> - </span>
                    <span>2017-05-08 17:00</span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 請假數 -->
                    <span class="langStr" data-id="str_087"></span>
                </div>
                <div class="font-style3">
                    <span>0</span>
                    <!-- 天 -->
                    <span class="langStr" data-id="str_071"></span>
                    <span>4</span>
                    <!-- 小時 -->
                    <span class="langStr" data-id="str_088"></span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 請假理由 -->
                    <span class="langStr" data-id="str_089"></span>
                </div>
                <div class="font-style3">
                    <span>sleep</span>
                </div>
            </div>
            <!-- empty div -->
            <div class="apply-empty-div2"></div>
            <!-- apply btn -->
            <div class="apply-submit-btn">
                <div id="refuseLeave">
                    <!-- 刪除假單 -->
                    <span class="langStr" data-id="str_151"></span>
                </div>
            </div>
            <div class="apply-preview-remove">
                <img src="img/edit.png" class="vice-icon">&nbsp;
                <!-- 編輯 -->
                <span class="langStr" data-id="str_154"></span>
            </div>
        </div>

        <!-- 撤回假單 -->
        <div class="leave-query-withdraw">
            <div class="leave-detail-date font-style12">
                <div>
                    <!--申請日期-->
                    <span class="langStr" data-id="str_080"></span><span class="leaveApplyday"></span>
                </div>
                <div>
                    <!-- 請假單號 -->
                    <span class="langStr" data-id="str_131"></span><span>572000</span>
                </div> 
            </div>
            <!-- empty div -->
            <div class="apply-empty-div1"></div>
            <!-- withdraw-reason textarea -->
            <div class="apply-leave-reason">
                <div class="font-style11">
                    <!-- 撤回理由 -->
                    <span class="langStr" data-id="str_132"></span>
                </div>
                <div>
                    <textarea data-role="none" id="withdrawReason" class="reason-textarea" placeholder="請填寫理由"></textarea>
                </div>
            </div>
            <!-- empty div -->
            <div class="apply-empty-div2"></div>
            <!-- apply btn -->
            <div class="apply-preview-btn">
                <div id="confirmWithdrawBtn">
                    <!-- 確認撤回 -->
                    <span class="langStr" data-id="str_142"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- leave state flow popup -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" class="app-popup leaveStateFlow" for="leaveStateFlow">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'><img src="img/urgent.png"></span><span class="header-text"></span>
                </div>
            </div>
            <div class="main">
                <!-- <p class="main-paragraph font-style3"></p> -->
                <ul>
                    <li class="sign-list">
                        <div class="sign-icon">
                            <img src="img/booked_success_icon.png">
                        </div>
                        <div class="sign-name">
                            <div class="font-style3">
                                <span>Kevin.CM.Huang</span>
                            </div>
                            <div class="font-style10">
                                <span>2017-02-14 15:30</span>
                            </div>
                        </div>
                        <div class="sign-state font-style3">
                            <!-- 已簽核 -->
                            <span class="langStr" data-id="str_133"></span>
                        </div>
                    </li>
                    <li class="sign-list">
                        <div class="sign-icon">
                            <img src="img/booked_success_icon.png">
                        </div>
                        <div class="sign-name">
                            <div class="font-style3">
                                <span>Paul.H.Wang</span>
                            </div>
                            <div class="font-style10">
                                <span>2017-02-14 15:30</span>
                            </div>
                        </div>
                        <div class="sign-state font-style3">
                            <!-- 已簽核 -->
                            <span class="langStr" data-id="str_133"></span>
                        </div>
                    </li>
                    <li class="sign-list">
                        <div class="sign-icon">
                            
                        </div>
                        <div class="sign-name">
                            <div class="font-style3">
                                <span>Jack.L.Zhao</span>
                            </div>
                            <div class="font-style10">
                                <span>2017-02-14 15:30</span>
                            </div>
                        </div>
                        <div class="sign-state font-style3">
                            <!-- 未簽核 -->
                            <span class="langStr" data-id="str_134"></span>
                        </div>
                    </li>
                    <li class="sign-list">
                        <div class="sign-icon">
                            
                        </div>
                        <div class="sign-name">
                            <div class="font-style3">
                                <span>Call.Y.Yin</span>
                            </div>
                            <div class="font-style10">
                                <span>2017-02-14 15:30</span>
                            </div>
                        </div>
                        <div class="sign-state font-style3">
                            <!-- 未簽核 -->
                            <span class="langStr" data-id="str_134"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- confirm withdraw -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" class="app-popup confirmWithdraw" for="confirmWithdraw">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'><img src="img/urgent.png"></span><span class="header-text">
                        <!-- 確定撤回？ -->
                        <span class="langStr" data-id="str_146"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3"> <br> </p>
                
            </div>
            <div class="footer">
                <div class="btn-two font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--取消-->
                        <span class="langStr" data-id="com_023"></span>
                    </div>
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
