<div data-role="page" id="viewLeaveSubmit">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none" style="margin-top: 0.31VH;">
            <img src="img/menu.png" class="leaveMenu">
            <img src="img/nav_back.png" id="backMain">
        </a>
        <div class="header-style">
            <div class="ui-title">
                <!-- 請假申請 -->
                <span class="langStr" data-id="str_002"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <div class="apply-container">
            <!-- applyDate -->
            <div class="apply-date font-style12">
                <!--申請日期：-->
                <span class="langStr" data-id="str_080"></span>
                <span id="applyDay"></span>
            </div>
            <!-- category -->
            <div class="apply-categroy">
                <div class="font-style11">
                    <!-- 申請類別 -->
                    <span class="langStr" data-id="str_081"></span>
                </div>
                <div data-role="none" id="leaveCategroy" class="font-style3">
                    
                </div>
            </div>
            <!-- empty div -->
            <div class="apply-empty-div1"></div>
            <div class="apply-categroy">
                <div class="font-style11">
                    <!-- 申請假別 -->
                    <span class="langStr" data-id="str_082"></span>
                </div>
                <div data-role="none" id="leaveGenre" class="font-style3">

                </div>
            </div>
            <!-- introduce -->
            <div id="leaveIntroduce" class="font-style12">

            </div>
            <!-- empty div -->
            <div class="apply-empty-div1"></div>
            <div class="apply-agent">
                <div class="font-style11">
                    <!-- 職務代理人 -->
                    <span class="langStr" data-id="str_083"></span>
                </div>
                <div data-role="none" id="leaveAgent" class="font-style3">
                    <span></span>
                </div>
            </div>
            <!-- empty div -->
            <div class="apply-empty-div1"></div>
            <!-- basedate -->
            <div id="baseDate">
                <div class="font-style11">
                    <!-- 基準日 -->
                    <span class="langStr" data-id="str_012"></span>
                </div>
                <div id="selectBaseday" class="font-style3">
                    <!-- 選擇日期 -->
                    <span id="chooseBaseday"></span>
                    <img src="img/dropdown.png" class="apply-select-img">
                </div>
                <div class="font-style12 color-gray">
                    <!-- *如果沒有列出您需要的基準日，請確認該請假單是否[生效] -->
                    <span class="langStr" data-id="str_095"></span>
                </div>
            </div>
            <!-- empty div -->
            <div class="apply-empty-div1" id="divEmpty"></div>
            <!-- apply date -->
            <div class="apply-leave-date">
                <div class="font-style11">
                    <!-- 請假日期與時間 -->
                    <span class="langStr" data-id="str_084"></span>
                </div>
                <div class="font-style11">
                    <div>
                        <!-- 開始時間 -->
                        <span class="langStr" data-id="str_085"></span>
                    </div>
                    <div>
                        <!-- 結束時間 -->
                        <span class="langStr" data-id="str_086"></span>
                    </div>
                </div>
                <div class="font-style3">
                    <div id="btnStartday">
                        <!-- 請選擇 -->
                        <span id="startText"></span>
                        <img src="img/dropdown.png" class="apply-select-img">
                    </div>
                    <div id="btnEndday">
                        <!-- 請選擇 -->
                        <span id="endText"></span>
                        <img src="img/dropdown.png" class="apply-select-img">
                    </div>
                </div>
            </div>
            <!-- date component -->
            <div class="date-component">
                <input type="datetime-local" data-role="none" name="startDate" id="startDate" class="date-time-component" />
                <input type="datetime-local" data-role="none" name="endDate" id="endDate" class="date-time-component" />
                <input type="date" data-role="none" name="oldBaseday" id="oldBaseday" class="date-time-component" />
                <input type="date" data-role="none" name="newBaseday" id="newBaseday" class="date-time-component" />
            </div>
            <div class="apply-leave-count">
                <div class="font-style11">
                    <!-- 請假數 -->
                    <span class="langStr" data-id="str_087"></span>
                </div>
                <div class="font-style3">
                    <span>0</span>&nbsp;
                    <!-- 天 -->
                    <span class="langStr" data-id="str_071"></span>&nbsp;
                    <span>0</span>&nbsp;
                    <!-- 小時 -->
                    <span class="langStr" data-id="str_088"></span>
                </div>
            </div>
            <!-- empty div -->
            <div class="apply-empty-div1"></div>
            <!-- attachment -->
            <div id="uploadAttachment">
                <div class="font-style11">
                    <!-- 附件 -->
                    <span class="langStr" data-id="str_076"></span>
                </div>
                <fieldset data-role="controlgroup" id="attachmentTime">
                    <input type="radio" name="radio-choice-attachment-3" id="attachment-tab-2" value="attachment-tab-2" checked>
                    <label for="attachment-tab-2" class="leaveUploadAttach-radio-label">
                        <!--後補-->
                        <span class="langStr" data-id="str_110"></span>
                    </label>

                    <!-- <input type="radio" name="radio-choice-attachment-3" id="attachment-tab-1" value="attachment-tab-1">
                    <label for="attachment-tab-1">上傳</label>&nbsp;&nbsp;

                    <img src="img/upload.png" style="width:5vw; height:5vw"> -->
                </fieldset>
            </div>
            <!-- apply reason -->
            <div class="apply-leave-reason">
                <div class="font-style11">
                    <!-- 請假理由 -->
                    <span class="langStr" data-id="str_089"></span>
                </div>
                <div>
                    <textarea data-role="none" id="leaveReason" class="reason-textarea" placeholder="請填寫理由"></textarea>
                </div>
            </div>
            <!-- empty div -->
            <div class="apply-empty-div2"></div>
            <!-- preview btn -->
            <div class="apply-preview-btn">
                <div id="previewBtn">
                    <!-- 預覽送簽 -->
                    <span class="langStr" data-id="str_091"></span>
                </div>
            </div>
            <div class="apply-preview-remove">
                <div id="emptyLeaveForm">
                    <img src="img/btn_cancel.png">&nbsp;
                    <!-- 清除 -->
                    <span class="langStr" data-id="str_129"></span>
                </div>
            </div>
        </div>

        <!-- preview -->
        <div class="apply-preview">
            <div class="preview-apply-date font-style12">
                <!-- 申請日期： -->
                <span class="langStr" data-id="str_080"></span>
                <span id="previewApplyDay"></span>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 申請類別 -->
                    <span class="langStr" data-id="str_081"></span>
                </div>
                <div class="font-style3">
                    <span id="applyCategroy"></span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 申請假別 -->
                    <span class="langStr" data-id="str_082"></span>
                </div>
                <div class="font-style3">
                    <span id="applyLeave"></span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 職務代理人 -->
                    <span class="langStr" data-id="str_083"></span>
                </div>
                <div class="font-style3">
                    <span id="applyAgent"></span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 請假日期與時間 -->
                    <span class="langStr" data-id="str_084"></span>
                </div>
                <div class="font-style3">
                    <span id="applyStartday">2017-02-14 8:00</span>
                    <span> - </span>
                    <span id="applyEndday">2017-02-14 17:00</span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 請假數 -->
                    <span class="langStr" data-id="str_087"></span>
                </div>
                <div class="font-style3">
                    <span>0</span>
                    <!-- 天 -->
                    <span class="langStr" data-id="str_071"></span>
                    <span>0</span>
                    <!-- 小時 -->
                    <span class="langStr" data-id="str_088"></span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 請假理由 -->
                    <span class="langStr" data-id="str_089"></span>
                </div>
                <div class="font-style3 overflow-hidden">
                    <span id="applyReason"></span>
                </div>
            </div>
            <!-- empty div -->
            <div class="apply-empty-div2"></div>
            <!-- apply btn -->
            <div class="apply-submit-btn">
                <div id="applyBtn">
                    <!--立即預約-->
                    <span class="langStr" data-id="str_128"></span>
                </div>
            </div>
        </div>
        
    </div>

    <!-- 假別天數不夠 2行 -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" class="app-popup leaveNotEnough" for="leaveNotEnough" id="leaveNotEnough">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon'><img src="img/urgent.png"></span>
                    <span class="header-text">
                        <!-- 假別天數不夠 -->
                        <span class="langStr" data-id="str_115"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3">
                    <!-- 請選擇其他假別 -->
                    <span class="langStr" data-id="str_126"></span>
                </p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 假別剩餘天數 1行 -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" class="app-popup leftDaysByLeave" for="leftDaysByLeave" id="leftDaysByLeave">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon'><img src="img/urgent.png"></span><span class="header-text"></span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3"></p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 結束時間要大於迄止時間 1行 -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" class="app-popup dateTimeError" for="dateTimeError" id="dateTimeError">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon'><img src="img/urgent.png"></span>
                    <span class="header-text">
                        <!--請假迄止時間應大於請假開始時間-->
                        <span class="langStr" data-id="str_116"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3"></p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 請先選擇類別與假別 1行 -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" class="app-popup categroyFirst" for="categroyFirst" id="categroyFirst">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon'><img src="img/urgent.png"></span>
                    <span class="header-text">
                        <!--請先選擇類別與假別-->
                        <span class="langStr" data-id="str_139"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3"></p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 請先選擇基準日 1行 -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" class="app-popup basedayFirst" for="basedayFirst" id="basedayFirst">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon'><img src="img/urgent.png"></span>
                    <span class="header-text">
                        <!-- 請先選擇基準日 -->
                        <span class="langStr" data-id="str_140"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3"></p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 請先選擇開始時間 1行 -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" class="app-popup startdayFirst" for="startdayFirst" id="startdayFirst">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon'><img src="img/urgent.png"></span>
                    <span class="header-text">
                        <!-- 請先選擇開始時間 -->
                        <span class="langStr" data-id="str_171"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3"></p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- baseday list -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" class="app-popup basedayList" for="basedayList" id="basedayList">
        <div data-role="main" class="ui-content">
            <div class="header typeB">
                <div class="close"><img src="img/component/close_new.png" width="100%" height="100%" id="closeBasedayList"></div>
                <div class="title"></div>
            </div>
            <div class="old-baseday-list">
                <div class="tpl-option-msg-list">2017-02-02</div>
                <div class="tpl-option-msg-list">2017-06-02</div>
                <div class="tpl-option-msg-list">2017-10-02</div>
                <div class="tpl-option-msg-list">選擇其他基準日</div>
            </div>          
        </div>
    </div>

</div>
