<div data-role="page" id="viewAgentLeave">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none" style="margin-top: 0.31VH;">
            <img src="img/menu.png" class="leaveMenu">
        </a>
        <div class="header-style">
            <div class="ui-title">
                <!--代理請假-->
                <span class="langStr" data-id="str_182"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <div class="agent-container">
            <div class="apply-categroy" style="margin-bottom:5vw">
                <div class="font-style11">
                    <!--部門別-->
                    <span class="langStr" data-id="str_185"></span>
                </div>
                <!-- 部門别 dropdownlist -->
                <div data-role="none" id="agentDept" class="font-style3"></div>
            </div>
            <div class="apply-categroy">
                <div class="font-style11">
                    <!--代理人-->
                    <span class="langStr" data-id="str_103"></span>
                </div>
                <!-- 代理人 dropdownlist -->
                <div data-role="none" id="agentName" class="font-style3"></div>
            </div>
            <div class="apply-submit-btn">
                <div id="toBeAgent">代理</div>
            </div>
        </div>
    </div>
</div>
