<div data-role="page" id="viewLeaveQuery">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none" style="margin-top: 0.31VH;">
            <img src="img/menu.png" class="leaveMenu">
            <img src="img/nav_back.png" id="backDetailList">
            <img src="img/nav_back.png" id="backSignPreview">
            <img src="img/nav_back.png" id="backEffectPreview">
        </a>
        <div class="header-style">
            <div class="ui-title">
                <!--假單查詢-->
                <span class="langStr" data-id="str_078"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <!-- 請假單列表 -->
        <div class="leave-query-main">
            <div class="leave-query-main-list">
                <!-- <div class="leave-query-list">
                    <div>
                        <div class="leave-query-state font-style3">
                            <span class="langStr" data-id="str_147"></span>
                            <img src="img/btn_nextpage.png">
                        </div>
                        <div class="leave-query-base font-style10">
                            <div class="leave-query-basedata">
                                <div>
                                    <span class="langStr" data-id="str_131"></span>
                                    <span class="leave-id">572000</span>
                                </div>
                                <div>
                                    <span class="langStr" data-id="str_152"></span>
                                    <span class="langStr" data-id="str_094"></span>
                                </div>
                            </div>
                            <div>
                                <span class="langStr" data-id="str_138"></span>
                                <span>2017/02/08 8:00</span>
                                <span> - </span>
                                <span>2017/02/08 17:00</span>
                            </div>
                            <div>
                                <span class="langStr" data-id="str_153"></span>
                                <span>1</span>
                                <span class="langStr" data-id="str_071"></span>
                                <span>0</span>
                                <span class="langStr" data-id="str_088"></span>
                            </div>
                        </div>
                    </div>
                    <div></div>
                </div> -->
            </div>

            <!-- max count msg 顯示近10筆數據 -->
            <div class="leave-query-max font-style12">
                <span class="langStr" data-id="str_145" id="maxLeaveMsg"></span>
            </div>
            
        </div>

        <!-- toast display:none -->
        <div class="popup-msg-style" id="withdrawLeaveMsg">
            <!-- 假單已撤回 -->
            <span class="langStr" data-id="str_162"></span>
        </div>
        <div class="popup-msg-style" id="deleteLeaveMsg">
            <!-- 假單已刪除 -->
            <span class="langStr" data-id="str_163"></span>
        </div>
        <div class="popup-msg-style" id="sendLeaveMsg">
            <!-- 假單已送簽 -->
            <span class="langStr" data-id="str_164"></span>
        </div>

        <!-- 請假單詳情 -->
        <div class="leave-query-detail-sign">
            <div class="leave-detail-date font-style12">
                <div>
                    <!--申請日期-->
                    <span class="langStr" data-id="str_080"></span>
                    <span id="leaveApplyDate">2017-02-08</span>
                </div>
                <div>
                    <!-- 請假單號 -->
                    <span class="langStr" data-id="str_131"></span>
                    <span id="leaveFormNo">572000</span>
                </div> 
            </div>
            <div class="leave-detail-state">
                <div></div>
                <div>
                    <div>
                        <div class="font-style11">
                            <!-- 假單狀況 -->
                            <span class="langStr" data-id="str_144"></span>
                        </div>
                        <div class="font-style3">
                            <span id="leaveStatus">表單簽核中</span>
                        </div>
                    </div>
                    <div>
                        <img src="img/info.png" class="leave-detail-img" id="signLeaveDetail">
                    </div>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 申請類別 -->
                    <span class="langStr" data-id="str_081"></span>
                </div>
                <div class="font-style3">
                    <span id="leaveCategory">病假</span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 申請假別 -->
                    <span class="langStr" data-id="str_082"></span>
                </div>
                <div class="font-style3">
                    <span id="leaveName">病假</span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 職務代理人 -->
                    <span class="langStr" data-id="str_083"></span>
                </div>
                <div class="font-style3">
                    <span id="leaveAgentName">Jack</span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 請假日期與時間 -->
                    <span class="langStr" data-id="str_084"></span>
                </div>
                <div class="font-style3">
                    <span id="leaveStartDate">2017-02-08</span>
                    <span> </span>
                    <span id="leaveStartTime">8:00</span>
                    <span> - </span>
                    <span id="leaveEndDate">2017-02-08</span>
                    <span> </span>
                    <span id="leaveEndTime">17:00</span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 請假數 -->
                    <span class="langStr" data-id="str_087"></span>
                </div>
                <div class="font-style3">
                    <span id="leaveApplyDays">0</span>
                    <!-- 天 -->
                    <span class="langStr" data-id="str_071"></span>
                    <span id="leaveApplyHours">0</span>
                    <!-- 小時 -->
                    <span class="langStr" data-id="str_088"></span>
                </div>
            </div>
            <div class="preview-apply-categroy">
                <div></div>
                <div class="font-style11">
                    <!-- 請假理由 -->
                    <span class="langStr" data-id="str_089"></span>
                </div>
                <div class="font-style3">
                    <span id="leaveApplyReason">sick</span>
                </div>
            </div>
            <!-- empty div -->
            <div class="apply-empty-div2"></div>
            <!-- 撤回 -->
            <div class="apply-submit-btn" id="leaveWithdraw">
                <div id="withdrawLeaveBtn">
                    <!-- 撤回 -->
                    <span class="langStr" data-id="str_143"></span>
                </div>
            </div>
            <!-- 銷假 -->
            <div class="apply-submit-btn" id="leaveRevoke">
                <div id="dispelLeave">
                    <!-- 銷假 -->
                    <span class="langStr" data-id="str_156"></span>
                </div>
            </div>
            <!-- 刪除 -->
            <div id="leaveDelete">
                <div class="apply-submit-btn">
                    <div id="deleteRefuseLeave">
                        <!-- 刪除假單 -->
                        <span class="langStr" data-id="str_151"></span>
                    </div>
                </div>
                <div class="apply-preview-remove">
                    <div id="editRefuseLeave">
                        <img src="img/edit.png">&nbsp;
                        <!-- 編輯 -->
                        <span class="langStr" data-id="str_154"></span>
                    </div>
                </div>
            </div>  
        </div>

        <!-- 撤回假單——簽核中 -->
        <div class="leave-query-withdraw">
            <div class="leave-detail-date font-style12">
                <div>
                    <!--申請日期-->
                    <span class="langStr" data-id="str_080"></span>
                    <span id="withdrawApplyDate">2017-02-08</span>
                </div>
                <div>
                    <!-- 請假單號 -->
                    <span class="langStr" data-id="str_131"></span>
                    <span id="withdrawFormNo">572000</span>
                </div> 
            </div>
            <!-- empty div -->
            <div class="apply-empty-div1"></div>
            <!-- withdraw-reason textarea -->
            <div class="apply-leave-reason">
                <div class="font-style11">
                    <!-- 撤回理由 -->
                    <span class="langStr" data-id="str_132"></span>
                </div>
                <div>
                    <textarea data-role="none" id="withdrawReason" class="reason-textarea" placeholder="請填寫理由"></textarea>
                </div>
            </div>
            <!-- empty div -->
            <div class="apply-empty-div2"></div>
            <!-- apply btn -->
            <div class="apply-preview-btn">
                <div id="confirmWithdrawBtn">
                    <!-- 確認撤回 -->
                    <span class="langStr" data-id="str_142"></span>
                </div>
            </div>
        </div>

        <!-- 消除假單——已生效 -->
        <div class="leave-query-dispel">
            <div class="leave-detail-date font-style12">
                <div>
                    <!--申請日期-->
                    <span class="langStr" data-id="str_080"></span>
                    <span id="revokeApplyDate">2017-10-06</span>
                </div>
                <div>
                    <!-- 請假單號 -->
                    <span class="langStr" data-id="str_131"></span>
                    <span id="revokeFormNo">572003</span>
                </div> 
            </div>
            <!-- empty div -->
            <div class="apply-empty-div1"></div>
            <!-- withdraw-reason textarea -->
            <div class="apply-leave-reason">
                <div class="font-style11">
                    <!-- 銷假理由 -->
                    <span class="langStr" data-id="str_158"></span>
                </div>
                <div>
                    <textarea data-role="none" id="dispelReason" class="reason-textarea" placeholder="請填寫理由"></textarea>
                </div>
            </div>
            <!-- empty div -->
            <div class="apply-empty-div2"></div>
            <div class="apply-preview-btn" id="comfirmDispel">
                <div id="confirmDispelBtn">
                    <!-- 確定送簽 -->
                    <span class="langStr" data-id="str_159"></span>
                </div>
            </div>
            <div class="apply-preview-remove">
                <div id="cancelApply">
                    <img src="img/btn_cancel.png">&nbsp;
                    <!-- 取消申請 -->
                    <span class="langStr" data-id="str_160"></span>
                </div> 
            </div>
        </div>

    </div>

    <!-- sign popup -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup signStateFlow" for="signStateFlow" id="signStateFlow">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text"></span>
                </div>
            </div>
            <div class="main">
                <!-- <p class="main-paragraph font-style3"></p> -->
                <ul class="leave-flow-ul">

                </ul>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- refuse popup -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup refuseStateFlow" for="refuseStateFlow" id="refuseStateFlow">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'><img src="img/urgent.png"></span><span class="header-text"></span>
                </div>
            </div>
            <div class="main">
                <!-- <p class="main-paragraph font-style3"></p> -->
                <ul>
                    <li class="sign-list">
                        <div class="sign-icon">
                            <img src="img/success.png">
                        </div>
                        <div class="sign-name">
                            <div class="font-style3">
                                <span>Kevin.CM.Huang</span>
                            </div>
                            <div class="font-style10">
                                <span>2017-05-07 12:30</span>
                            </div>
                        </div>
                        <div class="sign-state font-style3">
                            <!-- 已簽核 -->
                            <span class="langStr" data-id="str_133"></span>
                        </div>
                    </li>
                    <li class="sign-list">
                        <div class="sign-icon">
                            <img src="img/success.png">
                        </div>
                        <div class="sign-name">
                            <div class="font-style3">
                                <span>Paul.H.Wang</span>
                            </div>
                            <div class="font-style10">
                                <span>2017-05-07 13:00</span>
                            </div>
                        </div>
                        <div class="sign-state font-style3">
                            <!-- 已簽核 -->
                            <span class="langStr" data-id="str_133"></span>
                        </div>
                    </li>
                    <li class="sign-list">
                        <div class="sign-icon">
                            <img src="img/success.png">
                        </div>
                        <div class="sign-name">
                            <div class="font-style3">
                                <span>Jack.L.Zhao</span>
                            </div>
                            <div class="font-style10">
                                <span>2017-05-07 14:00</span>
                            </div>
                        </div>
                        <div class="sign-state font-style3">
                            <!-- 已簽核 -->
                            <span class="langStr" data-id="str_133"></span>
                        </div>
                    </li>
                    <li class="sign-list">
                        <div class="sign-icon">
                            <img src="img/reject.png">
                        </div>
                        <div class="sign-name">
                            <div class="font-style3">
                                <span>Call.Y.Yin</span>
                            </div>
                            <div class="font-style10">
                                <span>2017-05-07 15:30</span>
                            </div>
                        </div>
                        <div class="sign-state font-style3">
                            <!-- 已拒絕 -->
                            <span class="langStr" data-id="str_135"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- withdraw popup -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup withdrawStateFlow" for="withdrawStateFlow" id="withdrawStateFlow">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'><img src="img/urgent.png"></span><span class="header-text"></span>
                </div>
            </div>
            <div class="main">
                <!-- <p class="main-paragraph font-style3"></p> -->
                <ul>
                    <li class="sign-list">
                        <div class="sign-icon">
                            <img src="img/success.png">
                        </div>
                        <div class="sign-name">
                            <div class="font-style3">
                                <span>Kevin.CM.Huang</span>
                            </div>
                            <div class="font-style10">
                                <span>2017-08-06 9:30</span>
                            </div>
                        </div>
                        <div class="sign-state font-style3">
                            <!-- 已簽核 -->
                            <span class="langStr" data-id="str_133"></span>
                        </div>
                    </li>
                    <li class="sign-list">
                        <div class="sign-icon">
                            <img src="img/success.png">
                        </div>
                        <div class="sign-name">
                            <div class="font-style3">
                                <span>Paul.H.Wang</span>
                            </div>
                            <div class="font-style10">
                                <span>2017-08-06 10:30</span>
                            </div>
                        </div>
                        <div class="sign-state font-style3">
                            <!-- 已簽核 -->
                            <span class="langStr" data-id="str_133"></span>
                        </div>
                    </li>
                    <li class="sign-list">
                        <div class="sign-icon">
                            <img src="img/success.png">
                        </div>
                        <div class="sign-name">
                            <div class="font-style3">
                                <span>Jack.L.Zhao</span>
                            </div>
                            <div class="font-style10">
                                <span>2017-08-06 11:30</span>
                            </div>
                        </div>
                        <div class="sign-state font-style3">
                            <!-- 已簽核 -->
                            <span class="langStr" data-id="str_133"></span>
                        </div>
                    </li>
                    <li class="sign-list">
                        <div class="sign-icon">
                            <img src="img/withdraw.png">
                        </div>
                        <div class="sign-name">
                            <div class="font-style3">
                                <span>Call.Y.Yin</span>
                            </div>
                            <div class="font-style10">
                                <span>2017-08-06 12:30</span>
                            </div>
                        </div>
                        <div class="sign-state font-style3">
                            <!-- 已撤回 -->
                            <span class="langStr" data-id="str_136"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- effect popup -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup effectStateFlow" for="effectStateFlow" id="effectStateFlow">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'><img src="img/urgent.png"></span><span class="header-text"></span>
                </div>
            </div>
            <div class="main">
                <!-- <p class="main-paragraph font-style3"></p> -->
                <ul>
                    <li class="sign-list">
                        <div class="sign-icon">
                            <img src="img/success.png">
                        </div>
                        <div class="sign-name">
                            <div class="font-style3">
                                <span>Kevin.CM.Huang</span>
                            </div>
                            <div class="font-style10">
                                <span>2017-10-06 12:30</span>
                            </div>
                        </div>
                        <div class="sign-state font-style3">
                            <!-- 已簽核 -->
                            <span class="langStr" data-id="str_133"></span>
                        </div>
                    </li>
                    <li class="sign-list">
                        <div class="sign-icon">
                            <img src="img/success.png">
                        </div>
                        <div class="sign-name">
                            <div class="font-style3">
                                <span>Paul.H.Wang</span>
                            </div>
                            <div class="font-style10">
                                <span>2017-10-06 13:30</span>
                            </div>
                        </div>
                        <div class="sign-state font-style3">
                            <!-- 已簽核 -->
                            <span class="langStr" data-id="str_133"></span>
                        </div>
                    </li>
                    <li class="sign-list">
                        <div class="sign-icon">
                            <img src="img/success.png">
                        </div>
                        <div class="sign-name">
                            <div class="font-style3">
                                <span>Jack.L.Zhao</span>
                            </div>
                            <div class="font-style10">
                                <span>2017-10-06 14:00</span>
                            </div>
                        </div>
                        <div class="sign-state font-style3">
                            <!-- 已簽核 -->
                            <span class="langStr" data-id="str_133"></span>
                        </div>
                    </li>
                    <li class="sign-list">
                        <div class="sign-icon">
                            <img src="img/success.png">
                        </div>
                        <div class="sign-name">
                            <div class="font-style3">
                                <span>Call.Y.Yin</span>
                            </div>
                            <div class="font-style10">
                                <span>2017-10-06 15:30</span>
                            </div>
                        </div>
                        <div class="sign-state font-style3">
                            <!-- 已簽核 -->
                            <span class="langStr" data-id="str_133"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- confirm withdraw -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup confirmWithdraw" for="confirmWithdraw" id="confirmWithdraw">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!-- 確定撤回？ -->
                        <span class="langStr" data-id="str_146"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3"> <br> </p> 
            </div>
            <div class="footer">
                <div class="btn-two font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--取消-->
                        <span class="langStr" data-id="com_023"></span>
                    </div>
                    <div class="btn-cancel" id="comfirmWithdrawLeave">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- confirm delete -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup confirmDelete" for="confirmDelete" id="confirmDelete">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!-- 確定刪除？ -->
                        <span class="langStr" data-id="str_155"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3"> <br> </p>       
            </div>
            <div class="footer">
                <div class="btn-two font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--取消-->
                        <span class="langStr" data-id="com_023"></span>
                    </div>
                    <div class="btn-cancel" id="comfirmDeleteLeave">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- confirm back -->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup confirmRevoke" for="confirmRevoke" id="confirmRevoke">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!-- 確定銷假？ -->
                        <span class="langStr" data-id="str_173"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3"> <br> </p>     
            </div>
            <div class="footer">
                <div class="btn-two font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--取消-->
                        <span class="langStr" data-id="com_023"></span>
                    </div>
                    <div class="btn-cancel" id="comfirmRevokeLeave">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
