<div data-role="page" id="personalLeave">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none" style="margin-top: 0.31VH;">
            <img src="img/menu.png" style="width: 4.934VW;">
        </a>
        <div class="header-style">
            <div class="ui-title">個人假勤</div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <form>
            <fieldset data-role="controlgroup" data-type="horizontal" class="page-tabs" id="viewPersonalLeaveTab">
                <input type="radio" name="radio-choice-h-2" id="viewPersonalLeave-tab-1" value="viewPersonalLeave-tab-1" checked="checked">
                <label for="viewPersonalLeave-tab-1" class="tabs-title">個人假勤</label>

                <input type="radio" name="radio-choice-h-2" id="viewPersonalLeave-tab-2" value="viewPersonalLeave-tab-2">
                <label for="viewPersonalLeave-tab-2" class="tabs-title">快速請假</label>
            </fieldset>
        </form>
        <div >
            <span></span>
        </div>
        <div id="myCalendar"></div>
    </div>
</div>