<div class="page-header">详细资料</div>
<div class="page-main">
    <div class="info-detail">
        <div class="info-head">
            <div>
                <div>{{info.Name_EN}}</div>
                <div>{{info.Name_CH}}</div>
            </div>
            <div><img src="img/favorite_d.png"></div>
        </div>
        <div class="info-main">
            <div>分机</div>
            <div>{{info.Ext_No}}</div>
        </div>
        <div class="info-main">
            <div>公司</div>
            <div>{{info.Company}}</div>
        </div>
        <div class="info-main">
            <div>部门</div>
            <div>{{info.Dept}}</div>
        </div>
        <div class="info-main">
            <div>部门名称</div>
            <div>{{info.DeptCode}}</div>
        </div>
        <div class="info-main">
            <div>事业区</div>
            <div>{{info.SiteCode}}</div>
        </div>
        <div class="info-main">
            <div>E-mail</div>
            <div>{{info.EMail}}</div>
        </div>
    </div>
</div>