
.custom-navbar ul li a {
    background: #4B0082 !important; 
    color: white !important;
    border-style: none;
    font-size: large !important;
}

/*override jQuery Mobile*/
.ui-content {
    overflow-x: visible;
    padding: 0px;
}

.ui-content .ui-listview {
    margin: 0px;
}

.ui-listview > .ui-li-static {
    padding: 0px;
    white-space: normal;
}

.ui-popup-container {
    width: 80%;
}

/*new class*/
.hide {
    display: none;
}

.page-header a {
    margin-top: 6px;
}

#viewIndex .ui-content > div{
    float: left;
}

.q-result-grid {
    text-align: center;
}

.q-result-grid > li div {
    float: left;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    overflow-wrap: break-word;
}

.q-result-grid > li p {
    width: 95%;
    font-weight: normal;
    white-space: normal;
    text-overflow: clip;
    overflow: auto;
}

.q-result-grid a {
    text-decoration: none;
}

.q-result-grid .error-msg {
    color: #FFF;
    background-color: red;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.q-result-grid .company{
    width: 30%;
}

.q-result-grid .e-name{
    width: 40%;
}

.q-result-grid .c-name{
    width: 30%;
}

.popup-msg {
    height: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: #4B0082;
    font-weight: bold;
}

.popup-msg .ui-btn {
    padding: 5px 10px;
    background-color: #28004D;
    border: none;
    color: #FFF;
}

.ui-field-contain img {
    width: 100%
}