/*************************** viewStaffUserMain ********************************/
#viewStaffUserMain .page-main{
    width: 100vw;
    padding: 0 !important;
    position: fixed;
}

.user-main-title{
    width: 89.22vw;
    height: 12.9vw;
    padding: 6.5vw 5.39vw 8.37vw;
}

.user-main-title>div{
    float: left;
    height: 100%;
}

.user-main-img{
    width: 17.2vw;
    position: relative;
}

.user-main-img>div:nth-of-type(1){
    width: 12.9vw;
    height: 12.9vw;
    background: url(img/default_photo.png) no-repeat;
    background-size: 12.9vw;
}

.user-main-img>div:nth-of-type(2){
    width: 2.9vw;
    height: 2.9vw;
    position: absolute;
    left: 9.5vw;
    top: 9.5vw;
    background: #FFF;
    border: 1px solid #D5D5D5;
    border-radius: 50%;
}

.user-main-text{
    width: 72vw;
}

.user-text-row1{
    width: 100%;
    height: 5.5vw;
    padding-top: 2vw;
}

.user-text-row1>div{
    float: left;
    height: 100%;
}

.user-text-row1>div:nth-of-type(1){
    width: 40%;
    line-height: 1.2;
    color: #253137;
    font-size: 3.768vw;
}

.user-text-row1>div:nth-of-type(2){
    width: 60%;
    text-align: right;
    color: #8fa3ad;
    font-size: 3.55vw;
}

.user-text-row2{
    width: 100%;
    height: 5.9vw;
}

.user-text-row2>div{
    float: left;
    height: 100%;
}

.user-text-row2>div:nth-of-type(1){
    width: 55%;
    color: #253137;
    font-size: 3.768vw;
    line-height: 1.7;
}

.user-text-row2>div:nth-of-type(2){
    width: 45%;
    text-align: right;
    color: #253137;
    font-size: 4.81vw;
}

.active-status-true {
    background: #32CD32 !important;
    border: 1px solid #32CD32 !important;
}

.active-status-false {
    background: #FF0000 !important;
    border: 1px solid #FF0000 !important;
}

.add-tea-room{
    width: 89.22vw;
    height: 10vw;
    padding: 0 5.39vw 6.5vw;
}

.add-tea-room>div:nth-of-type(1){
    height: 5vw;
    font-size: 3.14vw;
    color: #0f0f0f;
}

.add-tea-room>div:nth-of-type(2){
    height: 5vw;
    font-size: 4.18vw;
    color: #253137;
}

.add-tea-room>div:nth-of-type(2)>div{
    float: left;
    width: 25vw;
    height: 100%;
}

.add-tea-radio{
    width: 89.22vw;
    height: 11vw;
    padding: 0 5.39vw 3.5vw;
}

.add-tea-radio>div:nth-of-type(1){
    width: 100%;
    height: 5vw;
    color: #0f0f0f;
    font-size: 3.14vw;
}

.add-tea-radio>div:nth-of-type(2){
    width: 100%;
    height: 5.5vw;
}

#viewStaffUserMain input[type=radio] + label {
    background: url('img/radio_false.png') no-repeat;
    background-size: 5.5vw 5.5vw;
    height: 5.5vw;
    display: inline-block;
    padding: 0;
    text-indent: 7vw;
    font-size: 4.18vw;
    color: #253137;
}

#viewStaffUserMain input[type=radio] + label:nth-of-type(1) {
    width: 28vw;
}

#viewStaffUserMain input[type=radio] + label:nth-of-type(2) {
    width: 59vw;
}

#viewStaffUserMain input[type=radio]:checked + label {
    background: url('img/radio_true.png') no-repeat;
    background-size: 5.5vw 5.5vw;
}

.add-tea-count{
    width: 89.22vw;
    height: 16vw;
    padding: 0 5.39vw 6.5vw;
}

.add-tea-count>div{
    float: left;
    height: 100%;
}

.add-tea-count>div:nth-of-type(1){
    width: 48vw;
}

.add-tea-count>div:nth-of-type(2){
    width: 41vw;
}

.add-tea-count>div:nth-of-type(1)>div:nth-of-type(1),
.add-tea-count>div:nth-of-type(2)>div:nth-of-type(1){
    height: 6vw;
    color: #0f0f0f;
    font-size: 3.14vw;
}

.count-select{
    width: 40vw;
    height: 10vw;
    border: 1px solid #d6d6d6;
    position: relative;
}

.count-select>div{
    float: left;
    height: 100%;
}

.count-select>div:nth-of-type(1),
.count-select>div:nth-of-type(3){
    width: 6vw;
}

.tea-subtraction,
.water-subtraction{
    background: url(img/subtraction_gray.png) no-repeat center;
    background-size: 4vw 4vw;
}

.tea-addition,
.water-addition{
    background: url(img/addition_blue.png) no-repeat center;
    background-size: 4vw 4vw;
}

.can-subtraction{
    background: url(img/subtraction_blue.png) no-repeat center !important;
    background-size: 4vw 4vw !important;
}

.cannot-addition{
    background: url(img/addition_gray.png) no-repeat center !important;
    background-size: 4vw 4vw !important;
}

.count-select>div:nth-of-type(2){
    width: 28vw;
    text-align: center;
    line-height: 10vw;
    color: #253137;
    font-size: 4.18vw;
}

.add-tea-btn{
    width: 89.22vw;
    height: 10.4vw;
    padding: 0 5.39vw 3.5vw;
}

.add-tea-btn>div{
    width: 35.5vw;
    height: 10.4vw;
    margin: 0 auto;
    text-align: center;
    line-height: 10.4vw;
    background: #d5d5d5;
    color: #979797;
    font-size: 4.18vw;
}

.add-tea-notice{
    width: 100vw;
    padding-bottom: 6.5vw;
    color: #666666;
    font-size: 3.14vw;
    text-align: center;
}

.add-tea-today{
    width: 100vw;
    height: 52vw;
    background: #eceff0;
}

.today-room-title{
    width: 100%;
    height: 5vw;
    position: relative;
    padding: 5.3vw 0 2.5vw;
    line-height: 5vw;
    text-align: center;
    font-size: 3.349vw;
    color: #253137;
}

.today-room-title>span:last-of-type{
    display: inline-block;
    width: 5vw;
    height: 5vw;
    position: absolute;
    right: 5.4vw;
    background: url(img/loading.png);
    background-size: 5vw 5vw;
}

.today-room-time{
    width: 100%;
    padding-bottom: 6.5vw;
    text-align: center;
    color: #989898;
    font-size: 3.14vw;
}

.today-room-none{
    width: 100%;
    color: #253137;
    font-size: 3.768vw;
    text-indent: 5.6vw;
}

.today-room-list{
    width: 100vw;
    height: 28vw;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.today-room-list li{
    padding-bottom: 3.5vw;
    text-indent: 5.6vw;
    color: #253137;
    font-size: 3.768vw;
}

.past-time{
    color: #999999 !important;
}

.active-staff{
    background: #0db6b7 !important;
    color: #fff !important;
}

.service-offline{
    width: 100vw;
    height: 100vw;
    display: flex;
}

.service-offline>div{
    width: 100vw;
    margin: auto;
}

.service-offline>div>div:nth-of-type(1){
    color: #666;
    font-size: 3.14vw;
    text-align: center;
}

.service-offline>div>div:nth-of-type(2){
    width: 30vw;
    height: 6vw;
    margin: 1vw auto;
}

.service-offline>div>div:nth-of-type(2)>div{
    float: left;
    height: 100%;
}

.service-offline>div>div:nth-of-type(2)>div:nth-of-type(1){
    width: 18vw;
    color: #3399CC;
    font-size: 3.14vw;
    text-align: right;
    line-height: 6vw;
    text-decoration: underline;
}

.service-offline>div>div:nth-of-type(2)>div:nth-of-type(2){
    width: 8vw;
    background: url(img/loading_blue.png) no-repeat;
    background-size: 6vw;
    background-position: 2vw;
}

#userChooseRoom{
    padding: 0 !important;
    margin: 0 !important;
}

.dropdown-arrow {
    background: url('img/dropdown_incline.png') right transparent;
    background-size: 2vw 2vw;
    background-repeat: no-repeat;
}

.visible-hide{
    visibility: hidden;
}

.confirmAddTeaPopup .ui-content{
    padding: 0 !important;
}

.confirmAddTeaPopup .ui-content>.header,
.confirmAddTeaPopup .ui-content>.footer{
    margin-top: 10vw;
}

.adminBusyPopup .ui-content{
    padding: 0 !important;
}

.adminBusyPopup .ui-content>.header,
.adminBusyPopup .ui-content>.footer{
    margin-top: 8vw;
}