<span id="tmp_option_width" class="hidden" style="font-size:2.8vh"></span>
<div data-role="page" id="viewGame">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div id="container" class="header-style">
            <div id="center" class="ui-title">登錄比賽/成績</div>
        </div>
    </div>
    <div data-role="main" class="page-main" style="line-height: initial !important;">
        <ul data-role="listview" data-ajax="false" data-inset="true" data-theme="a">
            <li><a href="#viewMain">前一頁</a></li>
            <li><a href="#viewAddGame">新增</a></li>
            <li><a href="#viewGame1">第一場 => 鮪魚/如如 18 VS 21 Kitty/輝哥</a></li>
            <li><a href="#viewGame2">第二場 => 鮪魚/如如 18 VS 21 Kitty/輝哥</a></li>
            <li><a href="#viewGame3">第三場 => 如如/Kitty ？ VS ？ 輝哥/鮪魚</a></li>
            <li><a href="#viewGame4">第四場 => ＡＡ/ＢＢ ？ VS ？ 輝哥/鮪魚</a></li>
        </ul>
    </div>
</div>