<div data-role="page" id="viewQRScanner">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" style="border-style: none;">
        <div id="container" class="header-style">
            <div id="left" class="ui-title-btn">
                <a id="viewMainBack" href="#"><img src="img/002_nav_back_white.png" class="title-icon" /></a>
            </div>
            <div id="center" class="ui-title">QRCode Scan</div>
            <div id="right" class="ui-title-btn"></div>
        </div>
    </div>
    <div class="ng-hide" id="tab-scan-camera-ready">
        <div class="guides">
            <img class="svg qr-scan-guides" src="img/qr-scan-box.svg">
        </div>        
    </div>
    <div class="comment-scanbox">將掃描框對準QRCode後自動掃瞄</div>
</div>
