<div data-role="page" id="viewContact">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none" style="margin-top: 0.31VH;">
            <img src="img/menu.png" class="insuranceMenu">
            <img src="img/002_nav_back_white.png" id="backContactInfo">
        </a>
        <div class="header-style">
            <div id="center" class="ui-title">
                <!--服務窗口-->
                <span class="langStr" data-id="str_055"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <div class="contact-info">
            <div class="ui-content contactHeading font-style11">
                 <!--HR聯絡人員-->
                    <span class="langStr" data-id="str_056"></span>
            </div>
            <ul data-role="listview" data-icon="false" class="q-result-grid" id="employeeData" style="background-color: white;">
            </ul>
            <div class="ui-content contactHeading font-style11">
                 <!--保險公司聯絡人員-->
                    <span class="langStr" data-id="str_057"></span>
            </div>
            <ul data-role="listview" data-icon="false" class="q-result-grid" id="insranceStaffData" style="background-color: white;">
                <!--<li>
                    <div class="name">
                        <p><a href="#" name="detailIndex">李愛濱</a></p>
                        <p><a href="#" name="detailIndex">台北</a></p>
                    </div>
                    <div class="img-phone divvertical-center">
                        <div class="tel-num">
                            <img src = "img/phone.png">
                            <a rel="external" href='tel:88001234'>8800-1234</a>
                        </div>
                    </div>
                    <div class="img-info divvertical-center" ename="[eName]">
                        <div class="tel-num">
                            <p><a href="#" name="detailIndex"><img src="img/info.png"></a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="name">
                        <p><a href="#" name="detailIndex">李淑卿</a></p>
                        <p><a href="#" name="detailIndex">桃園</a></p>
                    </div>
                    <div class="img-phone divvertical-center">
                        <div class="tel-num">
                            <img src = "img/phone.png">
                            <a rel="external" href='tel:88001234'>8800-1234</a>
                        </div>
                    </div>
                    <div class="img-info divvertical-center">
                        <div class="tel-num">
                            <p><a href="#" name="detailIndex"><img src="img/info.png"></a></p>
                        </div>
                    </div>
                </li>-->
            </ul>
        </div>
        <div class="contact-detail">           
            <ul data-icon="false" class="ui-content" id="detailInfo">
                <!--<div class="name font-style1">李愛濱</div>
                <div class="site font-style3">台北</div>               
                <li>
                    <div class="phone font-style7">電話</div>
                    <a rel="external" class="font-style10" href='tel:88001234'>8800-1234</a>                   
                </li>
                <li>
                    <div class="other font-style7">駐點時間</div>
                    <a rel="external" class="font-style10">星期二，星期四 12:30-13:30</a>                   
                </li>
                <li>
                    <div class="other font-style7">地點</div>
                    <a rel="external" class="font-style10">2樓物理治療室</a>                   
                </li>
                <li>
                    <div class="other font-style7">E-Mail</div>
                    <a rel="external" class="font-style10" href='mailto:MLove@nanshan.com'>MLove@nanshan.com</a>                   
                </li>-->
            </ul>
        </div>
    </div>
</div>
