<span id="tmp_option_width" class="hidden" style="font-size:2.8vh"></span>
<div data-role="page" id="viewMain">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div id="container" class="header-style">
            <div id="center" class="ui-title">IM</div>
        </div>
    </div>
    <div data-role="main" class="page-main" style="line-height: initial !important;">
        <ul data-role="listview" data-ajax="false" data-inset="true" data-theme="a">
            <li><a href="#viewTalk">聊天室一<span class="ui-li-count">22</span></a></li>
            <li><a href="#viewTalk1">聊天室二<span class="ui-li-count">3</span></a></li>
            <li><a href="#viewTalk2">聊天室三<span class="ui-li-count">５</span></a></li>
            <li><a href="#viewTalk3">聊天室四<span class="ui-li-count">7</span></a></li>
            <li><a id="QRCamera">Open QRCode Camera</a></li>
            <li><a id="QRCode">Create QRCode</a></li>
            <li><a id="Fingerprint">Detect Fingerprint</a></li>
            <li><a id="openPDF">View PDF</a></li>
        </ul>
    </div>
    <div data-role="content">
        <ul data-role="listview" class="swipe-delete">
            <li>
                <div class="behind">
                    <a href="#" class="ui-btn delete-btn">Delete</a>
                    <!--<a href="#" class="ui-btn edit-btn pull-left">Edit</a>-->
                </div>
                <a href="#">Delete me 1</a>
            </li>
            <li>
                <div class="behind">
                    <a href="#" class="ui-btn delete-btn">Delete</a>
                    <!--<a href="#" class="ui-btn edit-btn pull-left">Edit</a>-->
                </div>
                <a href="#">Delete me 2</a>
            </li>
        </ul>
    </div>
    <!--<iframe src="http://qplaydev.benq.com/insurance/html/insuranceInfo.html" style="width:93VW; height:75VH; border-style: none;"></iframe>-->
    <!--<iframe src="../InsuranceInfo/insuranceInfo.html" style="width:93VW; height:75VH; border-style: none;"></iframe>-->
</div>