<div data-role="page" id="viewInsuranceInfo">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none" style="margin-top: 0.31VH;">
            <img src="img/menu.png" class="insuranceMenu">
        </a>
        <div id="container" class="header-style">
            <div id="center" class="ui-title">
                <!--保險小常識-->
                <span class="langStr" data-id="str_058"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <div style="margin-bottom: 5vw;"></div>
        <ul data-icon="false" class="ui-content font-style5" id="insranceInfo" style="background-color: white;color: #323232;">           
            <li>
                <div id="howtobuy">
                    <!--社會新鮮人保險怎麼買-->
                    <span class="langStr" data-id="str_059"></span>
                </div>                 
            </li>
            <li>
                <div id="wrongsense">
                    <!--20個錯誤的保險觀念-->
                    <span class="langStr" data-id="str_060"></span>
                </div>                  
            </li>
            <li>
                <div id="booklist">
                    <!--保險消費手冊-->
                    <span class="langStr" data-id="str_061"></span>
                </div>                   
            </li>
            <li>
                <div id="QA">
                    <!--保險理賠問答大全-->
                    <span class="langStr" data-id="str_062"></span>
                </div>                       
            </li>
        </ul>
    </div>
</div>
