<span id="tmp_option_width" class="hidden" style="font-size:2.8vh"></span>
<div data-role="page" id="viewMain">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <a class="menu-btn" data-role="none" style="margin-top: 0.31VH;">
            <img src="img/menu.png" class="insuranceMenu">
        </a>
        <div class="header-style">
            <div id="center" class="ui-title">
                <span class="langStr" data-id="str_001"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main" style="line-height: initial !important;">
        <div class="insur-main-scroll">
            <div class="ui-margin-public" style="text-align: center;">
                <div id="mainTab" data-role="controlgroup" data-type="horizontal" class="ui-radio-50w">
                    <input type="radio" name="tab" id="tab1" value="tab1" checked="checked">
                    <label for="tab1">
                        <!--健保-->
                        <span class="langStr" data-id="str_002"></span>
                    </label>
                    <input type="radio" name="tab" id="tab2" value="tab2">
                    <label for="tab2">
                        <!--勞保-->
                        <span class="langStr" data-id="str_003"></span>
                    </label>
                    <input type="radio" name="tab" id="tab3" value="tab3">
                    <label for="tab3">
                        <!--團保-->
                        <span class="langStr" data-id="str_004"></span>
                    </label>
                </div>
            </div>
            <div class="ui-margin-insurance-main" id="pageOne">
                <div class="insurance-main">
                    <div class="font-style11 insurance-main-title">
                        <!-- 投保資格 -->
                        <span class="langStr" data-id="str_005"></span>
                    </div>              
                    <div class="health-insurance-content font-style7">
                        <div style="margin-bottom:2.33vw;">
                            <!-- 投保資格 內容01-->
                            <span class="langStr" data-id="str_006"></span>
                        </div>
                        <div style="margin-bottom:2.33vw;">
                            <!-- 投保資格 內容02-->
                            <span class="langStr" data-id="str_007"></span>
                        </div>
                        <div>
                            <!-- 投保資格 內容03-->
                            <span class="langStr" data-id="str_008"></span>
                        </div>
                    </div>
                    <div class="font-style11 insurance-main-title" >
                        <!-- 眷屬依附投保申請 -->
                        <span class="langStr" data-id="str_009"></span>
                    </div>   
                    <div class="health-insurance-content font-style7">
                        <div style="margin-bottom:2.33vw;">
                            <!-- 內容01-->
                            <span class="langStr" data-id="str_010"></span>
                        </div>
                        <div>
                            <!-- 內容02-->
                            <span class="langStr" data-id="str_011"></span>
                        </div>
                    </div> 
                    <div class="font-style11 insurance-main-title">
                        <!-- 變更申請 -->
                        <span class="langStr" data-id="str_012"></span>
                    </div>   
                    <div class="health-insurance-content font-style7"> 
                        <div>
                            <!-- 變更申請 內容-->
                            <span class="langStr" data-id="str_013"></span>
                        </div>
                    </div>
                    <div class="font-style11 insurance-main-title">
                        <!-- 國外就醫 -->
                        <span class="langStr" data-id="str_014"></span>
                    </div>   
                    <div class="health-insurance-content font-style7"> 
                        <div style="margin-bottom:2.33vw;">
                            <!-- 國外就醫 內容01-->
                            <span class="langStr" data-id="str_015"></span>
                        </div>
                        <div>
                            <!-- 國外就醫 內容02-->
                            <span class="langStr" data-id="str_016"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-margin-insurance-main" id="pageTwo">
                <div class="insurance-main">
                    <div class="font-style12 labor-insurance-remark" >
                        <!--  勞保備註 -->
                        <span class="langStr" data-id="str_017"></span>
                    </div>    
                    <div class="font-style11 insurance-main-title">
                        <!-- 生育給付 -->
                        <span class="langStr" data-id="str_018"></span>
                    </div>  
                    <div class="health-insurance-content font-style7"> 
                        <div style="margin-bottom:2.33vw;">
                            <!-- 生育給付 內容01-->
                            <span class="langStr" data-id="str_019"></span>
                        </div>
                        <div style="margin-bottom:2.33vw;">
                            <!-- 生育給付 內容02-->
                            <span class="langStr" data-id="str_020"></span>
                        </div>
                        <div>
                            <!-- 生育給付 內容03-->
                            <span class="langStr" data-id="str_021"></span>
                        </div>
                    </div> 
                    <div class="font-style11 insurance-main-title">
                        <!-- 傷病給付 -->
                        <span class="langStr" data-id="str_022"></span>
                    </div>  
                    <div class="health-insurance-content font-style7"> 
                        <div style="margin-bottom:2.33vw;">
                            <!-- 傷病給付 內容01-->
                            <span class="langStr" data-id="str_023"></span>
                        </div>
                        <div style="margin-bottom:2.33vw;">
                            <!-- 傷病給付 內容02-->
                            <span class="langStr" data-id="str_024"></span>
                        </div>
                        <div style="margin-bottom:2.33vw;">
                            <!-- 傷病給付 內容03-->
                            <span class="langStr" data-id="str_025"></span>
                        </div>
                        <div>
                            <!-- 傷病給付 內容04-->
                            <span class="langStr" data-id="str_026"></span>
                        </div>
                    </div> 
                    <div class="font-style11 insurance-main-title">
                        <!-- 殘障給付 -->
                        <span class="langStr" data-id="str_027"></span>
                    </div> 
                    <div class="health-insurance-content font-style7"> 
                        <div style="margin-bottom:2.33vw;">
                            <!-- 殘障給付 內容01-->
                            <span class="langStr" data-id="str_028"></span>
                        </div>
                        <div>
                            <!-- 殘障給付 內容02-->
                            <span class="langStr" data-id="str_029"></span>
                        </div>
                    </div> 
                    <div class="font-style11 insurance-main-title">
                        <!-- 家屬死亡給付 -->
                        <span class="langStr" data-id="str_030"></span>
                    </div> 
                    <div class="health-insurance-content font-style7"> 
                        <div style="margin-bottom:2.33vw;">
                            <!-- 家屬死亡給付 內容01-->
                            <span class="langStr" data-id="str_031"></span>
                        </div>
                        <div>
                            <!-- 家屬死亡給付 內容02-->
                            <span class="langStr" data-id="str_032"></span>
                        </div>
                    </div> 
                    <div class="font-style11 insurance-main-title">
                        <!-- 本人死亡給付 -->
                        <span class="langStr" data-id="str_033"></span>
                    </div>
                    <div class="health-insurance-content font-style7"> 
                        <div style="margin-bottom:2.33vw;">
                            <!-- 本人死亡給付 內容01-->
                            <span class="langStr" data-id="str_034"></span>
                        </div>
                        <div style="margin-bottom:2.33vw;">
                            <!-- 本人死亡給付 內容02-->
                            <span class="langStr" data-id="str_035"></span>
                        </div>
                        <div>
                            <!-- 本人死亡給付 內容03-->
                            <span class="langStr" data-id="str_036"></span>
                        </div>
                    </div> 
                    <div class="font-style11 insurance-main-title">
                        <!-- 老年死亡給付 -->
                        <span class="langStr" data-id="str_037"></span>
                    </div>
                    <div class="health-insurance-content font-style7"> 
                        <div style="margin-bottom:2.33vw;">
                            <!-- 家屬死亡給付 內容01-->
                            <span class="langStr" data-id="str_038"></span>
                        </div>
                        <div style="margin-left: 3vw;">
                            <span class="langStr" data-id="str_039"></span>
                        </div>
                        <div style="margin-left: 3vw;">
                            <span class="langStr" data-id="str_040"></span>
                        </div>
                        <div style="margin-left: 3vw;">
                            <span class="langStr" data-id="str_041"></span>
                        </div>
                        <div style="margin-left: 3vw;">
                            <span class="langStr" data-id="str_042"></span>
                        </div>
                        <div style="margin-bottom:2.33vw;margin-left: 3vw;">
                            <span class="langStr" data-id="str_043"></span>
                        </div>
                        <div>
                            <!-- 家屬死亡給付 內容02-->
                            <span class="langStr" data-id="str_044"></span>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="ui-margin-insurance-main" id="pageThree">
                <div class="insurance-main">  
                    <div class="font-style11 insurance-main-title">
                        <!-- 公司團保 -->
                        <span class="langStr" data-id="str_045"></span>
                    </div> 
                    <div class="health-insurance-content font-style7"> 
                        <div>
                            <!-- 公司團保 內容-->
                            <span class="langStr" data-id="str_046"></span>
                        </div>
                    </div>   
                    <div class="font-style11 insurance-main-title">
                        <!-- 員工自費保險 -->
                        <span class="langStr" data-id="str_047"></span>
                    </div> 
                    <div class="health-insurance-content font-style7"> 
                        <div>
                            <!-- 員工自費保險 內容-->
                            <span class="langStr" data-id="str_048"></span>
                        </div>
                    </div>           
                </div>
                <div style="margin: 10vw 3.71vw 0;"></div>
                <div id="groupIndurancePDF" class="font-style3">
                    <span class="langStr" data-id="str_049" style="align-self:center;"></span>
                    <img src="img/041_btn_qplay_download.png" alt="" class="dowloadPDF">
                </div>
            </div>
        </div> 
    </div>
</div>