<div data-role="page" id="viewContact">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none" style="margin-top: 0.31VH;">
            <img src="img/menu.png" class="insuranceMenu">
        </a>
        <div id="container" class="header-style">
            <div id="center" class="ui-title">
                <!--服務窗口-->
                <span class="langStr" data-id="str_055"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <div class="ui-content contactHeading font-style12">
             <!--HR聯絡人員-->
                <span class="langStr" data-id="str_056"></span>
        </div>
        <ul data-role="listview" data-icon="false" class="q-result-grid ui-content " id="employeeData" style="background-color: white;">
            <li>
                <div class="name">
                    <p><a href="#" name="detailIndex">Anna.W.Wu</a></p>
                    <p><a href="#" name="detailIndex">Qisda</a></p>
                </div>
                <div class="img-phone divvertical-center">
                    <div class="tel-num">
                        <img src = "img/phone.png">
                        <a rel="external" href='tel:88001234'>8800-1234</a>
                    </div>
                </div>
                <div class="img-info divvertical-center">
                    <div class="tel-num">
                        <p><a href="#" name="detailIndex"><img src="img/info.png"></a></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="name">
                    <p><a href="#" name="detailIndex">Andrey Kirsh-Tumanov</a></p>
                    <p><a href="#" name="detailIndex">BenQ</a></p>
                </div>
                <div class="img-phone divvertical-center">
                    <div class="tel-num">
                        <img src = "img/phone.png">
                        <a rel="external" href='tel:88001234'>8800-1234</a>
                    </div>
                </div>
                <div class="img-info divvertical-center">
                    <div class="tel-num">
                        <p><a href="#" name="detailIndex"><img src="img/info.png"></a></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
