<span id="tmp_option_width" class="hidden" style="font-size:2.8vh"></span>
<div data-role="page" id="viewMain">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div id="container" class="header-style">
            <div id="center" class="ui-title">
                <span class="langStr" data-id="str_001"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main" style="line-height: initial !important;">
        <div class="ui-margin-public" style="text-align: center;">
            <div id="reserveTab" data-role="controlgroup" data-type="horizontal" class="ui-radio-50w">
                <input type="radio" name="tab" id="tab1" value="tab1" checked="checked">
                <label for="tab1">
                    <!--健保-->
                    <span class="langStr" data-id="str_002"></span>
                </label>
                <input type="radio" name="tab" id="tab2" value="tab2">
                <label for="tab2">
                    <!--勞保-->
                    <span class="langStr" data-id="str_003"></span>
                </label>
                <input type="radio" name="tab" id="tab3" value="tab3">
                <label for="tab3">
                    <!--團保-->
                    <span class="langStr" data-id="str_004"></span>
                </label>
            </div>
        </div>
        <div class="ui-margin-insurance-main" id="pageOne">
            <div id="health-insurance">
                <div class="font-style11" style="color:#0F0F0F;margin-bottom:2.14vw;">
                    <!-- 投保資格 -->
                    <span class="langStr" data-id="str_005"></span>
                </div>              
                <div class="health-insurance-content font-style7">
                    <div style="margin-bottom:2.33vw;">
                        <!-- 投保資格 內容01-->
                        <span class="langStr" data-id="str_006"></span>
                    </div>
                    <div style="margin-bottom:3vw;">
                        <!-- 投保資格 內容02-->
                        <span class="langStr" data-id="str_007"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>