/*************************** viewQPayShopReturnSearch ********************************/
#viewQPayShopReturnSearch .page-main{
    width: 100vw;
    padding: 0 !important;
    position: fixed;
}

.return-search-row1{
    width: 92.58vw;
    padding: 6.5vw 3.71vw 2.14vw;
    color: #253137;
    font-size: 3.349vw
}

.return-search-row2{
    width: 92.58vw;
    padding: 0 3.71vw 6vw;
    color: #666666;
    font-size: 3.349vw
}

.return-search-row3{
    width: 92.58vw;
    height: 10vw;
    margin-left: 3.71vw;
    border-bottom: 1px solid #d5d5d5;
}

.return-search-row3 input{
    width: 90%;
    padding-left: 2vw;
    border: none;
    outline: none;
    background-color: #F9F9F9;
    color: #253137;
    font-size: 4.18vw;
}

.return-search-row4{
    width: 100vw;
    height: 10vw;
    padding: 10vw 0 0;
}

.return-search-row4 div{
    width: 35.5vw;
    height: 10vw;
    margin: auto;
    text-align: center;
    line-height: 10.5vw;
    background: #d6d6d6;
    color: #989898;
    font-size: 4.18vw;
}

.tradeCodeFailPopup .ui-content{
    padding: 0;
}

.tradeCodeFailPopup .ui-content>.header{
    padding: 10vw 6vw 0;
}

.tradeCodeFailPopup .ui-content>.main{
    display: none;
}

.tradeCodeFailPopup .ui-content>.footer{
    padding-top: 8vw;
}