
<div data-role="page" id="viewEventList">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div id="container" class="header-style">
            <div class="ui-title-btn">
            </div>
            <div id="center" class="ui-title">
                Example
            </div>
            <div class="ui-title-btn">
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        Example
    </div>
</div>
