<!-- Beginning of viewMain -->
<div data-role="page" id="viewMain" class="viewIndex">
	<!--ios-->
	<div class="ios-fix-overlap-div"></div>
	<!--header-->
	<div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
		<a class="menu-btn" data-role="none">
			<img src="img/humb.png" class="panelBtn-img">
		</a>
		<div class="header-style">
			<h1 class="ui-title font-style1">AR Overdue Overview</h1>
			<!-- popup -->
			<!--<div id="mypopup" class="app-popup msg" data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false">
			    <div data-role="main" class="ui-content">
			        <div class="main">
			            <p id="infoLoginid"></p>
			            <p>
			                UUID: <span id="infoUUID"></span>
			            </p>
			            <p>
			                Version: <span id="infoVersionName"></span>
			            </p>
			        </div>
			        <hr class="ui-hr ui-hr-bottom">
			        <div class="footer">
			            <div id="closeInfoMsg" class="btn-one font-style8">
			                <div>
			                    <span class="langStr" data-id="com_016"></span>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>-->
		</div>
	</div>
	<!--main-->
	<div data-role="main" class="ui-content page-main">				
		<form>
			<fieldset data-role="controlgroup" data-type="horizontal" class="page-tabs" id="viewMainTab">
				<input type="radio" name="radio-choice-h-2" id="viewMain-tab-1" value="viewMain-tab-1" checked="checked">
			    <label for="viewMain-tab-1" class="tabs-title">BU</label>

			    <input type="radio" name="radio-choice-h-2" id="viewMain-tab-2" value="viewMain-tab-2">
			    <label for="viewMain-tab-2" class="tabs-title">CSD</label>
			</fieldset>
		</form><br>
		
		<div id="explainMsg" class="font-style13">Credit Memo Excluded</div>
		<!--highcharts portrait-->
		<div id="overview-hc-bubble" style="height: 38VH;"></div>
		<div id="overview-hc-rectangle" style="height: 38VH;"></div>
		<!--highcharts landscape-->
		<div id="overview-hc-bubble-landscape"></div>
		<div id="backBtn">
			<img src="img/back_bubble.png" class="backBubble-img" />
		</div>
		<div id="overview-hc-rectangle-landscape">
		</div>
	</div>
</div>
