<!-- viewDetail -->
<div data-role="page" id="viewDetail" class="viewIndex">
	<!--ios-->
	<div class="ios-fix-overlap-div"></div>
	<!--header-->
	<div data-role="header" data-position="fixed" data-theme="a" class="header-style page-header" data-tap-toggle="false">
		<a class="menu-btn" data-role="none">
			<img src="img/humb.png" class="panelBtn-img">
		</a>
		<div class="header-style">
			<h1 class="ui-title">AR Overdue Detail</h1>
		</div>
		<!--popup-->
		<div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" class="app-popup viewDetailPopup">
			<div data-role="main" class="ui-content">
				<div class="main">
					<p class="main-paragraph font-style3">
						Alan Chen<br>1.0.0.352.6666666
					</p>
				</div>
				<div class="footer">
					<div class="btn-one font-style1 btnArea">
						<div class="btn-cancel">确定</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--main-->
	<div data-role="main" class="ui-content page-main">	
		<form>
			<fieldset data-role="controlgroup" data-type="horizontal" class="page-tabs" id="viewDetailTab">
				<input type="radio" name="radio-choice-h-2" id="viewDetail-tab-1" value="viewDetail-tab-1" checked="checked">
			    <label for="viewDetail-tab-1" class="tabs-title">Overdue</label>

			    <input type="radio" name="radio-choice-h-2" id="viewDetail-tab-2" value="viewDetail-tab-2">
			    <label for="viewDetail-tab-2" class="tabs-title label-style">Overdue Soon</label>
			    
			    <input type="radio" name="radio-choice-h-2" id="viewDetail-tab-3" value="viewDetail-tab-3">
			    <label for="viewDetail-tab-3" class="tabs-title">Expired Soon</label>
			</fieldset>
		</form>
		
		<div class="include-label">
			<span class="font-style7">Credit Memo Included</span>
			<div><img src="img/switch_g.png" id="memoBtn" /></div>	
		</div>
		<!-- BU Overdue -->
		<!-- BU title -->
		<div class="bu-title">
			<span class="font-style11">BU Overdue A/R</span>
		</div>
		<!-- BU header -->
		<div class="bu-header">
			<ul>
				<li class="font-style11 detail-customer">
					<span>Customer</span>&nbsp;&nbsp;
					<img src="img/priority_up.png" class="priority-img" />
				</li>
				<li class="font-style11 detail-total">
					<div>
						<span>Total Overdue</span>
						<span>(USD)</span>
					</div>
					<div>
						<img src="img/priority_up.png" class="priority-img" />
					</div>
				</li>
				<li class="font-style11 detail-trend">
					<span>WoW Trend</span>
				</li>
				<li class="detail-alllist">
					<img src="img/all_list_down.png" class="alllist-img" id="buAllListBtn" />
				</li>
			</ul>
		</div>
		<!-- BU main -->
		<div class="bu-main">
			<ul>
				<!-- odd data -->
				<li>
					<ul class="bu-data-list">
						<li>
							<div>
								<div>
									<span>641287</span>&nbsp;&nbsp;<span>东森电视股份有限公司公司</span>
								</div>	
							</div>
						</li>
						<li>
							<span>13546845</span>
						</li>
						<li>
							<div id="buChartArea1"></div>
						</li>
						<li>
							<img src="img/list_down.png" class="buSingleListBtn" />
						</li>
					</ul>
				</li>
				<!-- even hc hide -->
				<li class="bu-single-list">
					<div>
						<div class="font-style12">Total AR and Overdue Amount</div>
						<div>
							<span class="font-style13">Date:</span>
							<span class="font-style13">5/14</span>
							<span class="font-style13">-</span>
							<span class="font-style13">6/15</span>
						</div>
					</div>
					<div>
						<span class="font-style13">Alan Chen</span>
						<span class="font-style13">Owner:</span>						
					</div>
					<div>
						<div class="overdue-tab1">
							<div><span class="font-style13">1-15 Days</span></div>
							<div><span class="font-style13">16-45 Days</span></div>
							<div><span class="font-style13">46-75 Days</span></div>
							<div><span class="font-style13">Over 75 Days</span></div>
						</div>
						<div class="overdue-tab2">
							<div><span class="font-style13">1684</span></div>
							<div><span class="font-style13">6452</span></div>
							<div><span class="font-style13">16848</span></div>
							<div><span class="font-style13">268455</span></div>
						</div>
					</div>
					<div id="buChartColumn1"></div>
				</li>
				<!-- odd data -->
				<li>
					<ul class="bu-data-list">
						<li>
							<div>
								<div>
									<span>601774</span>&nbsp;&nbsp;<span>飞利浦股份有限公司飞利浦</span>
								</div>	
							</div>
						</li>
						<li>
							<span>7852304</span>
						</li>
						<li>
							<div id="buChartArea2"></div>
						</li>
						<li>
							<img src="img/list_down.png" class="buSingleListBtn" />
						</li>
					</ul>
				</li>
				<!-- even hc hide -->
				<li class="bu-single-list">
					<div>
						<div class="font-style12">Total AR and Overdue Amount</div>
						<div class="font-style13">Date:<span>5/14</span>-<span>6/15</span></div>
					</div>
					<div class="font-style13">Owner:<span>Alan Chen</span></div>
					<div>
						<div class="overdue-tab1 font-style13">
							<div>1-15 Days</div>
							<div>16-45 Days</div>
							<div>46-75 Days</div>
							<div>Over 75 Days</div>
						</div>
						<div class="overdue-tab2 font-style13">
							<div><span>3572</span></div>
							<div><span>7386</span></div>
							<div><span>9527</span></div>
							<div><span>10854</span></div>
						</div>
					</div>
					<div id="buChartColumn2"></div>
				</li>
				<!-- odd data -->
				<li>
					<ul class="bu-data-list">
						<li>
							<div>
								<div>
									<span>658397</span>&nbsp;&nbsp;<span>东森电视股份有限公司公司</span>
								</div>	
							</div>
						</li>
						<li>
							<span>146546151</span>
						</li>
						<li>
							<div id="buChartArea3"></div>
						</li>
						<li>
							<img src="img/list_down.png" class="buSingleListBtn" />
						</li>
					</ul>
				</li>
				<!-- even hc hide -->
				<li class="bu-single-list">
					<div>
						<div class="font-style12">Total AR and Overdue Amount</div>
						<div class="font-style13">Date:<span>5/14</span>-<span>6/15</span></div>
					</div>
					<div class="font-style13">Owner:<span>Alan Chen</span></div>
					<div>
						<div class="overdue-tab1 font-style13">
							<div>1-15 Days</div>
							<div>16-45 Days</div>
							<div>46-75 Days</div>
							<div>Over 75 Days</div>
						</div>
						<div class="overdue-tab2 font-style13">
							<div><span>6975</span></div>
							<div><span>4930</span></div>
							<div><span>20568</span></div>
							<div><span>18529</span></div>
						</div>
					</div>
					<div id="buChartColumn3"></div>
				</li>
				<!-- total -->
				<li>
					<ul class="bu-data-list">
						<li>
							<div style="text-align: left;">
								<div>
									<span>Total</span>
								</div>	
							</div>
						</li>
						<li>
							<span>13546984</span>
						</li>
						<li>
							<div id="buChartArea4"></div>
						</li>
						<li>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- CSD Overdue -->
		<!-- CSD title -->
		<div class="bu-title">
			<span class="font-style11">CSD Overdue A/R</span>
		</div>
		<!-- CSD header-->
		<div class="bu-header">
			<ul>
				<li class="font-style11 detail-customer">
					<span>Customer</span>&nbsp;&nbsp;
					<img src="img/priority_up.png" class="priority-img" />
				</li>
				<li class="font-style11 detail-total">
					<div>
						<span>Total Overdue</span>
						<span>(USD)</span>
					</div>
					<div>
						<img src="img/priority_up.png" class="priority-img" />
					</div>
				</li>
				<li class="font-style11 detail-trend">
					<span>WoW Trend</span>
				</li>
				<li class="detail-alllist">
					<img src="img/all_list_down.png" class="alllist-img" id="csdAllListBtn" />
				</li>
			</ul>
		</div>
		<!-- CSD main -->
		<div class="bu-main">
			<ul>
				<!-- odd data -->
				<li>
					<ul class="bu-data-list">
						<li>
							<div>
								<div>
									<span>641287</span>&nbsp;&nbsp;<span>东森电视股份有限公司</span>
								</div>	
							</div>
						</li>
						<li>
							<span>13546813</span>
						</li>
						<li>
							<div id="csdChartArea1"></div>
						</li>
						<li>
							<img src="img/list_down.png" class="csdSingleListBtn" />
						</li>
					</ul>
				</li>
				<!-- even hc hide -->
				<li class="csd-single-list">
					<div>
						<div class="font-style12">Total AR and Overdue Amount</div>
						<div class="font-style13">Date:<span>5/14</span>-<span>6/15</span></div>
					</div>
					<div class="font-style13">Owner:<span>Alan Chen</span></div>
					<div>
						<div class="overdue-tab1 font-style13">
							<div>1-15 Days</div>
							<div>16-45 Days</div>
							<div>46-75 Days</div>
							<div>Over 75 Days</div>
						</div>
						<div class="overdue-tab2 font-style13">
							<div><span>5684</span></div>
							<div><span>15871</span></div>
							<div><span>28653</span></div>
							<div><span>468531</span></div>
						</div>
					</div>
					<div id="csdChartColumn1"></div>
				</li>
				<!-- odd data -->
				<li>
					<ul class="bu-data-list">
						<li>
							<div>
								<div>
									<span>601774</span>&nbsp;&nbsp;<span>飞利浦股份有限公司</span>
								</div>	
							</div>
						</li>
						<li>
							<span>74654131</span>
						</li>
						<li>
							<div id="csdChartArea2"></div>
						</li>
						<li>
							<img src="img/list_down.png" class="csdSingleListBtn" />
						</li>
					</ul>
				</li>
				<!-- even hc hide -->
				<li class="csd-single-list">
					<div>
						<div class="font-style12">Total AR and Overdue Amount</div>
						<div class="font-style13">Date:<span>5/14</span>-<span>6/15</span></div>
					</div>
					<div class="font-style13">Owner:<span>Alan Chen</span></div>
					<div>
						<div class="overdue-tab1 font-style13">
							<div>1-15 Days</div>
							<div>16-45 Days</div>
							<div>46-75 Days</div>
							<div>Over 75 Days</div>
						</div>
						<div class="overdue-tab2 font-style13">
							<div><span>1646</span></div>
							<div><span>86435</span></div>
							<div><span>163548</span></div>
							<div><span>1684894</span></div>
						</div>
					</div>
					<div id="csdChartColumn2"></div>
				</li>
				<!-- odd data -->
				<li>
					<ul class="bu-data-list">
						<li>
							<div>
								<div>
									<span>658397</span>&nbsp;&nbsp;<span>AA电视股份AA有限公司公司</span>
								</div>	
							</div>
						</li>
						<li>
							<span>1648454</span>
						</li>
						<li>
							<div id="csdChartArea3"></div>
						</li>
						<li>
							<img src="img/list_down.png" class="csdSingleListBtn" />
						</li>
					</ul>
				</li>
				<!-- even hc hide -->
				<li class="csd-single-list">
					<div>
						<div class="font-style12">Total AR and Overdue Amount</div>
						<div class="font-style13">Date:<span>5/14</span>-<span>6/15</span></div>
					</div>
					<div class="font-style13">Owner:<span>Alan Chen</span></div>
					<div>
						<div class="overdue-tab1 font-style13">
							<div>1-15 Days</div>
							<div>16-45 Days</div>
							<div>46-75 Days</div>
							<div>Over 75 Days</div>
						</div>
						<div class="overdue-tab2 font-style13">
							<div><span>264345</span></div>
							<div><span>16436</span></div>
							<div><span>548615</span></div>
							<div><span>1468435</span></div>
						</div>
					</div>
					<div id="csdChartColumn3"></div>
				</li>
				<!-- total -->
				<li>
					<ul class="bu-data-list">
						<li>
							<div>
								<div style="text-align: left;">
									<span>Total</span>
								</div>	
							</div>
						</li>
						<li>
							<span>26541313</span>
						</li>
						<li>
							<div id="csdChartArea4"></div>
						</li>
						<li>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- column highcharts -->
		<div id="viewDetail-hc-column-landscape" style="background-color: #7CB5EC;"></div>
	</div>
	<!-- scrollmenu -->
	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<div class="scrollmenu Ro" style="overflow: auto;">
            <a id="ALL" class="hover">ALL</a>
            <a id="LCD">LCD</a>
            <a id="PRJ">PRJ</a>
            <a id="PDP">PDP</a>
            <a id="LTV">LTV</a>
        </div>
	</div>
</div>
