<!-- viewDetail -->
<div data-role="page" id="viewDetail" class="viewIndex">
	<!--ios-->
	<div class="ios-fix-overlap-div"></div>
	<!--header-->
	<div data-role="header" data-position="fixed" data-theme="a" class="header-style page-header" data-tap-toggle="false">
		<a class="menu-btn" data-role="none">
			<img src="img/humb.png" class="panelBtn-img">
		</a>
		<div class="header-style">
			<h1 class="ui-title">AR Overdue Detail</h1>
		</div>
		<!--popup-->
		<div data-role="popup" data-history="false" data-overlay-theme="b" data-dismissible="false" class="app-popup viewDetailPopup">
			<div data-role="main" class="ui-content">
				<div class="main">
					<p class="main-paragraph font-style3">
						Alan Chen<br>1.0.0.352.6666666
					</p>
				</div>
				<div class="footer">
					<div class="btn-one font-style1 btnArea">
						<div class="btn-cancel">确定</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--main-->
	<div data-role="main" class="ui-content page-main">	
		<form>
			<fieldset data-role="controlgroup" data-type="horizontal" class="page-tabs" id="viewDetailTab">
				<input type="radio" name="radio-choice-h-2" id="viewDetail-tab-1" value="viewDetail-tab-1" checked="checked">
			    <label for="viewDetail-tab-1" class="tabs-title">Overdue</label>

			    <input type="radio" name="radio-choice-h-2" id="viewDetail-tab-2" value="viewDetail-tab-2">
			    <label for="viewDetail-tab-2" class="tabs-title label-style">Overdue Soon</label>
			    
			    <input type="radio" name="radio-choice-h-2" id="viewDetail-tab-3" value="viewDetail-tab-3">
			    <label for="viewDetail-tab-3" class="tabs-title">Expired Soon</label>
			</fieldset>
		</form>
		<!-- overdue -->
		<div id="overdue">
			<!-- switch -->
			<div class="include-label">
				<span class="font-style7">Credit Memo Included</span>
				<div><img src="img/switch_g.png" id="memoBtn" /></div>	
			</div>
			<!-- BU Overdue -->
			<!-- BU title -->
			<div class="bu-title">
				<span class="font-style11">BU Overdue A/R</span>
			</div>
			<!-- BU header -->
			<div class="bu-header">
				<ul>
					<li class="font-style11 detail-customer">
						<span>Customer</span>&nbsp;&nbsp;
						<img src="img/priority_up.png" class="priority-img" />
					</li>
					<li class="font-style11 detail-total">
						<div>
							<span>Total Overdue</span>
							<span>(USD)</span>
						</div>
						<div>
							<img src="img/priority_up.png" class="priority-img" />
						</div>
					</li>
					<li class="font-style11 detail-trend">
						<span>WoW Trend</span>
					</li>
					<li class="detail-alllist">
						<img src="img/all_list_down.png" class="alllist-img" id="buAllListBtn" />
					</li>
				</ul>
			</div>
			<!-- BU main -->
			<div class="bu-main" id="BU">
				<ul>
					<!-- odd data -->
					<li class="bu-data-list">
						<ul>
							<li>
								<div>
									<div class="font-style7">
										<span>665588 东森电视股份有限公司</span>
									</div>	
								</div>
							</li>
							<li>
								<span class="font-style7 font-localString">13546845</span>
							</li>
							<li>
								<div id="buChartArea1"></div>
							</li>
							<li>
								<img src="img/list_down.png" class="buSingleListBtn" />
							</li>
						</ul>
					</li>
					<!-- even hc hide -->
					<li class="bu-single-list">
						<div>
							<div class="font-style12">Total AR and Overdue Amount</div>
							<div class="font-style13">
								<span>Date:</span>
								<span>5/14</span>
								<span>-</span>
								<span>6/15</span>
							</div>
						</div>
						<div class="font-style13">
							<span>Alan Chen</span>
							<span>Owner:</span>						
						</div>
						<div>
							<div class="overdue-tab1 font-style13">
								<div><span>1-15 Days</span></div>
								<div><span>16-45 Days</span></div>
								<div><span>46-75 Days</span></div>
								<div><span>Over 75 Days</span></div>
							</div>
							<div class="overdue-tab2 font-style13">
								<div><span>1684</span></div>
								<div><span>6452</span></div>
								<div><span>16848</span></div>
								<div><span>268455</span></div>
							</div>
						</div>
						<div id="buChartColumn1"></div>
					</li>
					<!-- odd data -->
					<li class="bu-data-list">
						<ul>
							<li>
								<div>
									<div class="font-style7">
										<span>665588 东森电视股份有限公司</span>
									</div>	
								</div>
							</li>
							<li>
								<span class="font-style7 font-localString">10000</span>
							</li>
							<li>
								<div id="buChartArea2"></div>
							</li>
							<li>
								<img src="img/list_down.png" class="buSingleListBtn" />
							</li>
						</ul>
					</li>
					<!-- even hc hide -->
					<li class="bu-single-list">
						<div>
							<div class="font-style12">Total AR and Overdue Amount</div>
							<div class="font-style13">
								<span>Date:</span>
								<span>5/14</span>
								<span>-</span>
								<span>6/15</span>
							</div>
						</div>
						<div class="font-style13">
							<span>Alan Chen</span>
							<span>Owner:</span>						
						</div>
						<div>
							<div class="overdue-tab1 font-style13">
								<div><span>1-15 Days</span></div>
								<div><span>16-45 Days</span></div>
								<div><span>46-75 Days</span></div>
								<div><span>Over 75 Days</span></div>
							</div>
							<div class="overdue-tab2 font-style13">
								<div><span>1684</span></div>
								<div><span>6452</span></div>
								<div><span>16848</span></div>
								<div><span>268455</span></div>
							</div>
						</div>
						<div id="buChartColumn2"></div>
					</li>
					<!-- odd data -->
					<li class="bu-data-list">
						<ul>
							<li>
								<div>
									<div class="font-style7">
										<span>665588 东森电视股份有限公司</span>
									</div>	
								</div>
							</li>
							<li>
								<span class="font-style7 font-localString">1465651</span>
							</li>
							<li>
								<div id="buChartArea3"></div>
							</li>
							<li>
								<img src="img/list_down.png" class="buSingleListBtn" />
							</li>
						</ul>
					</li>
					<!-- even hc hide -->
					<li class="bu-single-list">
						<div>
							<div class="font-style12">Total AR and Overdue Amount</div>
							<div class="font-style13">
								<span>Date:</span>
								<span>5/14</span>
								<span>-</span>
								<span>6/15</span>
							</div>
						</div>
						<div class="font-style13">
							<span>Alan Chen</span>
							<span>Owner:</span>						
						</div>
						<div>
							<div class="overdue-tab1 font-style13">
								<div><span>1-15 Days</span></div>
								<div><span>16-45 Days</span></div>
								<div><span>46-75 Days</span></div>
								<div><span>Over 75 Days</span></div>
							</div>
							<div class="overdue-tab2 font-style13">
								<div><span>1684</span></div>
								<div><span>6452</span></div>
								<div><span>16848</span></div>
								<div><span>268455</span></div>
							</div>
						</div>
						<div id="buChartColumn3"></div>
					</li>
					<!-- total -->
					<li class="bu-data-list">
						<ul>
							<li>
								<div style="text-align: left;text-indent: 1.5VW;">
									<div class="font-style7">
										<span>Total</span>
									</div>	
								</div>
							</li>
							<li>
								<span class="font-style7 font-localString">13546984</span>
							</li>
							<li>
								<div id="buChartArea4"></div>
							</li>
							<li>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- CSD Overdue -->
			<!-- CSD title -->
			<div class="bu-title">
				<span class="font-style11">CSD Overdue A/R</span>
			</div>
			<!-- CSD header-->
			<div class="bu-header">
				<ul>
					<li class="font-style11 detail-customer">
						<span>Customer</span>&nbsp;&nbsp;
						<img src="img/priority_up.png" class="priority-img" />
					</li>
					<li class="font-style11 detail-total">
						<div>
							<span>Total Overdue</span>
							<span>(USD)</span>
						</div>
						<div>
							<img src="img/priority_up.png" class="priority-img" />
						</div>
					</li>
					<li class="font-style11 detail-trend">
						<span>WoW Trend</span>
					</li>
					<li class="detail-alllist">
						<img src="img/all_list_down.png" class="alllist-img" id="csdAllListBtn" />
					</li>
				</ul>
			</div>
			<!-- CSD main -->
			<div class="bu-main" id="CSD">
				<ul>
					<!-- odd data -->
					<li class="bu-data-list">
						<ul>
							<li>
								<div>
									<div class="font-style7">
										<span>665588 东森电视股份有限公司</span>
									</div>	
								</div>
							</li>
							<li>
								<span class="font-style7 font-localString">13546813</span>
							</li>
							<li>
								<div id="csdChartArea1"></div>
							</li>
							<li>
								<img src="img/list_down.png" class="csdSingleListBtn" />
							</li>
						</ul>
					</li>
					<!-- even hc hide -->
					<li class="csd-single-list">
						<div>
							<div class="font-style12">Total AR and Overdue Amount</div>
							<div class="font-style13">
								<span>Date:</span>
								<span>5/14</span>
								<span>-</span>
								<span>6/15</span>
							</div>
						</div>
						<div class="font-style13">
							<span>Alan Chen</span>
							<span>Owner:</span>						
						</div>
						<div>
							<div class="overdue-tab1 font-style13">
								<div><span>1-15 Days</span></div>
								<div><span>16-45 Days</span></div>
								<div><span>46-75 Days</span></div>
								<div><span>Over 75 Days</span></div>
							</div>
							<div class="overdue-tab2 font-style13">
								<div><span>1684</span></div>
								<div><span>6452</span></div>
								<div><span>16848</span></div>
								<div><span>268455</span></div>
							</div>
						</div>
						<div id="csdChartColumn1"></div>
					</li>
					<!-- odd data -->
					<li class="bu-data-list">
						<ul>
							<li>
								<div>
									<div class="font-style7">
										<span>665588 东森电视股份有限公司</span>
									</div>	
								</div>
							</li>
							<li>
								<span class="font-style7 font-localString">74654131</span>
							</li>
							<li>
								<div id="csdChartArea2"></div>
							</li>
							<li>
								<img src="img/list_down.png" class="csdSingleListBtn" />
							</li>
						</ul>
					</li>
					<!-- even hc hide -->
					<li class="csd-single-list">
						<div>
							<div class="font-style12">Total AR and Overdue Amount</div>
							<div class="font-style13">
								<span>Date:</span>
								<span>5/14</span>
								<span>-</span>
								<span>6/15</span>
							</div>
						</div>
						<div class="font-style13">
							<span>Alan Chen</span>
							<span>Owner:</span>						
						</div>
						<div>
							<div class="overdue-tab1 font-style13">
								<div><span>1-15 Days</span></div>
								<div><span>16-45 Days</span></div>
								<div><span>46-75 Days</span></div>
								<div><span>Over 75 Days</span></div>
							</div>
							<div class="overdue-tab2 font-style13">
								<div><span>1684</span></div>
								<div><span>6452</span></div>
								<div><span>16848</span></div>
								<div><span>268455</span></div>
							</div>
						</div>
						<div id="csdChartColumn2"></div>
					</li>
					<!-- odd data -->
					<li class="bu-data-list">
						<ul>
							<li>
								<div>
									<div class="font-style7">
										<span>665588 东森电视股份有限公司</span>
									</div>	
								</div>
							</li>
							<li>
								<span class="font-style7 font-localString">1648454</span>
							</li>
							<li>
								<div id="csdChartArea3"></div>
							</li>
							<li>
								<img src="img/list_down.png" class="csdSingleListBtn" />
							</li>
						</ul>
					</li>
					<!-- even hc hide -->
					<li class="csd-single-list">
						<div>
							<div class="font-style12">Total AR and Overdue Amount</div>
							<div class="font-style13">
								<span>Date:</span>
								<span>5/14</span>
								<span>-</span>
								<span>6/15</span>
							</div>
						</div>
						<div class="font-style13">
							<span>Alan Chen</span>
							<span>Owner:</span>						
						</div>
						<div>
							<div class="overdue-tab1 font-style13">
								<div><span>1-15 Days</span></div>
								<div><span>16-45 Days</span></div>
								<div><span>46-75 Days</span></div>
								<div><span>Over 75 Days</span></div>
							</div>
							<div class="overdue-tab2 font-style13">
								<div><span>1684</span></div>
								<div><span>6452</span></div>
								<div><span>16848</span></div>
								<div><span>268455</span></div>
							</div>
						</div>
						<div id="csdChartColumn3"></div>
					</li>
					<!-- total -->
					<li class="bu-data-list">
						<ul>
							<li>
								<div style="text-align: left;text-indent: 1.5VW;">
									<div class="font-style7">
										<span>Total</span>
									</div>	
								</div>
							</li>
							<li>
								<span class="font-style7 font-localString">26541313</span>
							</li>
							<li>
								<div id="csdChartArea4"></div>
							</li>
							<li>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- overdue soon -->
		<div id="overdueSoon">
			<!-- bu -->
			<div class="overduesoon-bu-title">
				<span class="font-style11">BU Overdue A/R</span>
				<span class="font-style12">(Will be due 4 days)</span>
			</div>
			<div class="overduesoon-bu-header">
				<div class="font-style7">
					<span>Customer</span>
					<img src="img/priority_up.png" class="priority-img" style="margin-left: 3.2VW;" />
				</div>
				<div>
					<div class="font-style7">
						<span>Total Overdue</span>
						<span>(USD)</span>
					</div>
					<div>
						<img src="img/priority_up.png" class="priority-img" />
					</div>
				</div>
			</div>
			<div class="overduesoon-bu-main">
				<ul class="overduesoon-bu">
					<!--<li class="data-list-overduesoon">
						<div>
							<div class="font-style7">
								<span>665588 东森电视股份有限公司</span>
							</div>
						</div>
						<div class="font-style7">
							<span>447044</span>
						</div>
					</li>
					<li class="data-list-none-twoColumn">
						<div>-</div>
						<div>-</div>
					</li>
					<li class="overduesoon-total">
						<div class="font-style7">
							<span>Total</span>
						</div>
						<div class="font-style7">
							<span>447044</span>
						</div>
					</li>-->
				</ul>
			</div>
			<!-- csd -->
			<div class="overduesoon-csd-title">
				<span class="font-style11">CSD Overdue A/R</span>
				<span class="font-style12">(Will be due 4 days)</span>
			</div>
			<div class="overduesoon-bu-header">
				<div class="font-style7">
					<span>Customer</span>
					<img src="img/priority_up.png" class="priority-img" style="margin-left: 3.2VW;" />
				</div>
				<div>
					<div class="font-style7">
						<span>Total Overdue</span>
						<span>(USD)</span>
					</div>
					<div>
						<img src="img/priority_up.png" class="priority-img" />
					</div>
				</div>
			</div>
			<div class="overduesoon-bu-main">
				<ul class="overduesoon-csd">
					<!--<li class="data-list-overduesoon">
						<div>
							<div class="font-style7">
								<span>665588 东森电视股份有限公司</span>
							</div>
						</div>
						<div class="font-style7">
							<span>601774</span>
						</div>
					</li>
					<li class="data-list-overduesoon">
						<div>
							<div class="font-style7">
								<span>665588 东森电视股份有限公司</span>
							</div>
						</div>
						<div class="font-style7">
							<span>250000</span>
						</div>
					</li>
					<li class="overduesoon-total">
						<div class="font-style7">
							<span>Total</span>
						</div>
						<div class="font-style7">
							<span>447044</span>
						</div>
					</li>-->
				</ul>
			</div>	
		</div>
		<!-- expired soon -->
		<div id="expiredSoon">
			<div class="overduesoon-bu-title">
				<span class="font-style11">Expired Soon</span>
				<span class="font-style12">(Will be expired in 60 days)</span>
			</div>
			<div class="expiredsoon-bu-header">
				<div class="font-style7">
					<span>Customer</span>
					<img src="img/priority_up.png" class="priority-img" style="margin-left: 3.2VW;" />
				</div>
				<div class="font-style7">
					<span>Expired Day</span>
					<img src="img/priority_up.png" class="priority-img" style="margin-left: 3.2VW;" />
				</div>
				<div>
					<div class="font-style7">
						<span>Current Credit</span>
						<span>Limit</span>
					</div>
					<div>
						<img src="img/priority_up.png" class="priority-img" />
					</div>
				</div>
			</div>
			<div class="expiredsoon-bu-main">
				<ul>
					<li class="data-list-expiredsoon">
						<div>
							<div class="font-style7">
								<span>0001 东森电视股份有限公司</span>
							</div>
						</div>
						<div class="font-style7">
							<span>2017/6/30</span>
						</div>
						<div class="font-style7">
							<span>227040</span>
						</div>
					</li>
					<li class="data-list-expiredsoon">
						<div>
							<div class="font-style7">
								<span>0002 飞利浦股份有限公司</span>
							</div>
						</div>
						<div class="font-style7">
							<span>2017/8/20</span>
						</div>
						<div class="font-style7">
							<span>7040</span>
						</div>
					</li>
					<li class="data-list-none-threeColumn">
						<div>-</div>
						<div>-</div>
						<div>-</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- column highcharts -->
		<div id="viewDetail-hc-column-landscape"></div>
	</div>
	
	<!-- scrollmenu -->
	<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<div class="scrollmenu Ro" style="overflow: auto;">
            <a id="ALL" class="hover">ALL</a>
            <a id="LCD">LCD</a>
            <a id="PRJ">PRJ</a>
            <a id="PDP">PDP</a>
            <a id="LTV">LTV</a>
        </div>
	</div>
</div>
