<!---->
<div data-role="page" id="viewMain" class="viewIndex">
	<!--ios-->
	<div class="ios-fix-overlap-div"></div>
	<!--header-->
	<div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
		<a class="menu-btn" data-role="none">
			<img src="img/humb.png" style="width:6VW;">
		</a>
		<div class="header-style">
			<h1 id="longPress" class="ui-title">AR Overdue Overview</h1>
		</div>
	</div>
	<!--main-->
	<div data-role="main" class="ui-content page-main">				
		<form>
			<fieldset data-role="controlgroup" data-type="horizontal" class="page-tabs" id="viewOverviewTab">
				<input type="radio" name="radio-choice-h-2" id="viewOverview-tab-1" value="viewOverview-tab-1" checked="checked">
			    <label for="viewOverview-tab-1" class="tabs-title">BU</label>

			    <input type="radio" name="radio-choice-h-2" id="viewOverview-tab-2" value="viewOverview-tab-2">
			    <label for="viewOverview-tab-2" class="tabs-title">CSD</label>
			</fieldset>
		</form><br>
		
		<div id="explainMsg" class="font-style12" style="color: gray;"><span>&nbsp;&nbsp;&nbsp;&nbsp;Credit Memo Excluded</span></div>
		<!--highcharts portrait-->
		<div id="overview-hc-bubble" style="height: 36VH;"></div>
		<div id="overview-hc-rectangle" style="height: 36VH;border: 1px solid blue;"></div>
		<!--highcharts landscape-->
		<div id="overview-hc-bubble-landscape" style="border: 1px solid red;"></div>
		<div id="overview-hc-rectangle-landscape"></div>
	</div>
</div>
