table.costum-table { 
    border-collapse: separate;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
.icon-upl-btn{
    background: url() no-repeat center 50% #FFFAD9;
    border-width:3px;
    border-style:dashed;
    border-color:#FFAC55;
    cursor: pointer;
    text-align:center;
    padding-top:40px;
    width: 120px; 
    height: 120px;
}
.icon-preview{
    width: 120px; 
    height: 120px;
    cursor:auto !important;
}
.js-icon-file {
    opacity: 1 !important;
    cursor:pointer !important;
}
.screen-upl-btn{
    background: url() no-repeat center 50% #FFFAD9;
    border-width:3px;
    border-style:dashed;
    border-color:#FFAC55;
    cursor: pointer;
    text-align:center;
    padding-top:140px;
    width: 225px; 
    height: 300px;
}
.screen-preview{
    width: 225px; 
    height: 300px;
}
.screen-preview:hover, .icon-preview:hover, .screen-upl-btn:hover, .icon-upl-btn:hover{
    opacity: .3;
    cursor:move;
}
.sortable { list-style-type: none; margin: 0; padding: 0;  }
.sortable li { margin: 10px 10px 10px 10px; float: left }
.js-screen-file {
    opacity: 1 !important;
    cursor:pointer !important;
}
.imgLi{
    display : inline-block;
    position : relative;
}
.imgLi .delete{
    position : absolute;
    top : -15px;
    right : -15px;
    width : 30px;
    height : 30px;
    box-shadow:2px 2px 2px 0px #cccccc;
}
.imgLi .delete:hover{
    top : -16px;
}
.imgLi .delete:active{
    top : -15px;
}
.file-input-name{
    padding-left: 20px;
    padding-right: 20px; 
}
table.costum-table td { border: 1px solid #ddd; padding: 8px; }
table.costum-table tr:first-child{font-weight:bold;}
table.costum-table tr:last-child{background-color: #f9f9f9;}
table.costum-table tr:first-child td:first-child { border-top-left-radius: 3px;}
table.costum-table tr:first-child td:last-child { border-top-right-radius: 3px;}
table.costum-table tr:last-child td:first-child { border-bottom-left-radius: 3px;}
table.costum-table tr:last-child td:last-child { border-bottom-right-radius: 3px; }