.widget-msg-list {
    padding: 0 3.71vw;
    border-bottom: 1px solid #d6d6d6;
}

.widget-msg-list:last-child {
    border: none;
}

.widget-msg-time {
    height: 10vw;
    line-height: 10vw;
    color: #8fa4ac;
}

.widget-msg-title {
    width: 92.58vw;
    height: 12vw;
    overflow: hidden;
    word-wrap: break-word;
}

.widget-none-msg {
    height: 20vw;
    line-height: 20vw;
    /* text-align: center; */
    padding-left: 5vw;
}