<div data-role="page" id="viewActivitiesRecord">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none">
            <img src="img/menu.png" class="menu">
        </a>
        <div class="header-style">
            <div class="ui-title">
                <!--報名記錄-->
                <span class="langStr" data-id="str_003"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <!--1.暫無報名記錄-->
        <div id="viewRecordsNone" class="font-style12 font-color3">
            <span class="langStr" data-id="str_035"></span>
        </div>

        <!--2.活動報名列表-->
        <div id="viewRecordList">
            <!-- <div class="record-list">
                <div class="font-style10 font-color2">
                    <div>Wend.Chen/同仁/1組</div>
                    <div>[創意人文]羅馬競技場-9/14（一）台北3F體育館台北3F體育館</div>
                </div>
                <div>
                    <img src="img/delete.png" class="record-delete">
                </div>
            </div>
            <div class="record-line"></div> -->
        </div>

        <!--3.msg-->
        <div class="popup-msg-style" id="signupCancelMsg">
            <!--報名已取消-->
            <span class="langStr" data-id="str_019"></span>
        </div>

    </div>

    <!--取消報名-->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup recordSignupMsg" for="recordSignupMsg" id="recordSignupMsg">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!--確定取消報名-->
                        <span class="langStr" data-id="str_030"></span>
                    </span>
                </div>
                <div class="header-title"></div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style11 font-color3"></p>
            </div>
            <div class="footer">
                <div class="btn-two font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--不取消-->
                        <span class="langStr" data-id="str_046"></span>
                    </div>
                    <div class="btn-cancel" id="confirmCancelRecord">
                        <!--取消-->
                        <span class="langStr" data-id="str_045"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--報名取消失敗-->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup recordFailMsg" for="recordFailMsg" id="recordFailMsg">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!--報名取消失敗-->
                        <span class="langStr" data-id="str_047"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3"></p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--關閉-->
                        <span class="langStr" data-id="str_044"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--報名時間已過期-popup-->
    <div data-role="popup" data-history="false" data-dismissible="false" data-overlay-theme="b" class="app-popup recordTimeOverMsg"
        for="recordTimeOverMsg" id="recordTimeOverMsg">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!--目前活動報名時間已過期-->
                        <span class="langStr" data-id="str_105"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3"></p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel" id="recordTimeOverBtn">
                        <!--關閉-->
                        <span class="langStr" data-id="str_044"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>