<div data-role="page" id="viewActivitiesRecord">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none">
            <img src="img/menu.png" class="menu">
        </a>
        <div class="header-style">
            <div class="ui-title">報名記錄</div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <!--1.活動報名列表-->
        <div id="viewRecordList">
            <div class="record-list">
                <div class="font-style10 font-color2">
                    <div>Wend.Chen/同仁/1組</div>
                    <div>[創意人文]羅馬競技場-9/14（一）台北3F體育館</div>
                </div>
                <div>
                    <img src="img/delete.png" class="record-delete">
                </div>
            </div>
            <div class="record-line"></div>
            <div class="record-list">
                <div class="font-style10 font-color2">
                    <div>Wend.Chen/同仁/1組</div>
                    <div>[創意人文]羅馬競技場-9/14（一）台北3F體育館台北3F體育館</div>
                </div>
                <div>
                    <img src="img/delete.png" class="record-delete">
                </div>
            </div>
            <div class="record-line"></div>
            <div class="record-list">
                <div class="font-style10 font-color2">
                    <div>Wend.Chen/同仁/1組</div>
                    <div>[創意人文]羅馬競技場-9/14（一）台北3F體育館</div>
                </div>
                <div>

                </div>
            </div>
            <div class="record-line"></div>
            <div class="record-list">
                <div class="font-style10 font-color2">
                    <div>Wend.Chen/同仁/1組</div>
                    <div>[創意人文]羅馬競技場-9/14（一）台北3F體育館台北3F體育館</div>
                </div>
                <div>
                    <img src="img/delete.png" class="record-delete">
                </div>
            </div>
        </div>

        <!--2.暫無報名記錄-->
        <div id="viewRecordsNone" class="font-style12 font-color3" style="display:none;">僅顯示尚未結束的報名記錄</div>
    </div>
</div>