<div data-role="page" id="viewActivitiesDetail">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none">
            <img src="img/back.png" class="back-list">
        </a>
        <div class="header-style">
            <div class="ui-title">
                <!--活動報名-->
                <span class="langStr" data-id="str_002"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <!--1.活動詳情(未報名)-->
        <div id="activityDetail">
            <div class="detail-header">
                <div class="detail-header-img">
                    <img src="img/event_date.png" id="detailThumbnail">
                </div>
                <div class="detail-header-info">
                    <div class="font-style10 font-color2">
                        <span id="detailName">[健身房課程]桃園9/14（四）活力有氧（時間：17:30-18:30 地點：健身房3F 韻律教室）</span>
                    </div>
                    <div class="font-style11 font-color2">
                        <span>總名額(人/組):</span>
                        <span id="detailPlace">無上限</span>&nbsp;&nbsp;
                        <span>參與名額限制(人/組):</span>
                        <span id="detailLimit">5</span>
                    </div>
                    <div class="font-style11 font-color2">
                        <span>報名期間:</span>
                        <span id="detailDate">2017/9/1 13:00 - 2017/9/8 12:00</span>
                    </div>
                    <div class="font-style11 font-color2">
                        <span>已報名人數(人/組):</span>
                        <span id="detailPeople" class="font-color4">521</span>
                    </div>
                </div>
            </div>
            <div class="detail-header-after font-style11 font-color4">
                <span>您已報名本項活動(人/組):</span>
                <span id="detailUser">1</span>
            </div>
            <div class="detail-line"></div>
            <!--Activities Content-->
            <div id="detailContent" class="detail-main">
                <!--img-->
            </div>
            <div class="blank-container-before-footer"></div>
            <div class="detail-footer font-style3">
                <div id="beginBtn" class="detail-signup-btn">
                    <span>開始報名</span>
                </div>
                <div id="continueBtn" class="two-btn-inline">
                    <span class="detail-signup-btn">我要報名</span><span class="detail-manage-btn">報名管理</span>
                </div>
                <div id="alreadyBtn" class="detail-manage-btn">
                    <span>報名管理</span>
                </div>
                <div id="fullBtn" class="btn-disabled">
                    <span>目前活動名額已額滿</span>
                </div>
                <div id="repeatBtn" class="btn-disabled">
                    <span>您已報名其他場次</span>
                </div>
                
            </div>
        </div>
        
    </div>
    
</div>