<div data-role="page" id="viewActivitiesSignup">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none">
            <img src="img/back.png" class="back-detail">
        </a>
        <div class="header-style">
            <div class="ui-title">
                <!--活動報名-->
                <span class="langStr" data-id="str_002"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <!--1.個人報名-->
        <div id="viewPersonSignup" data-model="1">
            <div class="team-signup-title">
                <div>
                    <img src="img/blank.png" id="personSignupThumbnail">
                </div>
                <div class="font-style10 font-color2" id="personSignupName"></div>
            </div>
            <div class="person-signup-set-title font-style11 font-color1">
                <!--請設定您的報名資料-->
                <span class="langStr" data-id="str_055"></span>
            </div>
            <div class="person-signup-set-people font-style3 font-color1">
                <!--報名人數：-->
                <span class="langStr" data-id="str_056"></span>
                <span id="personLimitPlace"></span>
            </div>
            <!--自定義欄位-->
            <div class="person-signup-custom-field"></div>
            <!--提示信息-->
            <div class="person-signup-remark font-style11"></div>
            <div class="blank-container-before-footer"></div>
            <!--footer-->
            <div id="personSignupBtn" class="person-footer font-style3">
                <!--開始報名-->
                <span class="langStr" data-id="str_007"></span>
            </div>
        </div>

        <!--2.眷屬報名-->
        <div id="viewFamilySignup" data-model="3">
            <div class="team-signup-title">
                <div>
                    <img src="img/blank.png" id="familySignupThumbnail">
                </div>
                <div class="font-style10 font-color2">
                    <div id="familySignupName"></div>
                    <div class="family-info">
                        <!--您尚可報名人數：-->
                        <span class="langStr" data-id="str_057"></span>
                        <span id="familyLimitPlace"></span>
                        <!--人-->
                        <span class="langStr" data-id="str_058"></span>
                    </div>
                </div>
            </div>
            <div class="person-manage-signuped font-style11 font-color2">
                <!--*本活動須同仁本人一同前往-->
                <span class="langStr" data-id="str_059"></span>
            </div>
            <div class="family-signup-set-title font-style11 font-color1">
                <!--請先填寫同仁報名資訊-->
                <span class="langStr" data-id="str_060"></span>
            </div>
            <div class="family-signup-basic font-style7 font-color1">
                <span id="familyEmpName"></span>
                <span> / </span>
                <span id="familyEmpRlts"></span>
                <span> / </span>
                <span id="familyEmpGender"></span>
                <span> / </span>
                <span id="familyEmpID"></span>
                <span> / </span>
                <span id="familyEmpBirth"></span>
            </div>
            <!--自定義欄位-->
            <div class="family-signup-custom-field"></div>
            <div class="blank-container-before-footer"></div>
            <!--footer-->
            <div id="selectFamilyBtn" class="person-footer font-style3">
                <!--選擇眷屬-->
                <span class="langStr" data-id="str_012"></span>
            </div>
        </div>

        <!--3.時段報名-->
        <div id="viewTimeSignup" data-model="5">
            <div class="team-signup-title">
                <div>
                    <img src="img/blank.png" id="timeSignupThumbnail">
                </div>
                <div class="font-style10 font-color2" id="timeSignupName"></div>
            </div>
            <div class="time-signup-select font-style11 font-color1">
                <!--請選取報名時段-->
                <span class="langStr" data-id="str_061"></span>
            </div>
            <!--time table-->
            <div class="time-signup-thead font-style11 font-color2">
                <div class="font-color6">0</div>
                <div>
                    <!--時段-->
                    <span class="langStr" data-id="str_062"></span>
                </div>
                <div>
                    <!--提供名額-->
                    <span class="langStr" data-id="str_063"></span>
                </div>
                <div>
                    <!--剩餘名額-->
                    <span class="langStr" data-id="str_064"></span>
                </div>
            </div>
            <!--所有時段-->
            <div class="time-signup-tbody font-style7 font-color2"></div>
            <!--自定義欄位-->
            <div class="time-signup-custom-field"></div>
            <div class="blank-container-before-footer"></div>
            <!--footer-->
            <div id="timeSignupBtn" class="person-footer font-style3 btn-disabled">
                <!--確定送出-->
                <span class="langStr" data-id="str_011"></span>
            </div>
        </div>

        <!--4.組隊報名-->
        <div id="viewTeamSignup" data-model="4">
            <div class="team-signup-title">
                <div>
                    <img src="img/blank.png" id="teamSignupThumbnail">
                </div>
                <div class="font-style10 font-color2" id="teamSignupName"></div>
            </div>
            <div class="font-style11 font-color1 team-signup-add">
                <!--新增團隊-->
                <span class="langStr" data-id="str_065"></span>
            </div>
            <div class="font-style11 font-color1">
                <!--部門代碼-->
                <span class="langStr" data-id="str_066"></span>
            </div>
            <div class="team-signup-input">
                <!-- <input type="text" id="departNo" maxlength="10" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5]/g,'')" onpaste="return false;"
                    oncontextmenu="return false;" data-role="none" class="input-text-full"> -->
                <input type="text" id="departNo" maxlength="10" onkeyup="stripScript(this)" onpaste="return false;" oncontextmenu="return false;"
                    data-role="none" class="input-text-full">
            </div>
            <div class="font-style11 font-color1">
                <!--隊伍-->
                <span class="langStr" data-id="str_067"></span>
            </div>
            <div class="team-signup-input">
                <!-- <input type="text" id="teamName" maxlength="50" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5]/g,'')" onpaste="return false;"
                    oncontextmenu="return false;" data-role="none" class="input-text-full"> -->
                <input type="text" id="teamName" maxlength="50" onkeyup="stripScript(this)" onpaste="return false;" oncontextmenu="return false;"
                    data-role="none" class="input-text-full">
            </div>
            <div class="font-style11 font-color1">
                <!--成員-->
                <span class="langStr" data-id="str_068"></span>
                <span>(</span>
                <span id="teamCurrentPlace"></span>
                <span>/</span>
                <span id="teamLimitPlace"></span>
                <span>)</span>
            </div>
            <div class="team-signup-add-friend font-style3 font-color5">
                <div>
                    <img src="img/addfriend.png" class="add-team-member">
                </div>
                <div>
                    <span class="add-team-member">
                        <!--新增名單-->
                        <span class="langStr" data-id="str_014"></span>
                    </span>
                </div>
            </div>
            <!--API 搜索成員，動態生成-->
            <div class="team-signup-employee-list"></div>
            <!--dropdownlist: hidden-->
            <div id="employeeDropdownlist" class="view-hide"></div>
            <!--remark-->
            <div id="teamRemark" class="font-style12 font-color2 team-signup-remark"></div>
            <div class="blank-container-before-footer"></div>
            <!--footer-->
            <div id="sendTeamSignup" class="team-signup-footer font-style3 btn-disabled">
                <div>
                    <!--送出名單-->
                    <span class="langStr" data-id="str_013"></span>
                </div>
            </div>
        </div>

    </div>

    <!--查無員工資料-popup-->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup queryNoEmployee" for="queryNoEmployee"
        id="queryNoEmployee">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!--查無員工資料-->
                        <span class="langStr" data-id="str_038"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3">
                    <!--請重新查詢-->
                    <span class="langStr" data-id="str_039"></span>
                </p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--此同仁已存在隊伍裡-popup-->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup memberRepeat" for="memberRepeat" id="memberRepeat">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!--此同仁已存在隊伍裡-->
                        <span class="langStr" data-id="str_086"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3">
                    <!--請重新選擇-->
                    <span class="langStr" data-id="str_087"></span>
                </p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--人/組數超過剩餘名額-popup-->
    <div data-role="popup" data-history="false" data-dismissible="false" data-overlay-theme="b" class="app-popup signupOverLimitMsg"
        for="signupOverLimitMsg" id="signupOverLimitMsg">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3">
                    <!--很抱歉，您報名的組數超過剩餘名額，請重新報名-->
                    <span class="langStr" data-id="str_025"></span>
                </p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel" id="signupOverBtn">
                        <!--關閉-->
                        <span class="langStr" data-id="str_044"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--報名未完成-popup-->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup signupNoFinish" for="signupNoFinish"
        id="signupNoFinish">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!--報名未完成-->
                        <span class="langStr" data-id="str_022"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3">
                    <!--確定回到上一頁-->
                    <span class="langStr" data-id="str_023"></span>
                </p>
            </div>
            <div class="footer">
                <div class="btn-two font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--取消-->
                        <span class="langStr" data-id="com_023"></span>
                    </div>
                    <div class="btn-cancel" id="cancelSignupBtn">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--報名時間已過期-popup-->
    <div data-role="popup" data-history="false" data-dismissible="false" data-overlay-theme="b" class="app-popup signupTimeOverMsg"
        for="signupTimeOverMsg" id="signupTimeOverMsg">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!--目前活動報名時間已過期-->
                        <span class="langStr" data-id="str_105"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3"></p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel" id="signupTimeOverBtn">
                        <!--關閉-->
                        <span class="langStr" data-id="str_044"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--隊伍成員已滿-popup-->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup memberFullMsg" for="memberFullMsg" id="memberFullMsg">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3">
                    <!--隊伍成員已滿，不能繼續新增-->
                    <span class="langStr" data-id="str_106"></span>
                </p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--關閉-->
                        <span class="langStr" data-id="str_044"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>