<div data-role="page" id="viewSelectFamily">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none">
            <img src="img/back.png" class="back-select">
        </a>
        <div class="header-style">
            <div class="ui-title">
                <!--活動報名-->
                <span class="langStr" data-id="str_002"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <div>
            <div class="team-signup-title">
                <div>
                    <img src="img/event_date.png" id="familySelectThumbnail">
                </div>
                <div class="font-style10 font-color2">
                    <div id="familySelectName">[創意人文]羅馬競技場-9/14（一）台北3F體育館</div>
                    <div style="margin-top:2.14vw;">
                        <span>您尚可報名人數：</span>
                        <span id="familySelectLimitPlace">3</span>
                        <span>人</span>
                    </div>
                </div>
            </div>
            <div class="select-family-title">
                <span class="font-style11 font-color1">請勾選同行眷屬</span>
                <span class="font-style12 font-color2">(若名單已勾選，表示是您已經報名的名單)</span>
            </div>
            <div class="select-family-thead">
                <div><img src="img/checkbox_n.png" id="selectAllFamily" class="family-all-checkbox-expand"></div>
                <div>姓名</div>
                <div>關係</div>
                <div>性別</div>
                <div><img src="img/all_list_down.png" id="expandAllFamily" class="family-all-checkbox-expand"></div>
            </div>
            <div class="select-family-tbody">
                <!-- <div>
                    <div class="select-family-tr">
                        <div><img src="img/checkbox_s.png" class="family-checkbox-img"></div>
                        <div>王小美</div>
                        <div>姊妹</div>
                        <div>女</div>
                        <div><img src="img/list_down.png" class="family-expand-img"></div>
                    </div>
                    <div class="select-family-detail">
                        <div class="select-family-id font-style12 font-color2">
                            <span>身份證字號</span>
                            <span> / </span>
                            <span>生日</span>
                        </div>
                        <div class="select-family-birth font-style11 font-color1">
                            <span>F123456789</span>
                            <span> / </span>
                            <span>1980-12-05</span>
                        </div>
                        <div class="select-family-field">
                            <div class="custom-field">
                                <label class="font-style11 font-color1">搭車地點</label>
                                <div>請選取</div>
                            </div>
                            <div class="custom-field">
                                <label class="font-style11 font-color1">意見</label>
                                <input id="" type="text" data-role="none" class="familySelectText">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="select-family-tr">
                        <div><img src="img/checkbox_n.png" class="family-checkbox-img"></div>
                        <div>王帥帥</div>
                        <div>父母</div>
                        <div>男</div>
                        <div><img src="img/list_down.png" class="family-expand-img"></div>
                    </div>
                    <div class="select-family-detail" style="display:none;"></div>
                </div>   -->
            </div>
            <div class="select-family-remark font-style12 font-color2"></div>
            <div class="blank-container-before-footer"></div>
            <div id="familySignupBtn" class="person-footer font-style3">
                <span>确定送出</span>
            </div>
        </div>
        
    </div>

    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup signupedAllMsg" for="signupedAllMsg" id="signupedAllMsg">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3">
                    <!--您已報名其他場次-->
                    <span class="langStr" data-id="str_021"></span>
                </p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--關閉-->
                        <span class="langStr" data-id="str_044"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>