<div data-role="page" id="viewMyFamilyDatum">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none">
            <img src="img/menu.png" class="menu">
        </a>
        <div class="header-style">
            <div class="ui-title">我的眷屬資料</div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <!--1.眷屬資料列表-->
        <div></div>

        <!--2.暫無眷屬資料-->
        <div id="viewFamilyNone" class="font-style12 font-color3">目前沒有眷屬資料</div>
    </div>
</div>
