<div data-role="page" id="viewSelectFamily">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none">
            <img src="img/back.png" class="back-select">
        </a>
        <div class="header-style">
            <div class="ui-title">
                <!--活動報名-->
                <span class="langStr" data-id="str_002"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <div>
            <div class="team-signup-title">
                <div>
                    <img src="img/event_date.png" id="familySelectThumbnail">
                </div>
                <div class="font-style10 font-color2">
                    <div id="familySelectName">[創意人文]羅馬競技場-9/14（一）台北3F體育館</div>
                    <div style="margin-top:2.14vw;">
                        <span>您尚可報名人數：</span>
                        <span id="familySelectLimitPlace">3</span>
                        <span>人</span>
                    </div>
                </div>
            </div>
        </div>
        

        
    </div>

</div>