<div data-role="page" id="viewActivitiesSignup">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none">
            <img src="img/back.png" class="back-detail">
        </a>
        <div class="header-style">
            <div class="ui-title">活動報名</div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <!--1.個人報名-->
        <div id="viewPersonSignup" data-model="1">
            <div class="team-signup-title">
                <div>
                    <img src="img/event_date.png">
                </div>
                <div class="font-style10 font-color2">[創意人文]羅馬競技場-9/14（一）台北3F體育館</div>
            </div>
            <div class="person-signup-set-title font-style11 font-color1">請設定您的報名資料</div>
            <div class="person-signup-set-people font-style3 font-color1">報名人數：1人</div>
            <!--自定義欄位-->
            <div></div>
            <div class="person-signup-notice font-style11 font-color4">
                <span>*完成報名後，若需更改報名資料，請直接與欄位上更改後，再點選[更改資料]按鍵</span>
            </div>
            <div class="font-style11 font-color4">
                <span>*若需取消所有報名名單，請直接點選[取消報名]按鍵</span>
            </div>
            <div class="person-footer font-style3">
                <span>開始報名</span>
            </div>
        </div>

        <!--2.眷屬報名-->
        <div id="viewFamilySignup" data-model="3">
            <div class="team-signup-title">
                <div>
                    <img src="img/event_date.png">
                </div>
                <div class="font-style10 font-color2">
                    <div>[創意人文]羅馬競技場-9/14（一）台北3F體育館</div>
                    <div style="margin-top:2.14vw;">您尚可報名人數：3人</div>
                </div>
            </div>
            <div class="peraon-manage-signuped font-style11 font-color2">*本活動須同仁本人一同前往</div>
            <div class="family-signup-set-title font-style11 font-color1">請先填寫同仁報名資訊</div>
            <div class="family-signup-basic font-style7 font-color1">
                <span>王小明</span>/
                <span>同仁</span>/
                <span>男</span>/
                <span>F123456789</span>/
                <span>1980-12-01</span>
            </div>
            <!--自定義欄位-->
            <div class="family-signup-custom-field">
                <div class="custom-field">
                    <label for="" class="font-style11">活動建議</label>
                    <textarea name="" id="" data-role="none" class="input-textarea"></textarea>
                </div>
                <div class="custom-field">
                    <label for="" class="font-style11">搭車地點</label>
                    <div>請選取</div>
                </div>
                <div class="custom-field">
                    <label for="" class="font-style11">option1</label>
                    <input name="" id="" type="text" data-role="none" class="input-text">
                </div>
                <div class="custom-field">
                    <label for="" class="font-style11">option2</label>
                    <input name="" id="" type="text" data-role="none" class="input-text">
                </div>
                <div class="custom-field">
                    <label for="" class="font-style11">option3</label>
                    <input name="" id="" type="text" data-role="none" class="input-text">
                </div>
                <!-- <div class="custom-field">
                    <label for="" class="font-style11">午餐</label>
                    <input name="aaa" id="r1" type="radio" value="面條" class="input-radio">
                    <label for="r1" class="radio-label">面條</label>
                    <input name="aaa" id="r2" type="radio" value="米飯" class="input-radio">
                    <label for="r2" class="radio-label">米飯</label>
                    <input name="aaa" id="r3" type="radio" value="漢堡" class="input-radio">
                    <label for="r3" class="radio-label">漢堡</label>
                </div> -->
            </div>
            <div class="blank-container-before-footer"></div>
            <div class="person-footer font-style3 btn-disabled">
                <span>選擇眷屬</span>
            </div>
        </div>

        <!--3.時段報名-->
        <div id="viewTimeSignup" data-model="5">
            <div class="team-signup-title">
                <div>
                    <img src="img/event_date.png">
                </div>
                <div class="font-style10 font-color2">
                    <div>[創意人文]羅馬競技場-9/14（一）台北3F體育館</div>
                    <div style="margin-top:2.14vw;">您尚可報名人數：5人</div>
                </div>
            </div>
            <div class="time-signup-select">请选取报名时段</div>
            <div>
                <table data-role="none" id="timeSignupTable">
                    <tr>
                        <td></td>
                        <td>时段</td>
                        <td>提供名额</td>
                        <td>剩余名额</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="selectTime" value="08" id="b1" class="input-radio"> </td>
                        <td>08:00-10:00</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="selectTime" value="10" id="b2" class="input-radio"> </td>
                        <td>10:00-12:00</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="selectTime" value="14" id="b3" class="input-radio"> </td>
                        <td>14:00-16:00</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="selectTime" value="16" id="b4" class="input-radio"> </td>
                        <td>16:00-18:00</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                </table>
            </div>
            <div class="custom-field">
                <label for="" class="font-style11">活動建議</label>
                <textarea name="" id="" data-role="none" class="input-textarea"></textarea>
            </div>
            <div class="custom-field">
                <label for="" class="font-style11">搭車地點</label>
                <div>請選取</div>
            </div>
            <div class="custom-field">
                <label for="" class="font-style11">option1</label>
                <input name="" id="" type="text" data-role="none" class="input-text">
            </div>
            <div class="blank-container-before-footer"></div>
            <div class="person-footer font-style3 btn-disabled">
                <span>确定送出</span>
            </div>
        </div>

        <!--4.組隊報名-->
        <div id="viewTeamSignup" data-model="4">
            <div class="team-signup-title">
                <div>
                    <img src="img/event_date.png" id="teamSignupThumbnail">
                </div>
                <div class="font-style10 font-color2" id="teamSignupName">[創意人文]羅馬競技場-9/14（一）台北3F體育館</div>
            </div>
            <div class="font-style11 font-color1 team-signup-add">新增團隊</div>
            <div class="font-style11 font-color1">部門代碼</div>
            <div class="team-signup-input">
                <input type="text" id="departNo" data-role="none" class="input-text-full">
            </div>
            <div class="font-style11 font-color1">隊伍</div>
            <div class="team-signup-input">
                <input type="text" id="teamName" data-role="none" class="input-text-full">
            </div>
            <div class="font-style11 font-color1">
                <span>成員(</span>
                <span>0</span>
                <span>/</span>
                <span>3</span>
                <span>)</span>
            </div>
            <div class="team-signup-add-friend font-style3 font-color5">
                <div>
                    <img src="img/addfriend.png">
                </div>
                <div>
                    <span>新增名單</span>
                </div>
            </div>
            <!--API 搜索成員，動態生成-->
            <div></div>

            <div class="font-style12 font-color2" style="margin-top:4.3vw;">
                <span>*請先設定部門代碼，隊名與成員(</span>
                <span class="font-color4">每隊人數</span>
                <span class="font-color4">3</span>
                <span class="font-color4">人</span>
                <span>)，再點選[送出名單]按鍵完成報名</span>
            </div>
            <div class="font-style12 font-color2">*完成報名後，可再設定下一個組別</div>

            <div class="team-signup-footer font-style3">
                <div>送出名單</div>
            </div>
        </div>

        <!--5.选择眷属-->
        <div></div>

    </div>


</div>