<span id="tmp_option_width" class="hidden" style="font-size:2.8vh"></span>
<div data-role="page" id="viewTalk">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div id="container" class="header-style">
            <div id="center" class="ui-title">聊天室</div>
        </div>
    </div>
    <div data-role="main" class="page-main" style="line-height: initial !important;">
        <ul data-role="listview" data-ajax="false" data-inset="true" data-theme="a">
            <li><a href="#viewMain">前一頁</a></li>
            <li><a href="#">Andy => 下班去吃燒烤</a></li>
            <li><a href="#">Ken => 我想去夜市</a></li>
            <li><a href="#">Peter => 今天晚上不行</a></li>
            <li><a href="#">May => 我想跟</a></li>
        </ul>
    </div>
</div>
