<div data-role="page" id="viewActivitiesSignup">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none">
            <img src="img/back.png" class="back-detail">
        </a>
        <div class="header-style">
            <div class="ui-title">
                <!--活動報名-->
                <span class="langStr" data-id="str_002"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <!--1.個人報名-->
        <div id="viewPersonSignup" data-model="1">
            <div class="team-signup-title">
                <div>
                    <img src="img/event_date.png" id="personSignupThumbnail">
                </div>
                <div class="font-style10 font-color2" id="personSignupName">[創意人文]羅馬競技場-9/14（一）台北3F體育館</div>
            </div>
            <div class="person-signup-set-title font-style11 font-color1">
                <!--請設定您的報名資料-->
                <span class="langStr" data-id="str_055"></span>
            </div>
            <div class="person-signup-set-people font-style3 font-color1">
                <!--報名人數：-->
                <span class="langStr" data-id="str_056"></span>
                <span id="personLimitPlace"></span>
            </div>
            <!--自定義欄位-->
            <div class="person-signup-custom-field"></div>
            <!--提示信息-->
            <div class="person-signup-remark font-style11"></div>
            <div class="blank-container-before-footer"></div>
            <div id="personSignupBtn" class="person-footer font-style3 btn-disabled">
                <span>開始報名</span>
            </div>
        </div>

        <!--2.眷屬報名-->
        <div id="viewFamilySignup" data-model="3">
            <div class="team-signup-title">
                <div>
                    <img src="img/event_date.png" id="familySignupThumbnail">
                </div>
                <div class="font-style10 font-color2">
                    <div id="familySignupName">[創意人文]羅馬競技場-9/14（一）台北3F體育館</div>
                    <div style="margin-top:2.14vw;">
                        <!--您尚可報名人數：-->
                        <span class="langStr" data-id="str_057"></span>
                        <span id="familyLimitPlace">3</span>
                        <!--人-->
                        <span class="langStr" data-id="str_058"></span>
                    </div>
                </div>
            </div>
            <div class="person-manage-signuped font-style11 font-color2">
                <!--*本活動須同仁本人一同前往-->
                <span class="langStr" data-id="str_059"></span>
            </div>
            <div class="family-signup-set-title font-style11 font-color1">
                <!--請先填寫同仁報名資訊-->
                <span class="langStr" data-id="str_060"></span>
            </div>
            <div class="family-signup-basic font-style7 font-color1">
                <span id="familyEmpName">王小明</span>
                <span> / </span>
                <span id="familyEmpRlts">同仁</span>
                <span> / </span>
                <span id="familyEmpGender">男</span>
                <span> / </span>
                <span id="familyEmpID">F123456789</span>
                <span> / </span>
                <span id="familyEmpBirth">1980-12-01</span>
            </div>
            <!--自定義欄位-->
            <div class="family-signup-custom-field">
                <!-- <div class="custom-field">
                    <label class="font-style11 font-color1">水果</label>
                    <div class="custom-field-checkbox font-style3 font-color1">
                        <div data-name="checkbox1">
                            <img src="img/radio_n.png" class="family-signup-checkbox">
                            <span>西瓜</span>
                        </div>
                        <div data-name="checkbox1">
                            <img src="img/radio_n.png" class="family-signup-checkbox">
                            <span>蘋果</span>
                        </div>
                    </div>
                </div>
                <div class="custom-field">
                    <label for="" class="font-style11 font-color1">搭車地點</label>
                    <div>請選取</div>
                </div>
                <div class="custom-field">
                    <label for="" class="font-style11 font-color1">option1</label>
                    <input name="" id="" type="text" data-role="none" class="input-text">
                </div> -->
            </div>
            <div class="blank-container-before-footer"></div>
            <div id="selectFamilyBtn" class="person-footer font-style3 btn-disabled">
                <span>選擇眷屬</span>
            </div>
        </div>

        <!--3.時段報名-->
        <div id="viewTimeSignup" data-model="5">
            <div class="team-signup-title">
                <div>
                    <img src="img/event_date.png" id="timeSignupThumbnail">
                </div>
                <div class="font-style10 font-color2" id="timeSignupName">[創意人文]羅馬競技場-9/14（一）台北3F體育館</div>
            </div>
            <div class="time-signup-select font-style11 font-color1">
                <!--請選取報名時段-->
                <span class="langStr" data-id="str_061"></span>
            </div>
            <!--time table-->
            <div class="time-signup-thead font-style11 font-color2">
                <div style="color:#f9f9f9;">r</div>
                <div>
                    <!--時段-->
                    <span class="langStr" data-id="str_062"></span>
                </div>
                <div>
                    <!--提供名額-->
                    <span class="langStr" data-id="str_063"></span>
                </div>
                <div>
                    <!--剩餘名額-->
                    <span class="langStr" data-id="str_064"></span>
                </div>
            </div>
            <div class="time-signup-tbody font-style7 font-color2">
                <!-- <div class="time-signup-tr">
                    <div data-id="1701"><img src="img/radio_n.png" class="time-signup-radio"></div>
                    <div>08:00-10:00</div>
                    <div>100</div>
                    <div>100</div>
                </div>
                <div class="time-signup-tr">
                    <div data-id="1702"><img src="img/radio_n.png" class="time-signup-radio"></div>
                    <div>10:00-12:00</div>
                    <div>100</div>
                    <div>100</div>
                </div> -->
            </div>
            <!--自定義欄位-->
            <div class="time-signup-custom-field"></div>
            <div class="blank-container-before-footer"></div>
            <div id="timeSignupBtn" class="person-footer font-style3 btn-disabled">
                <span>确定送出</span>
            </div>
        </div>

        <!--4.組隊報名-->
        <div id="viewTeamSignup" data-model="4">
            <div class="team-signup-title">
                <div>
                    <img src="img/event_date.png" id="teamSignupThumbnail">
                </div>
                <div class="font-style10 font-color2" id="teamSignupName">[創意人文]羅馬競技場-9/14（一）台北3F體育館</div>
            </div>
            <div class="font-style11 font-color1 team-signup-add">
                <!--新增團隊-->
                <span class="langStr" data-id="str_065"></span>
            </div>
            <div class="font-style11 font-color1">
                <!--部門代碼-->
                <span class="langStr" data-id="str_066"></span>
            </div>
            <div class="team-signup-input">
                <input type="text" id="departNo" data-role="none" class="input-text-full">
            </div>
            <div class="font-style11 font-color1">
                <!--隊伍-->
                <span class="langStr" data-id="str_067"></span>
            </div>
            <div class="team-signup-input">
                <input type="text" id="teamName" data-role="none" class="input-text-full">
            </div>
            <div class="font-style11 font-color1">
                <!--成員-->
                <span class="langStr" data-id="str_068"></span>
                <span>(</span>
                <span id="teamCurrentPlace">0</span>
                <span>/</span>
                <span id="teamLimitPlace">4</span>
                <span>)</span>
            </div>
            <div class="team-signup-add-friend font-style3 font-color5">
                <div>
                    <img src="img/addfriend.png" class="add-team-member">
                </div>
                <div>
                    <span class="add-team-member">新增名單</span>
                </div>
            </div>
            <!--API 搜索成員，動態生成-->
            <div class="team-signup-employee-list">
                <!-- <div class="team-employee-list">
                    <span>BI40</span><span>Ming Wang</span><span><img src="img/delete.png" class="team-signup-delete"></span>
                </div> -->
            </div>
            <!--dropdownlist: hidden-->
            <div id="employeeDropdownlist" style="display:none;"></div>
            <!--remark-->
            <div id="teamRemark" class="font-style12 font-color2 team-signup-remark"></div>
            <div class="blank-container-before-footer"></div>
            <div id="sendTeamSignup" class="team-signup-footer font-style3 btn-disabled">
                <div>送出名單</div>
            </div>
        </div>

    </div>

    <!--查無員工資料-popup-->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup queryNoEmployee" for="queryNoEmployee" id="queryNoEmployee">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!--查無員工資料-->
                        <span class="langStr" data-id="str_038"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3">
                    <!--請重新查詢-->
                    <span class="langStr" data-id="str_039"></span>
                </p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--人/組數超過剩餘名額-popup-->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup overLimitMsg" for="overLimitMsg" id="overLimitMsg">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3">
                    <!--很抱歉，您報名的組數超過剩餘名額，請重新報名-->
                    <span class="langStr" data-id="str_025"></span>
                </p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--關閉-->
                        <span class="langStr" data-id="str_044"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--報名未完成-popup-->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup signupNoFinish" for="signupNoFinish" id="signupNoFinish">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!--報名未完成-->
                        <span class="langStr" data-id="str_022"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3">
                    <!--確定回到上一頁-->
                    <span class="langStr" data-id="str_023"></span>
                </p>
            </div>
            <div class="footer">
                <div class="btn-two font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--取消-->
                        <span class="langStr" data-id="com_023"></span>
                    </div>
                    <div class="btn-cancel" id="cancelSignupBtn">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>