<div data-role="page" id="viewActivitiesManage">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none">
            <img src="img/back.png" class="back-detail">
        </a>
        <div class="header-style">
            <div class="ui-title">
                <!--報名管理-->
                <span class="langStr" data-id="str_008"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <!--1.個人報名管理-->
        <div id="viewPersonManage" data-model="1">
            <div class="team-signup-title">
                <div>
                    <img src="img/event_date.png" id="personManageThumbnail">
                </div>
                <div class="font-style10 font-color2" id="personManageName">[創意人文]羅馬競技場-9/14（一）台北3F體育館</div>
            </div>
            <div class="person-manage-signuped font-style11 font-color4">
                <!--目前活動名額已額滿，-->
                <span id="personIsFull" class="langStr" data-id="str_069"></span>
                <!--您已報名本項活動：-->
                <span class="langStr" data-id="str_070"></span>
                <span id="personSignupedPlace">1</span>
                <!--人-->
                <span class="langStr" data-id="str_058"></span>
            </div>
            <div class="person-signup-set-title font-style11 font-color1">
                <!--請設定您的報名資料-->
                <span class="langStr" data-id="str_055"></span>
            </div>
            <div class="person-signup-set-people font-style3 font-color1">
                <!--報名人數：-->
                <span class="langStr" data-id="str_056"></span>
                <span id="personManagePlace"></span>
            </div>
            <!--自定義欄位-->
            <div class="person-manage-custom-field">

            </div>
            <!--提示信息-->
            <div class="person-manage-remark font-style11">
                
            </div>
            <div class="blank-container-before-footer"></div>
            <div class="person-footer font-style3 two-btn-inline">
                <span id="cancelPersonSignup">取消報名</span><span id="updatePersonSignup">更改資料</span>
            </div>
        </div>

        <!--2.眷屬報名管理-->
        <div id="viewFamilyManage" data-model="3">
            <div class="team-signup-title">
                <div>
                    <img src="img/event_date.png" id="familyManageThumbnail">
                </div>
                <div class="font-style10 font-color2">
                    <div id="familyManageName">[創意人文]羅馬競技場-9/14（一）台北3F體育館</div>
                    <div style="margin-top:2.14vw;">
                        <!--您尚可報名人數：-->
                        <span class="langStr" data-id="str_057"></span>
                        <span id="familyManageLimit">5</span>
                        <!--人-->
                        <span class="langStr" data-id="str_058"></span>
                    </div>
                </div>
            </div>
            <div class="person-manage-signuped font-style11 font-color2">
                <!--*本活動須同仁本人一同前往-->
                <span class="langStr" data-id="str_059"></span>
            </div>
            <div class="family-signup-set-title font-style11 font-color1">
                <!--請先填寫同仁報名資訊-->
                <span class="langStr" data-id="str_060"></span>
            </div>
            <div class="family-signup-basic font-style7 font-color1">
                <span id="familyManageEmpName">王小明</span>
                <span> / </span>
                <span id="familyManageRlts">同仁</span>
                <span> / </span>
                <span id="familyManageGender">男</span>
                <span> / </span>
                <span id="familyManageID">F123456789</span>
                <span> / </span>
                <span id="familyManageBirth">1980-12-01</span>
            </div>
            <!--自定義欄位-->
            <div class="family-manage-custom-field">
                <!-- <div class="custom-field">
                    <label for="" class="font-style11">活動建議</label>
                    <textarea name="" id="" data-role="none" class="input-textarea"></textarea>
                </div>
                <div class="custom-field">
                    <label for="" class="font-style11">搭車地點</label>
                    <div>請選取</div>
                </div>
                <div class="custom-field">
                    <label for="" class="font-style11">option1</label>
                    <input name="" id="" type="text" data-role="none" class="input-text">
                </div>
                <div class="custom-field">
                    <label for="" class="font-style11">option2</label>
                    <input name="" id="" type="text" data-role="none" class="input-text">
                </div>
                <div class="custom-field">
                    <label for="" class="font-style11">option3</label>
                    <input name="" id="" type="text" data-role="none" class="input-text">
                </div> -->
            </div>
            <div class="blank-container-before-footer"></div>
            <div class="person-footer font-style3 two-btn-inline">
                <span id="cancelFamilySignup">取消報名</span><span id="manageSelectFamilyBtn">选择眷属</span>
            </div>
        </div>

        <!--3.時段報名管理-->
        <div id="viewTimeManage" data-model="5">
            <div class="team-signup-title">
                <div>
                    <img src="img/event_date.png" id="timeManageThumbnail">
                </div>
                <div class="font-style10 font-color2" id="timeManageName">[創意人文]羅馬競技場-9/14（一）台北3F體育館</div>
            </div>
            <div class="time-manage-title font-style11 font-color4">
                <!--目前活動名額已額滿，-->
                <span id="timeIsFull" class="langStr" data-id="str_069"></span>
                <!--您已報名本項活動：-->
                <span class="langStr" data-id="str_070"></span>
                <span>1</span>
                <!--人-->
                <span class="langStr" data-id="str_058"></span>
            </div>
            <div class="time-manage-remark font-style12 font-color2">
                <!--*您已完成報名，若需變更時段，請先取消報名後再重新報名-->
                <span class="langStr" data-id="str_071"></span>
            </div>
            <div class="time-manage-detail font-style11 font-color2">
                <!--以下是您的報名資料-->
                <span class="langStr" data-id="str_072"></span>
            </div>
            <!--自定義欄位-->
            <div class="time-manage-custom-field font-style7 font-color1">
                <!-- <div class="time-manage-info">
                    <span>报名时段：</span>
                    <span>12:00~13:00</span>
                </div>
                <div class="time-manage-info">
                    <span>活動建議：</span>
                    <span>無意見</span>
                </div>
                <div class="time-manage-info">
                    <span>搭車地點：</span>
                    <span>QTY</span>
                </div> -->
            </div>
            <div class="time-manage-place font-style11 font-color1">
                <!--活動時段與名額如下-->
                <span class="langStr" data-id="str_073"></span>
            </div>
            <div class="time-manage-thead font-style11 font-color2">
                <div>时段</div>
                <div>提供名额</div>
                <div>剩余名额</div>
            </div>
            <div class="time-manage-tbody font-style7 font-color2">
                <!-- <div class="time-manage-tr">
                    <div>08:00~10:00</div>
                    <div>100</div>
                    <div>100</div>
                </div>
                <div class="time-manage-tr">
                    <div>10:00~12:00</div>
                    <div>100</div>
                    <div>100</div>
                </div>
                <div class="time-manage-tr">
                    <div>14:00~16:00</div>
                    <div>100</div>
                    <div>100</div>
                </div>
                <div class="time-manage-tr">
                    <div>16:00~18:00</div>
                    <div>100</div>
                    <div>100</div>
                </div> -->
            </div>
            <div class="blank-container-before-footer"></div>
            <div id="cancelTimeSignup" class="person-footer font-style3">
                <span>取消報名</span>
            </div>
        </div>

        <!--4.組隊報名管理-->
        <div id="viewTeamManage" data-model="4">
            <div class="team-signup-title">
                <div>
                    <img src="img/event_date.png" id="teamManageThumbnail">
                </div>
                <div class="font-style10 font-color2" id="teamManageName">[創意人文]羅馬競技場-9/14（一）台北3F體育館</div>
            </div>
            <div class="team-manage-signuped font-style11 font-color4">
                <!--目前活動名額已額滿，-->
                <span id="teamIsFull" class="langStr" data-id="str_069"></span>
                <!--您已報名本項活動：-->
                <span class="langStr" data-id="str_070"></span>
                <span id="teamSignupedPlaces">2</span>
                <!--組-->
                <span class="langStr" data-id="str_074"></span>
            </div>
            <div class="team-manage-signuped font-style11 font-color1">
                <!--以下是您的報名資料-->
                <span class="langStr" data-id="str_072"></span>
            </div>
            <div id="teamTableContainer">
                <table data-role="none" id="teamTable">
                    <tr>
                        <td>
                            <!--編號-->
                            <span class="langStr" data-id="str_075"></span>
                        </td>
                        <td>
                            <!--部門代碼-->
                            <span class="langStr" data-id="str_066"></span>
                        </td>
                        <td></td>
                        <td>
                            <!--隊名-->
                            <span class="langStr" data-id="str_076"></span>
                        </td>
                        <td>
                            <img src="img/all_list_down.png" id="expandAllTeam" class="all-list-img">
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>1</td>
                        <td>AI30</td>
                        <td></td>
                        <td>衝衝衝第一名</td>
                        <td>
                            <img src="img/list_down.png" class="list-img">
                        </td>
                    </tr>
                    <tr style="display:none;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>B140 Alan Tu
                            <br>B140 Wendy Shih
                            <br>A141 Samuel Hsieh
                        </td>
                        <td>
                            <img src="img/delete.png" class="team-delete">
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>BI40</td>
                        <td></td>
                        <td>只要我們說第二名每人敢說自己是第一名</td>
                        <td>
                            <img src="img/list_down.png" class="list-img">
                        </td>
                    </tr>
                    <tr style="display:none;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>B140 Alan Tu
                            <br>B140 Vinny YC Tang
                            <br>B140 Jennifer Y Wang
                            <br>BI40 Darren K Ti
                        </td>
                        <td>
                            <img src="img/delete.png" class="team-delete">
                        </td>
                    </tr> -->
                </table>
            </div>
        </div>


    </div>

    <!--人數超過剩餘名額-popup-->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup manageOverLimitMsg" for="manageOverLimitMsg" id="manageOverLimitMsg">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3">
                    <!--很抱歉，您報名的人數超過剩餘名額，請重新報名-->
                    <span class="langStr" data-id="str_024"></span>
                </p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel" id="manageOverBtn">
                        <!--關閉-->
                        <span class="langStr" data-id="str_044"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--確定取消報名-popup-->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup cancelSignupMsg" for="cancelSignupMsg" id="cancelSignupMsg">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon hidden'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!--確定取消報名-->
                        <span class="langStr" data-id="str_030"></span>
                    </span>
                </div>
                <div class="header-title"></div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style11 font-color3"></p>
            </div>
            <div class="footer">
                <div class="btn-two font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--不取消-->
                        <span class="langStr" data-id="str_046"></span>
                    </div>
                    <div class="btn-cancel" id="confirmCancelSignup">
                        <!--取消-->
                        <span class="langStr" data-id="str_045"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--報名取消失敗-popup-->
    <div data-role="popup" data-history="false" data-overlay-theme="b" class="app-popup cancelFailMsg" for="cancelFailMsg" id="cancelFailMsg">
        <div data-role="main" class="ui-content">
            <div class="header">
                <div class="font-style3 header-title-main">
                    <span class='header-icon'>
                        <img src="img/urgent.png">
                    </span>
                    <span class="header-text">
                        <!--報名取消失敗-->
                        <span class="langStr" data-id="str_047"></span>
                    </span>
                </div>
            </div>
            <div class="main">
                <p class="main-paragraph font-style3"></p>
            </div>
            <div class="footer">
                <div class="btn-one font-style1 btnArea">
                    <div class="btn-cancel">
                        <!--關閉-->
                        <span class="langStr" data-id="str_044"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>