<div data-role="page" id="viewSelectFamily">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a class="menu-btn" data-role="none">
            <img src="img/back.png" class="back-select">
        </a>
        <div class="header-style">
            <div class="ui-title">
                <!--活動報名-->
                <span class="langStr" data-id="str_002"></span>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        選擇眷屬

        
    </div>

</div>