/**************************************** viewLeaveAgent ********************************************/

.agent-container {
    width: 93.6vw;
    margin-left: 3.71vw;
    margin-top: 1.01vw;
}

#emptyAgentForm {
    margin-top: 4vw;
}

.beingAgent {
    padding: 4.3VW 0VW 3.71VW 0VW;
    /*border-bottom-color: #d6d6d6;*/
    margin-bottom: 3.99vw;
    background-color: #d6d6d6;
    /*transition: 1000ms ease;*/
}

.agentName {
    text-align: center;
    border-style: none;
}

.agentEnd {
    color: #2d89bc;
    margin-right: 3.71vw;
    margin-top: -5vw;
    text-align: right;   
}

#dept-agent-popup-option-popup .header.typeB {
    height: 18.8VW;
}

#dept-agent-popup-option-popup .header .title {
    width: 75VW;
}

#dept-agent-popup-option-popup ul {
    margin-top: 0VW;
}

#dept-agent-popup-option-popup ul::-webkit-scrollbar {
    width: 3px;
    margin: 0px;
}

#dept-agent-popup-option-popup ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.8);
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}

#dept-agent-popup-option-popup ul::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
}