/* component CSS*/

/********************************** CSS Rule *************************************/
/********** All CSS style which auto created by Cordova can be removed ***********/
/*********************************************************************************/

/* override jQuery Mobile */
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, 
html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, 
html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, 
html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, 
html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, 
.ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, 
html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, 
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, 
html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, 
html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active,
.ui-title, .ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper,
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, 
html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, 
html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, 
html head+body .ui-btn.ui-btn-a:visited, .ui-body-a, .ui-page-theme-a .ui-body-inherit, 
html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, 
html .ui-panel-page-container-a, .ui-page-theme-a .ui-bar-inherit, .ui-bar-a .ui-bar-inherit,
.ui-body-a .ui-bar-inherit, .ui-group-theme-a .ui-bar-inherit {
    text-shadow: none;
}

.ui-mobile .ui-page-active{
    display: block;
    overflow: visible;
    overflow-x: hidden;
}

.ui-field-contain {
    border: none;
    padding: 0 10px;
}

.ui-field-contain > label {
    float: left;
    width: 25%;
    margin: .5em 2% 0 0;
}

.ui-field-contain > label~[class*=ui-] {
    float: left;
    width: 70%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-field-contain:before, .ui-field-contain:after {
    content: "";
    display: none;
}

.ui-btn {
    text-align: center;
}

.ui-tabs {
    position: static;
}

.ui-footer-fixed {
    padding-bottom: 0px;
}

.ui-popup-container, .ui-popup {
    width: 90%;
}

.ui-popup-screen.in {
    opacity: 0.3;
}

.ui-popup.ui-body-inherit {
    border-style: none;
}

.ui-body-inherit {
    background-color: #FFFFFF;
}

body, input, select, textarea, button, .ui-btn {
    font-family: "Arial", "微軟中黑體";
}

.ui-header .ui-title, .ui-header .ui-btn-left, .ui-header .ui-btn-right {
    font-weight: normal;
    font-size: 4.39vw !important;
    padding: 3.328vw 0;
    color: #ffffff;
}

.ui-title {
    line-height: 1.5;
}

.ui-title > div { 
    font-size: 4.39vw;
    font-weight: normal;
    pointer-events: none;
}

.ui-header-fixed {
    padding-top: 0;
}

.ui-header-fixed .ui-btn-left, .ui-header-fixed .ui-btn-right {
    margin-top: 0;
    top: 0;
}

.ui-header-fixed .ui-btn-left {
    left: 3.71vw;
}

.ui-header-fixed .ui-btn-right {
    right: 3.71vw;
}

.ui-header .ui-btn {
    border: none;
    height: 0;
    margin-top: 3.238vw;
}

.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, 
html body .ui-group-theme-a .ui-btn:focus, html head+body .ui-btn.ui-btn-a:focus, 
.ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, 
html body .ui-group-theme-a .ui-focus, html head+body .ui-btn-a.ui-focus, html head+body .ui-body-a.ui-focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ui-overlay-b {
    text-shadow: none;
    background-color: #231f20;
}

textarea, textarea.ui-input-text {
    padding: 2.73vw 3.71vw;
    line-height: 1;
}

textarea.ui-body-inherit {
    color: #323232;
    border-color: #989898;
}

/* variable, function, style for All APP */

/* disable ‘hold to copy’ on all elements */
body *:not(input):not(textarea){ -webkit-user-select: none;}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    height: 100%;
    width: 100%;
    background: rgba(35,31,32,0.3);
    text-align: center;
    padding-top: 0;
}

.loader img{ padding-top: 70%;}

.hide {
    display: none;
}

/*Fix bug - iOS status bar overlapping App*/
.ios-fix-overlap {
    margin-top: 20px;
}

.ios-fix-overlap-div {
    height: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #FFF;
    display: none;
}

/*Fix - Android text in ui-btn, the vertical does not in middle*/
.android-fix-btn-text-middle {
    position: relative;
    top: 2px;
}

/*Initial APP page*/
#viewInitial {
    height: 100%;
}

#viewInitial .main-initial {
    text-align: center;
}

#initialQPlay {
    margin-top: 28vh;
}

#initialQPlay .logo-initial {
    width: 22%;
}

#initialQPlay .brand-initial-content {
    position: absolute;
    width: 100%;
    bottom: 2%;
}

#initialQPlay .brand-initial {
    height: 10vh;
}

#initialOther {
    margin-top: 20vh;
}

#initialOther .logo-initial {
    width: 18vw;
    height: auto;
}

#initialAppName {
    font-size: 6.5vh;
    margin-top: 3vw;
}

#initialOther .app-logo-initial {
    margin-top: 4vw;
    width: 28vw;
}

#initialOther .brand-initial-content {
    position: absolute;
    width: 100%;
    bottom: 2%;
}

#initialOther .brand-initial {
    height: 10vh;
}

/*APP Get QPsuh / Maintain */
#viewGetQPush, #viewMaintain {
    height: 100%;
}

.main-GetQPush {
    text-align: center;
    padding-top: 28vh;
}

.logo-GetQPush {
    width: 22%;
}

.text-GetQPush {
    width: 75vw;
    margin: 0 auto;
    margin-top: 6.5vh;
    overflow-wrap: break-word;
    white-space: normal;
    text-overflow: clip;
    overflow: auto;
    text-align: left;
}

.brand-GetQPush-content {
    position: absolute;
    width: 100%;
    bottom: 2%;
}

.brand-GetQPush {
    height: 10vh;
}

/*Update APP Version page / Not Signed In page */
#viewUpdateAppVersion, #viewNotSignedIn {
    height: 100%;
}

.main-updateAppVersion {
    text-align: center;
    padding-top: 28vh;
}

.logo-updateAppVersion {
    width: 22%;
}

.text-updateAppVersion {
    width: 75vw;
    margin: 0 auto;
    margin-top: 6.5vh;
    overflow-wrap: break-word;
    white-space: normal;
    text-overflow: clip;
    overflow: auto;
    text-align: left;
}

.button-updateAppVersion {
    position: absolute;
    left: 15%;
    bottom: 6.5%;
    width: 70vw;
    height: auto;
    padding: 2vh 0;
    border-radius: 25px;
    background-color: #492f80;
    color: #FFF;
}

#viewUpdateAppVersion .button-text-updateAppVersion {

}

/*Popup Msg*/
.popup-div {
    margin: 0 auto;
}

.ui-mobile .popup-div label {
    font-size: 3vh;
}

.popup-div .ui-content {
    width: 85%;
    height: auto;
    padding: 10% 10% 0;
    font-size: 3vh;
}

.popup-div .hr-style {
    position: absolute;
    width: 99%;
    left: 0;
    color: #D6D6D6;
}

.popup-div .bottom {
    height: 10vh;
}

.popup-div .button-content {
    position: absolute;
    width: 100%;
    left: 0;
    line-height: 3.5;
    text-align: center;
    color: #492E80;
    font-size: 3.3vh;
}

.popup-div .button-content div {
    float: left;
    width: 49%;
}

.popup-div .button-content .vertical-line {
    border-left: 1px solid #D6D6D6;
    width: 1%;
    height: 8.5vh;
    margin-top: 1.5vh;
}

.popup-info {
    background-color: #fff;
    border-color: #ddd;
    color: #333;
}

.popup-info p {
    margin: 0;
}
.popup-info #infoLoginid {
    margin-left: -10%;
    margin-bottom: 5%;
    text-align: center;
}

/*Other APP Popup Msg*/

#viewPopupMsg-popup,
#viewPopupMsg {
    width: initial;
    border-width: 0px;
    border-style: initial;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.popup-msg {
    width: 80vw;
    background: #eee;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    border-top: 1px solid #E2E2E2;
}

.popup-msg h1 {
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem 1rem 0.5rem;
}

#titleImg,
#contentImg {
    width: 4.3vw;
    height: 2.5vh;
    margin-right: 1.5vw;
}

#msgTitle{ font-size: 4.18vw; font-weight: normal;}

#msgContent {
    margin: 3vh 3vh;
}

.popup-msg div {
    text-align: center;
    font-size: 4.18vw;
}

.popup-msg div > table {
    text-align: left;
    margin: 0 auto;
}

.popup-msg div > td {
    padding-right: 3vw;
}

.popup-msg button {
    background: transparent;
    border: none;
    color: #1678E5;
    height: 3rem;
    font-size: 5.02vw;
    width: 50%;
    bottom: 0;
    cursor: pointer;
    outline: none;
}

.popup-msg button:nth-of-type(1) {
    border-top: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-radius: 0 0 0 10px;
    left: 0;
}

.popup-msg button:nth-of-type(2) {
    border-top: 1px solid #d4d4d4;
    border-radius: 0 0 10px 0;
    position: absolute;
    right: 0;
}

/*Darren - #13709, #13678
.ui-mobile .ui-page:not(#viewInitial):not(#viewUpdateAppVersion):not(#viewNotSignedIn):not(#viewMaintain):not(#viewGetQPush) { padding-top: 11.45vw !important;}
.ui-mobile .ui-page:not(#viewInitial):not(#viewUpdateAppVersion):not(#viewNotSignedIn):not(#viewMaintain):not(#viewGetQPush).ui-page-ios{ padding-top: calc(11.45vw + 20px) !important;}
.page-main{ margin-top: 0 !important;}
.ui-page{ min-height: 100% !important; box-sizing: border-box;}
*/

/*initial page layout setting when landscape*/
@media all and (orientation: landscape){
    /*initial*/
    #initialOther, .main-updateAppVersion, .main-GetQPush{ margin-top: 18vh;}
    #initialOther .logo-initial{ height: auto; width: 13vh;}
    #initialAppName{ margin-top: 2vw;}
    #initialOther .app-logo-initial{ width: 25vh; margin-top: 0;}
    #initialOther .brand-initial-content{ position: fixed;}
    /*need update, update app version, get qpush*/
    .logo-updateAppVersion, .logo-GetQPush{ width: 20vh;}
    .main-updateAppVersion, .main-updateAppVersion, .main-GetQPush{ padding-top: 0;}
    .text-updateAppVersion, .text-updateAppVersion, .text-GetQPush{ font-size: 3.4vh; margin-top: 4vh;}
    .button-updateAppVersion, .brand-GetQPush-content{ font-size: 3.4vh; position: fixed;}
    /*loader*/
    .loader{ padding-top: 0;}
    .loader img{ position: absolute; top: 40%; left: 0; right: 0; margin: auto; padding-top: 0;}
}

/* APP Header */
.header-style {
    overflow: hidden;
    background-color: #492f7f;
    color: #ffffff;
    border-style: none;
    text-align: center;
    line-height: 0;
}

.q-btn-header {
    width: 5.957vw;
}