
/*********************************************************************************/
/************************************ Tempalte CSS *******************************/
/*********************************************************************************/

/* Tabs */
.ui-tabs {
    padding: 0px;
}

/* Navbar */
.ui-navbar li .ui-btn {
    font-size: 2.8vh;
    font-weight: bold;
    color: #0f0f0f;
    border-color: #2a88bc;
    border-right-width: 1px;
}

.ui-navbar li:last-child .ui-btn {
    margin-right: 0px;
}

html .ui-navbar li .ui-btn.ui-btn-active {
    background-color: #2a88bc;
    color: #fff;
}

.tpl-navbar-button-left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.tpl-navbar-button-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Dropdown List */
.tpl-dropdown-list {
    outline: none;
    padding: 5px;
    font-size: 2.8vh;
    border: 0;
    background: url('../img/component/dropdown.png') right transparent;
    background-size: 2.9vw 2vw;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    margin-bottom: 1.2vh;
}

.tpl-dropdown-list-selected {
    background-color: #2C89BC;
    color: #FFF;
}

/* Popup Msg */
.app-popup.ui-overlay-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.app-popup.ui-popup {
    margin: 0 auto;
}

.app-popup.ui-corner-all {
    border-radius: 16px;
}

.app-popup .ui-content {
    padding: 2.5vh 3vw 2.9vh;
}