.confirmfornoquery{
    padding-top: 3vw; color: #2c89bc
}

.noqueryconditioncss{
    padding-top: 10vw;
    padding-bottom: 10vw
}

.deletecondition{
   padding-top: 10vw;
   padding-bottom: 10vw
}

.custom-navbar ul li a {
    border-style: none;
}

/*common*/
*{ box-sizing: border-box;}
.ui-header-fixed.ui-fixed-hidden{ top: -1px;}
.ui-margin-public { margin: 1.8vw 3.71vw 0 !important; font-size: 4.18vw;}
.ui-radio-50w div.ui-radio{ width: 50%;}
#reserveTab{ margin: 3.99vw 0 4.3vw; border-radius: 8px !important; -webkit-border-radius: 8px;}
#reserveTab > div > div.ui-radio label { line-height: 1; border: 1px solid #2a88bc !important; border-left-width: 0 !important; background-color: #fff !important;
    font-weight: normal; padding: 2.8vw 0 2.6vw; text-align: center; font-size: 4.18vw;}
#reserveTab > div > div.ui-radio:nth-of-type(1) label{ border-left-width: 1px !important;}
#reserveTab > div > div.ui-radio label.ui-btn-active { background-color: #2a88bc !important; color: white !important;}
.ui-controlgroup-controls { width: 100%;}
.ui-mobile .ui-page-active{ min-height: 100vh !important;}
.ui-mobile .ui-page:not(#viewInitial){ padding-top: 14vw !important;}
.ui-mobile .ui-page:not(#viewInitial).ui-page-ios{ padding-top: calc(14vw + 20px) !important;}
.page-main{ overflow-x: hidden; margin-top: 0 !important;}

/*override jQuery Mobile*/
.ui-content {
    overflow-x: visible;
    padding: 0px;
    padding: 0 3.71vw;
}

.header-style {
    background-color: #492f7f;
}
.ui-content .ui-listview {
    margin: 0px;
}

.ui-listview > .ui-li-static {
    padding: 0px;
    white-space: normal;
}

.ui-popup-container {
    width: 80%;
}

#detail-data .ui-btn {
    border: none;
}

#myPhonebookList .ui-checkbox input {
    margin: 0;
    position: static;
}

#myPhonebookList .ui-checkbox {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

#myPhonebookList p {
    font-size: 3.35vw;
}

.header-style .ui-bar {
    padding: 0;
}

/*new class*/
#viewQueryResult{
    background-color: #f8f9f9;
}

#viewDetailInfo{
    background-color: white;   
}

.vice-header {
    background-color: #f8f9f9;
    height: 5.7VH;
    margin-top: 0px;
    padding: 0;
    line-height: 6VH;
}

.vice-header .title {
    font-family: Arial;
    color: #666667;
    font-size: 3.5vw;
    font-weight: bold;
}

.vice-header .name-tel {
    margin-left: 3.7VW !important;
    text-align: left;
}

.vice-header .company {
    width: 30%;
}

.vice-header .e-name {
    width: 40%;
}

.vice-header .c-name {
    width: 30%;
}

.hide {
    display: none !important;
}

.head-btn{
    background-color: initial !important;
    border-style: none;
    left: initial !important;
    margin-left: 3.7VW !important;
    margin-right: 3.7VW !important;
    margin-top: 8px !important;
    padding: 0px;
}

#viewIndex .ui-content > div{
    float: left;
}

.q-result-grid {
    text-align: center;
}

.q-result-grid > li div {
    float: left;
    /*display: flex;*/
    flex-flow: column wrap;
    justify-content: center;
    overflow-wrap: break-word;
}

.q-result-grid > li p {
    width: 95%;
    font-weight: normal;
    white-space: normal;
    text-overflow: clip;
    overflow: auto;
}

.q-result-grid a {
    text-decoration: none;
}
.error-msg {
    background-color: #f8f9f9;
    color: #666;
    font-size: 3.14vw;
    margin: 7vw 0;
    text-align: center;
    width: 100%;
    line-height: 1.7;
}

#viewDataInput .error-msg{ font-size: 3.55vw; color: #0f0f0f;}

#employeeData p {
    margin: 0px 2px;
    font-size: 12px;
}

.q-result-grid .company {
    width: 30%;
}

.q-result-grid .e-name {
    width: 40%;
}

.q-result-grid .c-name {
    width: 30%;
}

/**********************  viewDataInput  **********************/
.ui-field-contain{ /*display: flex;*/ align-items: center; margin-bottom: 12.44vw; padding: 0;}
.ui-field-contain:nth-last-of-type(2){ margin-bottom: 10vw;}
.btn-area a{ display: block; width: 70%; margin: 0 auto; border-radius: 20px; padding: 2.8vw 0 2.6vw; text-align: center; text-decoration: none;
    border: 1px solid #2c89bc;}
#cleanQuery, #callQuery{ font-weight: normal;}
#cleanQuery{ border: none; padding-top: 0; color: #2c89bc;}
#cleanQuery:before{ content: "\d7"; font-size: 6vw; font-weight: normal; display: inline-block; vertical-align: middle; margin-right: 2.405vw;}
#callQuery{ background-color: #2c89bc; color: #fff; margin-bottom: 4.3vw;}
#callQuery:hover, #callQuery:visited, #callQuery:active{ color: #fff;}
#cleanQuery:hover, #cleanQuery:visited, #cleanQuery:active{ color: #666;}
.ui-select > div, .ui-input-text{ background-color: #fff !important; box-shadow: none; background-image: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;
    border-color: #dfdfdf !important; height: 9.661vw !important;}
.ui-select>div:after{ background-image: url('../img/dropdown.png') !important; background-color: transparent; border-radius: 0; background-size: 100% auto;
    width: 3.4vw; top: 1.5vw; bottom: 0; margin: auto 0;}
.ui-select>div{ position: relative; line-height: 9.661vw;}
.ui-select>div select{ height: 9.661vw;  max-height: 9.661vw; }
#Company-button span{ top: 0; left: 3.2vw; position: absolute; font-weight: normal;}
.ui-input-text input, #Company-button span{ color: #323232; font-size: 3.768vw;}
.ui-input-text input{ padding: 0 3.2vw; height: 100%;}
#pageOne{ margin-top: 10vw !important;}
#pageOne h4{ font-weight: normal; margin: 0; color: #0f0f0f; font-size: 3.349vw;}
#pageOne label, #pageOne .ui-select{ /*float: none; margin: 0;*/}
#pageOne label{ text-align: right; width: 24%;}
.ui-field-contain > label~[class*=ui-], .ui-select .ui-btn{ width: 61%;}
#Company-button{ width: 100%;}

/**********************  phonebook  **********************/
#pageTwo{ margin: 1.8vw 0 0 !important;}
.phoneBook-btnArea{ margin: 0 3.71vw 2.14vw;}
#phonebookEdit{ text-decoration: none; text-align: right; display: block;}
#phonebookEdit, #phonebookEdit:hover, #phonebookEdit:active, #phonebookEdit:visited,
    .custom-navbar ul li a, .custom-navbar ul li a:hover, .custom-navbar ul li a:active, .custom-navbar ul li a:visited{ color: #2c89bc !important;}
.custom-navbar ul li a{ background: transparent !important; font-size: 4.18vw !important; text-decoration: none;}
#phoneCancelDelete, #phoneDelete, #phonebookEdit{ font-weight: normal; padding: 0;}
#phoneDelete{ text-align: right;}
#phoneCancelDelete{ text-align: left;}
#phoneDelete.noneSelect{ color: #d6d6d6 !important; pointer-events: none;}
#myPhonebookList{ padding: 0 3.71vw; background-color: #fff; width: 113vw; margin-left: -13vw; transition: margin 0.5s ease-in-out;}
#myPhonebookList.editClick{ margin-left: 0;}
#myPhonebookList li, #employeeData li{ background-color: transparent; border-top: none; /*display: flex;*/ align-items: center; position: relative; border: none;
        padding: 0 3vw;}
#employeeData li{ border-bottom: 1px solid #d6d6d6;}
#myPhonebookList li:after{ width: 88%; content: ''; height: 1px; background-color: #d6d6d6; position: absolute; bottom: 0; left: 13vw;}
#myPhonebookList.editClick li:after{ left: 0;}
#myPhonebookList li:nth-last-of-type(1):after, #employeeData li:nth-last-of-type(1):after{ display: none;}
#myPhonebookList .name, #myPhonebookList .img-phone, #myPhonebookList .tel-num,
#employeeData .name, #employeeData .img-phone, #employeeData .tel-num,
#myPhonebookList .name, #employeeData .name{ width: 39.4VW}
#myPhonebookList .img-info, #employeeData .img-info{ width: 7.7VW}
#myPhonebookList .name p, #employeeData .name p{ margin: 4vw 0 0;}
#myPhonebookList .name p:nth-of-type(1) a, #employeeData .name p:nth-of-type(1) a{ color:#0f0f0f; font-size: 4.18vw; font-weight: normal;}
#myPhonebookList .name p:nth-of-type(2), #employeeData .name p:nth-of-type(2){ margin: 0.98vw 0 3vw;}
#myPhonebookList .name p:nth-of-type(2) a, #employeeData .name p:nth-of-type(2) a{ color:#666; font-size: 3.349vw; font-weight: normal;}
.img-phone{ padding-right:1.9vw; width: 35vw; top:calc(50% - 15px);}
.img-phone img, #myPhonebookList .img-phone img{ width:3.5vw; height:auto; vertical-align: middle; margin-right: 1vw;}
.tel-num{ width: 85%; display: inline-block; vertical-align: middle;}
.tel-num p{ margin: 0 !important;}
.tel-num a{ color:#2c89bc; font-size: 3.768vw; font-family:Arial; font-weight: normal;}
.img-info img{ width:6.4vw; height:auto;}
/*.checkbox-area, .checkbox-area div, .img-info{ float: none !important;}*/
.checkbox-area{ margin-right: 8vw; margin-top: 4vw; width: 5vw; height: 5vw; position: relative;}
#myPhonebookList .ui-checkbox input:after{ content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; 
    background: url('../img/circlebox.png') #fff no-repeat; background-size: 100% auto; z-index: 10; pointer-events: none;}
#myPhonebookList .ui-checkbox input:checked:after{ background-image: url('../img/circlebox_select.png');}
#myPhonebookList .ui-checkbox, #myPhonebookList .ui-checkbox input{ width: 100%; height: 100%;}
#myPhonebookList .ui-checkbox input{ border: none; background-color: transparent;}

.divvertical-center::before{
    content:'';
    width:0;
    height:100%;
    display:inline-block;
    position:relative;
    vertical-align:middle;
}
/**********************  viewDetialInfo  **********************/
#detial-name-title{
    margin: 6.763vw 3.71vw 2.14vw;
    position: relative;
}

#detial-name-title .detial-name{
    color:#0f0f0f;
    width: 100VW;
}

#detial-name-title #eName{
    font-size: 4.39vw;
}

#detial-name-title #cName{
    font-size: 4.18vw;
    margin-top: 0.98vw;
}

#detial-name-title .star{
    border-style:none;
    position: absolute;
    top: 0;
    right: 3.49vw;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#detail-data .liststyle{
    border-width:1px;
    border-style:none; 
    border-bottom-style:solid;
    border-bottom-color:#d6d6d6;
}

#detail-data .item-name{ 
    color: #666;
    font-size: 3.55vw;
    margin: 4.3vw 0 0;
    width: 100VW;
}

#detail-data .item-content{
    color: #2c89bc;
    font-size: 4.18vw;
    margin: 0.98vw 0;
    width: 100VW;
}

#detail-data .item-content a{ text-decoration: none; font-weight: normal;}
#detail-data .item-content a:visited{ color: #2d87ba;}

#detailData.q-result-grid > li div {
    height: 50px;
}

#detailData p {
    margin: 0px 5px;
    font-size: 14px;
    font-weight: bold;
}

#detailData .company-data {
    display: flex;
}

#detailData .company {
    display: inline-block;
    width: 80%;
    padding-top: 2px;
}

#detailData .star {
    display: inline-block;
}

/*.popup-msg {
    height: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: #4B0082;
    font-weight: bold;
}*/

/*.popup-msg .ui-btn {
    padding: 5px 10px;
    background-color: #28004D;
    border: none;
    color: #FFF;
}*/

/* mvpn select popup window for yellow page */
#numSelectPopupWindow #msgTitle{ margin: 0 5%; padding: 5% 0; font-size: 5vw; border-bottom: 1px solid #d4d4d4; position: relative;}
#numSelectPopupWindow ul{ list-style: none; padding: 0;}
#numSelectPopupWindow li{ font-size: 4.5vw; font-family:Arial; font-weight: normal; padding-bottom: 5%;}
#numSelectPopupWindow li:nth-last-of-type(1){ padding-bottom: 2%;}
#numSelectPopupWindow li a{ color:#2d87ba;}
#numSelectPopupWindow img{ margin-right: 1.9vw;}
#numPopupCloseBtn{ width: 7%; position: absolute; right: 0; top: 5%;}
#numPopupCloseBtn:after{ content: "\d7"; font-size: 7vw; font-weight: normal;}
