
/*
.list_divider_style {
    background-color: #E0E0FF;
    line-height: 2.7;
}

.grid-style-a {
    font-size: 17px !important;
    padding-left: 15px !important;
    background-color: #E0E0FF !important;
    line-height: 3.0 !important;
    width: 27% !important;
    font-weight: bold !important;
}

.grid-style-b {
    font-size: 17px !important;
    background-color: #E0E0FF !important;
    line-height: 3.0 !important;
    width: 37% !important;
    font-weight: bold !important;
}

.grid-style-c {
    font-size: 17px !important;
    background-color: #E0E0FF !important;
    line-height: 3.0 !important;
    width: 21% !important;
    overflow: visible !important;
    font-weight: bold !important;
}

.grid-style-d {
    font-size: 17px !important;
    background-color: #E0E0FF !important;
    line-height: 3.0 !important;
    width: 15% !important;
    overflow: visible !important;
    border-bottom-width: 0px!important;
    font-weight: bold !important;
}

.grid-style-editphone-a {
    position: relative !important;
    font-size: 17px !important;
    background-color: #E0E0FF !important;
    line-height: 3.0 !important;
    width: 17% !important;
    font-weight: bold !important;
}

.grid-style-editphone-b {
    font-size: 17px !important;
    background-color: #E0E0FF !important;
    line-height: 3.0 !important;
    width: 27% !important;
    font-weight: bold !important;
}

.grid-style-editphone-c {
    font-size: 17px !important;
    background-color: #E0E0FF !important;
    line-height: 3.0 !important;
    width: 35% !important;
    overflow: visible !important;
    font-weight: bold !important;
}

.grid-style-editphone-d {
    font-size: 17px !important;
    background-color: #E0E0FF !important;
    line-height: 3.0 !important;
    width: 21% !important;
    overflow: visible !important;
    border-bottom-width: 0px!important;
    font-weight: bold !important;
}

.grid-style-data-a {
    position: relative !important;
    left: 15px !important;
    font-size: 17px !important;
    font-weight: bold !important;
    line-height: 3.0 !important;
    width: 27% !important;
}

.grid-style-data-b {
    font-size: 17px !important;
    font-weight: bold !important;
    line-height: 3.0 !important;
    width: 37% !important;
}

.grid-style-data-c {
    font-size: 17px !important;
    font-weight: bold !important;
    line-height: 3.0 !important;
    width: 28% !important;
}

.grid-style-data-d {
    font-size: 17px !important;
    font-weight: bold !important;
    width: 8% !important;
    overflow: visible !important;
    margin-top: 20px !important;
}

.grid-style-editphone-data-a {
    position: relative !important;
    font-size: 17px !important;
    font-weight: bold !important;
    line-height: 3.0 !important;
    width: 17% !important;
    background-color: white !important;
    border-color: white !important;
}

.grid-style-editphone-data-b {
    font-size: 17px !important;
    font-weight: bold !important;
    line-height: 3.0 !important;
    width: 27% !important;
}

.grid-style-editphone-data-c {
    font-size: 17px !important;
    font-weight: bold !important;
    line-height: 3.0 !important;
    width: 35% !important;
}

.grid-style-editphone-data-d {
    font-size: 17px !important;
    font-weight: bold !important;
    line-height: 3.0 !important;
    width: 21% !important;
}

.grid-style-detail-a {
    font-size: 17px !important;
    font-weight: bold !important;
    line-height: 2.0 !important;
    width: 25% !important;
}

.grid-style-detail-b-1 {
    font-size: 17px !important;
    font-weight: bold !important;
    line-height: 2.0 !important;
    width: 65% !important;
    color: blue !important;
}

.grid-style-detail-b {
    font-size: 17px !important;
    font-weight: bold !important;
    line-height: 2.0 !important;
    width: 75% !important;
    color: blue !important;
}

.grid-style-detail-c {
    font-size: 17px !important;
    font-weight: bold !important;
    line-height: 2.0 !important;
    width: 10% !important;
}

.popup-dialog-style {
    width: 250px !important;
    height: 130px !important;
    color: white !important;
    background-color: #4B0082 !important;
    text-align: center !important;
}

.cancle-button-style {
    width: 50px !important;
    height: 15px !important;
    text-align: center !important;
    color: white !important;
    background-color: #28004D !important;
    border-color: #28004D !important;
}

.ok-button-style {
    width: 50px !important;
    height: 15px !important;
    text-align: center !important;
    color: white !important;
    background-color: #28004D !important;
    border-color: #28004D !important;
}

.edit-button-style {
    padding: 0px !important;
    border: 0px !important;
}
*/

.custom-navbar ul li a {
    background: #4B0082 !important; 
    color: white !important;
    border-style: none;
    font-size: large !important;
}

/*override jQuery Mobile*/
.ui-btn {
    text-align: center;
}

.ui-content {
    overflow-x: visible;
    padding: 0px;
}

.ui-content .ui-listview {
    margin: 0px;
}

.ui-listview > .ui-li-static {
    padding: 0px;
    white-space: normal;
}

.ui-popup-container {
    width: 80%;
}

#my_phonebook_list .ui-checkbox input {
    width: 14px;
    height: 14px;
    margin: 0px;
    margin: 0 auto;
}

#my_phonebook_list .ui-checkbox {
    margin: 0px;
    top: 5px;
    left: 35%;
    display: none;
}

/*new class*/
.hide {
    display: none;
}

#viewIndex .ui-content > div{
    float: left;
}

.q-result-grid {
    text-align: center;
}

.q-result-grid > li div {
    float: left;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    overflow-wrap: break-word;
}

.q-result-grid > li p {
    width: 95%;
    font-weight: normal;
    white-space: normal;
    text-overflow: clip;
    overflow: auto;
}

.q-result-grid a {
    text-decoration: none;
}

.q-result-grid .error-msg {
    color: #FFF;
    background-color: red;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

#employeeData.q-result-grid > li div {
    height: 60px;
}

#employeeData p {
    margin: 0px 2px;
    font-size: 12px;
}

.q-result-grid .company{
    width: 30%;
}

.q-result-grid .e-name{
    width: 40%;
}

.q-result-grid .c-name{
    width: 30%;
}

#detail-data.q-result-grid > li div {
    height: 50px;
}

#detail-data p {
    margin: 0px 5px;
    font-size: 14px;
    font-weight: bold;
}

#detail-data .item-name {
    width: 30%;
}

#detail-data .item-content {
    width: 70%;
    color: blue;
}

#detail-data .company-data {
    display: flex;
}

#detail-data .company {
    display: inline-block;
    width: 80%;
    padding-top: 2px;
}

#detail-data .star {
    display: inline-block;
}

#my_phonebook_list p {
    margin: 0px 2px;
    font-size: 12px;
}

.popup-msg {
    height: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: #4B0082;
    font-weight: bold;
}

.popup-msg .ui-btn {
    padding: 5px 10px;
    background-color: #28004D;
    border: none;
    color: #FFF;
}