/***************************** viewShopSelectUser ********************************/
#viewShopSelectUser .ui-content {
    padding: 0 !important;
}

.select-user-type {
    width: 100%;
    height: 11.38vw;
    border-bottom: 2px solid #D5D5D5;
}

.select-user-type > div {
    float: left;
    width: 50%;
    height: 100%;
}

.select-user-type > div > div:nth-of-type(1) {
    width: 100%;
    height: 10.28vw;
    line-height: 10.28vw;
    text-align: center;
    font-size: 4.18vw;
    color: #253137;
}

.select-user-type > div > div:nth-of-type(2) {
    width: 100%;
    height: 1.1vw;
}

.type-active > div:nth-of-type(1) {
    color: #009587 !important;
}

.type-active > div:nth-of-type(2) {
    background: #009587 !important;
}

.qplay-user ul li {
    width: 88.62vw;
    height: 10.79vw;
    padding: 6.87vw 3.71vw 2.14vw 7.67vw;
    border-bottom: 1px solid #d6d6d6;
}

.qplay-user-list > div:nth-of-type(1) {
    width: 100%;
    height: 6.5vw;
}

.qplay-user-list > div:nth-of-type(1) > div {
    float: left;
    color: #253137;
}

.qplay-user-list > div:nth-of-type(1) > div:nth-of-type(1) {
    width: 70%;
    height: 100%;
    font-size: 3.14vw;
}

.qplay-user-list > div:nth-of-type(1) > div:nth-of-type(2) {
    width: 30%;
    height: 100%;
    font-size: 4.18vw;
    text-align: right;
}

.qplay-user-list > div:nth-of-type(2) {
    width: 100%;
    height: 4vw;
    text-align: right;
    color: #989898;
    font-size: 3.14vw;
}

.other-user {
    display: none;
}

.other-user-input {
    width: 90.58vw;
    padding: 14.95vw 0 4.4vw 2vw;
    margin-left: 3.71vw;
    border-bottom: 1px solid #D6D6D6;
    
}

.other-user-input > input {
    border: none;
    outline: none;
    padding: 0;
    width: 90%;
    height: 100%;
    background-color: #F9F9F9;
    font-size: 4.18vw;
}

.other-user-input > img {
    width: 5vw;
    vertical-align: middle;
}

.other-user-btn {
    width: 100vw;
    height: 10vw;
    margin-top: 10vw;
}

.other-user-pwd {
    width: 33.5vw;
    height: 10vw;
    margin-left: 32.25vw;
    background: #d6d6d6;
    text-align: center;
    line-height: 10vw;
    color: #989898;
    font-size: 4.18vw;
}

.other-user-foot {
    width: 100vw;
    padding-top: 6vw;
    text-align: center;
    color: #666666;
    font-size: 3.14vw;
}