/********************************************** viewApplyInsurance *********************************************/

.apply-insurance-form, 
.apply-insurance-ddl,
.withdraw-insurance-ddl,
.stop-insurance-ddl,
.recover-insurance-ddl,
#newSubsidy,
#newHealthcard,
#newCertificate {
    color: #0f0f0f;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 4.3vw;
}

.apply-insurance-form>div:nth-of-type(2),
.apply-insurance-form>input,
#newSubsidy .overlap-label-icon,
#newSubsidy .overlap-label-text,
#newHealthcard .overlap-label-icon, 
#newHealthcard .overlap-label-text,
#newCertificate .overlap-label-icon, 
#newCertificate .overlap-label-text {
    margin-top: 1.16vw;
    margin-bottom: 2.14vw;
}

.apply-insurance-ddl>div:nth-of-type(2),
.withdraw-insurance-ddl>div:nth-of-type(2),
.stop-insurance-ddl>div:nth-of-type(2),
.recover-insurance-ddl>div:nth-of-type(2) {
    margin-top: 0.2vw;
    margin-bottom: 1vw;
}

#applyReason>select,
#withdrawReason>select,
#stopReason>select, 
#recoverReason>select {
    padding-left: 0;
}

#backPersonalInsurance {
    width: 4.934VW;
}

#backPersonalInsuranceFromApply,  
#backPersonalInsuranceFromDetail,
#backFamilyDataFromDetail,
#backApplyInsurance,
#backWithdrawDetail {
    width: 4.934VW;
    display: none;
}

#viewInsurApplication {
    margin: 5vw 3.71vw 0vw;
}

.overlap-label-icon {
    clear: both;
    float: left;
}

.overlap-label-text {
    line-height: 1;
    padding-left: 8.6vw;
    padding-top: 0.9vw;
    width: 85%;
    color: #0F0F0F;
    font-weight: normal;
    font-size: 4.18vw !important;
}

input[type=radio] {
    display:none;
}

input[type=radio] + label {
    background: url('../img/radio_blue.png') no-repeat;
    background-size: 5.47vw 5.47vw;
    height: 5.47vw;
    width: 5.47vw;
    display: inline-block;
    padding: 0 0 0 0;
}

input[type=radio]:checked + label {
    background: url('../img/radio_select_blue.png') no-repeat;
    background-size: 5.47vw 5.47vw;
    height: 5.47vw;
    width: 5.47vw;
    display: inline-block;
    padding: 0 0 0 0;
}

#newSubsidy>div:nth-of-type(2),
#newCertificate>div:nth-of-type(2),
#newHealthcard>div:nth-of-type(2) {
    display: inline-block;
}

#newSubsidy>div:nth-of-type(3),
#newCertificate>div:nth-of-type(3),
#newHealthcard>div:nth-of-type(3) {
    display: inline-block;
    margin-left: 8.196vw;
}

.reason-textarea {
    resize: none;
    width: 86vw;
    height: 9.17vw;
    border: 0;
    overflow-y: auto;
    -webkit-appearance: none;
}

.insur-button-style {
    overflow: hidden;
    background-color: #D6D6D7;
    color: #999999;
    border-style: none;
    text-align: center;
    line-height: 3.5;
    z-index: 990;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.apply-form-bottom>div:nth-of-type(2) {
    margin-top: 1.16vw;
}


.insurPreview-active-btn {
    background-color: #2A8ABD !important;
    border-color: #d6d6d6 !important;
    color: #ffffff !important;
}

.apply-button-style {
    overflow: hidden;
    background-color: #2A8ABD;
    color: #ffffff;
    border-style: none;
    border-color: #d6d6d6;
    text-align: center;
    line-height: 3.5;
    z-index: 990;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.right-apply-button-style {
    overflow: hidden;
    background-color: #2A8ABD;
    color: #ffffff;
    border-style: none;
    border-color: #d6d6d6;
    text-align: center;
    line-height: 3.5;
    z-index: 990;
    position: fixed;
    bottom: 0px;
    width: 49.8%;
    right: 0%;
}

.left-apply-button-style {
    overflow: hidden;
    background-color: #2A8ABD;
    color: #ffffff;
    border-style: none;
    border-color: #d6d6d6;
    text-align: center;
    line-height: 3.5;
    z-index: 990;
    position: fixed;
    bottom: 0px;
    width: 49.8%;
    float: left;
}

/*多個view有使用到*/
.popup-msg-style {
    width: 28VW;
    height: 4VW;
    margin: auto;
    opacity: 0.9;
    padding: 6.2VW 1VW 6.2VW 1VW;
    position: fixed;
    top: 70vw;
    left: 36vw;
    background-color: #666;
    border-radius: 1.5px;
    color: #F0F0F0;
    font-size: 3.6VW;
    text-align: center;
    z-index: 2;
    display: none;
}

.app-popup .main-cancel {
    text-align: center;
    color: #0f0f0f;
    padding: 0 5.36vw;
    margin: 0 0 8.5vw;
}