/******************** carousel ********************/
.carousel-widget {
    width: 100vw;
    height: 50vw;
}

.carousel-widget img {
    width: 100%;
    height: 100%;
}

/******************** weather ********************/
.weather-widget {
    width: 100vw;
    height: 30vw;
}

.weather-widget > div {
    float: left;
}

.weather-widget::after {
    clear: both;
}

.weather-temp {
    width: 32.5vw;
    height: 100%;
}

.weather-loca {
    width: 50vw;
    height: 100%;
    font-size: 4.25vw;
}

.weather-temp > div:nth-of-type(1) {
    height: 70%;
    text-align: center;
    line-height: 1.75;
    font-size: 14vw;
}

.weather-temp > div:nth-of-type(2) {
    height: 30%;
    font-size: 5vw;
    text-align: center;
}

.weather-loca > div:nth-of-type(1) {
    padding-top: 5vw;
}

.weather-loca > div:nth-of-type(2) {
    padding-top: 1.75vw;
}

.weather-img {
    width: 17.5vw;
    height: 100%;
}

.weather-img img {
    margin-top: 7vw;
}

/******************** reserve ********************/
.reserve-widget {
    width: 100vw;
    min-height: 40vw;
}

.personal-info {
    width: 91vw;
    height: 17vw;
    padding: 3.04vw 3.71vw 2.4vw 5.92vw;
}

.personal-info > div {
    float: left;
}

.personal-info::after {
    clear: both;
}

.personal-info > div:nth-of-type(1) {
    width: 17vw;
    height: 17vw;
}

.personal-info > div:nth-of-type(1) img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.personal-info > div:nth-of-type(2) {
    width: 65vw;
    height: 17vw;
    margin-left: 4.71vw;
}

.personal-info > div:nth-of-type(2) > div:nth-of-type(1) {
    padding: 2.5vw 0 2vw;
    color: #253137;
    font-size: 4.81vw !important;
}

.personal-info > div:nth-of-type(2) > div:nth-of-type(2) {
    color: #90a4ae;
    font-size: 3.55vw !important;
}

.personal-res {
    width: 92.58vw;
    padding: 0 3.71vw;
}

.personal-res ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.personal-res ul li {
    height: 12vw;
    padding: 2vw 2vw;
    border-bottom: 1px solid #d6d6d6;
}

.personal-res ul li:last-of-type {
    border: none;
}

.reserve-today > div {
    float: left;
}

.reserve-today > div:nth-of-type(1) {
    width: 21vw;
    height: 12vw;
    text-indent: 2vw;
    border-left: 1px solid #49aaa0;
}

.reserve-today > div:nth-of-type(1) > div {
    height: 6vw;
    line-height: 6vw;
}

.reserve-today > div:nth-of-type(1) > div:nth-child(1) {
    color: #797979;
    font-size: 3.768vw !important;
}

.reserve-today > div:nth-of-type(1) > div:nth-child(2) {
    color: #b3b3ae;
    font-size: 3.55vw !important;
}

.reserve-today > div:nth-of-type(2) {
    width: 65vw;
    height: 12vw;
    line-height: 12vw;
    overflow: hidden;
    color: #253137;
    font-size: 3.768vw !important;
}

.widget-reserve-null {
    width: 90vw;
    height: 20vw;
    line-height: 16vw;
    padding-left: 3vw;
    color: #253137;
    font-size: 3.768vw !important;
}

/******************** message ********************/
.message-widget {
    width: 100vw;
    min-height: 25vw;
}

.widget-msg-list {
    padding: 3.28vw 3.71vw 3.28vw 5.92vw;
    border-bottom: 1px solid #d6d6d6;
}

.widget-msg-list:last-of-type {
    border: none;
}

.widget-msg-time {
    padding-bottom: 1vw;
    color: #8fa4ad;
    font-size: 3.14vw !important;
}

.widget-msg-title {
    width: 100%;
    height: 9vw;
    color: #253137;
    font-size: 3.768vw !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.widget-none-msg {
    height: 20vw;
    line-height: 20vw;
    padding-left: 5vw;
}

/******************** applist ********************/
.applist-widget {
    width: 100vw;
    height: 38vw;
}

.applist-widget > .applist-title {
    padding: 4.3vw 0 2.14vw 5.92vw;
    color: #253137;
    font-size: 3.349vw !important;
}

.applist-widget > .applist-main {
    height: 25vw;
    padding-left: 5.92vw;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.applist-widget > .applist-main ::-webkit-scrollbar {
    display: none;
}

.applist-main-icon {
    width: 200vw;
    height: 100%;
}

.applist-item {
    width: 18vw;
    float: left;
    margin-right: 3.28vw;
}

.app-list-name {
    color: #253137;
    font-size: 3.349vw !important;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/******************** qpay ********************/
.qpay-widget {
    width: 100vw;
    height: 20vw;
}