/******************** widget ********************/
.widget-header {
    width: 100%;
    height: 12.54vw;
}

.widget-header>div {
    float: left;
    height: 100%;
}

.widget-header>div:nth-of-type(1) {
    width: 90%;
    line-height: 12.54vw;
    color: #233138;
    font-size: 3.349vw;
    text-indent: 6vw;
}

.widget-header>div:nth-of-type(2) {
    width: 10%;
}

.widget-header>div:nth-of-type(2)>img {
    width: 10vw;
    margin-top: 2.5vw;
}

.widget-more {
    width: 100%;
    height: 10.5vw;
}

.widget-more>div {
    width: 6.44vw;
    height: 6.44vw;
    margin-left: 90vw;
}

.widget-more img {
    width: 6.44vw;
}

.widget-msg {
    width: 90vw;
    height: 10vw;
    padding: 5vw 5vw 0 5vw;
    text-indent: 6vw;
    font-size: 3.349vw;
    color: #666;
    word-break: break-all;
    word-wrap: break-word;
    display: none;
}

/******************** carousel ********************/
.carousel-widget {
    width: 100vw !important;
    height: 45vw !important;
}

.sw-slides img {
    width: 100%;
    height: 100%;
}

/* 顶部公告 */
.top-bulletin {
    width: 100%;
    height: 10vw;
    background: #EDECEC;
    display: none;
}

.top-bulletin>div {
    float: left;
    height: 100%;
}

.bulletin-close {
    width: 12vw;
}

.bulletin-close img {
    width: 8vw;
    margin-top: 1vw;
    margin-left: 3vw;
}

.bulletin-icon {
    width: 8vw;
}

.bulletin-icon img {
    width: 5.5vw;
    margin-top: 2vw;
}

.bulletin-text {
    width: 58vw;
    line-height: 10.5vw;
    font-size: 3.55vw;
    color: #253137;
    overflow: hidden;
}

.bulletin-text span {
    position: relative;
    -webkit-animation: marquee 10s linear infinite;
    -moz-animation: marquee 10s linear infinite;
    -ms-animation: marquee 10s linear infinite;
    -o-animation: marquee 10s linear infinite;
    animation: marquee 10s linear infinite;
}

.bulletin-link {
    width: 22vw;
}

.bulletin-link div {
    width: 15vw;
    height: 5.5vw;
    background: #4FAEA5;
    color: #FFF;
    font-size: 3.14vw;
    line-height: 6vw;
    text-align: center;
    margin-top: 2vw;
    margin-left: 3vw;
    border-radius: 2px;
}

/* Safari 和 Chrome */
@-webkit-keyframes marquee {
    from {
        left: 95%;
    }

    to {
        left: -100%;
    }
}

/* Firefox */
@-moz-keyframes marquee {
    from {
        left: 95%;
    }

    to {
        left: -100%;
    }
}

@-ms-keyframes marquee {
    0% {
        left: 95%;
    }

    100% {
        left: -100%;
    }
}

/* Opera */
@-o-keyframes marquee {
    from {
        left: 95%;
    }

    to {
        left: -100%;
    }
}

@keyframes marquee {
    from {
        left: 95%
    }

    to {
        left: -100%
    }
}

/******************** weather ********************/
.weather-widget {
    width: 100vw;
    height: 30vw;
}

.weather-widget>div {
    float: left;
}

.weather-widget::after {
    clear: both;
}

.weather-temp {
    width: 32vw;
    height: 100%;
}

.weather-loca {
    width: 50vw;
    height: 100%;
    font-size: 4.8vw;
}

.weather-temp>div:nth-of-type(1) {
    height: 70%;
    text-align: center;
    line-height: 1.75;
    font-size: 14vw;
}

.weather-temp>div:nth-of-type(2) {
    height: 30%;
    font-size: 5vw;
    text-align: center;
}

.weather-loca>div:nth-of-type(1) {
    padding-top: 6vw;
}

.weather-loca>div:nth-of-type(2) {
    padding-top: 2vw;
}

.weather-img {
    width: 17.5vw;
    height: 100%;
}

.weather-img img {
    margin-top: 7vw;
}

/******************** reserve ********************/
.reserve-widget {
    width: 100vw;
    min-height: 40vw;
}

.personal-info {
    width: 91vw;
    height: 17vw;
    padding: 3.04vw 3.71vw 2.4vw 5.92vw;
}

.personal-info>div {
    float: left;
}

.personal-info::after {
    clear: both;
}

.personal-info>div:nth-of-type(1) {
    width: 17vw;
    height: 17vw;
}

.personal-info>div:nth-of-type(1) img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.personal-info>div:nth-of-type(2) {
    width: 65vw;
    height: 17vw;
    margin-left: 4.71vw;
}

.personal-info>div:nth-of-type(2)>div:nth-of-type(1) {
    padding: 2.5vw 0 2vw;
    color: #253137;
    font-size: 4.81vw !important;
}

.personal-info>div:nth-of-type(2)>div:nth-of-type(2) {
    color: #90a4ae;
    font-size: 3.55vw !important;
}

.personal-res {
    width: 92.58vw;
    padding: 0 3.71vw;
}

.personal-res ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.personal-res ul li {
    height: 12vw;
    padding: 2vw 2vw;
    border-bottom: 1px solid #d6d6d6;
}

.personal-res ul li:last-of-type {
    border: none;
}

.reserve-today>div {
    float: left;
}

.reserve-today>div:nth-of-type(1) {
    width: 21vw;
    height: 12vw;
    text-indent: 2vw;
    border-left: 1px solid #49aaa0;
}

.reserve-today>div:nth-of-type(1)>div {
    height: 6vw;
    line-height: 6vw;
}

.reserve-today>div:nth-of-type(1)>div:nth-child(1) {
    color: #797979;
    font-size: 3.768vw !important;
}

.reserve-today>div:nth-of-type(1)>div:nth-child(2) {
    color: #b3b3ae;
    font-size: 3.55vw !important;
}

.reserve-today>div:nth-of-type(2) {
    width: 65vw;
    height: 12vw;
    line-height: 12vw;
    overflow: hidden;
    color: #253137;
    font-size: 3.768vw !important;
}

.widget-reserve-null {
    width: 90vw;
    height: 20vw;
    line-height: 16vw;
    padding-left: 3vw;
    color: #253137;
    font-size: 3.768vw !important;
    /* display: none; */
}

/******************** message ********************/
.message-widget {
    width: 100vw;
    min-height: 25vw;
}

.widget-msg-list {
    padding: 3.28vw 3.71vw 3.28vw 5.92vw;
    border-bottom: 1px solid #d6d6d6;
    font-weight: bold;
}

.normal-font-weight {
    font-weight: normal;
}

.widget-msg-list:last-of-type {
    border: none;
}

.widget-msg-time {
    padding-bottom: 1vw;
    color: #8fa4ad;
    font-size: 3.14vw !important;
}

.widget-msg-title {
    width: 100%;
    height: 9vw;
    color: #253137;
    font-size: 3.768vw !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.widget-none-msg {
    height: 20vw;
    line-height: 20vw;
    padding-left: 5vw;
    font-size: 4.18vw;
}

/******************** applist ********************/
.applist-widget {
    width: 100vw;
    height: 38vw;
}

.applist-widget>.applist-title {
    padding: 4.3vw 0 2.14vw 5.92vw;
    color: #253137;
    font-size: 3.349vw !important;
}

.applist-widget>.applist-main {
    height: 25vw;
    padding-left: 5.92vw;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.applist-widget>.applist-main ::-webkit-scrollbar {
    display: none;
}

.applist-main-icon {
    width: 200vw;
    height: 100%;
}

.applist-item {
    width: 18vw;
    float: left;
    margin-right: 3.28vw;
}

.app-list-name {
    color: #253137;
    font-size: 3.349vw !important;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/******************** accountingrate ********************/
.accountingrate-widget {
    width: 100vw;
    min-height: 35vw;
}

.rate-title {
    width: 100%;
    height: 12.54vw;
}

.rate-title>div {
    float: left;
    height: 100%;
}

.rate-title>div:nth-of-type(1) {
    width: 90%;
    line-height: 12.54vw;
    color: #233138;
    font-size: 3.349vw;
    text-indent: 6vw;
}

.rate-title>div:nth-of-type(2) {
    width: 10%;
}

.rate-title>div:nth-of-type(2)>img {
    width: 10vw;
    margin-top: 2.5vw;
}

.rate-favorite-ul {
    display: none;
}

.rate-list-li {
    width: 92.58vw;
    height: 13.3vw;
    margin: 0 3.71vw;
    border-bottom: 1px solid #d6d6d6;
}

.rate-list-li:last-of-type {
    border-bottom: none !important;
}

.rate-list-li>div {
    float: left;
    height: 100%;
}

.rate-list-li>div:nth-of-type(1) {
    width: 20vw;
}

.rate-list-li>div:nth-of-type(1) img {
    width: 8vw;
    margin-left: 7vw;
    margin-top: 2.5vw;
}

.rate-list-li>div:nth-of-type(2) {
    width: 23vw;
    line-height: 14vw;
    color: #253137;
    font-size: 3.97vw;
}

.rate-list-li>div:nth-of-type(3) {
    width: 4vw;
    line-height: 13.3vw;
}

.rate-list-li>div:nth-of-type(4) {
    width: 6vw;
}

.rate-list-li>div:nth-of-type(4) img {
    width: 4vw;
    margin-top: 4.5vw;
}

.rate-list-li>div:nth-of-type(5) {
    width: 13vw;
}

.rate-list-li>div:nth-of-type(5) img {
    width: 8vw;
    margin-top: 2.5vw;
}

.rate-list-li>div:nth-of-type(6) {
    width: 26vw;
    line-height: 14vw;
    color: #253137;
    font-size: 3.97vw;
}

.rate-update-date {
    width: 100%;
    height: 7vw;
    text-align: center;
    color: #666;
    font-size: 3.349vw;
}

.rate-no-favorite {
    width: 90vw;
    height: 10vw;
    padding: 5vw 5vw 0 5vw;
    text-indent: 6vw;
    font-size: 3.349vw;
    color: #666;
    word-break: break-all;
    word-wrap: break-word;
    display: none;
}

.rate-footer {
    width: 100%;
    height: 10.5vw;
}

.rate-footer>div {
    width: 6.44vw;
    height: 6.44vw;
    margin-left: 90vw;
}

.rate-footer img {
    width: 6.44vw;
}

/******************** yellowpage ********************/
.yellowpage-widget {
    width: 100vw;
    min-height: 35vw;
}

.yellowpage-widget-title {
    width: 100%;
    height: 12.54vw;
}

.yellowpage-widget-title>div {
    float: left;
    height: 100%;
}

.yellowpage-widget-title>div:nth-of-type(1) {
    width: 90%;
    line-height: 12.54vw;
    color: #233138;
    font-size: 3.349vw;
    text-indent: 6vw;
}

.yellowpage-widget-title>div:nth-of-type(2) {
    width: 10%;
}

.yellowpage-widget-title>div:nth-of-type(2)>img {
    width: 10vw;
    margin-top: 2.5vw;
}

.yellowpage-phone-book {
    padding-bottom: 4vw;
}

.phone-book-ul {
    display: none;
}

.phone-book-li {
    width: 92.58vw;
    height: 13.3vw;
    margin: 0 3.71vw;
    border-bottom: 1px solid #d6d6d6;
}

.phone-book-li:last-of-type {
    border-bottom: none !important;
}

.phone-book-li>div {
    float: left;
    height: 100%;
}

.phone-book-li>div:nth-of-type(1) {
    width: 50vw;
}

.phone-book-name>div:nth-of-type(1) {
    height: 7vw;
    color: #253137;
    font-size: 3.97vw;
    text-indent: 3vw;
    line-height: 8.5vw;
}

.phone-book-name>div:nth-of-type(2) {
    height: 6.3vw;
    color: #666;
    font-size: 3.55vw;
    text-indent: 3vw;
}

.phone-book-li>div:nth-of-type(2) {
    width: 7vw;
}

.phone-book-li>div:nth-of-type(2) img {
    width: 3.5vw;
    margin-top: 4.5vw;
}

.phone-book-li>div:nth-of-type(3) {
    width: 24vw;
    line-height: 13vw;
    font-size: 3.768vw;
}

.phone-book-li>div:nth-of-type(3) a {
    color: #1F84BC;
    text-decoration: none;
    font-weight: normal;
}

.phone-book-li>div:nth-of-type(3) a:visited,
.phone-book-li>div:nth-of-type(3) a:hover {
    color: #1F84BC;
}

.phone-book-li>div:nth-of-type(4) {
    width: 10vw;
}

.phone-book-li>div:nth-of-type(4) img {
    width: 6vw;
    margin-top: 3.25vw;
}

.no-phone-book {
    display: none;
}

.phone-book-msg {
    width: 90vw;
    height: 10vw;
    padding: 5vw 5vw 0 5vw;
    text-indent: 6vw;
    font-size: 3.349vw;
    color: #666;
    word-break: break-all;
    word-wrap: break-word;
}

.phone-book-more {
    width: 100%;
    height: 6vw;
}

.phone-book-more img {
    width: 6vw;
    margin-left: 88vw;
}

/* mvpn select popup window for yellow page */
#numSelectPopupWindow-popup {
    left: 10% !important;
}

#numSelectPopupWindow #msgTitle {
    margin: 0 5%;
    padding: 5% 0;
    font-size: 5vw;
    border-bottom: 1px solid #d4d4d4;
    position: relative;
}

#numSelectPopupWindow ul {
    list-style: none;
    padding: 0;
}

#numSelectPopupWindow li {
    font-size: 4.5vw;
    font-family: Arial;
    font-weight: normal;
    padding-bottom: 5%;
}

#numSelectPopupWindow li:first-of-type {
    padding-top: 5%;
}

#numSelectPopupWindow li a {
    color: #2d87ba;
}

#numSelectPopupWindow img {
    margin-right: 1.9vw;
}

#numPopupCloseBtn {
    width: 7%;
    position: absolute;
    right: 0;
    top: 5%;
}

#numPopupCloseBtn:after {
    content: "\d7";
    font-size: 7vw;
    font-weight: normal;
}

/******************** idea ********************/
.idea-widget {
    width: 100vw;
    min-height: 35vw;
}

.idea-main {
    width: 100%;
    height: 17vw;
    display: none;
}

.idea-main>div {
    float: left;
    height: 100%;
}

.idea-main>div:nth-of-type(1) {
    width: 23.7%;
}

.idea-main>div:nth-of-type(1)>div {
    width: 14.5vw;
    height: 14.5vw;
    margin-left: 5.92vw;
    background: #d6d6d6;
    border-radius: 2px;
}

.idea-main>div:nth-of-type(2) {
    width: 72.6%;
}

.idea-main>div:nth-of-type(2)>div:nth-of-type(1) {
    height: 9vw;
    color: #263238;
    font-size: 3.768vw;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 2vw;
}

.idea-main>div:nth-of-type(2)>div:nth-of-type(2) {
    color: #8fa4ac;
    font-size: 3.14vw;
}

.idea-footer {
    width: 100%;
    height: 10.5vw;
}

.idea-footer>div {
    width: 6.44vw;
    height: 6.44vw;
    margin-left: 90vw;
}

.idea-footer img {
    width: 6.44vw;
}

.idea-none {
    width: 90vw;
    height: 10vw;
    padding: 5vw 5vw 0 5vw;
    text-indent: 6vw;
    font-size: 3.349vw;
    color: #666;
    word-break: break-all;
    word-wrap: break-word;
    display: none;
}

/******************** qpay ********************/
.qpay-widget {
    width: 100vw;
    min-height: 41vw;
}

.qpay-main,
.qpay-more-hidden {
    display: none;
}

.qpay-due {
    width: 100%;
    color: #989898;
    font-size: 3.349vw;
    text-align: center;
}

.qpay-point {
    width: 100%;
    text-align: center;
    margin-top: 2.37vw;
}

.qpay-point>span:nth-of-type(1) {
    font-size: 3.768vw;
    vertical-align: middle;
}

.qpay-point>span:nth-of-type(2),
.qpay-point>span:nth-of-type(3) {
    font-size:5.02vw;
}

.qpay-btn {
    width: 100%;
    height: 6.44vw;
    margin-top: 4.3vw;
}

.qpay-btn>div{
    width: 18.8vw;
    height: 6.44vw;
    margin: auto;
    background: #4BB5AB;
    color: #fff;
    font-size: 3.14vw;
    text-align: center;
    line-height: 6.44vw;
}

/******************** qpay test ********************/
.qpay-link {
    width: 90vw;
    height: 13.04vw;
    padding: 6.24vw 3.71vw 6.24vw 5.92vw;
}

.qpay-link>div {
    float: left;
}

.qpay-link>div:nth-of-type(1) {
    width: 16vw;
    height: 100%;
}

.qpay-link>div:nth-of-type(2) {
    width: 69vw;
    height: 100%;
    line-height: 13vw;
}

/*********************** qstore ***********************/
.qstore-widget {
    width: 100vw;
    min-height: 35vw;
}

.qstore-main {
    width: 100%;
    height: 17vw;
}

.qstore-main>div {
    float: left;
    height: 100%;
}

.qstore-main>div:nth-of-type(1) {
    width: 49%;
    border-right: 1px solid #98989898;
}

.qstore-main>div:nth-of-type(1)>div>img {
    width: 10.63vw;
    height: 11.27vw;
    margin-left: 50%;
    border-radius: 2px;
}

.qstore-main>div:nth-of-type(2) {
    width: 50%;
}

.qstore-main>div:nth-of-type(2)>div>img {
    width: 10.63vw;
    height: 11.27vw;
    margin-left: 30%;
    border-radius: 2px;
}

.store-near {
    margin-left: 35%;
    color: #253137;
    font-size: 3.768vw;
}

.store-all {
    margin-left: 20%;
    color: #253137;
    font-size: 3.768vw;
}

/*********************** staff ***********************/
.staff-update {
    text-align: center;
    font-size: 3.349vw;
    color: #666;
}

.staff-none {
    display: block;
    text-align: center;
    text-indent: 0;
    font-size: 3.349vw;
    color: #666;
}

/*********************** staff menu ***********************/
.staff-menu-mask{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1001;
    display: none;
}

.staff-menu-main{
    position: absolute;
    width: 60vw;
    top: 0;
    left: 100vw;
    right: 0;
    bottom: 0;
    background: #CECECD;
}

.staff-menu-list li{
    width: 100%;
    height: 15vw;
    padding-left: 5vw;
    background: #fff;
    border-bottom: 1px solid #d6d6d6;
    line-height: 15vw;
    color: #253137;
    font-size: 4.18vw;
    display: flex;
}

.staff-menu-list li:last-of-type{
    border: none;
}

.staff-menu-list li span{
    display: inline-block;
    width: 10vw;
    height: 5vw;
    background: #49BA82;
    color: #fff;
    font-size: 3.14vw;
    margin: auto 2vw;
    border-radius: 10px;
    line-height: 5.5vw;
    text-align: center;
}

.active-menu{
    background-color: #492f7f !important;
    color: #ffffff !important;
}