/*************************** viewStaffUserReserve ********************************/
#viewStaffUserReserve .ui-content.page-main{
    width: 100vw;
    padding: 0 !important;
    position: fixed;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.tea-reserve-today>div:nth-of-type(1){
    width: 92.58vw;
    padding: 5vw 3.71vw 2.14vw;
    background: #f9f9f9;
    color: #0f0f0f;
    font-size: 3.14vw;
}

.tea-reserve-today>div:nth-of-type(2){
    width: 100vw;
    background: #ffffff;
}

.tea-reserve-after{
    background: #f9f9f9;
}

.tea-reserve-after>div:nth-of-type(1){
    width: 92.58vw;
    padding: 6.44vw 3.71vw 2.14vw;
    color: #0f0f0f;
    font-size: 3.14vw;
}

.tea-reserve-after>div:nth-of-type(2){
    width: 100vw;
}

.tea-today-list li,
.tea-after-list li{
    width: 92.58vw;
    height: 4vw;
    padding: 5vw 0;
    margin-left: 3.71vw;
    border-bottom: 1px solid #d6d6d6;
    color: #253137;
    font-size: 3.768vw;
}

.tea-today-list li:last-of-type,
.tea-after-list li:last-of-type{
    border: none;
}

.tea-reserve-list>div{
    float: left;
    height: 100%;
}

.tea-reserve-list>div:nth-of-type(1){
    width: 76.58vw;
}

.tea-reserve-list>div:nth-of-type(2){
    width: 9vw;
}

.delete-my-reserve{
    background: url(img/delete.png) no-repeat;
    background-size: 4vw;
}

.tea-reserve-list>div:nth-of-type(3){
    width: 6vw;
}

.edit-my-reserve{
    background: url(img/edit.png) no-repeat;
    background-size: 4vw;
}

.reserveTeaNow .ui-content,
.reserveTeaAfter .ui-content,
.reserveTeaDelete .ui-content,
.reserveTeaLate .ui-content{
    padding: 0;
}

.reserveTeaNow .ui-content .header{
    margin-top: 7vw;
}

.reserveTeaAfter .ui-content .header{
    margin-top: 6vw;
}

.reserveTeaDelete .ui-content .header{
    margin-top: 8vw;
}

.reserveTeaLate .ui-content .header{
    margin-top: 10vw;
}

.reserveTeaLate .ui-content .footer{
    margin-top: 8vw;
}