<?xml version="1.0"?>
<configuration> 
  <appSettings>
    <add key="jpush_app_key" value="e343504d536ebce16b70167e" />
    <add key="jpush_master_secret" value="62f87cad6de67db6c968ba50" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
