<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="ITS.Data">
            <section name="settings" type="ITS.Data.Configuration.ConfigurationSetting, ITS.Data" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <ITS.Data>
        <settings cache="true" logging="true" trace="true">
            <entities>
            </entities>
        </settings>
    </ITS.Data>
    <connectionStrings>
        <add name="dbGaia" connectionString="Database=qplay;Data Source=O-A05X;User Id=sa;Password=mn-123456;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="FilePath" value="E:\QTuunel\Sync" />
        <add key="ViewName" value="Qp_User_Flower" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="MaxRows" value="" />
        <!-- MaxRows 會填入 Select [MaxRows] * From [ViewName] , 務必確認語法正確, 符合MySQL 或 SQL Server規範-->
        <add key="MySQL" value="Server=10.82.246.95; database=qplay; UID=eHRDB; password=XXX" />
        <!-- connectionStrings 或 MySQL 擇一填寫, 以MySQL優先 -->
    </appSettings>
    <log4net>
        <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
        <!-- Set root logger level to ERROR and its appenders -->
        <root>
            <level value="ALL" />
            <appender-ref ref="SysAppender" />
        </root>
        <!-- Print only messages of level DEBUG or above in the packages -->
        <logger name="Logger">
            <level value="DEBUG" />
        </logger>
        <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
            <param name="File" value="Log/" />
            <param name="AppendToFile" value="true" />
            <param name="RollingStyle" value="Date" />
            <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
            <param name="StaticLogFileName" value="false" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
            </layout>
        </appender>
        <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
            </layout>
        </appender>
    </log4net>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
    <entityFramework>
        <providers>
            <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
            </provider>
        </providers>
    </entityFramework>
</configuration>