<!-- Start of detail_info_page -->
<div data-role="page" id="viewDetailInfo">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a href="#" name="goPrevPage" data-role="none">
            <img src="img/component/back_nav.png" style="width:6VW;">
        </a>
        <div class="header-style">
            <h4 class="ui-title">
                <!--詳細資料-->
                <span class="langStr" data-id="str_016"></span>
            </h4>
        </div>
    </div>
    <div id="detial-name-title">
        <div class="detial-name" id="eName">
            <!--  english name  -->
        </div>
        <div class="detial-name" id="cName">
            <!-- chinese name -->
        </div>
        <a id="addStar" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn star">
            <img src="img/favorite_d.png" style="width:7.246VW;">
        </a>
        <a id="deleteStar" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn star">
            <img src="img/favorite_s.png" style="width:7.246VW;">
        </a>
    </div>
    <div data-role="main" class="ui-content" id="DetailInfo">
        <ul data-role="listview" data-icon="false" id="detail-data" style="margin-top: 2VH;">
            <li class="liststyle">
                <div>
                    <p class="item-name">
                        <!--分機-->
                        <span class="langStr" data-id="str_017"></span>
                    </p>
                    <p id="extNo" class="item-content">
                        <!--8100-6162-->
                    </p>
                </div>
            </li>
            <li class="liststyle">
                <div>
                    <p class="item-name">
                        <!--公司-->
                        <span class="langStr" data-id="str_018"></span>
                    </p>
                    <p class="company-data item-content">
                        <span class="company" id="companyName"></span>
                    </p>
                </div>
            </li>
            <li class="liststyle">
                <div>
                    <p class="item-name">
                        <!--部門-->
                        <span class="langStr" data-id="str_019"></span>
                    </p>
                    <p id="dept" class="item-content"></p>
                </div>
            </li>
            <li class="liststyle">
                <div>
                    <p class="item-name">
                        <!--部門名稱-->
                        <span class="langStr" data-id="str_006"></span>
                    </p>
                    <p id="deptCode" class="item-content"></p>
                </div>
            </li>
            <li class="liststyle">
                <div>
                    <p class="item-name">
                        <!--事業區-->
                        <span class="langStr" data-id="str_020"></span>
                    </p>
                    <p id="sideCode" class="item-content">
                        <!--NMH-->
                    </p>
                </div>
            </li>
            <!--<li class="liststyle">
                <div>
                    <p class="item-name">工號</p>
                    <p id="employeeID" class="item-content">
                        0806022
                    </p>
                </div>
            </li>-->
            <li class="liststyle">
                <div>
                    <p class="item-name">E-mail</p>
                    <p id="eMail" class="item-content">
                        <!--WEQESDF.QWQESFSFS@BenQ.com-->
                    </p>
                </div>
            </li>
        </ul>
        <template id="tplaskAddPhonebook">
            <div class="header font-style3">
                <!--確定要加到我的電話簿?!-->
                <span class="langStr" data-id="str_021"></span>
            </div>
            <div class="footer">
                <div class="btn-two font-style0">
                    <div class="cancel">
                        <!--取消-->
                        <span class="langStr" data-id="com_023"></span>
                    </div>
                    <div class="confirm">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </template>
        <template id="tplDeletePhonebook">
            <div class="header font-style3">
                <!--確定要從我的電話簿刪除?!-->
                <span class="langStr" data-id="str_022"></span>
            </div>
            <div class="footer">
                <div class="btn-two font-style0">
                    <div class="cancel testa">
                        <!--取消-->
                        <span class="langStr" data-id="com_023"></span>
                    </div>
                    <div class="confirm">
                        <!--確定-->
                        <span class="langStr" data-id="com_016"></span>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>
