<!-- Start of viewPhonebook -->
<div data-role="page" id="viewPhonebook">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a href="#" class="ui-btn ui-icon-edit ui-btn-icon-left ui-btn-icon-notext ui-btn-b" id="phonebookEdit"></a>
        <div class="header-style">
            <h4 class="ui-title">
                <!--我的電話簿-->
                <span class="langStr" data-id="str_002"></span>
            </h4>
            <div class="ui-grid-c vice-header" data-position="fixed">
                <div class="ui-block-a title company"><div class="ui-bar ui-bar-a">
                    <!--公司-->
                    <span class="langStr" data-id="str_018"></span>
                </div></div>
                <div class="ui-block-b title e-name"><div class="ui-bar ui-bar-a">
                    <!--英文名字-->
                    <span class="langStr" data-id="str_023"></span>
                </div></div>
                <div class="ui-block-c title c-name"><div class="ui-bar ui-bar-a">
                    <!--中文名字-->
                    <span class="langStr" data-id="str_024"></span>
                </div></div>
            </div>
        </div>
        <a href="#viewDataInput" class="ui-btn ui-icon-home ui-btn-icon-left ui-btn-icon-notext ui-btn-b"></a>
    </div>

    <div data-role="main" class="page-main">
        <ul data-role="listview" data-icon="false" class="q-result-grid" id="myPhonebookList">
        </ul>
    </div>

    <div data-role="footer" data-position="fixed" data-theme="b" id="phonebookEditBtn" class="hide">
        <div data-role="navbar" data-iconpos="top" class="custom-navbar">
            <ul>
                <li>
                    <a href="#" data-icon="check" id="selectAll">
                        <!--選擇全部-->
                        <span class="langStr" data-id="str_025"></span>
                    </a>
                    <a href="#" data-icon="check" id="unselectAll">
                        <!--取消全部-->
                        <span class="langStr" data-id="str_026"></span>
                    </a>
                </li>
                <li><a href="#" data-rel="popup" data-position-to="window" data-transition="pop" data-icon="delete" id="phoneDelete">刪除聯絡人</a></li>
            </ul>
        </div>
    </div>
</div>
