<!-- Start of viewQueryResult -->
<div data-role="page" id="viewQueryResult">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header" data-tap-toggle="false">
        <a id="buttonBack" href="#viewDataInput" data-role="none">
            <img src = "img/component/back_nav.png" style="width:6VW;">
        </a>
        <div class="header-style">
            <h4 class="ui-title">
                <!--查詢結果-->
                <span class="langStr" data-id="str_028"></span>
            </h4>
        </div>
    </div>

    <div data-role="main" class="ui-content page-main" style="background-color: white;">
        <ul data-role="listview" data-icon="false" class="q-result-grid" id="employeeData">
        </ul>
    </div>
    <div id="errorMsg" style="display:none;" class="error-msg">
        <!--您搜尋的結果最多顯示-->
        <span class="langStr" data-id="str_029"></span>
        <span class="max-value"></span>
        <!--筆-->
        <span class="langStr" data-id="str_030"></span><br>
        <!--如找不到您要的資料，請將搜尋範圍在縮小-->
        <span class="langStr" data-id="str_031"></span>
    </div>
    <div id="errorMsg2" style="display:none;" class="error-msg">
        <!--您搜尋的結果為0筆-->
        <span class="langStr" data-id="str_032"></span>
        <br>
        <!--如找不到您要的資料，請更新搜尋條件-->
        <span class="langStr" data-id="str_033">
    </div>
</div>
