/*Tag Frag*/

.
/*Tag Frag-----------------------------------------------*/

.test {}

;
.buttonfirst {
    display: inline-block;
    float: left;
    width: 35%;
    margin-left: 3.71VW;
}


/*head button*/

.buttonone {
    display: inline-block;
    float: left;
    width: 50%;
    padding-left: 3.71vw;
    position: relative;
    background-color: white !important;
}

.buttontwo {
    display: inline-block;
    float: left;
    width: 42%;
    padding-left: 3.71vw;
    background-color: white !important;
}

.buttononea,
.buttontwoa {
    display: inline-block;
    margin-top: 3.99VW background-color: #FFFFFF;
    height: 10VW;
    padding: 1VW;
}

.buttononeFlag1,
.buttononeFlag2 {
    float: left;
    display: inline-block;
    width: 7.24VW;
    margin-left: 2.523vw;
    margin-top: 3VW;
}

.buttononeFlag1non {
    display: none;
}

.buttononeCountry1,
.buttononeCountry2 {
    float: left;
    display: inline-block;
    margin-top: 3.99VW;
    margin-left: 2VW;
    color: #000000;
    margin-right: 3VW;
    font-weight: lighter;
}


.buttonone4img {
    float: left;    
    display: inline-block;
    width: 4VW;
    margin-top: 5.5VW;
    position: absolute;  
    right: 15.246VW;
}

.buttonone3img {
    float: left;
    display: inline-block;
    width: 4VW;
    margin-top: 5.5VW;
    position: absolute;
    right: 7.42VW;

    /* position: absolute;
    right: 2VW;
    */
}



.buttontransferdiv {
    display: inline-block;
    float: left;
    width: 5VW;
}

.buttontransfer {
    width: 6.79VW;
    float: left;
    display: inline-block;
    position: absolute;
    left: 47VW;
    top: 30%;
}


/*head button ----------------------------0 2VW;*/

.frag .frag0 {
    margin-top: 3.99VW;
    padding: 0 2VW;
    background-color: white !important;
}

.frag2 {
    font-size: 4.18VW;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 4VW;
    font-weight: normal!important;
    ;
}

.frag1 {
    /* top for the Nov Oct */
    margin-top: 3.99VW;
    font-size: 4.18VW;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 4VW;
    font-weight: normal!important;
}


/*Main        ----------------------------*/

.mainword {
    height: 16VW;
    margin-top: 2.999VW;
    border-top: #AAAAAA 0.1px solid !important;
}

.mainword1 {
    /*  text-align : center;*/
    font-size: 4.18VW;
    color: #0F0F0F;
    margin-top: 5VW;
}

.mainword2,
.mainword3 {
    font-size: 3.349VW;
    color: #666;
}


/*Main       ----------------------------*/

#contentID {
    margin-top: 4.3VW;
    margin-bottom: 4.3VW;
}


/*list        ----------------------------*/

.CountryA {
    background-color: #f9f9f9!important;
}

#ultestA{
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling :touch;
}

#ultestA li {
    border-bottom: #DDDDDD 0.1px solid !important;;
     ;
    float: left;
    width: 100VW;
    /* 20170414 */
    /* 20170419 */
}

#ultestB li {
    border-bottom: #DDDDDD 0.1px solid;
    float: left;
    width: 100VW;
    /* 20170414 */
    /* 20170419 */
}

.firstli {
    border-top: honeydew !important;
}

.Listdiv1 {
    /*list */
    display: inline-block;
    float: left;
    width: 47%;
    padding-left: 5.3VW;
    overflow: hidden;
    position: relative;
}

.Listdiv2 {
    /*list */
    display: inline-block;
    width: 47%;
    float: left;
    overflow: hidden;
}


/* Flag */

.ListviewFlag1,
.ListviewFlag2 {
    float: left;
    margin-left: 1VW;
    width: 7.24VW;
    display: inline-block;
    /* background-repeat: no-repeat;
    background-size:5vw;   
    float: left;           
    */
    padding: 2.33vw 0;
}


/* Flag Popup*/

.ListviewFlag1popup {
    float: left;
    margin-left: 1VW;
    width: 7.24VW;
    display: inline-block;
    margin-top: 1.5VW;
}

.Listdiv3 {
    font size: 3.97VW;
    display: inline-block;
    float: left;
    margin-left: 3.4VW;
    overflow: hidden;
    margin-top: 4VW;
}

.Listdiv1equalmark4 {
    display: inline-block;
    float: left;
    position: absolute;
    right: 2VW;
    margin-top: 3.5VW;
}

.ListRate1popup {
    float: left;
    margin-left: 5VW;
    color: #0F0F0F;
    font-size: 3.97VW;
    width: 15VW;
    display: inline-block;
    padding: 2.33vw 0;
}

.ListRate1 {
    float: left;
    margin-left: 5VW;
    color: #0F0F0F;
    font-size: 3.97VW;
    width: 15VW;
    display: inline-block;
    margin-top: 4VW;
}

.nonstar_icon {
    /*visibility : hidden ;*/
    opacity: 0;
    margin-top: 4.5VW;
    float: left;
    width: 3.54vw;
}

.star_icon {
    margin-top: 4.5VW;
    opacity: 1;
    float: left;
    width: 3.54vw;
}

#ultestA,
#ultestB {
    margin-left: 2VW;
    margin-right: 2VW;
}

.ListDollar1 {
    float: left;
    font-size: 3.97VW;
}

.ListRate2 {
    color: #0F0F0F;
    float: left;
    margin-left: 1VW;
    font-size: 3.97VW;
}

.ListCountry3 {
    font-size: 3.5VW;
    float: left;
    color: #666;
    margin-top: 5VW;
}


/*list       ----------------------------*/

.Maccount {
    background-color: #7700FF;
    height: 6VH;
    display: inline-table;
    ;
    width: 100%;
}

.Maccount.Flag {
    background-color: #7700FF;
}

.Favorite {
    margin-left: 0VW;
    height: 1VH;
    color: #000000;
}


/*1 ;*/


/*2 ;*/

.Flag {
    width: 20%;
    float: left;
}

.nonFlag {
    width: 20%;
    float: left;
}

img.Flagimg {
    width: 10VW;
    height: 5VH;
    float: left;
}

img.Flagpop2 {
    width: 10VW;
    height: 5VH;
    float: left;
    margin-left: 5VW;
}


/* POPUP*/

#popup.Flagpop2 {
    width: 20%;
    margin-left: 5VW;
    float: left;
    display: inline;
}


/*img.Flagpop{ 
    width: 10VW;
    height:5VH ;
    float: left; 
}*/

.Country2pop {
    color: #AAAAAA;
    display: inline;
    float: left;
    margin-left: -5VW;
    /*   float: right;  */
}

.Country {
    width: 25%;
    display: inline;
    margin-left: -7VW;
    float: left;
}

.Country1 {
    font-size: 2VH;
    color: #AAAAAA;
    float: left;
}

.Country2 {
    font-size: 3VH;
    font-weight: bold;
    display: inline;
    float: left;
    margin-top: 0VH;
}

.Country2T {
    margin-left: -7VW;
    background-color: #7700FF;
    color: #FFFFFF;
    font-size: 3VH;
    font-weight: bold;
    display: inline;
    float: left;
}


/*4 ;*/

.account {
    border-radius: 2px;
}

#accountr {
    text-align: center;
    width: 30%;
    border-radius: 5px;
    margin-top: 1VH;
    margin-left: 5VW;
}


#mark {
    position: absolute;
    right: 10VW;
}

element.style {
    display: inline-block;
    margin-left: 6VW width: 19VW;
    float: left;
    width: 20vw;
}

/*override jQuery Mobile overflow-x: visible;*/
.ui-title {
    font-size :4.39VW !important;     
    font-weight: lighter !important;
}

.ui-content {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling :touch;
    padding: 0px;
    padding-left: 3.7VW;
}

.fragment-1{
  
} 



.header-style {
    background-color: #492f7f;
}

.ui-content .ui-listview {
    margin: 0px;
}

.ui-listview > .ui-li-static {
    padding: 0px;
    white-space: normal;
}

.ui-popup-container {
    width: 80%;
}

#detail-data .ui-btn {
    border: none;
}

.page-header {}


/**********************  viewDetialInfo  **********************/
/*.popup-msg {
    height: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: #4B0082;
    font-weight: bold;
}*/


/*.popup-msg .ui-btn {
    padding: 5px 10px;
    background-color: #28004D;
    border: none;
    color: #FFF;
}*/


/*  Delete*/

.popAdeleteli {
    width: 100%;
    background-color: white!important;
    font-weight: normal !important;
    overflow: hidden;
}

.deletepopa {
    background-color: white !important;
    display: inline-block;
    overflow: hidden;
}

.deletepop {
    display: inline-block;
    width: 5VW;
    position: absolute;
    right: 5VW;
    background-color: white!important;
}


/*  Delete*/

#popupA,
#popupB {
    height: 80VW;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow-y: auto;
    -webkit-overflow-scrolling :touch;
    overflow: scroll;
    padding-left: 2VW;
    padding-right: 2VW;
}


/* For pop All Curency*/

.popAmsgli {
    margin-top: 8VW;
    margin-left: 2.36VW;
    /* All currency*/
    padding-left: 2.36VW;
    background: #2c89bc;
    font-size: 5VW;
    color: white;
    padding: 2.33vw 0;
}

.popAmsg {
    font-size: 3.97VW;   
    width: 100%;
    padding-left: 2.36VW;
    display: inline-block;
}


/* For pop All Curency*/

.popListdiv1 {
    height: 10VW;
}

.popListdiv2 {
    height: 10VW;
}



