
/*Tag Frag-----------------------------------------------*/
.tabs-top-fixed {
    position: fixed;
    width: 100%;
    z-index: 10;
    border-bottom: #d6d6d6 0.1px solid !important;
    margin-top: -4.2vw;
    margin-left: -4.3vw;
    padding-top: 3.99vw;
    padding-left: 4.3vw;
    background-color: #FFF;
}

.buttonfirst {
    display: inline-block;
    float: left;
    width: 35%;
    margin-left: 3.71VW;
}

/*head button*/
.buttonone {
    display: inline-block;
    float: left;
    width: 50%;
    position: relative;
    background-color: white !important;
}

.buttontwo {
    display: inline-block;
    float: left;
    width: 42%;
    padding-left: 3.71vw;
    background-color: white !important;
    margin-bottom: 2px;
}

.buttononea,
.buttontwoa {
    display: inline-block;
    margin-top: 3.99VW background-color: #FFFFFF;
    height: 10VW;
    padding: 1VW;
}

.buttononeFlag1,
.buttononeFlag2 {
    float: left;
    display: inline-block;
    width: 7.24VW;
    margin-left: 2.523vw;
    margin-top: 3VW;
}

.buttononeFlag1non {
    display: none;
}

.buttononeCountry1,
.buttononeCountry2 {
    float: left;
    display: inline-block;
    margin-top: 3.99VW;
    margin-left: 2VW;
    color: #000000;
    margin-right: 3VW;
    font-weight: lighter;
}

.buttonone4img {
    float: left;    
    display: inline-block;
    width: 4VW;
    margin-top: 5.5VW;
    position: absolute;  
    right: 15.246VW;
}

.buttonone3img {
    float: left;
    display: inline-block;
    width: 4VW;
    margin-top: 5.5VW;
    position: absolute;
    right: 11.42VW;
}

.buttontransferdiv {
    display: inline-block;
    float: left;
    width: 5VW;
}

.buttontransfer {
    width: 6.79VW;
    float: left;
    display: inline-block;
    position: absolute;
    left: 42VW;
    top: 30%;
}

/*head button ----------------------------0 2VW;*/
.frag .frag0 {
    background-color: white !important;
}

.frag2 {
    font-size: 4.18VW;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: normal!important;
}

.frag1 {
    /* top for the Nov Oct */
    font-size: 4.18VW;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: normal!important;
}

/*Main        ----------------------------*/
.page-main {
    padding: 3.99vw 3.71vw 0 3.71vw;
}

.mainword {
    margin-bottom: 2.17vw;
}

.mainword1 {
    font-size: 4.18VW;
    color: #0F0F0F;
}

.mainword2,
.mainword3 {
    font-size: 3.349VW;
    color: #666;
    margin-top: 0.691vw;
}

.error-string {
    font-size: 4.18VW;
    color: #666;
}

/*Main       ----------------------------*/
#contentID {
    margin-top: 4.3VW;
    margin-bottom: 4.3VW;
}


/*list        ----------------------------*/
.CountryA {
    background-color: #f9f9f9!important;
}

#ultestA, #ultestB ul.main {
    -webkit-overflow-scrolling: touch;
}

#ultestA li {
    float: left;
    width: 92.58VW;
    margin-bottom: 1px;
}

#ultestB li {
    float: left;
    width: 92.58VW;
    margin-bottom: 1px;
}

.firstli {
    border-top: honeydew !important;
}

.Listdiv1 {
    /*list */
    display: inline-block;
    float: left;
    width: 47%;
    padding-left: 3.71VW;
    overflow: hidden;
    position: relative;
}

.Listdiv2 {
    /*list */
    display: inline-block;
    width: 47%;
    float: left;
    overflow: hidden;
}

.ListdivPopup {
    display: inline-block;
    float: left;
    width: 60%;
    padding-left: 5.3VW;
}

/* Flag */
.ListviewFlag1,
.ListviewFlag2 {
    float: left;
    width: 7.24VW;
    display: inline-block;
    padding: 2.33vw 0;
}

/* Flag Popup*/
.ListviewFlag1popup {
    float: left;
    margin-left: 1VW;
    width: 7.24VW;
    height: 7.24VW;
    display: inline-block;
    margin-top: 1.5VW;
}

.Listdiv3 {
    font size: 3.97VW;
    display: inline-block;
    float: left;
    margin-left: 3.4VW;
    overflow: hidden;
    margin-top: 4VW;
}

.Listdiv1equalmark4 {
    display: inline-block;
    float: left;
    position: absolute;
    right: 3.71VW;
    margin-top: 3.5VW;
}

.ListRate1popup {
    float: left;
    margin-left: 5VW;
    font-size: 3.97VW;
    width: 60%;
    display: inline-block;
    padding: 2.33vw 0;
}

.ListRate1 {
    float: left;
    color: #0F0F0F;
    font-size: 3.97VW;
    width: 15VW;
    display: inline-block;
    margin-top: 4VW;
    margin-left: 4.486VW;
}

.nonstar_icon {
    opacity: 0;
    float: left;
    width: 3.54vw;
    margin: 4.5VW 1.567vw 0;
}

.star_icon {
    opacity: 1;
    float: left;
    width: 3.54vw;
    margin: 4.5VW 1.567vw 0;
}

.ListDollar1 {
    float: left;
    font-size: 3.97VW;
}

.ListRate2 {
    color: #0F0F0F;
    float: left;
    margin-left: 1VW;
    font-size: 3.97VW;
}

.ListCountry3 {
    font-size: 3.5VW;
    float: left;
    color: #666;
    margin-top: 5VW;
}

/*list       ----------------------------*/
.Maccount {
    background-color: #7700FF;
    height: 6VH;
    display: inline-table;
    ;
    width: 100%;
}

.Maccount.Flag {
    background-color: #7700FF;
}

.Favorite {
    margin-left: 0VW;
    height: 1VH;
    color: #000000;
}

.Flag {
    width: 20%;
    float: left;
}

.nonFlag {
    width: 20%;
    float: left;
}

img.Flagimg {
    width: 10VW;
    height: 5VH;
    float: left;
}

img.Flagpop2 {
    width: 10VW;
    height: 5VH;
    float: left;
    margin-left: 5VW;
}

/* POPUP*/
#popup.Flagpop2 {
    width: 20%;
    margin-left: 5VW;
    float: left;
    display: inline;
}

.Country2pop {
    color: #AAAAAA;
    display: inline;
    float: left;
    margin-left: -5VW;
}

.Country {
    width: 25%;
    display: inline;
    margin-left: -7VW;
    float: left;
}

.Country1 {
    font-size: 2VH;
    color: #AAAAAA;
    float: left;
}

.Country2 {
    font-size: 3VH;
    font-weight: bold;
    display: inline;
    float: left;
    margin-top: 0VH;
}

.Country2T {
    margin-left: -7VW;
    background-color: #7700FF;
    color: #FFFFFF;
    font-size: 3VH;
    font-weight: bold;
    display: inline;
    float: left;
}

.account {
    border-radius: 2px;
}

#accountr {
    text-align: center;
    width: 30%;
    border-radius: 5px;
    margin-top: 1VH;
    margin-left: 5VW;
}

#mark {
    position: absolute;
    right: 10VW;
}

element.style {
    display: inline-block;
    margin-left: 6VW width: 19VW;
    float: left;
    width: 20vw;
}

/*override jQuery Mobile overflow-x: visible;*/
.ui-navbar {
    max-width: 91.4vw;
}

.ui-btn {
    padding: 1.829vw 0;
}

.ui-listview>.ui-li-static, .ui-listview>.ui-li-divider, .ui-listview>li>a.ui-btn {
    border-width: 0 0 1px 0;
}

.ui-title {
    font-size :4.39VW !important;     
    font-weight: lighter !important;
}

.ui-content {
    overflow-x: hidden;    
    padding: 0px;
}

.ultestA{
   overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling :touch;
} 

.header-style {
    background-color: #492f7f;
}

.ui-content .ui-listview {
    margin: 0px;
}

.ui-listview > .ui-li-static {
    padding: 0px;
    white-space: normal;
}

.ui-popup.ui-content, .ui-popup .ui-content {
    overflow-x: hidden;
}

.app-popup .ui-content {
    padding: 2.5vh 3vw 2.9vh;
}

.tpl-option-msg-list {
    padding: 2.33vw 0;
}

#detail-data .ui-btn {
    border: none;
}

.app-popup .ui-content > .header {
    margin-top: 0;
}

.page-header {}

/*  Delete*/
.popAdeleteli {
    width: 100%;
    background-color: white!important;
    font-weight: normal !important;
    overflow: hidden;
}

.deletepopa {
    background-color: white !important;
    display: inline-block;
    overflow: hidden;
}

.deletepop {
    display: inline-block;
    width: 5VW;
    position: absolute;
    right: 5VW;
    background-color: white!important;
}

/* For pop All Curency*/
.popAmsgli {
    margin-top: 8VW;
    margin-left: 2.36VW;
    /* All currency*/
    padding-left: 2.36VW;
    font-size: 5VW;
    color: white;
    padding: 2.33vw 0;
}

.popAmsg {
    font-size: 3.97VW;   
    width: 100%;
    padding-left: 2.36VW;
    display: inline-block;
}

/* For pop All Curency*/
.popListdiv1 {
    height: 10VW;
    color: #0F0F0F;
}

.popListdiv2 {
    height: 10VW;
    color: #0F0F0F;
}

/* 0505 alan high promote Moth translate*/
#fragment-1,#fragment-2 ul {
    animation: fadein 2s;
    -webkit-animation: fadein 2s; / Safari and Chrome /
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { / Safari and Chrome /
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
