/***************************** viewGeneralSetting ********************************/
#viewGeneralSetting .page-main {
    width: 100vw;
    padding: 0 !important;
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.default-setting > div {
    width: 89.8vw;
    height: 14.5vw;
    padding: 0 3.71vw 0 6.48vw;
    background: #fff;
    border-bottom: 1px solid #d6d6d6;
}

.default-setting > div > div {
    float: left;
}

.default-setting > div > div:nth-of-type(1) {
    width: 83.3vw;
    height: 100%;
    line-height: 14.5vw;
    color: #263238;
    font-weight: normal;
    font-size: 3.768vw !important;
}

.default-setting > div > div:nth-of-type(2) {
    width: 6.44vw;
    padding-top: 4vw; 
}

.show {
    display: block;
}

.default-widget-list,
.more-widget-list{
    background: #fff;
}

.default-widget-list>div:nth-of-type(1),
.more-widget-list>div:nth-of-type(1){
    width: 92.58vw;
    padding: 6.422vw 3.71vw 2.5vw;
    color: #263238;
    font-size: 3.768vw;
}

.default-widget-list li,
.more-widget-list li{
    width: 100vw;
    height: 14.5vw;
    border-bottom: 1px solid #bdbcbc;
}

.default-widget-list li > div,
.more-widget-list li > div{
    float: left;
    height: 100%;
}

.default-widget-list li > div:nth-of-type(1),
.more-widget-list li > div:nth-of-type(1){
    width: 15vw;
}

.default-widget-list li > div:nth-of-type(2),
.more-widget-list li > div:nth-of-type(2){
    width: 15vw;
}

.default-widget-list li > div:nth-of-type(3),
.more-widget-list li > div:nth-of-type(3){
    width: 60vw;
}

.default-widget-list li > div:nth-of-type(4),
.more-widget-list li > div:nth-of-type(4){
    width: 10vw;
}