<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="ITS.Data">
      <section name="settings" type="ITS.Data.Configuration.ConfigurationSetting, ITS.Data" />
    </sectionGroup>
    <!--<sectionGroup name="ITS.Data.1.0">
      <section name="settings" type="ITS.Data.Configuration.ConfigurationSetting, ITS.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=49bcf0ef5ccc9012"/>
    </sectionGroup>-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <ITS.Data>
    <settings cache="true" logging="true" trace="true">
      <entities>
      </entities>
    </settings>
  </ITS.Data>
  <!--<ITS.Data.1.0>
    <settings cache="true" logging="true" trace="true">
      <entities>
      </entities>
    </settings>
  </ITS.Data.1.0>-->
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>FHuzXNK2XrgzqS0AyFYCqCCQRHJ4ZF7+jmGl/ClT2obSuLDiDw0oLpznjVFA1ALAjS0CFUTBlStXO30WJzLQw5SGg0CLvATin1DRbQMIkG4/7iQI2dK8kvYjc4lF1TNSmuh+nA36vzbm82T388RU1jUG64xMV/RDa1YLeTH+vX9s7FIyeJJAXc4ux9S2OfuFPGFFNiKJhinQmuNk+1ZYAtZIs8JfSRDTdR+CNzcjNJ9o/C3r0lZ3TA+2p9uxiEXWAO8BYA0koi+nyomj2LfJ5Dn5JeoTHY3zLl1fH9b3QxGY4mZUSvJwlFb6cVLq7xh3B2sUmTjf2RVTPB1nkUTTCQ==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>8E62YeCzSOjGAU4c+enAjZostTYml7KY9CcNErTVy5BYAnJSmGoqZaCvRAlY1dz/Nu0yRK0dvpMRhOSGhQ1cE9j1tvUTCRSiuPahrOf/RhJmEvk3f4UVIvMDLbGRfB2DdYjeWboHdUKUOy7FXgwq66JxrOLJS2RYXFptUyUP5ENUEDrx1afkCoQZ41Y9YLcbfF7GFI/ojGTR6lbTOEwaowt42kqIvmzR6dcS2hBJEKF9v1caNE6UZZG+Ys3RvGWOY0VW558GrCAHhPjYeeRAIIXm+PPi2VVOy64PuH4ww0Zb5KXprsaUozLtVGoeL+cB</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="FilePath" value="D:\Application\QPlay_WebService\Sync" />
	<add key="ViewName" value="gbpm.am_employee_qplay"/>  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="ALL" />
      <appender-ref ref="SysAppender" />
    </root>
    <!-- Print only messages of level DEBUG or above in the packages -->
    <logger name="Logger">
      <level value="DEBUG" />
    </logger>
    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>