/*override jQuery Mobile*/
#viewNewsEvents2-3  {
    height: 100% !important;
}

/* #viewMain3  {
    height: 100% !important;
} */

#viewMain2-1  {
    height: 100% !important;
}

.ui-page .ui-header {
    background-color: #492f7f;
    color: #fff;
    font-size: 2.9vh;
}

.ui-input-search {
    margin: 0;
}

.opacity {
    opacity: 0;
}

.enabled-font {
    color: #263238 !important;
}

.read-font-normal {
    font-weight: normal !important;
}

.ui-popup-screen {
    position: fixed !important;
    bottom: 0 !important;
}

.ui-popup-container {
    position: fixed !important;
    top: 225px !important;
}

#viewNewsEvents2-3 .ui-listview>.ui-li-static {
    padding: 0;
}

#viewNewsEvents2-3 #navMessage .ui-btn {
    background-color: #492f7f;
    padding: 5px 1em;
    border-width: 0px;
}

#viewNewsEvents2-3 #navDelete .ui-btn {
    background-color: #656565;
    color: #FFF;
    font-size: 4.39vw;
    height: 6vw;
    border-width: 0px;
    text-shadow: none;
}

#viewNewsEvents2-3 #navDelete .ui-btn.btn-disabled {
    color: #000000;
    text-shadow: none;
}

#viewWebNews2-3-1 .ui-content.page-main {
    padding: 0;
    background-color: #FFF;
    font-size: 3.55vw;
}

#viewWebNews2-3-1 .Content_Content p b strong{
    word-wrap: break-word !important;
}

#viewWebNews2-3-1 .Content_Content {
    word-wrap: break-word !important;
}

#viewWebNews2-3-1 .Content_Content table {
    border-collapse:collapse;
    table-layout:fixed;
    width:70% !important;
}

#viewWebNews2-3-1 .Content_Content table td {
    border:solid 1px #fab;
    width:70% !important;
    word-wrap:break-word;
}

#viewAppDetail2-2 .ui-content {
    padding: 0;
    word-wrap: break-word !important;
}

.ui-btn-word {
    display: none;
    text-decoration: none;
}

.ui-btn-word:link {
    color: #FFFFFF;
}

.ui-btn-word:visited {
    color: #FFFFFF;
}

.ui-btn-word:hover {
    color: #FFFFFF;
}

.ui-btn-word:active {
    color: #FFFFFF;
}

.btn-header-word {
    width: 10vw;
}

.event-list-content.ui-content .ui-listview,
.event-list-content.ui-panel-inner>.ui-listview {
    margin: 0;
}

/*----------------------new class----------------------*/

.initialMain {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 30%;
}

.initialLogo {
    margin-top: 20%;
    margin-bottom: 45%;
}

/* qplay button */

.q-btn-footer-icon {
    width: 4.3vh;
    margin-left: 18vw;
    float: left;
}

.q-btn-footer-text {
    font-size: 2.5vw;
    padding-top: 5px;
    clear: both;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    background: url('../img/checkbox.png') no-repeat;
    background-size: 6vw 6vw;
    height: 6vw;
    width: 6vw;
    display: inline-block;
    padding: 0 0 0 0;
}

input[type=checkbox]:checked + label {
    background: url('../img/checkbox_selected.png') no-repeat;
    background-size: 6vw 6vw;
    height: 6vw;
    width: 6vw;
    display: inline-block;
    padding: 0 0 0 0;
}

input[type=radio] {
    display:none;
}

input[type=radio] + label {
    background: url('../img/radio.png') no-repeat;
    background-size: 6vw 6vw;
    height: 6vw;
    width: 6vw;
    display: inline-block;
    padding: 0 0 0 0;
}

input[type=radio]:checked + label {
    background: url('../img/radio_selected.png') no-repeat;
    background-size: 6vw 6vw;
    height: 6vw;
    width: 6vw;
    display: inline-block;
    padding: 0 0 0 0;
}

.overlap-label-icon {
    clear: both;
    float: left;
}

.overlap-label-text {
    line-height: 6.5vw;
    padding-left: 9vw;
    width: 85%;
    color: #0F0F0F;
    font-size: 3vh;
    text-align: left;
}

.overlap-label-checkbox {
    position: absolute;
    width: 7vw;
    height: 100%;
    top: 0;
    left: 0;
}

/* app list / detail */
.app-list-category {
    color: #0F0F0F;
    display: inline-block;
    line-height: 0;
    font-size: 5vw;
    margin-bottom: 4.39vw;
}

.app-list-hr {
    color: #c7c6cb;
    margin: 2.2vh 0 2.5vh;
}

.app-list-scroll-area {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.appDetailIcon {
    width: 25vw;
    line-height: 1;
    float: left;
}

.appDetailInfo {
    float: left;
    margin-left: 3.7vw;
    width: 63.5vw;
}

.appDetailInfo p{
    margin: 0;
    line-height: 1;
}

.appDetailInfo .appDetailAppName {
    color: #0F0F0F;
    font-size: 2.8vh;
    margin-bottom: 0.3vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.appDetailInfo .appDetailRank {
    height: 2.3vh;
    margin-bottom: 4vh;
    opacity: 0;
}

.appDetailRank .star {
    font-size: 2.5vw;
    vertical-align: middle;
    line-height: 1;
}

.appDetailRank .score {
    font-size: 2.3vh;
    color: #5C5C5C;
}

.appDetailInfo .appDetailRank {
    height: 2.4vh;
}

.appDetailBottomLeft {
    float: left;
    width: 68%;
}

.appDetailAppVersion {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.appDetailAppVersion .title {
    color: #0F0F0F;
    font-size: 2.4vh;
}

.appDetailAppVersion .number {
    color: #5C5C5C;
    font-size: 2.3vh;
}

.appDetailInfo .appDetailAppSize {
    height: 2.4vh;
}

.appDetailAppSize .title {
    color: #0F0F0F;
    font-size: 2.4vh;
}

.appDetailAppSize .number {
    color: #5C5C5C;
    font-size: 2.3vh;
}

.appDetailBottomRight {
    float: left;
    text-align: right;
    width: 32%;
    height: 4.8vh;
}

.install-btn {
    width: 20vw;
    height: 3.5vh;
    border-radius: 25px;
    background-color: #492F80;
    cursor: pointer;
    text-align: center;
    color: #FFF;
    font-size: 2.4vh;
    text-shadow: none;
    line-height: 1.5;
}

.detail-description {
    color: #0f0f0f;
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.4em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    margin-right: 0.5vw;
    font-size: 2.4vh;
}

.detail-description-ellipsis:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 7vw;
    width: 13vw;
    padding-left: 1vw;
    bottom: 0;
    background-color: #FFF;
}

.detail-description-ellipsis:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    width: 1em;
    /* set width and height */
    height: 1em;
    background: white;
}

.detail-description-open {
    position: relative;
    width: 10%;
    top: -2.7vh;
    left: 89%;
    background-color: #FFF;
    margin-bottom: -2.6vh;
}

.detail-description-open-btn {
    background: url(../img/more_btn.png) no-repeat;
    background-size: 10vw;
    height: 3.6vh;
    width: 10vw;
    font-size: 2.3vh;
    color: #5C5C5C;
    text-align: center;
    line-height: 1.5;
    background-color: #FFFFFF;
}

.detail-img-style {
    float: left;
    width: 52vw;
    height: 52vh;
    margin-right: 3.7vw;
}

.detail-img-style-full-screen {
    float: left;
    width: 80vw;
    height: 80vh;
    margin-left: 3.7vw;
}

#viewAppDetail2-2 .page-main {
    background-color: #FFF;
}

#viewAppDetail2-2 .top {
    height: 25vw;
    padding: 6.422vw 3.7vw 9.24vw;
}

#viewAppDetail2-2 .bottom {
    clear: both;
    /* padding: 4vh 3.7vw 6.5vh; */
}

#viewAppDetail2-2 .bottom > div:nth-of-type(1) {
    padding: 0 3.7vw 4.57vw;
}

#viewAppDetail2-2 .bottom > div:nth-of-type(2) {
    padding: 3.71vw 0 4.13vw 3.71vw;
    width: 100%;
    height: 52vh;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    background: #edecec;
}

#viewAppDetail2-2 .bottom > div:nth-of-type(2) > div {
    width: 100%;
    height: 100%;
}

#viewAppDetail2-2 .version {
    width: 92.58vw;
    height: 13.04vw;
    padding: 3.93vw 3.71vw;
}

#viewAppDetail2-2 .version > div:nth-of-type(1) {
    width: 13.04vw;
    height: 13.04vw;
    margin: 0 2.9vw;
    float: left;
}

#viewAppDetail2-2 .version > div:nth-of-type(1) > img {
    width: 100%;
    height: 100%;
}

#viewAppDetail2-2 .version > div:nth-of-type(2) {
    float: left;
    color: #323232;
    line-height: 13.04vw;
}

#viewAppDetail2-2 .version > div:nth-of-type(3) {
    width: 6.44vw;
    height: 6.44vw;
    margin-top: 3.3vw;
    float: right;
}

#viewAppDetail2-2 .version > div:nth-of-type(3) > img {
    width: 100%;
    height: 100%;
}

#viewAppDetail2-2 .fix {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: lightgray;
}

#viewAppDetail2-2 .fix > div:nth-of-type(1) {
    margin: 20vw 0 0;
    width: 100%;
    height: 80vh;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

/* message list / detail */
.news-header {
    position: relative;
    width: auto;
    background-size: 100% auto;
}

.header-service {
    background-image: url(../img/header_service.svg);
}

.header-event {
    background-image: url(../img/header_event.svg);
}

.header-left {
    width: 63%;
    float: left;
}

.header-right {
    position: absolute;
    left: 63%;
    width: 37%;
    height: 100%;
    text-align: center;
    font-family: "Gill Sans MT";
}

.portal-header {
    position: fixed;
    top: 13vw;
    width: 100%;
    height: 11.674vw;
    background-image: url(../img/header_portal.png);
    background-size: 100vw 11.674vw; 
    z-index: 100;
}

.no-message {
    color: #989898;
    text-align: center;
    margin-top: 40vh;
    font-size: 2.9vh;
}

.priority-title {
    font-size: 12px;
    color: #FFF;
    position: relative;
}

.priority-normal {
    font-size: 16px;
    color: #ccffcc;
}

.priority-high {
    font-size: 16px;
    color: #ffff99;
}

.header-date {
    font-size: 16px;
    color: #FFF;
    position: relative;
}

.footer-top {
    width: 100%;
    background-color: #fafafa;
}

.footer-top div {
    float: left;
}

.footer-benq {
    background-image: url(../img/benq_logo.png);
    background-size: 95% 95%;
}

.footer-qisda {
    background-image: url(../img/qisda_logo.png);
    background-size: 95% 95%;
}

.footer-text {
    text-align: right;
    padding-right: 15px;
}

.footer-bottom {
    width: 100%;
    height: 10px;
    background-color: #000;
}

.footer-portal {
    height: 10vw;
    background-color: #242424;
}

.footer-portal .text {
    color: #FFFFFF;
    font-size: 2.576vw;
    position: absolute;
    top: 35%;
    left: 18%;
}

.content-bg {
    background-color: #fafafa;
    overflow: hidden;
    padding: 0 15px;
}

.Author_icon {
    width: 30px;
    height: 24px;
    background-image: url(../img/auther.png);
    float: left;
}

.Author_Content {
    overflow-wrap: break-word;
    width: 80%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #181818;
    margin-left: 12px;
    float: left;
    line-height: 1.5;
}

.Content_Block {
    clear: both;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Content_icon {
    width: 30px;
    height: 24px;
    background-image: url(../img/content.png);
    float: left;
}

.Content_Content {
    overflow-wrap: break-word;
    width: 85%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0d0d0d;
    float: left;
    margin: 5px 0 0 12px;
    overflow-x: hidden;
    /*white-space: nowrap;*/
    word-wrap: break-word !important;
}

.Content_Content table {
    width: 100% !important;
    display: block;
}

.Content_Content tbody {
    display: inline-block;
    width: 100% !important;
    overflow: auto;
}

.Content_Content img {
    width: 80% !important;
    height: 80% !important;
}

.PortalContent {
    overflow-y: auto;
}

#newsDetailTitle {
    color: #492582;
}

.reddot-tab {
    background-image: url(../img/reddot.png);
    background-size: 1.5vw 1.5vw;
    width: 1.5vw;
    height: 1.5vw;
    float: left;
    margin-left: 3px;
}

.reddot-list {
    background-image: url(../img/reddot.png);
    background-size: 1.5vw 1.5vw;
    width: 1.5vw;
    height: 1.5vw;
}

.msg-del-checkbox-content {
    float: left;
    width: 7vw;
    display: none;
}

.msg-del-checkbox {
    margin-top: 70%;
    padding-left: 30%;
}

.msg-new-reddot-content {
    float: left;
    width: 2vw;
    margin-left: 2vw;
    padding-top: 13px;
}

.msg-list-content {
    float: left;
    width: 90vw;
    margin-left: 1vw;
}

.msg-list-content-edit {
    width: 83vw;
}

.msg-list-title {
    color: #0f0f0f;
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 2.2em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}

.msg-list-title:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}

.msg-list-title:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    width: 1em;
    /* set width and height */
    height: 1em;
    background: white;
}

.msg-list-time {
    text-align: right;
    font-size: 3.14vw;
    color: #989898;
}

.del-msg-btn {
    width: 50%;

}

.update-time {
    color: #989898;
    font-size: 3.14vw;
    margin: 0;
    height: 3.14vw;
    padding: 2.4vw 3.71vw;
}

.notice-priority-high {
    color: #cc0000;
}

.notice-priority-normal {
    color: #333333;
}

.header-service-red {
    background-image: url(../img/header_service_red.svg);
}

.header-event-red {
    background-image: url(../img/header_event_red.svg);
}

.html2canvas-container {
    width: 3000px !important;
    height: 3000px !important;
}

/*-----------------------------------------------------------------Event Type Panel*/
#eventTypeSelect {
    background-color: #CECECE;
    width: 65.395vw;
}

#eventTypeSelect .ui-panel-inner {
    padding: 0;
}

#eventTypeSelect .ui-hr {
    background-color: #666666;
}

#eventTypeSelect div {
    line-height: 1;
    font-size: 3.97vw;
    padding: 4.05vw 0 4.05vw 3.71vw;
    background-color: #F9F9F9;
    color: #333333;
}

#eventTypeSelect .header {
    background-color: #4C4C4C;
    color: #FFFFFF;
    padding: 4.615vw 0 4.615vw 3.71vw;
}

#eventTypeSelect .select {
    background-color: #492f7f;
    color: #FFFFFF;
}

#eventTypeSelect .item .left {
    width: 1.878vw;
    margin-right: 1.878vw;
    float: left;
    padding: 0;
}

#eventTypeSelect .item .white {
    width: 1.878vw;
    height: 1.878vw;
    background-color: #FFFFFF;
    margin-top: 1vw;
    border-radius: 50%;
    padding: 0;
}

#eventTypeSelect .item .red {
    background-color: red;
}

.ui-panel-background {
    background-color: rgba(50, 50, 50, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    touch-action: none;
}

.event-list-content{
    padding: 0;
}

/*************************** widget ********************************/
#viewMain3 .ui-content {
    padding: 0 !important;
}

.main-scroll {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #edecec;
    -webkit-overflow-scrolling: touch;
}

#widgetList > div {
    background: #FFFFFF;
    margin-bottom: 2.4vw;
    border-bottom: 1px solid #d6d6d6;
}

/* .carouselWidget {
    width: 100vw;
    height: 50vw;
}

.weatherWidget {
    width: 100vw;
    height: 30vw;
}

.reserveWidget {
    width: 100vw;
    min-height: 40vw;
}

.messageWidget {
    width: 100vw;
    min-height: 25vw;
}

.applistWidget {
    width: 100vw;
    height: 38vw;
} */

.other-link {
    width: 100vw;
    height: 78vw;
    background: #FFFFFF;
}

.other-link > div {
    width: 90vw;
    height: 13.04vw;
    padding: 6.24vw 3.71vw 6.24vw 5.92vw;
    border-bottom: 1px solid #d6d6d6;
    /* border-bottom: 1px solid #bdbcbc; */
}

.other-link > div:last-of-type {
    border: none;
}

.other-link > div > div {
    float: left;
}

.other-link > div > div:nth-of-type(1) {
    width: 16vw;
    height: 100%;
}

.other-link > div > div:nth-of-type(2) {
    width: 69vw;
    height: 100%;
}

.other-link > div > div:nth-of-type(2) > div:nth-of-type(1) {
    padding: 1.78vw 0 0.78vw;
    color: #233138;
    font-weight: bold;
    font-size: 3.55vw !important;
}

.other-link > div > div:nth-of-type(2) > div:nth-of-type(2) {
    color: #233138;
    font-weight: normal;
    font-size: 3.55vw !important;
}

.other-link > div > div:nth-of-type(3) {
    width: 5vw;
    height: 100%;
}

.icon-img {
    width: 13.04vw;
}

.icon-next {
    margin-top: 4.5vw;
}

/*************************** viewNoneInstall ********************************/
#viewNoneInstall .ui-content {
    padding: 0 !important;
}

.app-no-download {
    width: 100vw;
    height: 100vh;
    position: fixed;  
    text-align: center;
    padding-top: 35vh;
    background: #EDECEC;
    color: #8fa4ac;
    font-size: 4.18vw;
}

/*************************** viewAppList ********************************/
#viewAppList .ui-content {
    padding: 0 !important;
}

.app-scroll {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    -webkit-overflow-scrolling: touch;
}

.download-title {
    padding: 6.422vw 3.71vw 2.5vw;
    font-size: 3.349vw !important;
    color: #0f0f0f;
    background: #edecec;
}

.already-download-list, .not-download-list {
    padding: 0 3.71vw;
}

.already-download-list > div:last-of-type,
.not-download-list > div:last-of-type {
    border: none;
}

.download-list {
    padding: 3.36vw 0;
    height: 13.44vw;
    border-bottom: 1px solid #d6d6d6;
}

.download-list > div {
    float: left;
}

.download-list::after {
    clear: both;
}

.download-list > div:nth-of-type(1) {
    width: 83.3vw;
    height: 100%;
}

.download-list > div:nth-of-type(1) > div {
    color: #323232;
    float: left;
}

.download-list > div:nth-of-type(1)::after {
    clear: both;
}

.download-icon {
    width: 17.4vw;
    height: 100%;
}

.download-name {
    width: 65.8vw;
    height: 100%;
}

.download-name > div:nth-of-type(1) {
    width: 100%;
    height: 7vw;
    /* color: #323232;
    display: table-cell;  
    vertical-align: bottom; */
    line-height: 7vw;
}

.download-name > div:nth-of-type(2) {
    width: 95%;
    height: 5.92vw;
    /* overflow: -webkit-paged-x;
    word-break: break-all;
    color: #0f0f0f; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.download-list > div:nth-of-type(1) img {
    width: 13.44vw;
}

.download-list > div:nth-of-type(2) {
    width: 9.25vw;
    height: 100%;
}

.download-list > div:nth-of-type(2) img {
    width: 6.44vw;
    margin-top: 3.5vw;
}

/*************************** viewVersionRecord ********************************/
#viewVersionRecord .ui-content {
    padding: 0 !important;
}

.version-scroll {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.version-record-list {
    padding: 4.03vw 3.71vw;
    border-bottom: 1px solid #d6d6d6;
}

.version-record-list:last-of-type {
    border: none;
}

.version-record-list > div:nth-of-type(1),
.version-record-list > div:nth-of-type(3) {
    color: #263238;
    padding-left: 2.77vw;
}

.version-record-list > div:nth-of-type(2) {
    color: #8FA4AC;
    padding: 1.86vw 0 3.59vw 2.77vw;
}


/********************************* viewFAQ **************************************/
#viewFAQ .ui-content {
    padding: 0 !important;
}

.question-list {
    padding: 3.188vw 3.71vw;
    border-bottom: 1px solid #d6d6d6;
}

.question-content {
    width: 92.58vw;
    height: 11vw;
}

.question-content > div:nth-of-type(1) {
    width: 80vw;
    float: left;
    padding:0 3vw 0 2.81vw; 
}

.question-content > div:nth-of-type(2) {
    float: right;
    width: 4vw;
    height: 4vw;
    margin-top: 3.5vw;
}

.question-content > div:nth-of-type(2) img {
    width: 100%;
    height: 100%;
}

.answer-content {
    display: none;
    padding: 3.188vw 15vw 3.188vw 5.62vw;
}


/***************************** viewMyCalendar ********************************/
#viewMyCalendar .ui-content {
    padding: 0 !important;
}

#myReserve {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

#myReserveList {
    width: 100vw;
    height: 100vw;
    margin-top: 40vw;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

#reserveContent {
    /*（3.71+85.16）*30+3.71=2669.81 */
    /* width: 2670vw; */
    height: 100%;
}

#reserveContent > div {
    float: left;
    width: 85.16vw;
    height: 100%;
    margin-left: 3.71vw;
    background: #fff;
}

.reserve-title {
    width: 100%;
    text-align: center;
    padding: 4.56vw 0 3.28vw;
    color: #263238;
    font-weight: normal;
    font-size: 4.18vw !important;
}

.reserve-content {
    height: 78vw;
    overflow-y: scroll;
}

.reserve-null {
    width: 100%;
    height: 87vw;
    text-align: center;
    line-height: 70vw;
    color: #8fa4ac;
    font-weight: normal;
    font-size: 4.18vw !important;
}

.reserve-li {
    width: 100%;
    height: 11.27vw;
    margin-bottom: 2vw;
}

.reserve-li > div {
    float: left;
}

.reserve-li-time {
    width: 17.58vw;
    height: 8.5vw;
    padding: 1.28vw 2.12vw 1.28vw 0;
    text-align: right;
    border-right: 1px solid #4cb5ab;
}

.reserve-start {
    color: #231f20;
    font-weight: normal;
    font-size: 3.768vw !important;
}

.reserve-end {
    color: #8fa4ac;
    font-weight: normal;
    font-size: 3.55vw !important;
}

.reserve-li-item {
    width: 50vw;
    height: 100%;
    line-height: 11.27vw;
    padding-left: 2.12vw;
    color: #263238;
    font-weight: normal;
    font-size: 3.768vw !important;
    overflow: hidden;
}

#leaveTable {
    display: none;
}

/***************************** viewMessageList ********************************/
#viewMessageList .ui-content {
    padding: 0 !important;
}

.message-scroll {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.input-search {
    width: 73vw !important;
    height: 7vw;
    padding: 0;
    font-size: 3vw;
}

.icon-style {
    width: 6vw;
}

.icon-margin {
    width: 6vw;
    margin-left: 3.3vw;
}

.dropdown-news {
    width: 3vw;
    vertical-align: top;
    margin-top: 2.5vw;
    margin-left: 2vw;
}

.select-type {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 22.54vw;
    display: none;
    z-index: 1;
}

.select-type > div {
    width: 100%;
    height: 11.47vw;
    color: #263238;
    font-size: 3.768vw !important;
    text-align: center;
    line-height: 11.47vw;
    border-bottom: 1px solid #666;
    background: #f9f9f9;
}

.select-type > div:hover {
    color: #f9f9f9 !important;
    background: #503e7f !important;
}

.handle-msg {
    width: 92.58vw;
    height: 11.27vw;
    line-height: 11.27VW;
    padding: 0 3.71vw;
    background-color: #ECEEF0;
    display: none;
    position: fixed;
    z-index: 1;
}

.fill-handle-blank {
    width: 100vw;
    height: 11.27vw;
    display: none;
}

.msg-select {
    float: left;
    width: 30vw;
    color: #263238;
    font-size: 4.18vw;
}

.msg-readed {
    float: right;
    width: 30vw;
    color: #8fa4ac;
    font-size: 4.18vw;
    text-align: right;
}

.msg-delete {
    float: right;
    width: 17.5vw;
    color: #8fa4ac;
    font-size: 4.18vw;
    text-align: right;
}

.message-type > div:nth-of-type(n+2) {
    display: none;
}

.message-type ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* .news-content ul.ui-listview > li,
.event-content ul.ui-listview > li {
    border-bottom: 1px solid #d6d6d6 !important;
} */

/* .news-content ul.ui-listview > li:last-of-type > a,
.event-content ul.ui-listview > li:last-of-type > a {
    border: none !important;
} */

.msg-delete-btn {
    width: 6vw;
    margin-top: 8vw;
}

.msg-check-icon {
    display: none;
    float: left;
    width: 9vw;
}

.msg-check-btn {
    width: 6vw;
    margin-top: 5.5vw;
}

.msg-next-icon {
    float: left;
    width: 10vw;
}

.msg-next-btn {
    width: 6.5vw;
    margin-top: 5vw;
    margin-left: 3.5vw;
}

.msg-content-title {
    float: left;
    width: 82vw;
}

.msg-content-title > div:nth-of-type(1) {
    color: #8fa4ac;
    font-size: 3.14vw !important;
    padding-left: 2.81vw;
}

.msg-content-title > div:nth-of-type(2) {
    height: 9vw;
    margin-top: 2.49vw;
    color: #263238;
    font-size: 3.768vw !important;
    /* font-weight: normal !important; */
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    padding-left: 2.81vw;
}

.ui-message,
.ui-portal {
    border-top: none !important;
    padding: 3.36vw 3.71vw 3.27vw !important;
    background-color: #FFFFFF !important;
    border-bottom: 1px solid #d6d6d6 !important;
}

/*** swipe start ***/
.behind {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
    right: 0;
    /* border-bottom: 1px solid #d6d6d6; */
}

.behind a.ui-btn {
    width: 16vw;
    margin: 0px;
    padding: 0px;
	float: right;
    border: none;
    height: 100%;
    vertical-align: middle;
}

.behind a.delete-btn,
.behind a.delete-btn:active,
.behind a.delete-btn:visited,
.behind a.delete-btn:focus,
.behind a.delete-btn:hover {
	color: white;
    background-color: #009588;
	text-shadow: none;
}

.behind a.ui-btn.pull-left {
	float: left;
}

/*** swipe end ***/

.msg-update-date {
    width: 100%;
    height: 6.87vw;
    text-align: center;
    color: #8fa4ac;
    font-weight: normal;
    font-size: 3.14vw !important;
    line-height: 8vw;
    /* background: #fff; */
}

.confirmDeleteMsg .ui-content>.header {
    padding: 0 5.36vw;
    margin-top: 10vw;
}

.confirmDeleteMsg .ui-content>.footer {
    margin-top: 10%;
}


/***************************** viewMessageDetail ********************************/
#viewMessageDetail .ui-content {
    padding: 0 !important;
}

.msg-detail-title {
    padding: 6.4vw 3.71vw 0 6.58vw;
    font-weight: bold;
    font-size: 4.18vw !important;
    color: #263238;
}

.msg-detail-content {
    padding: 7.34vw 3.71vw 0 6.58vw;
    font-weight: normal;
    font-size: 3.768vw !important;
    color: #263238;
}


/***************************** viewAppSetting ********************************/
#viewAppSetting .ui-content {
    padding: 0 !important;
}

.setting-main {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #EEF2F5;
}

.photo-setting {
    width: 100vw;
    height: 61vw;
}

.photo-default {
    width: 26.5vw;
    height: 26.5vw;
    padding-top: 14vw;
    padding-left: 37vw;
}

.photo-default img {
    border-radius: 50%;
    /* width: 100%;
    26.5/29=91.38%
    height: 91.38%; */
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
}

.name-user {
    width: 100vw;
    height: 8vw;
    margin-top: 3vw;
    text-align: center;
    color: #263238;
    font-weight: normal;
    font-size: 4.18vw !important;
}

.link-setting > div {
    width: 90vw;
    height: 13vw;
    padding: 4vw 3.71vw 4vw 6vw;
    background: #fff;
    border-bottom: 1px solid #d6d6d6;
}

/* .link-setting > div:last-of-type {
    border: none;
} */

.link-setting > div > div {
    float: left;
}

.link-setting > div > div:nth-of-type(1) {
    width: 13vw;
}

.link-setting > div > div:nth-of-type(2) {
    width: 67vw;
    height: 13vw;
    line-height: 13vw;
    text-indent: 3vw;
    color: #263238;
    font-weight: normal;
    font-size: 3.55vw !important;
}

.link-setting > div > div:nth-of-type(3) {
    width: 6.44vw;
    padding-top: 3vw;
}

.logout-fixed-btn {
    width: 100vw;
    height: 11.36vw;
    line-height: 11.36vw;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #009688;
    color: #fff;
    font-weight: normal;
    font-size: 4.18vw !important;
}

.popup-msg-style {
    width: 28VW;
    height: 4VW;
    margin: auto;
    opacity: 0.9;
    padding: 6.2VW 1VW 6.2VW 1VW;
    position: fixed;
    top: 70vw;
    left: 36vw;
    background-color: #666;
    border-radius: 1.5px;
    color: #F0F0F0 !important;
    font-size: 3.6VW;
    text-align: center;
    z-index: 2;
    display: none;
}

.setting-mask {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

.photo-choose {
    width: 92.58vw;
    height: 30vw;
    margin-top: 120vw;
    margin-left: 3.71vw;
    border-radius: 10px;
    background: #fff;
}

.photo-choose > div {
    height: 15vw;
    line-height: 15vw;
    text-align: center;
    color: #4274BA;
}

.photo-choose > div:first-of-type {
    border-bottom: 1px solid #d6d6d6;
}

.cancel-choose {
    width: 92.58vw;
    height: 15vw;
    margin-top: 2.5vw;
    margin-left: 3.71vw;
    border-radius: 10px;
    background: #fff;
    line-height: 15vw;
    text-align: center;
    color: #4274BA;
}

.confirmLogout .ui-content>.header {
    padding: 0 5.36vw;
    margin-top: 10vw;
}

.confirmLogout .ui-content>.footer {
    margin-top: 10%;
}

/***************************** viewGeneralSetting ********************************/
#viewGeneralSetting .ui-content {
    padding: 0 !important;
}

.default-setting {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #EEF2F5;
}

.default-setting > div {
    width: 89.8vw;
    height: 14.5vw;
    padding: 0 3.71vw 0 6.48vw;
    background: #fff;
    border-bottom: 1px solid #d6d6d6;
}

.default-setting > div > div {
    float: left;
}

.default-setting > div > div:nth-of-type(1) {
    width: 83.3vw;
    height: 100%;
    line-height: 14.5vw;
    color: #263238;
    font-weight: normal;
    font-size: 3.768vw !important;
}

.default-setting > div > div:nth-of-type(2) {
    width: 6.44vw;
    padding-top: 4vw; 
}

.show {
    display: block;
}

/***************************** viewMyEvaluation ********************************/
#viewMyEvaluation .ui-content {
    padding: 0 !important;
}

.comment-main {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #EEF2F5;
}

.comment-title {
    width: 100%;
    height: 12vw;
    padding-left: 3.71vw;
    line-height: 15vw;
    color: #0f0f0f;
    font-size: 3.349vw;
}

.comment-text {
    width: 100%;
    height: 75vh;
    overflow: hidden;
}

.comment-text textarea {
    resize: none;
    width: 92.58vw;
    height: 73vh !important;
    margin-left: 3.71vw;
    color: #263238 !important;
    font-size: 4.18vw !important;
    border: 0;
    border-radius: 3px;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.send-comment {
    width: 100vw;
    height: 11.36vw;
    line-height: 11.36vw;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    font-weight: normal;
    font-size: 4.18vw !important;
    color: #989898;
    background: #d6d6d6;
}

.enabled-btn {
    background: #009688 !important;
    color: #fff !important;
}

/********************** test **********************/
#viewPay .ui-content {
    padding: 0 !important;
}

.container {
    width: 100vw;
    height: 80vw;
    position: fixed;
    bottom: 0;
}

.container > div {
    width: 33vw;
    height: 20vw;
    display: inline-block;
    text-align: center;
    line-height: 20vw;
    border: 1px solid #d6d6d6;
    margin-bottom: -1px;
    margin-right: -1px;
    font-size: 8vw;
    color: gray;
}

.password {
    width: 100vw;
    height: 20vw;
    padding-top: 5vw;
}

.password > div {
    width: 15vw;
    height: 15vw;
    display: inline-block;
    margin-left: 7.5vw;
    border: 1px solid #d6d6d6;
}

.circle {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    margin-left: 6vw;
    margin-top: 6vw;
    background: black;
    display: none;
}

.active {
    border: 1px solid #13988A !important;
}

.key-down {
    background: lightgray;
}