/*************************** viewStaffAdminMain ********************************/
#viewStaffAdminMain .page-main{
    width: 100vw;
    padding: 0 !important;
    position: fixed;
}

.admin-main-title{
    width: 89.22vw;
    height: 12.9vw;
    padding: 6.5vw 5.39vw 4.3vw;
}

.admin-main-title>div{
    float: left;
    height: 100%;
}

.main-title-img{
    width: 17.2vw;
    position: relative;
}

.main-title-img>div:nth-of-type(1){
    width: 12.9vw;
    height: 12.9vw;
    background: url(img/default_photo.png) no-repeat;
    background-size: 12.9vw;
}

.main-title-img>div:nth-of-type(2){
    width: 2.9vw;
    height: 2.9vw;
    position: absolute;
    left: 9.5vw;
    top: 9.5vw;
    background: #FFF;
    border: 1px solid #D5D5D5;
    border-radius: 50%;
}

.active-status-true {
    background: #32CD32 !important;
    border: 1px solid #32CD32 !important;
}

.active-status-false {
    background: #FF0000 !important;
    border: 1px solid #FF0000 !important;
}

.main-title-text{
    width: 72vw;
}

.title-text-row1{
    width: 100%;
    height: 5.5vw;
    padding-top: 2vw;
}

.title-text-row1>div{
    float: left;
    height: 100%;
}

.title-text-row1>div:nth-of-type(1){
    width: 40%;
    line-height: 1;
}

.title-text-row1>div:nth-of-type(1)>span:nth-of-type(1),
.title-text-row1>div:nth-of-type(1)>span:nth-of-type(2){
    color: #253137;
    font-size: 3.768vw;
}

.title-text-row1>div:nth-of-type(1)>span:nth-of-type(3){
    display: inline-block;
    width: 4vw;
    height: 4vw;
    background: url(img/setting.png) no-repeat;
    background-size: 4vw;
    vertical-align: middle;
}

.title-text-row1>div:nth-of-type(2){
    width: 60%;
    text-align: right;
    color: #8fa3ad;
    font-size: 3.55vw;
}

.title-text-row2{
    width: 100%;
    height: 5.9vw;
}

.title-text-row2>div{
    float: left;
    height: 100%;
}

.title-text-row2>div:nth-of-type(1){
    width: 60%;
    color: #253137;
    font-size: 3.768vw;
    line-height: 1.5;
}

.title-text-row2>div:nth-of-type(2){
    width: 40%;
    text-align: right;
    color: #253137;
    font-size: 4.81vw;
}

.admin-main-navbar{
    width: 100vw;
    height: 10vw;
    border-bottom: 1px solid #d5d5d5;
}

.admin-main-navbar>div{
    float: left;
    width: 50%;
    height: 10vw;
}

.admin-main-navbar>div>div:nth-of-type(1){
    width: 100%;
    height: 9vw;
    text-align: center;
    line-height: 9vw;
    color: #253137;
    font-size: 4.18vw;
}

.admin-main-navbar>div>div:nth-of-type(2){
    width: 100%;
    height: 1vw;
}

.active-navbar>div:nth-of-type(1){
    color: #009587 !important;
}

.active-navbar>div:nth-of-type(2){
    background: #009587 !important;
}

.admin-main-update{
    width: 100vw;
    padding: 5.3vw 0 6.5vw;
    text-align: center;
    color: #989898;
    font-size: 3.14vw;
}

.admin-main-today,
.admin-main-tomorrow{
    width: 100vw;
    min-height: 4vw;
}

.admin-main-tomorrow{
    display: none;
}

.today-no-data,
.tomorrow-no-data{
    width: 100vw;
    text-indent: 3.71vw;
    color: #253137;
    font-size: 3.768vw;
    display: none;
}

.today-list{
    position: relative;
    width: 100vw;
    height: 12.4vw;
    border-bottom: 1px solid #d5d5d5;
}

.today-item{
    position: relative;
    width: 100%;
    height: 12.4vw;
    text-indent: 3.7vw;
    line-height: 12.4vw;
    color: #253137;
    font-size: 3.768vw;
    background: #F9F9F9;
    z-index: 1;
    overflow: hidden;
}

.today-handle{
    position: absolute;
    top: 0;
    right: 0;
    width: 40vw;
    height: 12.4vw;
    background: #009587;
}

.today-handle>div{
    float: left;
    width: 49.5%;
    height: 100%;
}

.today-handle>div:nth-of-type(1){
    border-right: 1px solid #fff;
}

.today-done-btn{
    background: url(img/done.png) no-repeat center;
    background-size: 8vw;
}

.today-tel-btn{
    background: url(img/phone.png) no-repeat center;
    background-size: 8vw;
}

.complete-list{
    width: 100vw;
    height: 12.4vw;
    border-bottom: 1px solid #d5d5d5;
}

.complete-list>div{
    float: left;
    height: 100%;
}

.complete-list>div:nth-of-type(1){
    width: 85%;
    text-indent: 3.7vw;
    line-height: 12.4vw;
    color: #c4c4c4;
    font-size: 3.768vw;
}

.complete-list>div:nth-of-type(2){
    width: 15%;
    background: url(img/done_gray.png) no-repeat center;
    background-size: 5vw;
}

.tomorrow-list{
    width: 100vw;
    height: 12.4vw;
    border-bottom: 1px solid #d5d5d5;
}

.tomorrow-list>div{
    width: 100%;
    height: 12.4vw;
    text-indent: 3.7vw;
    line-height: 12.4vw;
    color: #253137;
    font-size: 3.768vw;
    background: #F9F9F9;
    overflow: hidden;
}

.currentTelephone{
    display: none;
}

.adminStatus .header-title-main{
    text-align: right;
}

.adminStatus input[type="text"]{
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
}

#adminSettingHidden{
    display: none;
}

#adminSettingPopup-option .header.typeB{
    height: 18vw;
}

#adminSettingPopup-option .header.typeB .title{
    height: 15vw;
    top: -5vw;
}

#adminSettingPopup-option .close{
    top: -5vw;
}

#adminSettingPopup-option input[type="text"]{
    width: 93%;
    height: 8vw;
    padding: 0 2vw;
}