<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/lib/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="../css/component.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script type="text/javascript" src="../js/lib/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.mobile-1.4.5.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="../js/viewMyReserve.js"> -->
    <script>
    $(document).one("pagecreate", "#viewMyReserve", function() {

        var dict = {
            "1": "(一)",
            "2": "(二)",
            "3": "(三)",
            "4": "(四)",
            "5": "(五)"
        };

        $("#viewMyReserve").pagecontainer({
            create: function(event, ui) {

                /********************************** function *************************************/

                function queryMyReserve() {

                    var self = this;

                    this.successCallback = $.getJSON('../js/MyReserve', function(data) {

                        if (data['result_code'] === "1") {

                            var htmlContent_today = "";
                            var htmlContent_other = "";

                            sortResults(data['content'], 'ReserveDate', 'asc');

                            for (var i = 0, item; item = data['content'][i]; i++) {
                                if (item.ReserveDate == new Date().yyyymmdd()) {

                                    htmlContent_today
                                        += replace_str($('#today').get(0).outerHTML, item);
                                } else {
                                    htmlContent_other
                                        += replace_str($('#other-day').get(0).outerHTML, item);
                                }
                            }

                            $("#today").remove();
                            $("#other-day").remove();
                            $("#today-line").after(htmlContent_today);
                            $("#other-day-line").after(htmlContent_other);

                        } else {
                            //ResultCode = 001901, [no data]
                        }
                    });

                    // this.failCallback = function(data) {};

                    // var __construct = function() {
                    //     QPlayAPI("POST", "QueryMyPhoneBook", self.successCallback, self.failCallback, queryData);
                    // }();

                }

                /********************************** page event *************************************/
                $("#viewMyReserve").on("pagebeforeshow", function(event, ui) {
                    // loadingMask("show");
                    queryMyReserve();
                });

                /********************************** dom event *************************************/
                function replace_str(content, item) {

                    // convert yyyymmdd to yyyy/mm/dd
                    var match = item.ReserveDate.match(/(\d{4})(\d{2})(\d{2})/);
                    var newDateStr = match[2] + '/' + match[3] + '/' + match[1];

                    // convert date format to mm/dd(day of week)
                    var d = new Date(newDateStr);
                    var date_format =
                        d.getMonth() + 1 + '/' +
                        d.getDate() +
                        dict[d.getDay()];

                    return content
                        .replace('Begin', item.ReserveBeginTime)
                        .replace('End', item.ReserveEndTime)
                        .replace('room', item.MeetingRoomName)
                        .replace('index', item.ReserveTraceAggID)
                        .replace('date', date_format);
                }

                function sortResults(data, prop, asc) {
                    data = data.sort(function(a, b) {
                        if (asc) return (a[prop] > b[prop]);
                        else return (b[prop] > a[prop]);
                    });
                }

                Date.prototype.yyyymmdd = function() {
                    var yyyy = this.getFullYear().toString();
                    var mm = (this.getMonth() + 1).toString();
                    var dd = this.getDate().toString();
                    return yyyy + (mm[1] ? mm : "0" + mm[0]) + (dd[1] ? dd : "0" + dd[0]);
                };
            }
        });

    });
    </script>
</head>

<body>
    <div data-role="page" id="viewMyReserve">
        <div class="ios-fix-overlap-div"></div>
        <div data-role="header" data-position="fixed" class="page-header">
            <div id="container" class="header-style">
                <div id="left" class="ui-title">
                    <a href="#viewReserve">返回</a></div>
                <div id="center" class="ui-title">我的預約</div>
                <div id="right" class="ui-title">&nbsp;</div>
            </div>
        </div>
        <div id="myReserve" data-role="main" class="page-main">
            <h2 id="today-line" style="padding-left:5%;">今天</h2>
            <div id="today" class="ui-btn ui-shadow ui-corner-all ui-margin-10">
                <div class="ui-grid-b">
                    <div class="ui-block-a ui-padding-8 col-5">
                        <h1 class="ui-benq-color">Begin - End</h1></div>
                    <div class="ui-block-b col-3">
                        <h1 class="ui-benq-color">room</h1></div>
                    <div class="ui-block-c col-2">
                        <a href="#Cancel" value="index" class="btn-benq ui-btn ui-shadow ui-corner-all">取消</a>
                    </div>
                </div>
            </div>
            <hr id="other-day-line" class="col-95" style="margin:10px auto 10px auto;" />
            <div id="other-day" class="ui-btn ui-shadow ui-corner-all ui-margin-10">
                <div class="ui-grid-b">
                    <div class="ui-block-a ui-padding-8 col-5">
                        <h1 class="ui-color-lightblue"><span>date</span><br>Begin - End</h1>
                    </div>
                    <div class="ui-block-b col-3">
                        <h1 class="ui-color-lightblue"><span>&nbsp;</span><br>room</h1></div>
                    <div class="ui-block-c col-2"><a href="#Cancel" value="index" class="btn-benq ui-btn ui-shadow ui-corner-all" style="margin-top:15px;">取消</a></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
