<div data-role="page" id="viewReserve">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="ui-title page-header">
        <div id="container" class="header-style">
            <div id="left" class="ui-title">
            </div>
            <div id="center" class="ui-title"></div>
            <div id="right" class="ui-title">
                <a href="#viewMyReserve">我的預約</a></div>
        </div>
    </div>
    <div data-role="main" class="page-main" style="line-height: initial !important;">
        <div data-role="tabs">
            <div class="ui-margin-public" style="text-align: center;">
                <div id="reserveTab" data-role="controlgroup" data-type="horizontal" class="ui-radio-50w">
                    <input type="radio" name="tab" id="tab1" value="tab1" checked="checked">
                    <label for="tab1">一般預約</label>
                    <input type="radio" name="tab" id="tab2" value="tab2">
                    <label for="tab2">快速預約</label>
                </div>
            </div>
            <div class="ui-margin-public" id="pageOne">
                <select name="reserveSite" id="reserveSite">
                </select>
                <div id="scrollDate" class="scrollmenu">
                    <a id="reserveDefault" href="#" class="disable">ReserveDay<br />ReserveDict</a>
                </div>
                <select name="reserveFloor" id="reserveFloor">
                </select>
                <div id="reserveRoom" class="scrollmenu">
                </div>
                <div style="margin: 3vh 0 0.5vh 0; font-size: 3.5vw;text-align: left;">
                    <div class="inline" style="width: 28vw;">會議室使用時間：</div>
                    <div style="display: inline-block; float: right;">
                        <div class="inline circle ui-color-white"></div>
                        <div class="inline" style="margin-right: 2vw;">可預約</div>
                        <div class="inline circle ui-color-reserve"></div>
                        <div class="inline" style="margin-right: 2vw;">不可預約</div>
                        <div class="inline circle ui-color-myreserve"></div>
                        <div class="inline">我的預約</div>
                    </div>
                </div>
                <div id="reserveDateSelect">
                    <div class="ui-grid-c">
                        <div id="defaultTimeSelectId" class="ui-block-a disable reserve" ename="[eName]" msg="[msg]" ext="[ext]" email="[email]" traceID="[traceID]">
                            <div class="ui-bar">
                                <div>reserveTimeSelect</div>
                                <div class="circle-icon">[eName]</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="reserveBtn" class="btn-disable radius-btn" style="margin: 2.7vh auto;">預約</div>
            </div>
            <div class="ui-margin-public" id="pageTwo">
                <select name="reserveSetting" id="reserveSetting">
                </select>
                <div style="font-size: 4vw;text-align: left;">
                    <div class="inline">預約日期：</div>
                </div>
                <div id="quickReserveScrollDate" class="scrollmenu">
                    <a id="quickReserveDefault" href="#" class="disable">quickReserveDay<br />quickReserveDict</a>
                </div>
                <div id="quickReserveMsgArea" class="disable quick-reserve-margin">
                    <div class="inline quick-reserve-msg-icon"></div>
                    <div class="inline"></div>
                    <div></div>
                </div>
                <div style="margin-top:10vh;">
                    <div id="quickReserve" class="radius-btn quick-reserve-confirm" style="margin: 1vh auto;">立即預約</div>
                    <div id="quickReserveConfirm" class="disable radius-btn quick-reserve-search" style="margin: 1vh auto;">確定預約</div>
                    <div id="quickReserveCancel" class="disable radius-btn btn-border quick-reserve-cancel" style="margin: 1vh auto;">我再想想</div>
                </div>
                <div class="quick-reserve-margin">
                    <div class="inline quick-reserve-setting-icon"></div>
                    <div class="inline"><a href="#viewSettingList">偏好設置</a></div>
                </div>
            </div>
        </div>
    </div>
    <div data-role="popup" data-history="false" id="reservePopupMsg" data-overlay-theme="b" data-dismissible="false">
        <div data-role="main" class="popup-msg">
            <h1 id="msgTitle"></h1>
            <div id="msgContent"></div>
            <button id="cancel"></button>
            <button id="confirm"></button>
        </div>
    </div>
    <div data-role="popup" data-history="false" id="reservePopupSchemeMsg" data-overlay-theme="b" data-dismissible="false">
        <div data-role="main" class="popup-msg">
            <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
            <h1 id="msgTitle"></h1>
            <div id="msgContent"></div>
            <a id="mail">傳送郵件</a>
            <a id="tel">撥打電話</a>
        </div>
    </div>
</div>
