<div data-role="page" id="viewSettingList">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div id="container" class="header-style">
            <div id="left" class="ui-title">
                <a href="#viewReserve"><img src="img/back_nav.png" class="title-icon" /></a>
            </div>
            <div id="center" class="ui-title"><span>偏好設置</span></div>
            <div id="right" class="ui-title">
                <a href="#viewNewSetting"><img src="img/add_nav.png" class="title-icon" /></a>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <div style="height: 1vh;"></div>
        <div id="settingList" value="[index]" class="app-font div-radius ui-linear-gradient-green ui-margin-public ui-hasBtn disable">
            <div style="line-height: 5vh;margin-left: 2.4vw;">
                <span class="inline">[title]</span>
                <div class="inline" style="position: absolute;right: 8vw;">
                    <span>[siteName]</span>
                    <img src="img/detail.png" class="setting-img" />
                </div>
            </div>
            <hr class="ui-color-green col-95" style="margin: 0 auto;" />
            <div class="app-font-small ui-grid-a" style="margin: 1vh 2.4vw 0;">
                <div class="ui-block-a col-5">
                    人數&nbsp;[people]
                </div>
                <div class="ui-block-b col-5" style="text-align: right;padding-right: 3.5vw;">
                    時段&nbsp;[time]
                </div>
            </div>
            <div class="app-font-small ui-grid-a" style="margin: 1.6vh 2.4vw 0;padding-bottom: 1.6vh;">
                <div class="ui-block-a col-7">
                    <div>優先樓層&nbsp;[floor]</div>
                </div>
                <div class="ui-block-b col-3">
                    <a id="settingDelete" href="#" value="[index]" title="[title]" class="ui-delete-btn btn-myreserve setting-delete">刪除</a>
                </div>
            </div>
        </div>
    </div>
</div>
