<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/lib/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="../css/component.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script type="text/javascript" src="../js/lib/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
    <div data-role="page" id="viewSettingList">
        <div class="ios-fix-overlap-div"></div>
        <div data-role="header" data-position="fixed" class="page-header">
            <div id="container" class="header-style">
                <div id="left" class="ui-title">
                <a href="#viewReserve">返回</a></div>
                <div id="center" class="ui-title">偏好設置</div>
                <div id="right" class="ui-title">
                <a href="#viewNewSetting">新增</a></div>
            </div>
        </div>
        <div data-role="main" class="page-main">
            <div class="ui-btn ui-shadow ui-corner-all ui-margin-10">
                <h2 class="ui-color-yellow ui-position-adjust">
                        現在空的會議室 BQT/QTT</h2>
                <hr class="ui-color-yellow col-95 ui-position-adjust" />
                <div class="ui-grid-a ui-position-adjust">
                    <div class="ui-block-a col-5">
                        人數&nbsp;8人以上
                    </div>
                    <div class="ui-block-b col-5">
                        時段&nbsp;13:00 - 15:00
                    </div>
                </div>
                <div class="ui-position-adjust">優先樓層&nbsp;13F</div>
            </div>
            <div class="ui-btn ui-shadow ui-corner-all ui-margin-10 ui-hasBtn">
                <h2 class="ui-color-yellow ui-position-adjust">
                        現在空的會議室</h2>
                <a href="#Delete" class="ui-btn ui-shadow ui-corner-all ui-delete-btn">刪除</a>
                <hr class="ui-color-yellow col-95 ui-position-adjust" />
                <div class="ui-grid-a ui-position-adjust">
                    <div class="ui-block-a col-5">
                        人數&nbsp;8人以上
                    </div>
                    <div class="ui-block-b col-5">
                        時段&nbsp;13:00 - 15:00
                    </div>
                </div>
                <div class="ui-position-adjust">優先樓層&nbsp;13F</div>
            </div>
        </div>
    </div>
</body>

</html>
