<div data-role="page" id="viewReserve">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <div id="container" class="header-style">
            <div id="left" class="ui-title">
            </div>
            <div id="center" class="ui-title"></div>
            <div id="right" class="ui-title">
                <a href="#viewMyReserve">我的預約</a></div>
        </div>
    </div>
    <div data-role="main" class="page-main">
        <div data-role="tabs">
            <div class="ui-margin-10">
                <div id="reserveTab" data-role="controlgroup" data-type="horizontal" class="ui-radio-50">
                    <input type="radio" name="tab" id="tab1" value="tab1" checked="checked">
                    <label for="tab1">一般預約</label>
                    <input type="radio" name="tab" id="tab2" value="tab2">
                    <label for="tab2">快速預約</label>
                </div>
            </div>
            <div class="ui-content" id="pageOne">
                <div style="width: 35%;">
                    <select name="reserveSite" id="reserveSite">
                    </select>
                </div>
                <div id="scrollDate" class="scrollmenu">
                    <a id="reserveDefault" href="#" class="disable">ReserveDay<br />ReserveDict</a>
                </div>
                <div style="width: 25%;">
                    <select name="reserveFloor" id="reserveFloor">
                    </select>
                </div>
                <div id="reserveRoom" class="scrollmenu">
                </div>
                <h3 style="padding-left:3%;">開始使用時間</h3>
                <div id="reserveDateSelect" class="ui-margin-10">
                    <div class="ui-grid-c">
                        <div id="defaultTimeSelectId" class="ui-block-a disable reserve" ename="[eName]" msg="[msg]" ext="[ext]" email="[email]" traceID="[traceID]">
                            <div class="ui-bar ui-bar-a "><span></span>reserveTimeSelect<span>[eName]</span></div>
                        </div>
                    </div>
                </div>
                <div id="iconDiscribe">
                    <div class="ui-color-free">
                    </div>
                    <h3>有空</h3>
                    <div class="ui-color-reserve"></div>
                    <h3>我的預約</h3>
                    <div class="ui-color-noreserve"></div>
                    <h3>不可預約</h3>
                </div>
                <a id="reserveBtn" href="#" class="btn-benq-disable ui-btn ui-shadow ui-corner-all col-4">預約</a>
            </div>
            <div class="ui-content" id="pageTwo">
                <div class="ui-margin-10">
                    <div class="ui-grid-a">
                        <div class="ui-block-a col-2">
                            <h3>我要預約</h3>
                        </div>
                        <div class="ui-block-b col-8">
                            <select name="reserveSetting" id="reserveSetting">
                                <option id="defaultListItem" value="">現在空的會議室</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="quickReserveDateSelect">
                    <div class="ui-grid-d">
                        <div id="quickReserveDefault" class="ui-block-a disable">
                            <div class="ui-bar ui-bar-a">quickReserveDay
                                <br>quickReserveDict</div>
                        </div>
                    </div>
                </div>
                <div id="quickReserveMsgArea" class="disable ui-color-green">
                    <h2></h2>
                </div>
                <div id="reserveBtnArea">
                    <a id="quickReserveCancel" href="#" class="disable btn-benq ui-btn ui-shadow ui-corner-all col-3">我再想想</a>
                    <a id="quickReserve" href="#" class="btn-benq ui-btn ui-shadow ui-corner-all col-3">立即預約</a>
                    <a id="quickReserveConfirm" href="#" class="disable btn-benq ui-btn ui-shadow ui-corner-all col-3">確定預約</a>
                </div>
                <div id="reserveSettingArea">
                    <a href="#viewSettingList">偏好設置</a>
                </div>
            </div>
        </div>
    </div>
    <div data-role="popup" data-history="false" id="reservePopupMsg" data-overlay-theme="b" data-dismissible="false">
        <div data-role="main" class="popup-msg1">
            <h1 id="msgTitle"></h1>
            <div id="msgContent"></div>
            <button id="cancel"></button>
            <button id="confirm"></button>
        </div>
    </div>
    <div data-role="popup" data-history="false" id="reservePopupSchemeMsg" data-overlay-theme="b" data-dismissible="false">
        <div data-role="main" class="popup-msg1">
        <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
            <h1 id="msgTitle"></h1>
            <div id="msgContent"></div>
            <a id="mail">傳送郵件</a>
            <a id="tel">撥打電話</a>
        </div>
    </div>
</div>
