<div data-role="page" id="viewNewSetting">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="ui-title page-header">
        <div id="container" class="header-style">
            <div id="left" class="ui-title">
                <a id="newSettingBack" href="#"><img src="img/back_nav.png" class="title-icon" /></a>
            </div>
            <div id="center" class="ui-title"><span>偏好設置</span></div>
            <div id="right" class="ui-title">
                <a id="newSettingSave" href="#"><img src="img/save_nav.png" class="title-icon" /></a>
            </div>
        </div>
    </div>
    <div data-role="main" class="page-main" style="font-size: 2.8vh;">
        <div class="ui-margin-public">
            <div id="newSettingSelect" style="margin-bottom: 1.5vh;">
                <div class="ui-grid-a">
                    <div class="ui-block-a col-2">
                        <span style="line-height: 10vh;margin-left: 5vw;">名稱:</span>
                    </div>
                    <div class="ui-block-b col-8">
                        <input name="newSettingTitle" id="newSettingTitle" type="text" placeholder="請輸入" />
                    </div>
                    <div class="ui-block-a col-2">
                        <span style="line-height: 7vh;margin-left: 5vw;">地點:</span>
                    </div>
                    <div class="ui-block-b col-8" style="line-height: 7vh;">
                        <select name="newSettingSite" id="newSettingSite" data-role="none" class="dropdown-icon">
                        </select>
                    </div>
                </div>
            </div>
            <span style="margin: 2vh 0 0 5vw;">人數:</span>
            <div id="newSettingPeople" data-role="controlgroup" data-type="horizontal" class="ui-radio-30">
                <input type="radio" name="num" id="num-1" value="0" checked="checked">
                <label for="num-1">不限</label>
                <input type="radio" name="num" id="num-2" value="1">
                <label for="num-2">2-8人</label>
                <input type="radio" name="num" id="num-3" value="2">
                <label for="num-3">8人以上</label>
            </div>
            <span style="margin: 2vh 0 0 5vw;">時段:</span>
            <div id="newSettingTime" data-role="controlgroup" data-type="horizontal" class="ui-radio-50">
                <input type="radio" name="setTime" id="setTime1" value="none" checked="checked">
                <label for="setTime1">現在起一小時</label>
                <input type="radio" name="setTime" id="setTime2" value="setTime">
                <label for="setTime2">指定時段</label>
            </div>
            <span style="margin: 2vh 0 1vh 5vw;">樓層:</span>
            <div id="newSettingFloor">
                <div class="ui-grid-b">
                    <div id="floorDefault" class="ui-block-a" style="position: relative;">
                        <div class="ui-bar ui-bar-a">不限</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-role="popup" data-history="false" id="newSettingTimePickerPopup" data-overlay-theme="b" data-dismissible="false">
        <div data-role="main" class="popup-msg">
            <div class="showMsg" style="display: none;">
                <div class="inline timepicker-warn-icon"></div>
                <span class="inline"></span>
            </div>
            <table>
                <tr>
                    <td>
                        <div value="up" type="s" formate="hr" class="timepicker-icon timepicker-icon-up"></div>
                    </td>
                    <td rowspan="3">&nbsp;：&nbsp;</td>
                    <td>
                        <div value="up" type="s" formate="mm" class="timepicker-icon timepicker-icon-up"></div>
                    </td>
                    <td rowspan="3">&nbsp;～&nbsp;</td>
                    <td>
                        <div value="up" type="e" formate="hr" class="timepicker-icon timepicker-icon-up"></div>
                    </td>
                    <td rowspan="3">&nbsp;：&nbsp;</td>
                    <td>
                        <div value="up" type="e" formate="mm" class="timepicker-icon timepicker-icon-up"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div tpye="s" for="hr">08</div>
                    </td>
                    <td>
                        <div tpye="s" for="mm">00</div>
                    </td>
                    <td>
                        <div tpye="e" for="hr">08</div>
                    </td>
                    <td>
                        <div tpye="e" for="mm">30</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div value="down" type="s" formate="hr" class="timepicker-icon timepicker-icon-down"></div>
                    </td>
                    <td>
                        <div value="down" type="s" formate="mm" class="timepicker-icon timepicker-icon-down"></div>
                    </td>
                    <td>
                        <div value="down" type="e" formate="hr" class="timepicker-icon timepicker-icon-down"></div>
                    </td>
                    <td>
                        <div value="down" type="e" formate="mm" class="timepicker-icon timepicker-icon-down"></div>
                    </td>
                </tr>
            </table>
            <button id="cancel"></button>
            <button id="confirm"></button>
        </div>
    </div>
</div>
