<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/lib/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="../css/component.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script type="text/javascript" src="../js/lib/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.mobile-1.4.5.min.js"></script>
    <script>
    $(document).one('pagecreate', '#viewNewSetting', function() {

        $('#viewNewSetting').pagecontainer({
            create: function(event, ui) {

                /********************************** function *************************************/

                function queryNewSetting(value) {

                    var self = this;

                    this.successCallback = $.getJSON('../js/ListAllMeetingRoom', function(data) {

                        if (data['result_code'] === '1') {

                            //filter RoomSite data
                            var filterData = $.grep(data.content, function(element, index) {
                                return element.MeetingRoomSite == value;
                            });

                            // distinct floor data
                            var distinctData = $.unique(filterData.map(function(d) {
                                return d.MeetingRoomFloor;
                            }));

                            // console.log(distinctData);

                            distinctData.sort();

                            var htmlContent = '';
                            var arrClass = ['b', 'c', 'a'];

                            for (var i = 0, item; item = distinctData[i]; i++)
                            {
                                var j = i % 3;
                                htmlContent
                                    += replace_str($('#default').get(0).outerHTML, item, arrClass[j]);

                            }

                            $('#default').after(htmlContent);
                            $('#default div').addClass('ui-btn-active');

                        } else {
                            //ResultCode = 001901, [no data]
                        }
                    });

                    // this.failCallback = function(data) {};

                    // var __construct = function() {
                    //     QPlayAPI("POST", "QueryMyPhoneBook", self.successCallback, self.failCallback, queryData);
                    // }();

                }

                /********************************** page event *************************************/
                $('#viewNewSetting').on('pagebeforeshow', function(event, ui) {
                    // loadingMask("show");
                    queryNewSetting('1');
                });

                /********************************** dom event *************************************/
                var cntClick = 0;

                $('#Site').change(function() {
                    cntClick = 0;
                    $('#default div').removeClass('ui-btn-active');
                    $('#default').nextAll().remove();
                    queryNewSetting($(this).val());
                });

                var seqClick = [];

                $('body').on('click', '.ui-bar', function() {

                    var id = $(this).parent().attr('id');

                    if (id == 'default') {
                        seqClick = [];
                        $('#default div').addClass('ui-btn-active');
                        $('#default').nextAll().find('.ui-bar').removeClass('ui-btn-active');
                        $('div[id*=cntIcon]').remove();

                    } else {
                        if ($(this).hasClass('ui-btn-active')) {
                            seqClick.splice(seqClick.indexOf(id), 1);
                            $(this).removeClass('ui-btn-active');
                            $(this).find('#cntIcon').remove();

                        } else {
                            seqClick.push(id);
                            $('#default div').removeClass('ui-btn-active');
                            $(this).addClass('ui-btn-active');
                            $(this).append('<div id=cntIcon class=btn-benq></div>');
                        }
                    }

                    if (seqClick.length() == 0) {
                        $('#default div').addClass('ui-btn-active');
                    } else {
                        seqClick.each(function(i, obj) {
                            $('#grid-select').find('#' + seqClick[i]).text();
                        });
                    }
                });

                function replace_str(content, item, classid) {
                    return content
                        .replace('不限', item + 'F')
                        .replace('default', item)
                        .replace('ui-block-a', 'ui-block-' + classid)
                }

            }
        });

    });
    </script>
</head>

<body>
    <div data-role="page" id="viewNewSetting">
        <div class="ios-fix-overlap-div"></div>
        <div data-role="header" data-position="fixed" class="page-header">
            <div id="container" class="header-style">
                <div id="left" class="ui-title">
                    <a href="#viewSettingList">返回</a></div>
                <div id="center" class="ui-title">偏好設置</div>
                <div id="right" class="ui-title">
                    <a href="#viewSettingList">儲存</a></div>
            </div>
        </div>
        <div data-role="main" class="page-main">
            <div id="main-select" class="ui-margin-10 arrow_box">
                <div class="ui-grid-a">
                    <div class="ui-block-a col-2">
                        <h3>名稱</h3>
                    </div>
                    <div class="ui-block-b col-8">
                        <input name="Title" id="Title" type="text" />
                    </div>
                    <div class="ui-block-a col-2">
                        <h3>地點</h3>
                    </div>
                    <div class="ui-block-b col-8">
                        <select name="Site" id="Site">
                            <option value="1">BQT/QTT</option>
                            <option value="2">QTY</option>
                            <option value="3">QTH</option>
                            <option value="4">雙星</option>
                        </select>
                    </div>
                </div>
            </div>
            <div style="text-align:center;margin-top:15px;">
                <h3>偏好選擇</h3></div>
            <h3 style="padding-left:5%;">人數</h3>
            <div class="ui-margin-10">
                <fieldset data-role="controlgroup" data-type="horizontal" class="ui-radio-30">
                    <input type="radio" name="num" id="num-1" value="on" checked="checked">
                    <label for="num-1">不限</label>
                    <input type="radio" name="num" id="num-2" value="off">
                    <label for="num-2">2-8人</label>
                    <input type="radio" name="num" id="num-3" value="other">
                    <label for="num-3">8人以上</label>
                </fieldset>
            </div>
            <h3 style="padding-left:5%;">時段</h3>
            <div class="ui-margin-10">
                <fieldset data-role="controlgroup" data-type="horizontal" class="ui-radio-50">
                    <input type="radio" name="time" id="time-1" value="on" checked="checked">
                    <label for="time-1">不限</label>
                    <input type="radio" name="time" id="time-2" value="off">
                    <label for="time-2">指定時段</label>
                </fieldset>
            </div>
            <h3 style="padding-left:5%;">樓層</h3>
            <div id="grid-select" class="ui-margin-10">
                <div class="ui-grid-b">
                    <div id="default" class="ui-block-a" style="position: relative;">
                        <div class="ui-bar ui-bar-a">不限</div>
                        <!-- <div id="cntIcon" class="btn-benq hide">cnt</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
