
<div data-role="page" id="viewEventAdd">
    <div class="ios-fix-overlap-div"></div>
    <div data-role="header" data-position="fixed" class="page-header">
        <a href="#viewEventList" data-role="none">
            <div class="q-btn-header" style="width: 4vh;">
                <img src="img/component/back_nav.png" width="100%" height="100%">
            </div>
        </a>
        <div class="header-style">
            <h1 class="ui-title">新增通報</h1>
        </div>
        <a href="#" data-role="none" class="ui-btn-right" style="text-decoration:none; color:#FFF; font-size: 2.8vh; padding-top: 0.8vh;">
            <span id="sendEvent">發送</span>
        </a>
    </div>
    <div data-role="main" class="page-main event-add" id="contentEventAdd">
        <div>
            <span>等級 :</span>
        </div>
        <div id="eventLevelContent">
            
        </div>

            <hr class="ui-hr ui-hr-absolute">

        <div class="title">
            <span>標題 : (限40個字)</span>
        </div>
        <div id="eventTemplateSelectContent">
            
        </div>
        <textarea id="eventTemplateTextarea" data-autogrow="false" maxlength="40" class="textarea-template">請選擇範本或輸入標題</textarea>

            <hr class="ui-hr ui-hr-absolute">

        <div class="title">
            <span>描述 : (限80個字)</span>
        </div>
        <textarea id="eventDescriptionTextarea" data-autogrow="false" maxlength="80" class="textarea-description">描述文字</textarea>

            <hr class="ui-hr ui-hr-absolute">

        <div class="title">
            <span>位置 / IT Function :</span>
        </div>
        <div id="eventLocationSelectContent">
            
        </div>
        <div id="eventLocationListContent">
            <template id="tplEventLocationList">
                <div class="event-add-location-list">
                    <div class="left">
                        <span class="delete"></span>
                    </div>
                    <div class="right">
                        <div class="event-loction">
                            <!--BQT 3F機房-->
                        </div>
                        <div class="event-function" id="eventFunctionSelectContent">

                        </div>
                    </div>
                </div>
            </template>
        </div>

            <hr class="ui-hr ui-hr-absolute">

        <div class="title">
            <span>希望完成時間 :</span>
        </div>
        <div id="setDateTimeContent">
                <input type="radio" data-role="none" name="setDateTime" id="setNow" value='setNow' checked="checked">
                <label data-role="none" class="overlap-label-icon"></label>
                <label data-role="none" class="overlap-label-text" for="setNow">
                    <span>立即</span>
                </label>

                <input type="radio" data-role="none" name="setDateTime" id="setTime" value='setTime'>
                <label data-role="none" class="overlap-label-icon"></label>
                <label data-role="none" class="overlap-label-text" for="setTime">
                    <span>設定時間</span>
                    <span id="textDateTime"></span>
                </label>
        </div>

        <div style="display: none;">
            <input class="form-control" id="doneDate" type="text" data-role="datebox" 
            data-options='{"mode":"flipbox", "useInlineAlign":"center", "openCallback": "resizeDatebox", 
            "closeCallback": "openDoneTime"}' readonly="readonly">

            <input class="form-control" id="doneTime" type="text" data-role="datebox" 
            data-options='{"mode":"timeflipbox", "useInlineAlign":"center", "openCallback": "resizeDatebox", 
            "closeCallback": "setDoneDateTime"}' readonly="readonly">
        </div>

            <hr class="ui-hr ui-hr-absolute">

        <div class="title">
            <span>關聯事件 :</span>
        </div>
        <div id="eventaAdditionalSelectContent">

        </div>
        <div id="eventaAdditionalContent">
            <template id="tplEventAdditionalList">
                <div class="event-add-additional-list">
                    <div class="left">
                        <span class="delete"></span>
                    </div>
                    <div class="right event-additional-number">

                    </div>
                </div>
            </template>
        </div>

        <!--template @popup content > Event Add Confirm-->
        <template id="tplEventAddConfirm">
            <!--header: Title or Button-->
            <div class="header font-style1">
                確定發送緊急通報?
            </div>
            <!--footer: Button-->
            <div class="footer">
                <div class="btn-two font-style8">
                    <div class="cancel">取消</div>
                    <div class="confirm">確認</div>
                </div>
            </div>
        </template>
    </div>
</div>
